$color-primary: #3c55b3;
$color-secondary: #198639;

$color-caption: #252525;
$color-border: #dedede;

$color-fb: #1877f2;
$color-tw: #1da1f2;
$color-ig: #f00073;
$color-yt: #ff0000;

$link-trans: ease all 0.5s;

@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-light;
  src: url('../fonts/roboto/Roboto-Light.ttf');
}


@font-face {
  font-family: Roboto-bold;
  src: url('../fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-medium;
  src: url('../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: NotoArabic;
  src: url('../fonts/noto_sans_arabic/NotoSansArabic.ttf');
}

@font-face {
  font-family: Amiri;
  src: url('../fonts/amiri/Amiri-Regular.ttf');
}

@font-face {
  font-family: Scheherazade_new;
  src: url('../fonts/scheherazade_new/ScheherazadeNew-Regular.ttf');
}

@font-face {
  font-family: FontAwesome;
  src: url('../fa-4.7.0/fonts/fontawesome-webfont.ttf');
}

$roboto-bold: "Roboto-bold",'arial','tahoma';
$roboto-medium: "Roboto-medium",'arial','tahoma';
$roboto-reguler: "Roboto",'arial','tahoma';
$roboto-light: "Roboto-light",'arial','tahoma';

html, body{
    height: 100%;
    margin: 0;
}

body{
    font-family: "Roboto-light", Arial, Tahoma !important;
    line-height: 1.5;
    scroll-behavior: smooth;
    background-color: #fff !important;
    background-image: none !important;
}

h1{
    line-height: 1.5 !important;
}

a{
    &:focus, &:hover{
      text-decoration: none;
    }
}

.mt-32{
  margin-top: 32px;
}

.mt-20{
  margin-top: 20px;
}

.mb-32{
  margin-bottom: 32px;
}

.container{
    width: 100% !important;
    max-width: 100% !important;
    padding: 0px 15px !important;
    margin: auto;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 600px;
}

.row-content{
    display: flex;
    flex-wrap: wrap;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}