footer{
	width: 100%;
	background: linear-gradient(180deg, #0C2649 0%, #112F53 48.44%, #103B66 99.48%);
	border-top: 4px solid #D79F30; 
	margin-top: 32px;
}

.content-footer{
	width: 100%;
	padding: 36px 16px 40px 16px;
}

.logo-footer{
	img{
		width: 200px;
		height: auto;
		display: block;
		margin: auto;
	}
}


.title-f-sec{
	width: 100%;
	color: #D79F30;
	font-family: $inter-bold;
	font-size: 14px;
	font-style: normal;
	line-height: 20px;
}

.wrap-social{
	display: flex;
	flex-wrap: wrap;
	margin: 32px -8px 0px;
	justify-content: center;

	a{
		width: 20px;
		display: block;
		margin: 0px 8px;
	}

	i{
		width: 20px;
		font-size: 22px;
		color: #D79F30;
		transition: $trans-hover;

		&:hover{
			color: #FFFFFF;
		}
	}
}

.wrap-kanal{
	margin: 8px -8px 0px;

	ul{
		list-style-type: none;
		margin: -4px 0px 0px;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
	}

	li{
		width: 50%;
		padding: 4px 8px;
	}

	a{
		font-family: $inter-medium;
		font-size: 14px;
		font-style: normal;
		line-height: 20px;
		color: #FFF;
		transition: $trans-hover;

		&:hover{
			color: #D79F30;

			&:before{
				background: #D79F30;
				height: 2px;
				border-radius: 0px;
			}
		}

		&:before{
			content: "";
			width: 6px;
			height: 6px;
			background: #253C65;
			border-radius: 50px;
			margin-right: 16px;
			display: inline-block;
			vertical-align: middle;
			transition: $trans-hover;
		}
	}
}

.wrap-management{
	margin: 8px -8px 0px;

	ul{
		list-style-type: none;
		margin: -4px 0px 0px;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
	}

	li{
		width: 50%;
		padding: 4px 8px;
	}

	a{
		font-family: $inter-medium;
		font-size: 14px;
		font-style: normal;
		line-height: 20px;
		color: #FFF;
		transition: $trans-hover;

		&:hover{
			color: #D79F30;

			&:before{
				background: #D79F30;
				height: 2px;
				border-radius: 0px;
			}
		}

		&:before{
			content: "";
			width: 6px;
			height: 6px;
			background: #253C65;
			border-radius: 50px;
			margin-right: 16px;
			display: inline-block;
			vertical-align: middle;
			transition: $trans-hover;
		}
	}
}

.copyright{
	width: 100%;
	background: rgba(255, 255, 255, 0.10);
	padding: 16px;

	color: #F9F9F9;
	text-align: center;
	font-family: $inter-medium;
	font-size: 12px;
	font-style: normal;
	line-height: 140%;
}