$trans-hover: ease all 0.4s;
$trans-scale: scale(1.2);

@font-face {
    font-family: inter-regular;
    src: url('../fonts/inter/static/Inter-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: inter-medium;
    src: url('../fonts/inter/static/Inter-Medium.ttf');
    font-display: swap;
}

@font-face {
    font-family: inter-bold;
    src: url('../fonts/inter/static/Inter-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: inter-light;
    src: url('../fonts/inter/static/Inter-Light.ttf');
    font-display: swap;
}


$inter-regular: "inter-regular", "arial", "sans-serif";
$inter-medium: "inter-medium", "arial", "sans-serif";
$inter-bold: "inter-bold", "arial", "sans-serif";
$inter-light: "inter-light", "arial", "sans-serif";

html, body{
    position: relative;
    margin: 0;
}

body{
    font-family: $inter-regular;
    font-weight: 400;
    line-height: 140%;
    scroll-behavior: smooth;
    background-color: #fff;
    background-image: none;
}

body.modal-open{
    overflow: hidden;

    .content{
        // -webkit-filter: blur(12.5px);
        // -moz-filter: blur(12.5px);
        // -o-filter: blur(12.5px);
        // -ms-filter: blur(12.5px);
        // filter: blur(12.5px);
        height: max-content;
        min-height: 100%;
        transition: ease all 0.4s;
    
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 98;
            background: rgba(123, 123, 123, 0.35);
            transition: ease all 0.4s;
        }
    }
}

body.navside-open{
    overflow: hidden;

    .navbar{
        right: 0px;
    }

    .wrap-content{
        // -webkit-filter: blur(12.5px);
        // -moz-filter: blur(12.5px);
        // -o-filter: blur(12.5px);
        // -ms-filter: blur(12.5px);
        // filter: blur(12.5px);
        height: max-content;
        min-height: 100%;
        transition: ease all 0.4s;
    
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(123, 123, 123, 0.35);
            transition: ease all 0.4s;
        }
    }
}

.content{
    position: relative;
    width: 100%;
    display: block;
    margin: auto;
}

a{
    text-decoration: none;

    &:hover, &:focus{
        text-decoration: none;
    }
}

.content-flex{
    display: flex;
    flex-wrap: wrap;
}

.content-clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content-left{
    float: left;
}

.content-right{
    float: right;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

*:focus {
    outline: 0 !important;
}

*, ::before, ::after{
    box-sizing: border-box;
}

*{
    -webkit-tap-highlight-color: transparent;
}

.header-nav::-webkit-scrollbar{
    display: none;
}

/* Ads */
.adsnone::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "Advertisement";
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ADC5DB;
  font-size: 12px;
  border: 1px solid #E7EEF4;
  background-color: #F5F8FB;
}

.leaderboard{
    position: relative;
    width: 728px !important;
    height: 90px !important;
    margin-left: auto;
    border-radius: 0px !important;
}

.billboard{
    position: relative;
    width: 320px !important;
    height: 100px !important;
    margin: 0px auto;
    border-radius: 0px !important;
}

.rectangle-ads{
    position: relative;
    width: 300px !important;
    height: 250px !important;
    margin: 0px auto;
    border-radius: 0px !important;
}

/* Margin */
.mt4{
    margin-top: 4px;
}
.mt8{
    margin-top: 8px;
}
.mt16{
    margin-top: 16px;
}
.mt24{
    margin-top: 24px;
}
.mt32{
    margin-top: 32px;
}
.mb4{
    margin-bottom: 4px;
}
.mb8{
    margin-bottom: 8px;
}
.mb12{
    margin-bottom: 12px;
}
.mb16{
    margin-bottom: 16px;
}
.mb20{
    margin-bottom: 20px;
}
.mb24{
    margin-bottom: 24px;
}
.mb32{
    margin-bottom: 32px;
}
.ml4{
    margin-left: 4px;
}
.ml8{
    margin-left: 8px;
}
.ml16{
    margin-left: 16px;
}
.ml32{
    margin-left: 32px;
}
.mr4{
    margin-right: 4px;
}
.mr8{
    margin-right: 8px;
}
.mr16{
    margin-right: 16px;
}
.mr32{
    margin-right: 32px;
}

/* Padding */
.pt4{
    padding-top: 4px;
}
.pt8{
    padding-top: 8px;
}
.pt16{
    padding-top: 16px;
}
.pt32{
    padding-top: 32px;
}
.pt42{
    padding-top: 42px;
}
.pb4{
    padding-bottom: 4px;
}
.pb8{
    padding-bottom: 8px;
}
.pb16{
    padding-bottom: 16px;
}
.pb32{
    padding-bottom: 32px;
}

/* Warna Kanal */
.kanal-jak-news{
    border-left: 4px solid #30CDD7;
}

.kanal-jak-ekbis{
    border-left: 4px solid #FDD815;
}

.kanal-jak-showbiz{
    border-left: 4px solid #F228AE;
}

.kanal-global{
    border-left: 4px solid #D79F30;
}

.section-jak-news{
    &:before{
        background: #30CDD7;
    }
}

.section-jak-ekbis{
    &:before{
        background: #FDD815;
    }
}

.section-jak-showbiz{
    &:before{
        background: #F228AE;
    }
}

.section-global{
    &:before{
        background: #D79F30;
    }
}


/* Popup */
/* Popup Search */
.pop-search{
    width: 100%;
    height: max-content;
    position: fixed;
    left: 0;
    bottom: -999px;
    z-index: 99;
    background: #F9F9F9;
    box-shadow: 0px 25px 60px -10px rgba(28, 39, 49, 0.12);
    padding: 16px 16px 24px;
    transition: $trans-hover;

    .wrap-input-search{
        position: relative;

        input{
            width: 100%;
            background: #EFEFEF;
            padding: 16px 8px;
            border: none;

            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            color: #898989;
        }

        button{
            width: 100%;
            padding: 8px 0px;
            background: #D79F30;
            border: none;
            cursor: pointer;
            color: #fff;
            font-family: $inter-medium;
            font-size: 16px;
            font-style: normal;
            line-height: 26px;
            text-align: center;
            margin-top: 24px;
        }
    }

    .title-recomend{
        width: 100%;
        font-family: $inter-regular;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #B9B9B9;
        margin-bottom: 8px;
    }

    .fa-times{
        font-size: 20px;
        color: #7B7B7B;
        margin-bottom: 12px;
        text-align: right;
        display: block;

        &:hover{
            color: #ce0305;
        }
    }
}

/* Popup Kanal */
.pop-kanal{
    width: 100%;
    height: max-content;
    position: fixed;
    left: 0;
    bottom: -999px;
    z-index: 99;
    background: #F9F9F9;
    box-shadow: 0px 25px 60px -10px rgba(28, 39, 49, 0.12);
    padding: 16px 16px 24px;
    transition: $trans-hover;

    button{
        width: 100%;
        padding: 8px 0px;
        background: #D79F30;
        border: none;
        cursor: pointer;
        color: #fff;
        font-family: $inter-medium;
        font-size: 16px;
        font-style: normal;
        line-height: 26px;
        text-align: center;
        margin-top: 24px;
    }

    .list-kanal{
        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
        }

        li{
            width: 50%;
            display: block;
            font-family: $inter-regular;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            color: #3E3E3E;
            margin-bottom: 20px;
            transition: $trans-hover;
        }

        .rb-kanal[type="radio"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin: 0px;

            &:before {
                content: '';
                width: 16px;
                height: 16px;
                background: #fff;
                border-radius: 100%;
                border: 1px solid #D79F30;
                display: inline-block;
                position: relative;
                top: -1px;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
                margin-right: 5px;
            }

            &:checked {
                &:before {
                  background-color: #D79F30;
                  box-shadow: inset 0 0 0 2px #fff;
                  border: 1px solid #D79F30;
                }
            }

            &:focus {
                &:before {
                  outline: none;
                  border-color: #CE0305;
                }
            }

            &:disabled {
                &:before {
                  box-shadow: inset 0 0 0 2px #f4f4f4;
                  border-color: darken(#f4f4f4, 25%);
                  background: darken(#f4f4f4, 25%);
                }
            }
        }
    }

    .title-popup{
        width: 100%;
        font-family: $inter-regular;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        color: #3E3E3E;
        margin-bottom: 24px;
    }

    .fa-times{
        font-size: 20px;
        color: #7B7B7B;
        margin-bottom: 12px;
        text-align: right;
        display: block;
    }
}

/* Popup date */
.pop-date{
    width: 100%;
    height: max-content;
    position: fixed;
    left: 0;
    bottom: -999px;
    z-index: 99;
    background: #F9F9F9;
    box-shadow: 0px 25px 60px -10px rgba(28, 39, 49, 0.12);
    padding: 16px 16px 24px;
    transition: $trans-hover;

    button{
        width: 100%;
        padding: 8px 0px;
        background: #D79F30;
        border: none;
        cursor: pointer;
        color: #fff;
        font-family: $inter-medium;
        font-size: 16px;
        font-style: normal;
        line-height: 26px;
        text-align: center;
        margin-top: 24px;
    }
    
    .title-popup{
        width: 100%;
        font-family: $inter-regular;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        color: #3E3E3E;
        margin-bottom: 24px;
    }

    .fa-times{
        font-size: 20px;
        color: #7B7B7B;
        margin-bottom: 12px;
        text-align: right;
        display: block;
    }
}

.pop-show{
    bottom: 0px;
}

.pop-show-center{
    visibility: visible;
    opacity: 1;
    transition: $trans-hover;
}