.header{
	display: flex;
	width: 100%;
	height: 42px;
	background: #F9F9F9;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 98;
	transition: $trans-hover;
}

.header-sticky{
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.logo-header{
	display: flex;
	align-items: center;
	padding-left: 16px;

	img{
		width: 125px;
		height: auto;
		display: block;
	}
}

.header-right{
	margin-left: auto;
	display: flex;

	.btn-cari{
		width: 42px;
		height: 42px;
		font-size: 18px;
		color: #D79F30;
		border-left: 1px solid #EFEFEF;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.btn-nav{
		width: 42px;
		height: 42px;
		background-color: #182E54;
		font-size: 18px;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.header-nav{
	display: flex;
	background: #F9F9F9;
	padding: 0px 16px;
	overflow-y: scroll;
  	white-space: nowrap;
	-ms-overflow-style: none;
  	scrollbar-width: none;

	ul{
		display: flex;
		list-style-type: none;
		padding: 0;
		margin: 0 -8px;
	}

	li{
		display: inline-block;
		margin: 0px 8px;
	}

	a{
		display: block;
		height: 42px;
		padding: 8px;
		font-family: $inter-bold;
		font-size: 16px;
		font-style: normal;
		line-height: 140%;
		color: #182E54;
	}

	.active{
		border-bottom: 4px solid #D79F30;
	}
}

.navbar{
	position: fixed;
	right: -999px;
	top: 42px;
	z-index: 99;
	width: 270px;
	height: 100%;
	background-color: #F9F9F9;
	transition: $trans-hover;

	nav{

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		a{
			display: flex;
			align-items: center;
			padding: 15px 20px;
			font-family: $inter-bold;
			font-size: 16px;
			font-style: normal;
			line-height: normal;
			color: #182E54;
			transition: $trans-hover;
		}
	}

	a.has-sub{
		i{
			font-size: 14px;
			color: #182E54;
			margin-left: auto;
		}
	}

	li.m-active{
		a.parent{
			background: #F9F9F9;
			transition: ease all 0.3s;

			&:after{
		  		transform: rotate(180deg);
		  		transition: transform 0.3s;
		  	}
		}
	}

	ul.sub-menu{
		background: #EFEFEF;
		display: none;

		a{
			padding: 15px 20px;
			font-family: $inter-regular;
		}

		a.sm-active{
			color: #D79F30;
		}
	}

	.search-box{
		background: #CE0305;
		width: 42px;
		height: 42px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		cursor: pointer;

		i{
			font-size: 15px;
			color: #fff;
		}
	}
}