.devider{
	content: "";
	width: calc(100% - 32px);
	height: 1px;
	background-color: #F7F7F7;
	display: block;
	margin: 32px auto;
}

.more{
	padding: 0px 16px;
	margin: 32px 0px;

	a{	
		width: 100%;
		padding: 12px;
		border: 1px solid #182E54;
		text-align: center;
		display: block;
		font-family: $inter-bold;
		font-size: 16px;
		font-style: normal;
		line-height: 140%;
		color: #182E54;
		transition: $trans-hover;

		&:hover{
			color: #FFFFFF;
			background: #D79F30;
			border: 1px solid #D79F30;
		}
	}
}

.pagination{
	margin: 32px 0px;
	display: flex;
	justify-content: center;
	padding: 6px 0px;

	ul{
		list-style-type: none;
		margin: 0px auto;
		padding: 0;
	}

	li{
		display: inline-block;
		margin: 0px 4px;

		a{
			display: block;
			width: 32px;
			height: 32px;
			background: #fff;
			border: 1px solid #182E54;
			font-family: $inter-medium;
			font-size: 16px;
			font-style: normal;
			line-height: 26px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #182E54;
			transition: $trans-hover;

			&:hover{
				background: #182E54;
				color: #fff;
			}

			i.fa-l{
				position: relative;
				left: 2px;
			}

			i.fa-r{
				position: relative;
				left: -2px;
			}
		}

		.active{
			background: #182E54;
			color: #fff;
		}

		.disable{
			color: #B9B9B9;
			border: 1px solid #B9B9B9;

			&:hover{
				color: #B9B9B9;
				border: 1px solid #B9B9B9;
				background: #fff;
			}
		}
	}
}

.wrap-btn-top{
	visibility: visible;
	opacity: 1;
	position: fixed;
	z-index: 5;
	right: 5px;
	bottom: 40px;
	background: #D79F30;
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: $trans-hover;

	i{
		color: #F9F9F9;
		font-size: 22px;
	}
}

.wrap-btn-top-show{
	visibility: visible;
	opacity: 1;
}

.skin-ads-left, .skin-ads-right{
	position: fixed;
	top: 16px;

	img{
		width: 120px;
		height: 600px;
		display: block;
	}
}

.skin-ads-left{
	left: 50%;
	margin-left: -674px;
}

.skin-ads-right{
	right: 50%;
	margin-right: -674px;
}

/* Filter */
.warp-filter-kanal{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 32px;
	padding: 0px 16px;
}

.filter-kanal-left{
	justify-content: left;
}

/* Cmb Kanal */
.warp-input-kanal{
	position: relative;
	width: calc(100% - 66px);
	padding-right: 8px;

	input[type="text"]{
		width: 100%;
		background: #FFFFFF;
		border: 1px solid #EFEFEF;
		font-family: $inter-regular;
		font-size: 14px;
		font-style: normal;
		line-height: 18px;
		display: flex;
		color: #373737;
		padding: 9px 45px 9px 16px;
	}

	i{
		position: absolute;
		top: 12px;
		right: 20px;
		width: 16px;
		height: 16px;
		font-size: 16px;
		color: #D79F30;
		cursor: pointer;
		transition: $trans-hover;
	}
}

.warp-input-kanal-full{
	width: 100%;
	margin-bottom: 16px;
	padding-right: 0px;
}

/* Datepicker */
.warp-input-date{
	position: relative;

	input[type="text"]{
		width: 100%;
		background: #FFFFFF;
		border: 1px solid #EFEFEF;
		font-family: $inter-regular;
		font-size: 14px;
		font-style: normal;
		line-height: 18px;
		display: flex;
		color: #B9B9B9;
		padding: 9px 45px 9px 16px;

        &:focus ~ i{
            transform: rotate(180deg);
        }
	}

	i{
		position: absolute;
		top: 11px;
		right: 20px;
		width: 16px;
		height: 16px;
		font-size: 16px;
		color: #D79F30;
		cursor: pointer;
		transition: $trans-hover;
	}
}

.warp-input-date-full{
	width: 100%;
	margin-bottom: 16px;
}

.datepicker-switch:hover, 
.datepicker .next:hover, 
.datepicker .prev:hover, 
.datepicker tfoot tr th:hover {
    background: #f0f0f0;
    border-radius: 5px;
}

.datepicker{
    font-family: $inter-regular;
    font-size: 14px;
    color: #3E3E3E;
    text-align: center;
    cursor: pointer;
    display: block !important;

    .day{
        width: 36px !important;
        height: 30px !important;

        &:hover{
            background: #f0f0f0;
            border-radius: 5px;
        }
    }

    .month{
        &:hover{
            background: #f0f0f0;
            border-radius: 5px;
        }
    }

    .year{
        &:hover{
            background: #f0f0f0;
            border-radius: 5px;
        }
    }

    .old{
        color: #f0f0f0;
    }

    .active{
        color: #fff;
        background: #D79F30;
        border-radius: 4px;

        &:hover{
            background: #D79F30;
            border-radius: 5px;
        }
    }

    table{
    	width: 100% !important;
    }

    table tr td span {
        display: block;
        width: 23%;
        height: 54px;
        line-height: 54px;
        float: left;
        margin: 1%;
        cursor: pointer;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
}

.datepicker-dropdown {
    border-radius: 0px;
    border: none;
    top: 0px !important;
    position: relative !important;
    margin-bottom: 24px;
    -webkit-box-shadow: none;
	box-shadow: none;
}

.table-condensed > tbody > tr > td, .table-condensed > thead > tr > th {
    padding: 7px;
}

/* Btn Filter */
.btn-filter-kanal{
	width: 66px;
	background: #D79F30;
	font-family: $inter-bold;
	font-size: 14px;
	font-style: normal;
	line-height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 9px 0px;
	color: #FFFFFF;
	border: 1px solid #D79F30;
	cursor: pointer;
}

.btn-filter-kanal-full{
	width: 100%;
}

/* Headline */
.headline{
	margin-top: 24px;

	.bg-hl{
		width: 100%;
	}

	.img-bg-hl{
		position: relative;
		width: 100%;
		height: 334px;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}

		.kanal-bg-hl{
			position: absolute;
			bottom: -12px;
			left: 16px;
			background: #182E54;
			padding: 4px 12px;
			font-family: $inter-bold;
			font-size: 12px;
			font-style: normal;
			line-height: 18px;
			color: #FFFFFF;
			width: max-content;
		}
	}

	.desc-bg-hl{
		padding: 16px;
		background-color: #112242;
	}

	.title-bg-hl{
		font-family: $inter-bold;
		font-size: 22px;
		font-style: normal;
		line-height: 140%;
		color: #FFFFFF;
		margin: 0;
	}

	.sm-hl{
		display: flex;
		padding: 16px;
		background: #112242;
	}

	.img-sm-hl{
		width: 80px;
		height: 80px;
		margin-right: 16px;

		img{
			width: 80px;
			height: 80px;
			object-fit: cover;
			object-position: top;
		}
	}

	.desc-sm-hl{
		.kanal-sm-hl{
			background: #182E54;
			padding: 4px 12px;
			font-family: $inter-bold;
			font-size: 12px;
			line-height: 18px;
			color: #FFFFFF;
			width: max-content;
		}

		.title-sm-hl{
			font-family: $inter-bold;
			font-size: 16px;
			line-height: 140%;
			color: #FFFFFF;
			margin-top: 8px;
			margin-bottom: 0px;
		}
	}
}

/* Content Section */
.wrap-title-section{
	position: relative;
	width: 100%;
	padding: 8px 16px;
	margin-bottom: 20px;
	background-color: #F9F9F9;

	&:before{
		content: '';
		width: 6px;
		height: 40px;
		background: #182E54;
		position: absolute;
		top: 0px;
		left: 6px;
		margin-left: 16px;
	}

	.title-section{
		position: relative;
		width: 100%;
		font-family: $inter-bold;
		font-size: 20px;
		font-style: normal;
		line-height: normal;
		color: #182E54;
		padding-left: 24px;

		&:before{
			content: '';
			width: 6px;
			height: 40px;
			position: absolute;
			top: -8px;
			left: 0;
		}
	}

	.warp-navigation{
		position: absolute;
		right: 20px;
		top: 0;
		display: flex;
		align-items: center;
		height: 100%;

		i{
			width: 24px;
			height: 24px;
			text-align: center;
			font-size: 24px;
			margin-left: 16px;
			cursor: pointer;
			color: #FC3E40;
			transition: $trans-hover;
		}

		.swiper-button-disabled{
			color: #B9B9B9;;
		}
	}

	.warp-btn-more{
		position: absolute;
		right: 16px;
		top: 9px;

		a{
			font-family: $inter-bold;
			font-size: 14px;
			font-style: normal;
			line-height: normal;
			color: #F9F9F9;
			background-color: #182E54;
			padding: 4px 8px;
			transition: $trans-hover;

			&:hover{
				color: #fff;
				background-color: #D79F30;
			}
		}
	}
}

/* List News */
.warp-list-news{
	padding: 0px 16px;

	a{
		margin-bottom: 20px;
		display: block;
	}
}

.list-news{
	display: flex;

	&:hover{
		.wrap-desc-news{
			.title-news{
				color: #d79f30;
			}
		}
	}
}

.img-news{
	position: relative;
	width: 88px;
	height: 88px;
	margin-right: 16px;

	img{
		width: 88px;
		height: 88px;
		display: block;
		object-fit: cover;
		object-position: top;
	}

	i{
		position: absolute;
		left: 6px;
		bottom: 7px;
		font-size: 20px;
		color: #0B3355;
	}
}

.wrap-desc-news{
	.title-news{
		font-family: $inter-bold;
		font-size: 16px;
		font-style: normal;
		line-height: 140%;
		color: #373737;
		transition: $trans-hover;
	}

	.date-news{
		font-family: $inter-medium;
		font-size: 12px;
		font-style: normal;
		line-height: 140%;
		color: #182E54;
		margin-top: 4px;
	}
}

/* List News Colomn */

.warp-list-news-col{
	display: flex;
	flex-wrap: wrap;
	margin: 0px 8px;
}

.list-news-col{
	width: 50%;
	padding: 0px 8px;

	&:hover{
		.title-news-col{
			color: #CE0305;
		}
	}

	&:hover{
		.title-news-col{
			color: #CE0305;
		}

		.img-news-col{
			&:after{
				opacity: 0.65;
			}

			i{
				color: #FD6E70;
			}
		}
	}
}

.img-news-col{
	position: relative;

	img{
		width: 100%;
		height: 108px;
		display: block;
		object-fit: cover;
		object-position: top;
	}

	i{
		position: absolute;
		left: 5px;
		bottom: 5px;
		font-size: 20px;
		color: #092A47;
		transition: $trans-hover;
	}

	&:after{
		content: "";
		width: 100%;
		height: 108px;
		display: block;
		background: #FEAFAF;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		transition: $trans-hover;
	}

	.kanal-news-col {
		position: absolute;
		top: 0;
		left: 0;
		padding: 2px 6px;
		background: #CE0305;
		font-family: $inter-medium;
		font-weight: 700;
		font-size: 12px;
		line-height: 18px;
		color: #FFFFFF;
	}
}

.title-news-col{
	font-family: $inter-regular;
	font-weight: 700;
	font-size: 16px;
	line-height: 130%;
	color: #3E3E3E;
	margin-top: 8px;
	transition: $trans-hover;
}

.date-news-col{
	font-family: $inter-regular;
	font-weight: 700;
	font-size: 14px;
	line-height: 18px;
	color: #0B3355;
	margin-top: 8px;
}

/* Right */
.wrap-terpopuler{
	position: relative;
	width: 100%;
	padding: 8px 16px;
	margin-bottom: 20px;
	background-color: #F9F9F9;

	&:before{
		content: '';
		width: 6px;
		height: 40px;
		background: #182E54;
		position: absolute;
		top: 0px;
		left: 6px;
		margin-left: 16px;
	}

	.title-terpopuler{
		position: relative;
		width: 100%;
		font-family: $inter-bold;
		font-size: 20px;
		font-style: normal;
		line-height: normal;
		color: #182E54;
		padding-left: 24px;

		&:before{
			content: '';
			width: 6px;
			height: 40px;
			background: #D79F30;
			position: absolute;
			top: -8px;
			left: 0;
		}
	}
}

.lits-artikel-populer{
	margin-top: 20px;
	padding: 0px 16px;

	&:hover{
		.title-artikel-populer{
			color: #d79f30;
		}
	}

	a{
		display: flex;
	}

	.img-artikel-populer{
		position: relative;
		margin-right: 12px;

		.no-artikel-populer{
			background: #0B3355;
			border-left: 4px solid #D79F30;
			position: absolute;
			width: 36px;
			height: 36px;
			left: 0px;
			bottom: 0px;

			font-family: $inter-medium;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #FFFFFF;
		}

		img{
			width: 142px;
			height: 94px;
			object-fit: cover;
			object-position: top;
			display: block;
		}
	}

	.title-artikel-populer{
		font-family: $inter-bold;
		font-size: 16px;
		font-style: normal;
		line-height: 20px;
		color: #373737	;
		transition: $trans-hover;
	}
}


/* Detail */
.bread-crumb-detail{
	padding: 0px 16px;

	ul{
		display: flex;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li{
		display: inline-block;
		font-family: $inter-regular;
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;

		a{
			color: #3E3E3E;
			transition: $trans-hover;

			&:hover{
				color: #CE0305;
			}
		}

		&:first-child{
			&:before{
				margin: 0px;
				width: 0px;
			}
		}

		&:before{
			content: "";
			width: 1px;
			height: 12px;
			background: #CE0305;
			margin: 0px 8px;
			display: inline-block;
			position: relative;
			top: 1px;
		}
	}

	.active{
		color: #CE0305;
	}
}

.title-detail{
	padding: 0px 16px;
	font-family: $inter-bold;
	font-size: 22px;
	font-style: normal;
	line-height: 140%;
	color: #373737;
	margin: 16px 0px;
}

.wrap-auth-detail{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 16px 0px;
	padding: 0px 27px;

	&:before {
		content: '';
		width: 4px;
		height: 40px;
		background: #D79F30;
		position: absolute;
		top: 2px;
		left: 16px;
	}
}

.auth-detail{
	width: 100%;
	margin-bottom: 4px;
	font-family: $inter-bold;
	font-size: 14px;
	line-height: 140%;
	color: #182E54;
}

.date-detail{
	font-family: $inter-regular;
	font-size: 14px;
	line-height: 140%;
	color: #373737;
}

.img-detail{
	img{
		width: 100%;
		height: 250px;
		object-fit: cover;
		object-position: top;
		display: block;
	}
}

.img-detail-foto{
	position: relative;
	width: 100%;

	.warp-navigation{
		position: absolute;
		left: 0px;
		top: 30%;
		z-index: 3;
		display: flex;
		align-items: center;
		width: 100%;

		i{
			width: 36px;
			height: 36px;
			text-align: center;
			font-size: 21px;
			cursor: pointer;
			color: #FFFFFF;
			transition: $trans-hover;
			background-color: rgba(206, 3, 5, 1);
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.nav-prev{
			margin-right: auto;
		}

		.nav-next{
			margin-left: auto;
		}

		.swiper-button-disabled{
			background-color: rgba(206, 3, 5, 0);
		}
	}

	.swiperFotoDetail{
		position: relative;

		.swiper-slide{
			width: 100% !important;
			height: max-content !important;

			.detail-img{
				width: 100%;
				height: 250px;
			    display: flex;
			    background-color: #000;
			    position: relative;

			    img{
					width: 100%;
					height: 250px;
					object-fit: cover;
					object-position: top;
				}

				.img-zoom{
					display: block;
					margin: auto;
				}

				.fullImage{
					position: absolute;
					right: 16px;
					top: 16px;
					z-index: 3;
					width: 28px;
					height: 28px;
					background: #1A0001;
					font-size: 16px;
					color: #FFFFFF;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					opacity: 0.5;
				}
			}

			.warp-detail-img-caption{
				display: flex;
				margin-top: 75px;
				padding: 0px 16px;

				.number{
					width: 25px;
					font-family: $inter-regular;
					font-weight: 400;
					font-size: 16px;
					line-height: 15px;
					color: #3E3E3E;
				}

				.caption{
					width: calc(100% - 25px);
					padding-left: 8px;
					font-family: $inter-regular;
					font-weight: 400;
					font-size: 12px;
					line-height: 14px;
					color: #7B7B7B;
				}
			}
		}

		.swiper-button-next, .swiper-button-prev{
			color: #CCD2E3;
		}
	}

	.thumb-detail{
        margin: 8px 0px;
        padding: 0px;
        position: absolute;
		top: 238px;
    }

	.swiperFotoThumb{
		margin-top: 8px;

		.swiper-slide{
			width: 90px !important;
			height: 60px !important;
			position: relative;
			cursor: pointer;

			img{
				width: 90px;
				height: 60px;
				cursor: pointer;
				object-fit: cover;
                object-position: top;
			}

			&:after{
				content: "";
				width: 90px;
				height: 60px;
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
			}
		}

		.swiper-slide-thumb-active{
			img{
				border: 4px solid #FC3E40;
			}

			&:after{
				background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
			}
		}
	}
}

.warp-full{
	.btn-close-full{
		display: none;
	}

	.swiper-pagination{
		display: none;
	}
}

.fullscreen-section{
	display: flex;
	justify-content: center;
	align-items: center;

	.btn-close-full{
		display: block;
		font-size: 24px;
		color: #fff;
		position: absolute;
		top: 24px;
		right: 24px;
		z-index: 3;
		cursor: pointer;
	}

	.fullImage{
		display: none !important;
	}

	.swiper-pagination{
		display: block;
		color: #fff;
	}

	.img-detail-foto{
		height: 100%;
	}

	.img-detail-foto .swiper{
		height: 100%;
	}

	.img-detail-foto .swiperFotoDetail .swiper-slide .detail-img{
		width: 100%;
		height: 250px;
		left: 0;
		right: 0;
		margin: auto;
	}

	.img-detail-foto .swiperFotoDetail .swiper-slide{
		top: 0;
		bottom: 0;
		margin: auto;
	}

	.img-detail-foto .swiperFotoDetail .swiper-slide .detail-img img{
		width: 100%;
		height: 250px;
	}

	.img-detail-foto .thumb-detail{
		display: none;
	}

	.img-detail-foto .warp-navigation{
		display: none;
	}

	.img-detail-foto .swiperFotoDetail .swiper-slide .warp-detail-img-caption{
		width: 100%;
		position: relative;
		left: 0;
		right: 0;
		margin: 16px auto 0px;
		padding: 0px 16px;
	}

	.img-detail-foto .swiperFotoDetail .swiper-slide .warp-detail-img-caption .caption{
		width: 100%;
		color: #fff;
	}

	.img-detail-foto .swiperFotoDetail .swiper-slide .warp-detail-img-caption .number{
		display: none;
	}

	.img-detail-foto .warp-navigation .swiper-button-disabled{
		background-color: #3E3E3E;
	}
}

.img-detail-desc{
	font-family: $inter-regular;
	font-size: 12px;
	font-style: normal;
	line-height: 140%;
	color: #373737;
	padding: 8px 16px;
}

.artikel-detail{
	margin-top: 16px;
	padding: 0px 16px;
	font-family: $inter-regular;
	font-size: 16px;
	font-style: normal;
	line-height: 160%;
	color: #373737;

	a{
		font-family: $inter-bold;
		color: #182E54;
	}

	.artikel-video{
		width: 100%;
		height: 210px;
		margin: 16px auto;
		display: block;
	}

	.read-more{
		border-left: 4px solid #D79F30;
		padding: 12px 16px;
		margin: 16px -16px;
		background-color: #F9F9F9;
		font-family: $inter-regular;
		font-size: 14px;
		font-style: normal;
		line-height: 140%;
		color: #3E3E3E;

		a{
			display: block;
			color: #0F4471;
			font-weight: 700;
			margin-top: 12px;
		}
	}

	.reporter{
		margin-top: 32px;
	}
}

.share-artikel-d{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	margin: 16px 0px 24px 0px;

	.title-share{
		font-family: $inter-bold;
		font-size: 16px;
		line-height: 20px;
		color: #373737;
		margin-right: 16px;
	}

	.social-share{
		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li{
			display: inline-block;
			margin: 0px 8px;

			&:last-child{
				margin-right: 0px;
			}

			a:hover{
				i{
					color: #D79F30;
				}
			}

			i{
				width: 24px;
				height: 24px;
				font-size: 24px;
				color: #D79F30;
				transition: $trans-hover;
			}
		}
	}
}

.tag-artikel-d{
	margin: 24px 0px 40px;
	display: flex;
	flex-wrap: wrap;

	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li{
		display: inline-block;
		margin: 8px 16px 8px 0px;

		&:last-child{
			margin-right: 0px;
		}

		a{
			padding: 8px 12px;
			border: 1px solid #182E54;
			background: #FFFFFF;
			display: block;
			font-family: $inter-regular;
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			color: #182E54;
			transition: $trans-hover;

			&:hover{
				background: #182E54;
				color: #FFFFFF;
			}
		}
	}	
}

.wrap-fb-comment{
	width: 100%;
	padding: 20px 16px 32px;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
}

/* Home Kanal */
.breadcrumb{
	margin: 24px 0px; 
	padding: 0px 16px;

	ul{
		display: flex;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li{
		display: inline-block;
		font-family: $inter-medium;
		font-size: 14px;
		line-height: 18px;

		a{
			color: #3E3E3E;
			transition: $trans-hover;

			&:hover{
				color: #3E3E3E;
			}
		}

		&:first-child{
			&:before{
				margin: 0px;
				width: 0px;
			}
		}

		&:before{
			content: "";
			width: 1px;
			height: 12px;
			background: #3E3E3E;
			margin: 0px 8px;
			display: inline-block;
			position: relative;
			top: 1px;
		}
	}

	.active{
		color: #D79F30;
	}
}

.kanal-headline{
	margin-bottom: 32px;

	&:hover{
		.title-kanal-headline{
			color: #d79f30;
		}
	}

	.img-kanal-headline{
		position: relative;
		width: 100%;
		height: 250px;

		img{
			width: 100%;
			height: 250px;
			object-fit: cover;
			object-position: top;
			display: block;
		}

		i{
			position: absolute;
			left: 18px;
			bottom: 18px;
			font-size: 20px;
			color: #0B3355;
		}
	}

	.title-kanal-headline{
		padding: 16px;
		font-family: $inter-bold;
		font-size: 22px;
		font-style: normal;
		line-height: 140%;
		color: #373737;
		transition: $trans-hover;
	}
}

/* Not Found */
.wrap-woops{
	margin-top: 32px;
	text-align: center;

	img{
		width: 210px;
		height: auto;
		display: block;
		margin: auto;
	}

	.desc-not-found{
		font-family: $inter-regular;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
		color: #373737;
		margin-top: 8px;
	}
}

.wrap-404{
	margin-top: 32px;
	text-align: center;

	img{
		width: 205px;
		height: auto;
		display: block;
		margin: auto;
	}

	.desc-not-found{
		font-family: $inter-bold;
		font-size: 24px;
		font-style: normal;
		line-height: 140%;
		color: #373737;
		margin-bottom: 32px;
	}

	.btn-back-home{
		margin: 32px auto 0px;
		display: flex;
		justify-content: center;

		a{
			display: block;
			padding: 12px 16px;
			background: #182E54;
			text-align: center;
			font-family: $inter-bold;
			font-size: 12px;
			font-style: normal;
			line-height: normal;
			color: #F9F9F9;
			max-width: max-content;
		}
	}
}

/* About */
.banner{
	width: 100%;
	margin: 24px 0px; 

	img{
		width: 100%;
		height: auto;
		display: block;
		margin: auto;
	}
}

.wrap-about{
	width: 100%;

	.tab-about{
		list-style: none;
		width: 100%;
		padding: 0;
		margin: 0;

		.list-about{
			display: block;
			width: 100%;
			margin: 24px 0px;

			i{
				width: 24px;
				height: 24px;
				font-size: 12px;
				color: #D79F30;
				display: flex;
				margin-left: auto;
				justify-content: center;
				align-items: center;
				transition: transform 0.3s;
			}

			a{
				display: flex;
				align-items: center;
				padding: 10px 16px;
				font-family: $inter-bold;
				font-size: 16px;
				line-height: 130%;
				color: #373737;
				background: #F9F9F9;
				border-left: 2px solid #D79F30;
				transition: ease all 0.3s;
			}

			.isi-about{
				display: none;
				font-family: $inter-regular;
				font-size: 18px;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 160%;
				color: #373737;
				padding: 24px 16px 0px;

				h2{
					font-size: 18px;
				}

				.title-redaksi{
					font-size: 14px;
					color: #7B7B7B;
				}

				.name-redaksi{
					font-size: 16px;
					font-weight: 700;
					color: #3E3E3E;
					line-height: 24px;
				}

				ol{
					list-style-type: decimal
				}
			}
		}

		li.about-active{
			.isi-about{
				display: block;
			}

			i{
				width: 24px;
				height: 24px;
				font-size: 12px;
				color: #fff;
				display: flex;
				margin-left: auto;
				justify-content: center;
				align-items: center;
				transform: rotate(180deg);
			}

			a{
				color: #F9F9F9;
				background: #182E54;
				transition: ease all 0.3s;
			}

			.mapouter{
				margin: 32px 0px;
				width: 100%;

				.gmap_canvas{
					width: 100% !important;
				}
			}
		}
	}
}