footer{
	background: 
		url("../images/bg-footer.png"),
		#3FB99F;
	background-size: 100%, 100%;
    background-position: 0;
    background-repeat: repeat;
    width: 100%;
    height: 24vh;
    display: flex;
    align-items: center;

	.wrap-sponsor{
		.label-title{
			font-family: $sans-regular;
			font-size: 18px;
			font-weight: 400;
			color: #fff;
			text-align: center;
			line-height: 18px;
			margin-bottom: 16px;
		}

		.wrap-list-sponsor{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin-bottom: 12px;

			.sponsor{
				width: 128px;
				height: 72px;
				margin: 0px 6px;
			}

			.none-sponsor{
				border-radius: 10px;
				background-color: #ECECEC;
				font-family: $sans-regular;
				font-size: 16px;
				font-weight: 600;
				color: #aeaeae;
				line-height: 23px;
				display: flex;
				justify-content: center;
				align-items: center;

				&:before{
					content: "Supported";
				}
			}
		}

		.copy{
			font-family: $sans-regular;
			font-size: 14px;
			font-weight: 400;
			color: #fff;
			text-align: center;
			line-height: 19px;
		}
	}
}