$color-caption-black: #000000;
$color-green: #3FB99F;
$color-green-dark: #27A287;
$trans-hover: ease all 0.4s;
$trans-hover-btn: 0.3s;

@font-face {
    font-family: Open-Sans-Regular;
    src: url('../fonts/open_sans/static/OpenSans-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: Open-Sans-Bold;
    src: url('../fonts/open_sans/static/OpenSans-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: Open-Sans-Medium;
    src: url('../fonts/open_sans/static/OpenSans-Medium.ttf');
    font-display: swap;
}

$sans-regular: "Open-Sans-Regular",arial,sans-serif;
$sans-bold: "Open-Sans-Bold",arial,sans-serif;
$sans-med: "Open-Sans-Medium",arial,sans-serif;

html, body{
    position: relative;
    height: 100%;
    margin: 0;
}

body{
    line-height: 1.8;
    scroll-behavior: smooth;
    background-color: #fff;
    background-image: none;
}

a{
    text-decoration: none;

    &:hover, &:focus{
        text-decoration: none;
    }
}

.content-row{
    display: flex;
    flex-wrap: wrap;
}

.content-clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content-left{
    float: left;
}

.content-right{
    float: right;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-bold{
    font-weight: 700;
}

*, ::before, ::after{
    box-sizing: border-box;
}

*{
    -webkit-tap-highlight-color: transparent;
}

.mt25{
    margin-top: 25px !important;
}

.mb25{
    margin-bottom: 25px !important;
}