.wrap-nav-head{
	width: 100%;
	height: 11vh;
	display: flex;
	align-items: center;
	background-color: #4A71BF;

	.nav-head{
		width: 100%;
		padding: 20px 0px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		.logo{
			width: 291px;
			height: 37px;

			img{
				width: 291px;
				height: auto;
			}
		}

		.logo-tokcer{
			width: 278px;
			position: absolute;
			top: 22px;
			left: 0px;
			right: 0px;
			margin: auto;

			img{
				width: auto;
				height: 70px;
			}
		}

		.right-nav{
			width: calc(100% - 291px);
			display: flex;
			justify-content: right;
			align-items: center;

			.warp-nav-drop{
				position: relative;
			}

			.btn-login{
				padding: 8px 12px;
				border: 1px solid #fff;
				border-radius: 50px;
				background-color: #4A71BF;
				display: flex;
				width: max-content;
				height: max-content;
				align-items: center;
				transition: $trans-hover-btn;

				&:hover{
					border: 1px solid $color-green-dark;
					background-color: $color-green;
				}

				.avatar{
					width: 36px;
					height: 36px;

					img{
						width: 36px;
						height: 36px;
						border-radius: 50px;
					}
				}

				.label-login{
					font-family: $sans-regular;
					font-size: 16px;
					font-weight: 700;
					line-height: 24px;
					color: #fff;
					margin-left: 10px;
					margin-right: 12px;
				}

				i{
					margin-left: 4px;
					margin-right: 20px;
					font-size: 13px;
					color: #fff;
				}
			}

			.nav-drop{
				position: absolute;
				top: 49px;
				right: 8px;
				z-index: 1;
				width: 221px;
				border-radius: 15px;
				background: #fff;
				display: none;

				.menu{
					display: block;
					font-family: $sans-regular;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					color: #000000;
					background: #fff;
					padding: 6px 24px;
					transition: $trans-hover;

					&:hover{
						background: #eee;
					}

					&:first-child{
						border-radius: 15px 15px 0px 0px;
						padding: 12px 24px 6px;
					}

					&:last-child{
						border-radius: 0px 0px 15px 15px;
						padding: 6px 24px 12px;
					}
				}

				.active{
					background: #eee;
				}
			}

			.nav-drop-show{
				display: block;
			}

			.btn-login-active{
				border: 1px solid $color-green-dark;
				background-color: $color-green;
			}
		}
	}
}

.wrap-nav-head-mini{
	width: 100%;
	padding: 20px 24px;
	border-radius: 15px;
	background-color: $color-green;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;

	.logo{
		width: 216px;
		height: 28px;

		img{
			width: 216px;
			height: auto;
		}
	}

	.label-page{
		font-family: $sans-regular;
		font-size: 32px;
		font-weight: 700;
		line-height: 49px;
		color: #fff;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
	}

	.right-nav{
		width: calc(100% - 216px);
		display: flex;
		justify-content: right;
		align-items: center;

		.warp-nav-drop{
			position: relative;
		}

		.btn-login{
			padding: 8px 12px;
			border: 1px solid #fff;
			border-radius: 50px;
			background-color: $color-green;
			display: flex;
			width: max-content;
			height: max-content;
			align-items: center;
			transition: $trans-hover-btn;

			&:hover{
				border: 1px solid $color-green-dark;
				background-color: $color-green-dark;
			}

			.avatar{
				width: 36px;
				height: 36px;

				img{
					width: 36px;
					height: 36px;
					border-radius: 50px;
				}
			}

			.label-login{
				font-family: $sans-regular;
				font-size: 16px;
				font-weight: 700;
				line-height: 24px;
				color: #fff;
				margin-left: 10px;
				margin-right: 12px;
			}

			i{
				margin-left: 4px;
				margin-right: 20px;
				font-size: 13px;
				color: #fff;
			}
		}

		.nav-drop{
			position: absolute;
			top: 49px;
			right: 8px;
			z-index: 1;
			width: 221px;
			border-radius: 15px;
			background: #fff;
			display: none;

			.menu{
				display: block;
				font-family: $sans-regular;
				font-size: 16px;
				font-weight: 400;
				line-height: 24px;
				color: #000000;
				background: #fff;
				padding: 12px 24px;
				transition: $trans-hover;

				&:hover{
					background: #eee;
				}

				&:first-child{
					border-radius: 15px 15px 0px 0px;
				}

				&:last-child{
					border-radius: 0px 0px 15px 15px;
				}
			}

			.active{
				background: #eee;
			}
		}

		.nav-drop-show{
			display: block;
		}

		.btn-login-active{
			border: 1px solid $color-green-dark;
			background-color: $color-green;
		}
	}
}

