.btn-m-nav{
	display: none;
}

.side-nav{
	display: none;
}

.wrap-content{
	width: 1160px;
	margin: auto;
}

.content{
	background: 
		url("../images/background.png"),
		#4A71BF;
	background-size: 
		auto, 
		100%;
	background-position: 
		0;
	background-repeat: repeat;
	padding: 52px 0px 110px;
}

.content-page{
	display: flex;
	flex-wrap: wrap;
	margin-top: 45px;
}

.wrap-page-result{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrap-content-result{
	width: 1160px;
	margin: auto;
}

.content-result{
	background: 
		url("../images/background.png"),
		#4A71BF;
	background-size: 
		auto, 
		100%;
	background-position: 
		0;
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	padding: 20px 0px;
	display: flex;
}

.content-page-result{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}

.content-side{
	width: 120px;
}

.content-center{
	width: calc(100% - 240px);
	padding: 0px 34px;
}

.page{
	width: 100%;
	border-radius: 15px;
	background-color: #fff;
	padding-bottom: 24px;
}

.skin-ads{
	width: 120px;
	height: 593px;
}

.banner-ads{
	width: 720px;
	height: 90px;
}

.none-ads{
	background-color: #D9D9D9;
	font-family: $sans-regular;
	font-size: 20px;
	font-weight: 600;
	color: #000;
	line-height: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;

	&:before{
		content: "ADS"
	}
}

.m-ads{
	display: none;
}

/* Home */
.wrap-home-top{
	width: 100%;
    height: 49vh;
    background-color: #4A71BF;
    display: flex;
    padding-top: 16px;

    .logo-tokcer{
		display: none;
	}

	.wrap-desc{
		width: 620px;
	    padding-top: 32px;
	    padding-bottom: 24px;
	    color: #fff;

		h1{
			font-family: $sans-bold;
			font-size: 32px;
		    font-weight: 700;
		    line-height: 38px;
		    margin-bottom: 24px;
		    margin-top: 0px;
		}

		h3{
			font-family: $sans-regular;
			font-size: 16px;
		    font-weight: 400;
		    line-height: 22px;
		    margin-bottom: 30px;
		    margin-top: 0px;
		}
	}

	.wrap-btn-home{
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 30px;

		.btn-mulai-home{
			width: 170px;
		    padding: 8px 0px;
		    border-radius: 15px;
		    background-color: #3FB99F;
			font-family: $sans-regular;
			font-size: 16px;
			font-weight: 700;
			text-align: center;
			color: #fff;
			transition: $trans-hover-btn;

			&:hover{
				box-shadow: inset 17em 0 0 0 $color-green-dark;
			}
		}

		.wrap-share{
			margin-left: 28px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			.label-share{
				font-family: $sans-regular;
				font-size: 16px;
				font-weight: 400;
				color: #fff;
				margin-right: 10px;
			}

			.i-share{
				width: 44px;
				height: 44px;
				border: 4px solid #fff;
				border-radius: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0px 6px;
				transition: $trans-hover;

				i{
					color: #fff;
					font-size: 22px;
					transition: $trans-hover;
				}

				&:hover{
					background-color: $color-green;
					border: 4px solid $color-green-dark;
				}
			}
		}
	}
}

.wrap-home-bottom{
	position: relative;
	width: 100%;
	height: 16vh;
	background-color: #4A71BF;
	display: flex;

	.img-home{
		position: absolute;
	    right: 10%;
	    bottom: 10px;
	    width: 35%;
	    height: auto;
	}

	.warp-more-info{
		position: absolute;
	    bottom: 32px;
	    right: 5%;

		.btn-more-info{
			font-family: $sans-regular;
			font-size: 16px;
		    font-weight: 400;
		    line-height: 20px;
		    color: #fff;
		    padding: 8px 36px;
		    border: 3px solid #55C1AA;
		    border-radius: 14px;
		    background-color: #3FB99F;
		    position: relative;
		    left: -68px;
			transition: $trans-hover;
		}

		&:hover .btn-more-info{
			left: -82px;
		}

		img{
			position: absolute;
			z-index: 1;
			top: -46px;
			right: 2px;
			width: 115px;
			height: auto;
		}
	}
}

/* TOC */
.head-toc{
	width: 100%;
	padding: 4px 16px 4px 16px;
	border-radius: 15px 15px 0px 0px;
	display: flex;
	flex-wrap: wrap;
	background-color: #fff;
	box-shadow: 0px 4px 12px 0px #0000000D;

	.tablink{
		font-family: $sans-regular;
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		padding: 24px 10px;
		cursor: pointer;
	}

	.active{
		font-weight: 700;
		border-bottom: 2px solid $color-green;
	}
}

.head-toc-fixed{
	position: fixed;
	width: 852px;
	top: 0;
	z-index: 5;
}

.wrap-tabcontent{
	padding: 24px 24px 0px;

	.tabcontent{
		display: none;
	}

	.tab-show{
		display: block;
	}

	h1{
		font-family: $sans-regular;
		font-size: 32px;
		font-weight: 600;
		line-height: 38px;
	}

	.desc-toc{
		font-family: $sans-regular;
		font-size: 16px;
		font-weight: 400;
		line-height: 26px;
		letter-spacing: 0em;
		text-align: justify;

		img{
			width: 100%;
			height: auto;
		}
	}

}

.wrap-tabcontent-fixed{
	margin-top: 76px;
	padding-top: 34px;
}

.btn-mulai{
	width: 254px;
	padding: 12px 24px 12px 24px;
	border-radius: 32px;
	background-color: $color-green;
	margin: 40px auto 40px;
	font-family: $sans-regular;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	display: block;
	line-height: 24px;
	text-align: center;
	transition: $trans-hover-btn;

	&:hover{
		box-shadow: inset 17em 0 0 0 $color-green-dark;
	}
}

/* Soal */
.head-page{
	width: 100%;
	padding: 24px;
	border-radius: 15px 15px 0px 0px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 4px 12px 0px #0000000D;

	.waktu{
		font-family: $sans-bold;
		font-size: 28px;
		font-weight: 600;
		color: #000;
		line-height: 33px;

		i{
			font-size: 24px;
		}
	}

	.btn-selesai{
		font-family: $sans-regular;
		font-size: 16px;
		font-weight: 700;
		color: #fff;
		line-height: 24px;
		border: none;
		margin-left: auto;

		padding: 8px 16px 8px 16px;
		border-radius: 40px;
		background: $color-green;
		cursor: pointer;
		transition: $trans-hover-btn;

		&:hover{
			box-shadow: inset 6em 0 0 0 $color-green-dark;
		}
	}
}

.head-page-fixed{
	position: fixed;
	width: 852px;
	top: 0;
	z-index: 5;
}

.wrap-soal{
	margin-top: 23px;
	padding: 0px 34px;

	.kategori{
		font-family: $sans-regular;
		font-size: 32px;
		font-weight: 600;
		line-height: 38px;
		margin-bottom: 40px;
	}

	.soal{
		display: flex;
		flex-wrap: wrap;
		font-family: $sans-regular;
		font-size: 16px;
		font-weight: 400;

		.nomor{
			width: 33px;
			padding-right: 8px;
			font-weight: 700;
		}

		.wrap-pertanyaan{
			width: calc(100% - 33px);

			.pertanyaan{
				text-align: justify;
				margin-bottom: 24px;
				line-height: 24px;

				p{
					margin: 0px;
				}
			}

			.list-jawaban{
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				margin: 8px 0px;

				.radio-jawaban{
					width: 16px;
					height: 16px;
					margin: 0px;
					position: relative;
					top: 5px;
				}

				.label-jawaban{
					width: calc(100% - 16px);
					padding-left: 16px;
					line-height: 24px;
					display: flex;

					b{
						margin-right: 5px;
					}

					p{
						margin: 0px;
					}
				}
			}
		}
	}

	.pagination{
		display: flex;
		flex-wrap: wrap;
		margin: 32px 0px 40px;

		.btn-pagination{
			font-family: $sans-regular;
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
			color: #3FB99F;
			border: 1px solid #3FB99F;
			padding: 8px 16px;
			border-radius: 50px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			transition: $trans-hover;

			i{
				font-size: 16px;
			}

			&:hover{
				background-color: $color-green;
				color: #fff;
			}
		}

		.btn-prev{
			i{
				margin-right: 13px;
			}
		}

		.btn-next{
			margin-left: auto;
			
			i{
				margin-left: 13px;
			}
		}
	}

	.wrap-list-numb-soal{
		width: 100%;
		height: 208px;
		padding: 24px 30px;
		border-radius: 10px;
		border: 1px solid #EDEDED;
		overflow-y: scroll;
		margin-bottom: 40px;
		scrollbar-width: thin;

		.title-numb-soal{
			font-family: $sans-regular;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			margin-bottom: 16px;
		}

		.list-numb-soal{
			display: flex;
			flex-wrap: wrap;
			margin: 0px -8px;

			.numb-soal{
				width: 32px;
				height: 32px;
				font-family: $sans-regular;
				font-size: 14px;
				font-weight: 400;
				line-height: 21px;
				color: #000;
				border: 1px solid #000000;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 5px;
				margin: 8px;
				transition: $trans-hover;

				&:hover{
					color: #fff;
					background-color: #002C22;
				}
			}

			.active{
				color: #fff;
				background-color: #002C22;
			}

			.done{
				color: #424242;
				background: linear-gradient(0deg, rgba(63, 185, 159, 0.4), rgba(63, 185, 159, 0.4)),
				linear-gradient(0deg, rgba(63, 185, 159, 0.2), rgba(63, 185, 159, 0.2));
				border: 1px solid #3FB99F66;
			}
		}
	}

	.wrap-list-numb-soal::-webkit-scrollbar-track
	{
		border-radius: 10px;
		background-color: #F5F5F5;
	}

	.wrap-list-numb-soal::-webkit-scrollbar
	{
		width: 8px;
		background-color: #EFEFEF;
	}

	.wrap-list-numb-soal::-webkit-scrollbar-thumb
	{
		border-radius: 10px;
		background-color: #A8A8A8;
	}
}

.wrap-soal-fixed{
	margin-top: 80px;
	padding-top: 34px;
}

// List Nilai
.head-nilai{
	width: 100%;
	padding: 42px;
	border-radius: 15px 15px 0px 0px;
	background-color: #3FB99F;

	font-family: $sans-regular;
	font-size: 32px;
	font-weight: 700;
	color: #fff;
	line-height: 28px;
	display: flex;
	justify-content: center;
	align-items: center;

	img{
		width: 32px;
		height: 32px;
		margin-right: 10px;
	}
}

.wrap-table{
	padding: 0px 24px;
}

.table-nilai{
	font-family: $sans-regular;
	text-align: center;
	width: 100%;
	border-collapse:collapse;
	border-bottom: 1px solid #EEEEEE;

	img{
		width: 61px;
		height: 61px;
		display: block;
		margin: auto;
	}

	td, th{
		padding: 16px 24px;
	}

	th{
		font-size: 20px;
		font-weight: 700;
		color: #3FB99F;
		line-height: 28px;
	}

	td{
		font-size: 16px;
		font-weight: 400;
		color: #202020;
		line-height: 28px;
	}

	tr:nth-child(even){
		background-color: #EEEEEE;
	}

	.rank{
		padding: 12px 24px;
	}
}

.pagination-nilai{
	display: flex;
	flex-wrap: wrap;
	padding-top: 32px;
	margin: 0px 0px 40px;

	.btn-pagination{
		font-family: $sans-regular;
		font-size: 16px;
		font-weight: 600;
		line-height: 24px;
		color: #3FB99F;
		border: 1px solid #3FB99F;
		padding: 8px 16px;
		border-radius: 50px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		transition: $trans-hover;

		i{
			font-size: 16px;
		}

		&:hover{
			background-color: $color-green;
			color: #fff;
		}
	}

	.btn-prev{
		i{
			margin-right: 13px;
		}
	}

	.btn-next{
		margin-left: auto;
		
		i{
			margin-left: 13px;
		}
	}

	.list-pagination{
		margin: 0px;
		padding: 0px;
		width: calc(100% - 305px);
		display: flex;
		justify-content: center;
		margin: auto;

		li{
			display: inline-block;
		}

		a{
			width: 28px;
			height: 28px;
			border-radius: 50px;
			display: flex;
			align-items: center;
			justify-content: center;

			font-family: $sans-regular;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			color: #000;
			margin: 0px 8px;
			transition: $trans-hover;

			&:hover{
				color: #fff;
				background: #3FB99F;
			}
		}

		.active{
			font-size: 19px;
			color: #fff;
			background: #3FB99F;
			position: relative;
		}
	}
}

.hasil-nilai{
	width: 584px;
	padding: 24px 36px 48px;
	border-radius: 10px;
	border: 1px solid #EDEDED;
	margin: auto;

	.list-hasil-nilai{
		padding: 12px 0px;
		border-bottom: 1px solid #EEEEEE;
		display: flex;
		flex-wrap: wrap;

		.title-hasil{
			font-family: $sans-regular;
			font-size: 16px;
			font-weight: 700;
			line-height: 24px;
		}

		.number-hasil{
			padding: 8px 16px;
			border-radius: 50px;
			background: linear-gradient(0deg, rgba(63, 185, 159, 0.2), rgba(63, 185, 159, 0.2));
			border: 1px solid #3FB99F;
			margin-left: auto;

			font-family: $sans-regular;
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
		}
	}
}

.btn-try{
	width: 182px;
	padding: 12px 24px;
	border-radius: 50px;
	background-color: $color-green;
	margin: 24px auto 32px;
	font-family: $sans-regular;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	display: block;
	line-height: 24px;
	text-align: center;
	transition: $trans-hover-btn;

	&:hover{
		box-shadow: inset 13em 0 0 0 $color-green-dark;
	}
}	

/* Result */
.warp-result{
	margin: 0px auto;
	padding: 24px 48px 24px 48px;
	border-radius: 15px;
	background: #4A71BF;
	box-shadow: 0px 1px 50px 0px #3061C3;

	.wrap-nav-head-result{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 15px;

		.logo{
			width: 216px;
			height: 28px;

			img{
				width: 216px;
				height: auto;
			}
		}

		.right-nav{
			width: calc(100% - 216px);
			display: flex;
			justify-content: right;
			align-items: center;

			.warp-nav-drop{
				position: relative;
			}

			.btn-login{
				padding: 8px 12px;
				border: 1px solid #fff;
				border-radius: 50px;
				background: #4A71BF;
				display: flex;
				width: max-content;
				height: max-content;
				align-items: center;
				transition: $trans-hover-btn;

				&:hover{
					border: 1px solid $color-green-dark;
					background-color: $color-green-dark;
				}

				.avatar{
					width: 36px;
					height: 36px;

					img{
						width: 36px;
						height: 36px;
						border-radius: 50px;
					}
				}

				.label-login{
					font-family: $sans-regular;
					font-size: 16px;
					font-weight: 700;
					line-height: 24px;
					color: #fff;
					margin-left: 10px;
					margin-right: 12px;
				}

				i{
					margin-left: 4px;
					margin-right: 20px;
					font-size: 13px;
					color: #fff;
				}
			}

			.nav-drop{
				position: absolute;
				top: 49px;
				right: 8px;
				z-index: 1;
				width: 221px;
				border-radius: 15px;
				background: #fff;
				display: none;

				.menu{
					display: block;
					font-family: $sans-regular;
					font-size: 16px;
					font-weight: 400;
					line-height: 24px;
					color: #000000;
					background: #fff;
					padding: 12px 24px;
					transition: $trans-hover;

					&:hover{
						background: #eee;
					}

					&:first-child{
						border-radius: 15px 15px 0px 0px;
					}

					&:last-child{
						border-radius: 0px 0px 15px 15px;
					}
				}
			}

			.nav-drop-show{
				display: block;
			}

			.btn-login-active{
				border: 1px solid $color-green-dark;
				background-color: $color-green-dark;
			}
		}
	}
}

.title-result{
	width: 100%;
	font-family: $sans-bold;
	font-size: 30px;
	font-weight: 700;
	color: #fff;
	line-height: 40px;
	text-align: center;
	margin-bottom: 32px;
}

.nilai-result{
	width: 100%;
	font-family: $sans-bold;
	font-size: 125px;
	font-weight: 700;
	color: #fff;
	line-height: 98px;
	text-align: center;
	margin-bottom: 30px;
}

.wrap-share-result{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	justify-content: center;

	.label-share{
		font-family: $sans-regular;
		font-size: 25px;
		font-weight: 400;
		color: #fff;
		margin-right: 16px;
	}

	.i-share{
		width: 44px;
		height: 44px;
		border: 4px solid #fff;
		border-radius: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0px 6px;
		transition: $trans-hover;

		i{
			color: #fff;
			font-size: 22px;
			transition: $trans-hover;
		}

		&:hover{
			background-color: $color-green;
			border: 4px solid $color-green-dark;
		}
	}
}

.message-result{
	width: 100%;
	font-family: $sans-regular;
	font-size: 18px;
	font-weight: 700;
	line-height: 12px;
	color: #fff;
	text-align: center;
	margin-bottom: 24px;
}

.wrap-btn-result{
	width: 100%;
	display: flex;
	flex-wrap: wrap;  
  	justify-content: center;
	margin-bottom: 20px;

	.btn-result{
		width: 182px;
		padding: 12px 24px;
		border-radius: 50px;
		background: #3FB99F;

		font-family: $sans-regular;
		font-size: 16px;
		font-weight: 700;
		line-height: 24px;
		color: #fff;
		text-align: center;
		transition: $trans-hover-btn;
		margin: 0px 14px;

		&:hover{
			box-shadow: inset 13em 0 0 0 $color-green-dark;
		}
	}
}

.btn-back{
	display: block;
	width: 182px;
	padding: 8px 24px;
	border-radius: 50px;
	border: 1px solid #FFFFFF;
	margin: auto;

	font-family: $sans-regular;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	color: #fff;
	text-align: center;
	transition: $trans-hover-btn;


	&:hover{
		box-shadow: inset 13em 0 0 0 $color-green-dark;
	}
}