// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px){
	.btn-m-nav{
		display: block;
	}

	.side-nav{
		display: block;
	}
	
	.wrap-content{
		width: 100%;
		padding: 0px 16px;
	}

	.content{
		padding: 0px;
		position: relative;

		.wrap-content{
			padding: 0px;
		}
	}

	.content-page{
		margin-top: 0px;
		padding: 88px 0px 27px 0px;
	}

	.wrap-page-result{
		height: max-content;
	}

	.wrap-content-result{
		width: 100%;
		padding: 0px;
		height: 100%;
	}

	.content-result{
		padding: 0px;
		height: 100%;
	}

	.content-page-result{
		display: block;
		margin-top: 0px;
		padding: 56px 0px 27px 0px;
		height: 100%;
	}

	.content-side{
		display: none;
	}

	.banner-ads{
		display: none;
	}

	.m-ads{
		display: flex;
		width: 300px;
		height: 250px;
	}

	.content-center{
		width: 100%;
		padding: 0px 16px;
		padding: 0px;
	}

	/* Head */
	.wrap-nav-head{
		width: 100%;
		height: auto;
		position: fixed;
		z-index: 80;
		border-radius: 0px 0px 20px 20px;
		box-shadow: 0px 1px 15px 0px #341BE066;

		.nav-head{
			padding: 16px 0px;

			.logo{
				width: 115px;
				height: 24px;

				img{
					width: 115px;
					height: auto;
				}
			}

			.logo-tokcer{
				display: none;
			}

			.right-nav{
				display: none;
			}

			.btn-m-nav{
				margin-left: auto;
				display: flex;
				position: relative;
				z-index: 1;

				img{
					width: 24px;
					height: 24px;
				}
			}
		}
	}

	.wrap-nav-head-mini{
		width: 100%;
		position: fixed;
		z-index: 80;
		border-radius: 0px 0px 20px 20px;
		box-shadow: 0px 1px 15px 0px #341BE066;
		padding: 16px;
		top: 0px;

		.logo{
			width: 115px;
			height: 24px;

			img{
				width: 115px;
				height: auto;
			}
		}

		.label-page{
			display: none;
		}

		.right-nav{
			display: none;
		}

		.btn-m-nav{
			margin-left: auto;
			display: flex;
			position: relative;
			z-index: 1;

			img{
				width: 24px;
				height: 24px;
			}
		}
	}

	/* Side Nav */
	.side-nav{
		position: fixed;
		top: 0;
		right: -270px;
		z-index: 99;
		width: 269px;
		height: 100%;
		background: #fff;
		border-radius: 15px 0px 0px 15px;
		padding: 25px 16px;
		transition: ease all 0.3s;

		.wrap-m-nav{
			margin-top: 0px;
			height: 100%;
			overflow-x: scroll;

			ul{
				padding: 0;
				margin: 0;
				list-style-type: none;
				text-align: center;

				li{
					margin-bottom: 16px;

					a{
						font-family: $sans-regular;
						font-style: normal;
						font-weight: 400;
						font-size: 14px;
						line-height: 19px;
						color: #000000;
						display: block;
						text-align: left;
					}

					.btn-login{
						padding: 8px 12px;
						border: 1px solid $color-green;
						border-radius: 50px;
						background-color: #fff;
						display: flex;
						width: 100%;
						height: max-content;
						align-items: center;
						transition: $trans-hover-btn;
						justify-content: left;

						&:hover{
							border: 1px solid $color-green-dark;
							background-color: $color-green;

							.label-login{
								color: #fff;
							}
						}

						.avatar{
							width: 20px;
							height: 20px;

							img{
								width: 20px;
								height: 20px;
								border-radius: 50px;
							}
						}

						.label-login{
							font-family: $sans-regular;
							font-size: 14px;
							font-weight: 700;
							line-height: 24px;
							color: $color-green;
							margin-left: 10px;
							margin-right: 12px;
						}

						i{
							margin-left: 4px;
							margin-right: 20px;
							font-size: 13px;
							color: #fff;
						}
					}

					&:last-child{
						margin-bottom: 0px;
					}
				}
			}

			.active{
				color: $color-green;
			}
		}
	}

	.side-nav-show{
		right: 0;
	}

	

	/* Home */
	.wrap-home-top{
		padding-top: calc(65px + 530px);
		height: auto;

		.logo-tokcer{
			display: block;
			
			img{
				width: 250px;
				height: auto;
				display: block;
				margin: auto;
			}
		}

		.wrap-desc{
			width: 100%;

			h1{
				font-size: 18px;
				line-height: 24px;
				margin-bottom: 12px;
			}

			h3{
				font-size: 12px;
				line-height: 15px;
				margin-bottom: 26px;
			}
		}

		.wrap-btn-home{
			padding-bottom: 30px;

			.btn-mulai-home{
				width: 100%;
				margin-bottom: 12px;

				&:hover{
					box-shadow: inset 25em 0 0 0 $color-green-dark;
				}
			}

			.wrap-share{
				width: 100%;
				margin-left: 0px;
				justify-content: center;

				.label-share{
					width: 100%;
					font-size: 12px;
					line-height: 24px;
					color: #fff;
					margin-right: 0px;
					margin-bottom: 8px;
					text-align: center;
				}

				.i-share{
					width: 40px;
					height: 40px;
				}
			}
		}
	}

	.wrap-home-bottom{
		position: absolute;
		top: calc(65px + 30px);
		background-color: #4A71BF;
		height: auto;

		.img-home{
			position: relative;
			width: 70%;
			right: 0;
			display: block;
			margin: auto;
		}

		.warp-more-info{
			position: absolute;
			bottom: 16px;
			right: 0;

			.btn-more-info{
				font-size: 14px;
				padding: 8px 16px;
				border: 2px solid #55C1AA;
				border-radius: 10px;
				left: -58px;
			}

			&:hover .btn-more-info{
				left: -67px;
			}

			img{
				width: 95px;
			}
		}
	}

	/* TOC */
	.head-toc{
		.tablink{
			padding: 16px 10px;
		}
	}

	.head-toc-fixed{
		position: relative;
		width: 100%;
	}

	.wrap-tabcontent{
		padding: 0px 24px 0px;

		.tabcontent{
			display: none;
		}

		.tab-show{
			display: block;
		}

		h1{
			font-size: 25px;
		}

		.desc-toc{
			font-size: 16px;
		}

	}

	.wrap-tabcontent-fixed{
		margin-top: 0px;
		padding-top: 0px;
	}

	.btn-mulai{
		width: 254px;
	}

	// List Nilai
	.head-nilai{
		padding: 16px;
		font-size: 20px;

		img{
			width: 24px;
			height: 24px;
			margin-right: 8px;
		}
	}

	.wrap-table{
		padding: 0px;
	}

	.wrap-table-nilai{
		width: 100%;
		overflow-x: scroll;

		.table-nilai{
			width: 100%;
		}
	}

	.wrap-table-rank{
		width: 100%;
		overflow-x: scroll;

		.table-nilai{
			width: 100%;
		}
	}

	.table-nilai{
		img{
			width: 45px;
			height: 45px;
		}

		td, th{
			padding: 12px 16px;
		}

		th{
			font-size: 16px;
			line-height: 24px;
		}

		td{
			font-size: 14px;
			line-height: 24px;
		}

		tr:nth-child(even){
			background-color: #EEEEEE;
		}

		.rank{
			padding: 12px 24px;
		}
	}

	.pagination-nilai{
		display: flex;
		flex-wrap: wrap;
		padding-top: 32px;
		margin: 0px 0px 40px;

		.btn-prev{
			display: none;
		}

		.btn-next{
			display: none;
		}
	}

	.hasil-nilai{
		width: 90%;
		padding: 16px;

		.list-hasil-nilai{
			.title-hasil{
				font-size: 14px;
			}

			.number-hasil{
				padding: 6px 12px;
				font-size: 14px;
			}
		}
	}

	.btn-try{
		width: 182px;
		padding: 12px 24px;
		border-radius: 50px;
		background-color: $color-green;
		margin: 24px auto 32px;
		font-family: $sans-regular;
		font-size: 16px;
		font-weight: 700;
		color: #fff;
		display: block;
		line-height: 24px;
		text-align: center;
		transition: $trans-hover-btn;

		&:hover{
			box-shadow: inset 13em 0 0 0 $color-green-dark;
		}
	}

	/* Soal */
	.head-page{
		padding: 16px;
	}

	.head-page-fixed{
		width: 100%;
		top: 56px;
	}

	.wrap-soal{
		margin-top: 16px;
		padding: 0px 16px;

		.kategori{
			font-size: 22px;
			margin-bottom: 30px;
		}
	}

	.wrap-soal-fixed{
		margin-top: 50px;
		padding-top: 34px;
	}

	/* Result */
	.warp-result{
		margin: 0;
		padding: 0px;
		box-shadow: none;
		height: 100%;

		.wrap-nav-head-result{
			width: 100%;
			position: fixed;
			z-index: 80;
			border-radius: 0px 0px 20px 20px;
			box-shadow: 0px 1px 15px 0px #341BE066;
			padding: 16px;
			margin-bottom: 0px;
			background-color: #4A71BF;

			.logo{
				width: 115px;
				height: 24px;

				img{
					width: 115px;
					height: auto;
				}
			}

			.label-page{
				display: none;
			}

			.right-nav{
				display: none;
			}

			.btn-m-nav{
				margin-left: auto;
				display: flex;
				position: relative;
				z-index: 1;

				img{
					width: 24px;
					height: 24px;
				}
			}
		}
	}
	

	.title-result{
		font-size: 25px;
		line-height: 32px;
		padding: 0px 16px;
		margin-top: 24px;
	}

	.nilai-result{
		font-size: 140px;
		line-height: 100px;
		padding: 0px 16px;
	}

	.wrap-share-result{
		width: 100%;
		margin-left: 0px;
		justify-content: center;
		padding: 0px 16px;

		.label-share{
			width: 100%;
			font-size: 12px;
			line-height: 24px;
			color: #fff;
			margin-right: 0px;
			margin-bottom: 8px;
			text-align: center;
		}

		.i-share{
			width: 40px;
			height: 40px;
		}
	}

	.message-result{
		font-size: 20px;
		line-height: 29px;
		padding: 0px 16px;
	}

	.wrap-btn-result{
		padding: 0px 16px;

		.btn-result{
			width: 45%;
			font-size: 14px;
			margin: 0px 8px
		}
	}

	.btn-back{
		width: 50%;
	}

	/* Nav Open */
	.navside-open{
		.wrap-nav-head, .wrap-nav-head-result{
			-webkit-filter: blur(2px);
			-moz-filter: blur(2px);
			-o-filter: blur(2px);
			-ms-filter: blur(2px);
			filter: blur(2px);
			transition: ease all 0.4s;
			box-shadow: 0px 1px 15px 0px #341BE066;

			&:after{
				content: "";
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.4);
				transition: ease all 0.4s;
				z-index: 81;
				border-radius: 0px 0px 20px 20px;
			}
		}

		.content-page, .content-page-result, .wrap-page-content, footer{
			filter: blur(2px);
			transition: ease all 0.4s;
			position: relative;

			&:after{
				content: "";
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.4);
				transition: ease all 0.4s;
				z-index: 81;
			}
		}

		.wrap-page{
			// filter: blur(2px);
			// transition: ease all 0.4s;
			// position: relative;

			&:after{
				content: "";
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.4);
				transition: ease all 0.4s;
				z-index: 81;
			}
		}
	}

	/* Footer */
	footer{
		background: 
			url("../images/bg-footer.png"),
			#3FB99F;
		padding: 12px 0px;
		height: auto;

		.wrap-sponsor{
			background: none;
			box-shadow: none;
			border: 0px;
			border-radius: 0px;
			padding: 12px;


			.label-title{
				font-size: 16px;
				line-height: 19px;
			}

			.wrap-list-sponsor{
				.sponsor{
					width: 110px;
					height: 62px;
					margin: 4px;
				}

				.none-sponsor{
					font-size: 12px;
				}
			}

			.copy{
				font-size: 14px;
			}
		}
	}
}