@import "global";

.top-footer{
	background-color: #434db6;
	padding: 14px 0px;
	border-top: 10px solid $color-secondary;
}

.warp-footer{
	display: flex;
	flex-wrap: wrap;
}

.logo-footer{
	width: 15%;

	img{
		width: 100px;
		height: auto;
	}
}

.contact-footer{
	width: 50%;
	padding: 15px 0px 15px 30px;
	font-family: $poppins-regular;
	font-size: 16px;
	color: #fff;

	img{
		width: 22px;
		height: 22px;
		margin-right: 10px;
		position: absolute;
		top: 2px;
		left: 0px;
	}

	ul{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}

	li{
		display: inline-block;
		margin-right: 40px;
		position: relative;
		padding-left: 30px;

		&:last-child{
			margin-right: 0px;
		}
	}
}

.social-footer{
	width: 35%;
	padding: 15px 0px;
	text-align: right;

	ul{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}

	li{
		display: inline-block;
		margin-right: 25px;

		&:last-child{
			margin-right: 0px;
		}
	}

	a{
		font-size: 18px;
		color: #434db6;
		background-color: #fff;
		border-radius: 50px;
		transition: $trans-hover;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover, &:focus{
			background-color: $color-secondary;
			color: #fff;
		}
	}
}

.copy{
	background-color: #3a43a0;
	padding: 8px 0px;
	text-align: center;
	font-family: $poppins-regular;
	font-size: 12px;
	color: #fff;
}