$color-primary: #434db6;
$color-secondary: #ff56a5;
$color-trinary: #3a43a0;

$color-caption: #2f2f2f;
$color-menu-hover: #ff56a5;
$color-menu: #fff;
$color-border: rgba(85, 85, 85, 0.25);

$trans-hover: ease all 0.4s;

@font-face {
    font-family: Poppins-regular;
    src: url('../fonts/poppins/Poppins-regular.ttf');
}

@font-face {
    font-family: Poppins-bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-semi;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: Poppins-bold-italic;
    src: url('../fonts/poppins/Poppins-BoldItalic.ttf');
}

@font-face {
    font-family: Poppins-med-italic;
    src: url('../fonts/poppins/Poppins-MediumItalic.ttf');
}

$poppins-regular: "Poppins-regular", Arial, Tahoma;
$poppins-bold: "Poppins-bold", Arial, Tahomaa;
$poppins-semi: "Poppins-semi", Arial, Tahoma;
$poppins-bold-italic: "Poppins-bold-italic", Arial, Tahoma;
$poppins-med-italic: "Poppins-med-italic", Arial, Tahoma;

$color-fb: #1877f2;
$color-tw: #1da1f2;
$color-ig: #f00073;
$color-yt: #ff0000;

html, body{
    height: 100%;
    margin: 0;
}

body{
    font-family: "Poppins-regular", Arial, Tahoma !important;
    line-height: 1.5;
    scroll-behavior: smooth;
    background-color: #fff !important;
    background-image: none !important;
}

a{
    text-decoration: none !important;

    &:hover, &:focus{
        text-decoration: none !important;
    }
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 0px;
}

.content-row{
    display: flex;
    flex-wrap: wrap;
}

.content-clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content-left{
    float: left;
}

.content-right{
    float: right;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

*, ::before, ::after{
    box-sizing: border-box;
}