@import 'global';

nav{
	position: fixed;
	top: 0;
	left: 0;
	background-color: $color-primary;
	padding: 20px 15px 12px;
	width: 100%;
	text-align: right;
	border-radius: 0px 0px 40px 40px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
	z-index: 99;

	ul{
		list-style-type: none;
		padding: 0px 70px 0px 0px;
		margin: 0px;
	}

	li{
		position: relative;
		display: inline-block;
		margin-right: 32px;
		padding-bottom: 13px;

		.g-signin-menu{
			position: relative;
			width: 120px;

			.g-signin2{
				position: absolute;
				top: -9px;
			}
		}
	}

	a{
		font-family: $poppins-semi;
		font-size: 16px;
		color: #fff;
		transition: $trans-hover;

		&:before{
			content: "";
			position: absolute;
			border-bottom: 3px solid $color-secondary;
			width: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			margin: auto;
			transition: $trans-hover;
		}

		&:hover, &:focus{
			color: $color-secondary;

			&:before{
				width: 20px;
			}
		}
	}

	a.active{
		color: $color-secondary;

		&:before{
			content: "";
			position: absolute;
			border-bottom: 3px solid $color-secondary;
			width: 20px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			margin: auto;
		}
	}

	.avatar{
		padding-bottom: 0px !important;
		position: relative;
		display: inline-block;
		width: 70px;
		cursor: pointer;

		.img-avatar{
			position: absolute;
			top: -19px;
			left: 0px;

			img{
				width: 28px;
				height: 28px;
				border-radius: 50%;
				margin-right: 10px;
			}

			i{
				position: absolute;
				top: 8px;
				color: #fff;
				font-size: 12px;
			}
		}

		a{
			display: none;
			position: absolute;
			top: 18px;
			left: -51px;
			font-family: $poppins-regular;
			font-size: 14px;
			color: #fff;
			padding: 12px 24px;
			border-radius: 5px;
			background-color: $color-secondary;
			width: 108px;
			text-align: center;

			&:hover, &:focus{
				color: #fff;
			}
		}
	}
}

.ic-expand{
	margin-left: 5px;
}

.parent-nav-desktop{
	position: relative;
}

.child-nav-desktop{
	display: none;
	position: absolute;
	top: 45px;
	left: 0px;
	list-style-type :none;
	padding: 0px 20px 0px 20px;
	margin: 0px;
	background-color: #fff;
	border-radius: 5px;
	text-align: left;
	width: max-content;
	box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);

	li{
		margin-right: 0px !important;
		display: inline;

		a{
			padding: 16px 0px 16px 0px;
			font-family: $poppins-regular;
			font-size: 16px;
			color: $color-caption;
			display: block;
		    background-color: #fff;
		    border-bottom: 2px dotted #e6e3e3;

		    &:before{
				border-bottom: 0px;
				transition: $trans-hover;
			}

			&:hover, &:focus{
				color: $color-secondary;

				&:before{
					width: 0px;
				}
			}
		}

		&:last-child{
			a{
				border-bottom: 0px
			}
		}
	}
}