@import 'global';

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	.desktop{
		display: none !important;
	}

	.mobile{
		display: block !important;
	}

	.container{
		width: 100% !important;
	    max-width: 100% !important;
	    padding: 0px 15px !important;
	    margin: auto;
	}

	.warp-header{
		position: fixed;
		z-index: 97;
		top: 0;
		width: 100%;
		background-color: $color-primary;
		border-radius: 0px 0px 20px 20px;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
	}

	// Popup
	.popup-msg{
		display: none;
		position: fixed;
		z-index: 99;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0,0,0,0.4);
		transition: all ease .2s;
	}

	.popup-msg-content{
		width: 90%;
		background-color: #ffffff;
		margin: 10% auto;
		padding: 24px;
		border-radius: 6px;
		color: #989898;
		position: relative;

		p{
			font-family: $poppins-regular;
			font-size: 16px;
			color: $color-caption;
			text-align: center;
		}

		.sukses{
			color: #8ad554;
		}

		.gagal{
			color: #cc0000;
		}
	}

	p.popup-msg-title{
		font-family: $poppins-semi;
		font-size: 20px;
		text-align: center;
		margin-bottom: 12px;
	}

	.i-tutup{
		position: absolute;
		top: 10px;
		right: 10px;
		width: 25px;
		cursor: pointer;
	}

	.i-sukses, .i-gagal{
		width: 66px;
		margin: auto;
		display: block;
		margin-bottom: 16px;
	}

	// End Popup

	// Logo Head
	.logo-head{
		width: 50%;
		padding: 11px 0px 0px 12px;

		img{
			display: none;
			width: 42px;
			height: 37px;
		}
	}

	.logo-head-scroll{
		width: 50%;
		padding: 11px 0px 0px 15px;

		img{
			display: block;
			width: 42px;
			height: 37px;
		}
	}

	// Nav Icon
	.nav-icon {
		width: 50%;
		padding: 10px 10px 10px 0px;
		text-align: right;

		i{
			font-size: 30px;
			padding: 5px 5px 5px 5px;
			color: #fff;
			cursor: pointer;
		}
	}

	.ico-drop-nav{
		padding-left: 5%;
	}
	
	.bar1, .bar2, .bar3 {
		height: 3px;
		background-color: #fff;
		margin: 5px 0;
		transition: 0.4s;
		border-radius: 2px;
	}

	.bar1{
		width: 22px;
	}

	.bar2{
		width: 22px;
	}

	.bar3{
		width: 22px;
	}

	.change .bar1 {
		width: 25px;
		-webkit-transform: rotate(-45deg) translate(-5px, 5px);
		transform: rotate(-45deg) translate(-5px, 5px);
	}

	.change .bar2 {
		opacity: 0;
	}

	.change .bar3 {
		width: 25px;
		-webkit-transform: rotate(45deg) translate(-6px, -6px);
		transform: rotate(45deg) translate(-6px, -6px);
	}

	// Nav Slide
	.nav-slide{
		position: fixed;
		top: 0px;
		right: -400px;
		// right: 0px;
		background-color: #fff;
		width: 75%;
		height: 100%;
		z-index: 99;
		border-radius: 20px 0px 0px 20px;
		transition: all .5s ease-in-out;
	}

	.nav-slide-head{
		background-color: $color-primary;
		padding: 8px 24px;
		display: flex;
		border-radius: 20px 0px 0px 0px;
		flex-wrap: wrap;
	}

	.img-logo-menu{
		width: 50%;
		padding: 3px 0px 0px;

		img{
			width: 44px;
			height: 40px;
		}
	}

	.close-nav{
		width: 50%;
		padding: 2px 0px 2px;
		text-align: right;

		i{
			font-size: 30px;
			padding: 5px 5px 5px 5px;
			color: #fff;
			cursor: pointer;
		}
	}

	.nav-slide-primary{
		padding: 15px 24px 90px;
		border-radius: 0px 0px 0px 30px;
		height: 100%;		
		overflow-y: scroll;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		.parent{
			position: relative;

			img{
				width: 28px;
				height: 28px;
				border-radius: 50%;
				margin-right: 10px;
			}
		}

		.expand-nav::after{
			position: absolute;
			right: 0px;
			top: 0px;
			padding: 15px 5px 15px 5px;
			content: "\f078";
			font-family: "Font Awesome\ 5 Free";
			font-size: 16px;
			font-weight:900;
			color: $color-caption;
			transition: 0.2s;
			cursor: pointer;
		}

		.expand-nav.buka::after{
			transform: rotate(180deg) translate(0px, 0px);
			padding: 15px 5px 15px 5px;
		}

		.parent a{
			font-family: $poppins-semi;
			font-size: 16px;
			display: block;
			padding: 15px 0px 15px 0px;
			color: $color-caption;
			background-color: #fff;
		}

		.parent{
			.g-signin2{
				padding: 15px 0px 15px 0px;
			}
		}

		a.parent-home{
			display: block;
			padding: 20px 0px 10px 25px;
			color: $color-caption;
			background-color: #fff;
		}

		a:hover{
			text-decoration: none;
			color: $color-caption;
		}

		a:focus{
			color: $color-caption;
			text-decoration: none;
		}

		.child-nav {
		    display: none;
		    margin-bottom: 8px;
		}
		
		.child-nav a {
			padding: 16px 0px 16px 0px;
			font-family: $poppins-regular;
			font-size: 16px;
			color: $color-caption;
			position: relative;
			display: block;
		    background-color: #fff;
		    border-bottom: 2px dotted #e6e3e3;
		}
	}

	.hide-body{
		position: fixed;
		top: 0;
		height: 100%;
		z-index: 98;
		left: 0;
		background-color: rgba(0,0,0,0);
	}

	.block-body{
		width: 100%;
		background-color: rgba(0,0,0,0.8);
		animation: fadein 1s;
		-moz-animation: fadein 1s; /* Firefox */
		-webkit-animation: fadein 1s; /* Safari and Chrome */
		-o-animation: fadein 1s; /* Opera */
	}

	@keyframes fadein {
	    from {
	        opacity:0;
	    }
	    to {
	        opacity:1;
	    }
	}
	@-moz-keyframes fadein { /* Firefox */
	    from {
	        opacity:0;
	    }
	    to {
	        opacity:1;
	    }
	}
	@-webkit-keyframes fadein { /* Safari and Chrome */
	    from {
	        opacity:0;
	    }
	    to {
	        opacity:1;
	    }
	}
	@-o-keyframes fadein { /* Opera */
	    from {
	        opacity:0;
	    }
	    to {
	        opacity: 1;
	    }
	}


	.tentang{
		background: $color-primary;
		background-image: 
			url(../images/ornamen/tentang/top-left.svg),
			url(../images/ornamen/tentang/bottom-left.svg),
			url(../images/ornamen/tentang/top-right.svg);
	  	background-position: 
	  		top left,
	  		bottom left,
	  		90% 22%;
	  	background-size:
	  		154px, 
	  		131px, 
	  		300px;
	  	background-repeat: no-repeat;
		padding: 90px 0px 32px;
		position: relative;
	}

	.tag-awards{
		position: absolute;
		right: -112px;
		top: 135px;
		background-color: #ad4dbf;
		padding: 5px 50px 5px 20px;
		border-radius: 20px 0px 0px 0px;
		color: #fff;
		font-family: "Poppins-med-italic",Arial,Tahoma;
		font-size: 12px;
		transform: rotate(-90deg);
		transition: ease all 0.4s;

		img{
			width: 12px;
			height: 12px;
		}

		&:hover{
			background-color: $color-secondary;
		}
	}

	.left-tentang{
		width: 100%;
	}

	.logo-dia-tentang{
		width: 90%;
		height: auto;
	}

	.title-commirg-soon{
		font-family: $poppins-bold-italic;
		font-size: 20px;
		color: $color-secondary;
		margin-top: 12px;
	}

	.detail-tentang{
		font-family: $poppins-regular;
		font-size: 16px;
		color: #fff;
		margin-top: 16px;

		span{
			font-family: $poppins-bold;
			font-size: 18px;
		}
	}

	.timeline{
		background: $color-trinary;
		background-image: 
			url(../images/ornamen/timeline/top-left.svg),
			url(../images/ornamen/timeline/top-2-left.svg),
			url(../images/ornamen/timeline/top-right.svg),
			url(../images/ornamen/timeline/bottom-right.svg);
	  	background-position: 
	  		top left, 
	  		12% 8%, 
	  		top right, 
	  		97% 97%;
	  	background-size:
	  		133px, 
	  		40px, 
	  		119px, 
	  		67px;
	  	background-repeat: no-repeat;
		padding: 32px 0px;
	}

	.title-timeline{
		font-family: $poppins-bold;
		font-size: 24px;
		color: #fff;
		text-align: center;
	}

	.warp-timeline{
		display: flex;
		flex-wrap: wrap;
	}

	.col-timeline{
		width: 100%;
		margin-top: 26px;

		img{
			width: 100px;
			height: 100px;
			margin: auto;
			display: block;
		}
	}

	.date-timeline{
		font-family: $poppins-regular;
		font-size: 16px;
		color: #fff;
		text-align: center;
		margin-top: 15px;
	}

	.desc-timeline{
		font-family: $poppins-bold;
		font-size: 16px;
		color: #fff;
		text-align: center;
		margin-top: 8px;
	}

	.kategori{
		background: #fff;
		background-image: 
			url(../images/ornamen/kategori/top-left.svg),
			url(../images/ornamen/kategori/mid-right.svg),
			url(../images/ornamen/kategori/mid-left.svg),
			url(../images/ornamen/kategori/mid-2-right.svg),
			url(../images/ornamen/kategori/mid-2-left.svg);
	  	background-size:
	  		55px, 
	  		51px, 
	  		67px, 
	  		74px, 
	  		119px;
	  	background-repeat: no-repeat;
		padding: 32px 0px -30px;
	}

	.kategori-t-1{
	  	background-position: 
	  		8% 2%, 96% 27%, 9% 48%, 98% 69%, 10% 91%;
	}

	.kategori-t-2{
	  	background-position: 
	  		8% 1%, 96% 22%, 9% 42%, 98% 62%, 10% 82%;
	}

	.kategori-t-3{
	  	background-position: 
	  		8% 1%, 96% 23%, 9% 44%, 98% 64%, 10% 83%;
	}

	.warp-kategori{
		margin-bottom: 60px;
	}

	.logo-kategori{
		width: 100%;

		img{
			width: 205px;
			height: 200px;
		}
	}

	.warp-desc-kategori{
		width: 100%;
		margin-top: 16px;
	}

	.title-kategori{
		font-family: $poppins-semi;
		font-size: 28px;
		color: $color-caption;
	}

	.desc-kategori{
		font-family: $poppins-regular;
		font-size: 16px;
		color: $color-caption;
		margin-top: 16px;
	}

	.warp-list-aplikasi{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		margin-top: 16px;
	}

	.list-aplikasi{
		width: 50%;
		text-align: center;
		padding: 15px;
		margin-bottom: 20px;
		background-color: #fff;

		a:hover .title-aplikasi{
			color: $color-primary;
		}

		a:hover .desc-aplikasi{
			color: $color-secondary;
		}
	}

	.list-win-aplikasi{
		width: 50% !important;
	}

	.last-aplikasi{
		width: 50% !important;
	}

	.one-last-aplikasi{
		width: 100% !important;
	}

	.last-aplikasi-left{
		padding-left: 0%;
		padding-right: 0px !important;
	}

	.last-aplikasi-right{
		padding-right: 0%;
		padding-left: 0px !important;
	}

	.logo-aplikasi{
		width: 100%;

		img{
			width: 120px;
			height: 120px;
			margin: auto;
			display: block;
		}
	}

	.title-aplikasi{
		font-family: $poppins-bold;
		font-size: 14px;
		color: $color-caption;
		margin-top: 24px;
		transition: $trans-hover;
	}

	.desc-aplikasi{
		font-family: $poppins-regular;
		font-size: 12px;
		color: #000;
		margin-top: 12px;
		transition: $trans-hover;
	}

	.submit{
		background: #f9f8f8;
		background-image: 
			url(../images/ornamen/submit/left.svg),
			url(../images/ornamen/submit/right.svg),;
	  	background-position: 
	  		bottom left, 
	  		top right;
	  	background-size: 
	  		120px,
	  		150px;
	  	background-repeat: no-repeat;
		padding: 100px 0px 130px;
		text-align: center;
	}

	.title-submit{
		font-family: $poppins-semi;
		font-size: 32px;
		color: $color-caption;
	}

	.desc-submit{
		font-family: $poppins-regular;
		font-size: 16px;
		color: $color-caption;
		margin-top: 16px;
	}

	.btn-submit{
		margin: 50px 0px 0px;

		a{
			background-color: $color-secondary;
			font-family: $poppins-bold;
			font-size: 20px;
			color: #fff;
			padding: 12px 32px;
			border: 2px solid $color-secondary;
			border-radius: 10px;
			transition: $trans-hover;

			&:hover, &:focus{
				color: $color-secondary;
				background-color: #fff;
				border: 2px solid $color-secondary;
			}
		}
	}

	.juri{
		background: #ffffff;
		background-image: 
			url(../images/ornamen/juri/top-left.svg),
			url(../images/ornamen/juri/bottom-right.svg);
	  	background-position: 
	  		0% 2%,
	  		100% 95%;
	  	background-size: 
	  		80px, 
	  		80px;
	  	background-repeat: no-repeat;
		padding: 32px 0px;
	}

	.juri-t2-t3{
		background: #f9f8f8;
		background-image: 
			url(../images/ornamen/juri/top-left.svg),
			url(../images/ornamen/juri/bottom-right.svg);
	  	background-position: 
	  		0% 10%, 
	  		100% 88%;
	  	background-size: 
	  		120px, 
	  		120px;
	  	background-repeat: no-repeat;
		padding: 60px 0px;
	}

	.warp-juri{
		display: flex;
		flex-wrap: wrap;
	}

	.warp-desc-juri{
		width: 100%;
		margin: 0px auto 25px;
	}

	.title-section-juri{
		font-family: $poppins-semi;
		font-size: 32px;
		color: $color-caption;
	}

	.desc-section-juri{
		font-family: $poppins-regular;
		font-size: 16px;
		color: $color-caption;
		margin-top: 16px;
	}

	.list-juri{
		width: 50%;
		padding: 0px 15px;
		text-align: center;
		margin-bottom: 32px;

		img{
			width: 100%;
			height: auto;
			margin: auto;
			display: block;
		}
	}

	.nama-juri{
		font-family: $poppins-bold;
		font-size: 18px;
		color: $color-caption;
		margin-top: 16px;
	}

	.profile-juri{
		font-family: $poppins-regular;
		font-size: 16px;
		color: $color-caption;
		margin-top: 16px;
	}

	.sponsor{
		background: #fff;
		padding: 32px 0px;

		img{
			width: 100%;
		}
	}

	.title-sponsor{
		font-family: $poppins-bold;
		font-size: 18px;
		color: #2f2f2f;
		text-align: center;
	}

	.warp-sponsor{
		display: flex;
		flex-wrap: wrap;
		margin-top: 27px	
	}

	.list-sponsor{
		width: 50%;
		padding: 0px 10px;
		text-align: center;
		margin-bottom: 27px;

		img{
			width: 148px;
			height: auto;
			display: block;
			margin: auto;
		}
	}

	.nama-sponsor{
		font-family: $poppins-bold;
		font-size: 16px;
		color: #fff;
		text-align: center;
		margin-top: 12px;
	}

	.media-partner{
		background: #F9F8F8;
		padding: 32px 0px;
	}

	.media-partner-t2-t3{
		background: #ffff;
		padding: 32px 0px;
	}

	.warp-media-partner{
		display: flex;
		flex-wrap: wrap;
	}

	.img-media-partner{
		width: 50%;
		margin-bottom: 40px;

		img{
			display: block;
			margin: auto;
		}

		.okezone{
			width: 137px;
		}

		.sindonews{
			width: 160px;
		}

		.inews{
			width: 89px;
		}

		.koransindo{
			width: 166px;
		}

		.celebrities{
			width: 130px;
		}

		.sportstars{
			width: 163px;
		}

		.highend{
			width: 126px;
		}

		.idx{
			width: 77px;
		}

		.inews-tv{
			width: 77px;
		}

		.mnc-radio{
			width: 100px;
		}
	}

	.title-media{
		font-family: $poppins-bold;
		font-size: 18px;
		color: $color-caption;
		text-align: center;
		margin-bottom: 24px;
	}

	//
	
	.header-detail-apps{
		background-color: $color-primary;
		padding: 24px 0px;
		border-radius: 0px 0px 50px 0px;
	}

	.back-home{
		width: 100%;
		display: block;

		a{
			font-family: $poppins-semi;
			font-size: 14px;
			color: #fff;

			&:hover, &:focus{
				color: #fff;
			}

			i{
				margin-right: 5px;;
			}
		}
	}

	.warp-kategori-detail-apps{
		margin-top: 36px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}

	.winner-title{
		width: 100%;
		font-family: $poppins-semi;
		font-size: 20px;
		color: #fff;
		margin-bottom: 8px;
	}

	.title-kategori-detail-apps{
		width: 80%;
		font-family: $poppins-semi;
		font-size: 26px;
		color: #fff;
	}

	.img-kategori-detail-apps{
		width: 20%;

		img{
			width: 123px;
			height: auto;
			position: absolute;
			right: 0px;
			bottom: -57px;
		}
	}

	.detail-apps{
		background-color: #fff;
		padding: 48px 0px;
	}

	.logo-detail-apps{
		width: 100%;

		img{
			width: 180px;
			height: 180px;
			display: block;
			margin: auto;
		}
	}

	.warp-desc-detail-apps{
		width: 100%;
		margin-top: 30px;
	}

	.title-detail-apps{
		font-family: $poppins-semi;
		font-size: 24px;
	}

	.desc-detail-apps{
		font-family: $poppins-semi;
		font-size: 16px;
		margin-top: 16px;
	}

	.desc-full-detail-apps{
		font-family: $poppins-regular;
		font-size: 14px;
		margin-top: 16px;
	}

	#more {
		display: none;
	}

	.read-more, .hide-more{
		font-family: $poppins-regular;
		font-size: 14px;
		margin-top: 16px;
		color: #bdbdbd !important;
		border: 0px;
		background-color: #fff;
		padding: 0px;
	}

	.hide-more{
		display: none;
	}

	.warp-download-detail-apps{
		margin-top: 30px;

		img{
			width: 48%;
			height: auto;
			padding: 0px 5px
		}
	}

	.warp-link-detail-apps{
		width: 100%;
		margin-top: 36px;
		display: flex;

		img{
			width: 30px;
			height: 30px;
		}

		a{
			font-family: $poppins-semi;
			font-size: 14px;
			color: $color-caption;
			transition: $trans-hover;
			width: 85%;
			padding-left: 10px;
			white-space: pre-wrap; /* CSS3 */    
		    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
		    white-space: -pre-wrap; /* Opera 4-6 */    
		    white-space: -o-pre-wrap; /* Opera 7 */    
		    word-wrap: break-word; /* Internet Explorer 5.5+ */

			&:hover, &focus{
				color: $color-secondary;
			}
		}
	}

	.swiper-slide{
		width: 100% !important;
	}

	
	.swiper-button-next, .swiper-button-prev{
		display: none !important;
	}

	.img-preview-apps{
		padding: 36px 16px;
		width: 100%;
		height: 535px;
		background-color: #2f2f2f;
		display: flex;
		vertical-align: middle;

		img{
			width: 257px;
			max-height: 460px;
			margin: auto;
			display: block;
		}

		iframe{
			width: 100%;
			height: 280px;
			margin: auto;
		}
	}

	.img-preview-web{
		padding: 16px 16px;
		width: 100%;
		height: 350px;
		background-color: #2f2f2f;
		display: flex;
		vertical-align: middle;

		img{
			width: 100%;
			margin: auto;
			display: block;
		}

		iframe{
			width: 100%;
			height: 280px;
			margin: auto;
		}
	}

	.vote-apps{
		padding: 60px 0px 80px;
	}

	.title-vote-apps{
		font-family: $poppins-semi;
		font-size: 32px;
		text-align: center;
	}

	.btn-vote{
		text-align: center;
		margin-top: 30px;

		button{
			font-family: $poppins-semi;
			font-size: 24px;
			padding: 8px 30px;
			background-color: $color-secondary;
			border: 2px solid $color-secondary;
			color: #fff;
			transition: $trans-hover;
			border-radius: 10px;
			cursor: pointer;

			&:hover, &:focus{
				background-color: #fff;
				border: 2px solid $color-secondary;
				color: $color-secondary;
				border-radius: 0px;
			}
		}
	}

	.share-apps{
		text-align: center;
		margin-top: 32px;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li{
			display: inline-block;
			margin-right: 0px;

			&:last-child{
				margin-right: 0px;
			}

			img{
				width: 55px;
				height: 55px;
				transition: $trans-hover;
				padding: 0px 5px;

				&:hover{
					width: 55px;
					height: 55px;
					margin: 0px 0px;
				}
			}

			a{
				font-family: $poppins-regular;
				font-size: 18px;
				color: $color-caption;

				&:hover{
					color: $color-caption;
				}
			}
		}
	}

	.title-share{
		width: 100%;
		margin-bottom: 24px;
	}

	.nominator-lain{
		padding: 0px 0px 120px;
	}

	.title-nominator-lain{
		font-family: $poppins-regular;
		font-size: 16px;
		font-weight: bold;
		color: $color-caption;
	}

	//

	.top-footer{
		background-color: #434db6;
		padding: 32px 0px;
		border-top: 10px solid $color-secondary;
	}

	.warp-footer{
		display: flex;
		flex-wrap: wrap;
	}

	.logo-footer{
		width: 100%;
		margin-bottom: 32px;

		img{
			width: 74px;
			height: auto;
		}
	}

	.contact-footer{
		width: 100%;
		padding: 0px 0px 0px 0px;
		font-family: $poppins-regular;
		font-size: 16px;
		color: #fff;
		margin-bottom: 32px;

		img{
			width: 22px;
			height: 22px;
			margin-right: 10px;
			position: absolute;
			top: 2px;
			left: 0px;
		}

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li{
			display: block;
			margin-right: 0px;
			position: relative;
			padding-left: 30px;
			margin-bottom: 16px;

			&:last-child{
				margin-right: 0px;
			}
		}
	}

	.social-footer{
		width: 100%;
		padding: 0px 0px;
		text-align: left;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li{
			display: inline-block;
			margin-right: 25px;

			&:last-child{
				margin-right: 0px;
			}
		}

		a{
			font-size: 18px;
			color: #434db6 !important;
			background-color: #fff !important;
			border-radius: 50px;
			transition: $trans-hover;
			width: 40px;
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover, &:focus{
				background-color: $color-secondary !important;
				color: #fff !important;
			}
		}
	}

	.copy{
		background-color: #3a43a0;
		padding: 8px 0px;
		text-align: center;
		font-family: $poppins-regular;
		font-size: 12px;
		color: #fff;
	}
}