@import 'global';

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px){
	.desktop{
		display: block !important;
	}

	.mobile{
		display: none !important;
	}

	.container{
	    width: 100% !important;
	    max-width: 100% !important;
	    padding: 0px 15px !important;
	    margin: auto;
	}

	nav{
		position: fixed;
		top: 0;
		left: 0;
		background-color: $color-primary;
		padding: 20px 15px 12px;
		width: 100%;
		text-align: center;
		border-radius: 0px 0px 40px 40px;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
		z-index: 99;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li{
			position: relative;
			display: inline-block;
			margin-right: 10px;
			padding-bottom: 13px;
		}

		a{
			font-family: $poppins-semi;
			font-size: 14px;
			color: #fff;
			transition: $trans-hover;

			&:before{
				content: "";
				position: absolute;
				border-bottom: 3px solid $color-secondary;
				width: 0px;
				bottom: 0px;
				left: 0px;
				right: 0px;
				margin: auto;
				transition: $trans-hover;
			}

			&:hover, &:focus{
				color: $color-secondary;

				&:before{
					width: 20px;
				}
			}
		}

		a.active{
			color: $color-secondary;

			&:before{
				content: "";
				position: absolute;
				border-bottom: 3px solid $color-secondary;
				width: 20px;
				bottom: 0px;
				left: 0px;
				right: 0px;
				margin: auto;
			}
		}

		.avatar{
			padding-bottom: 0px !important;
			position: relative;
			display: inline-block;
			width: 70px;

			.img-avatar{
				position: absolute;
				top: -19px;
				left: 0px;

				img{
					width: 28px;
					height: 28px;
					border-radius: 50%;
					margin-right: 10px;
				}

				i{
					position: absolute;
					top: 8px;
					color: #fff;
					font-size: 12px;
					cursor: pointer;
				}
			}

			a{
				display: none;
				position: absolute;
				top: 18px;
				left: -51px;
				font-family: $poppins-regular;
				font-size: 14px;
				color: #fff;
				padding: 12px 24px;
				border-radius: 5px;
				background-color: $color-secondary;
				width: 108px;
				text-align: center;

				&:hover, &:focus{
					color: #fff;
				}
			}
		}
	}

	.ic-expand{
		margin-left: 5px;
	}

	.parent-nav-desktop{
		position: relative;
	}

	.child-nav-desktop{
		display: none;
		position: absolute;
		top: 45px;
		left: 0px;
		list-style-type :none;
		padding: 0px 20px 0px 20px;
		margin: 0px;
		background-color: #fff;
		border-radius: 5px;
		text-align: left;
		width: max-content;
		box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);

		li{
			margin-right: 0px !important;
			display: inline;

			a{
				padding: 16px 0px 16px 0px;
				font-family: $poppins-regular;
				font-size: 16px;
				color: $color-caption;
				display: block;
			    background-color: #fff;
			    border-bottom: 2px dotted #e6e3e3;

			    &:before{
					border-bottom: 0px;
					transition: $trans-hover;
				}

				&:hover, &:focus{
					color: $color-secondary;

					&:before{
						width: 0px;
					}
				}
			}

			&:last-child{
				a{
					border-bottom: 0px
				}
			}
		}
	}

	// Popup
	.popup-msg{
		display: none;
		position: fixed;
		z-index: 99;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0,0,0,0.4);
		transition: all ease .2s;
	}

	.popup-msg-content{
		width: 557px;
		background-color: #ffffff;
		margin: 10% auto;
		padding: 24px;
		border-radius: 6px;
		color: #989898;
		position: relative;

		p{
			font-family: $poppins-regular;
			font-size: 16px;
			color: $color-caption;
			text-align: center;
		}

		.sukses{
			color: #8ad554;
		}

		.gagal{
			color: #cc0000;
		}
	}

	p.popup-msg-title{
		font-family: $poppins-semi;
		font-size: 20px;
		text-align: center;
		margin-bottom: 12px;
	}

	.i-tutup{
		position: absolute;
		top: 10px;
		right: 10px;
		width: 25px;
		cursor: pointer;
	}

	.i-sukses, .i-gagal{
		width: 80px;
		margin: auto;
		display: block;
		margin-bottom: 16px;
	}

	// End Popup

	.tentang{
		background: $color-primary;
		background-image: 
			url(../images/ornamen/tentang/top-left.svg),
			url(../images/ornamen/tentang/bottom-left.svg),
			url(../images/ornamen/tentang/top-right.svg);
	  	background-position: 
	  		top left,
	  		bottom left,
	  		top right;
	  	background-size:
	  		250px, 
	  		246px, 
	  		905px;
	  	background-repeat: no-repeat;
		padding: 100px 0px 50px;
		position: relative;
	}

	.tag-awards{
		position: absolute;
		right: -162px;
		top: 192px;
		background-color: #ad4dbf;
		padding: 10px 50px 10px 20px;
		border-radius: 30px 0px 0px 0px;
		color: #fff;
		font-family: $poppins-med-italic;
		font-size: 20px;
		transform: rotate(-90deg);
		transition: $trans-hover;

		img{
			width: 20px;
			height: 20px;
		}

		&:hover{
			background-color: $color-secondary;
		}
	}

	.left-tentang{
		width: 50%;
	}

	.right-tentang{
		width: 50%;
	}

	.logo-dia-tentang{
		width: 300px;
		height: auto;
	}

	.title-commirg-soon{
		font-family: $poppins-bold-italic;
		font-size: 20px;
		color: $color-secondary;
		margin-top: 16px;
	}

	.detail-tentang{
		font-family: $poppins-regular;
		font-size: 16px;
		color: #fff;
		margin-top: 16px;

		span{
			font-family: $poppins-bold;
			font-size: 18px;
		}
	}

	.robot{
		text-align: right;
		img{

			width: 100%;
			height: auto;
		}
	}

	.warp-logo-mnp{
		display: flex;
		flex-wrap: wrap;
		padding-left: 30%;
	}

	.presented{
		font-family: $poppins-regular;
		font-size: 12px;
		color: #fff;
	}

	.logo-mnp{
		img{
			width: 230px;
			height: auto;
			margin-top: 10px;
		}
	}

	.timeline{
		background: $color-trinary;
		background-image: 
			url(../images/ornamen/timeline/top-left.svg),
			url(../images/ornamen/timeline/top-2-left.svg),
			url(../images/ornamen/timeline/top-right.svg),
			url(../images/ornamen/timeline/bottom-right.svg);
	  	background-position: 
	  		top left,
	  		3% 17%,
	  		top right,
	  		97% 91%;
	  	background-size:
	  		250px, 
	  		80px, 
	  		381px, 
	  		120px;
	  	background-repeat: no-repeat;
		padding: 80px 0px;
	}

	.title-timeline{
		font-family: $poppins-bold;
		font-size: 38px;
		color: #fff;
		text-align: center;
	}

	.warp-timeline{
		display: flex;
		flex-wrap: wrap;
		margin-top: 50px;
	}

	.col-timeline{
		width: 33.33%;

		img{
			width: 160px;
			height: 160px;
			margin: auto;
			display: block;
		}
	}

	.date-timeline{
		font-family: $poppins-regular;
		font-size: 16px;
		color: #fff;
		text-align: center;
		margin-top: 15px;
	}

	.desc-timeline{
		font-family: $poppins-bold;
		font-size: 16px;
		color: #fff;
		text-align: center;
		margin-top: 15px;
	}

	.kategori{
		background: #fff;
		background-image: 
			url(../images/ornamen/kategori/top-left.svg),
			url(../images/ornamen/kategori/mid-right.svg),
			url(../images/ornamen/kategori/mid-left.svg),
			url(../images/ornamen/kategori/mid-2-right.svg),
			url(../images/ornamen/kategori/mid-2-left.svg);
	  	background-size:
	  		85px, 
	  		76px, 
	  		85px, 
	  		125px, 
	  		150px;
	  	background-repeat: no-repeat;
		padding: 100px 0px 0px;
	}

	.kategori-t-1{
	  	background-position: 
	  		3% 0.2%, 100% 21%, 3% 44%, 99% 67%, 3% 83%;
	}

	.kategori-t-2{
	  	background-position: 
	  		8% 0.2%, 96% 19%, 9% 40%, 98% 61%, 10% 80%;
	}

	.kategori-t-3{
	  	background-position: 
	  		8% 0.2%, 96% 19%, 8% 41%, 98% 62%, 10% 81%;
	}

	.warp-kategori{
		margin-bottom: 100px;
	}

	.logo-kategori{
		width: 40%;

		img{
			width: 300px;
			height: auto;
		}
	}

	.warp-desc-kategori{
		width: 60%;
	}

	.title-kategori{
		font-family: $poppins-semi;
		font-size: 40px;
		color: $color-caption;
	}

	.desc-kategori{
		font-family: $poppins-regular;
		font-size: 16px;
		color: $color-caption;
		margin-top: 32px;
	}

	.warp-list-aplikasi{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		margin-top: 40px;
	}

	.list-aplikasi{
		width: 25%;
		text-align: center;
		padding: 15px;
		margin-bottom: 80px;
		background-color: #fff;

		a:hover .title-aplikasi{
			color: $color-primary;
		}

		a:hover .desc-aplikasi{
			color: $color-secondary;
		}
	}

	.list-win-aplikasi{
		width: 33.33% !important;
	}

	.last-aplikasi{
		width: 50% !important;
	}

	.one-last-aplikasi{
		width: 100% !important;
	}

	.last-aplikasi-left{
		padding-left: 25%;
		padding-right: 0px !important;
	}

	.last-aplikasi-right{
		padding-right: 25%;
		padding-left: 0px !important;
	}

	.logo-aplikasi{
		width: 100%;

		img{
			width: 120px;
			height: 120px;
			margin: auto;
			display: block;
		}
	}

	.title-aplikasi{
		font-family: $poppins-bold;
		font-size: 16px;
		color: $color-caption;
		margin-top: 24px;
		transition: $trans-hover;
	}

	.desc-aplikasi{
		font-family: $poppins-regular;
		font-size: 14px;
		color: #000;
		margin-top: 12px;
		transition: $trans-hover;
	}

	.submit{
		background: #f9f8f8;
		background-image: 
			url(../images/ornamen/submit/left.svg),
			url(../images/ornamen/submit/right.svg),;
	  	background-position: 
	  		bottom left, 
	  		top right;
	  	background-size: 
	  		200px,
	  		200px;
	  	background-repeat: no-repeat;
		padding: 100px 0px 130px;
		text-align: center;
	}

	.title-submit{
		font-family: $poppins-semi;
		font-size: 40px;
		color: $color-caption;
	}

	.desc-submit{
		font-family: $poppins-regular;
		font-size: 16px;
		color: $color-caption;
		margin-top: 32px;
	}

	.btn-submit{
		margin: 50px 0px 0px;

		a{
			background-color: $color-secondary;
			font-family: $poppins-bold;
			font-size: 20px;
			color: #fff;
			padding: 12px 32px;
			border: 2px solid $color-secondary;
			border-radius: 10px;
			transition: $trans-hover;

			&:hover, &:focus{
				color: $color-secondary;
				background-color: #fff;
				border: 2px solid $color-secondary;
			}
		}
	}

	.juri{
		background: #ffffff;
		background-image: 
			url(../images/ornamen/juri/top-left.svg),
			url(../images/ornamen/juri/bottom-right.svg);
	  	background-position: 
	  		0% 10%, 
	  		100% 88%;
	  	background-size: 
	  		120px, 
	  		120px;
	  	background-repeat: no-repeat;
		padding: 60px 0px;
	}

	.juri-t2-t3{
		background: #f9f8f8;
		background-image: 
			url(../images/ornamen/juri/top-left.svg),
			url(../images/ornamen/juri/bottom-right.svg);
	  	background-position: 
	  		0% 10%, 
	  		100% 88%;
	  	background-size: 
	  		120px, 
	  		120px;
	  	background-repeat: no-repeat;
		padding: 60px 0px;
	}

	.warp-juri{
		display: flex;
		flex-wrap: wrap;
	}

	.warp-desc-juri{
		width: 30%;
		margin: auto;
		padding-right: 30px;
	}

	.title-section-juri{
		font-family: $poppins-semi;
		font-size: 30px;
		color: $color-caption;
	}

	.desc-section-juri{
		font-family: $poppins-regular;
		font-size: 16px;
		color: $color-caption;
		margin-top: 16px;
	}

	.list-juri{
		width: 23.33%;
		padding: 0px 15px;
		text-align: center;

		img{
			width: 100%;
			height: auto;
			margin: auto;
			display: block;
		}
	}

	.nama-juri{
		font-family: $poppins-bold;
		font-size: 18px;
		color: $color-caption;
		margin-top: 16px;
	}

	.profile-juri{
		font-family: $poppins-regular;
		font-size: 16px;
		color: $color-caption;
		margin-top: 16px;
	}

	.sponsor{
		background: #fff;
		padding: 60px 0px;

		img{
			width: 100%;
		}
	}

	.title-sponsor{
		font-family: $poppins-bold;
		font-size: 38px;
		color: #2f2f2f;
		text-align: center;
	}

	.warp-sponsor{
		display: flex;
		flex-wrap: wrap;
		margin-top: 80px	
	}

	.list-sponsor{
		width: 25%;
		padding: 0px 10px;
		text-align: center;
		margin-bottom: 27px;

		img{
			width: 150px;
			height: auto;
			display: block;
			margin: auto;
		}
	}

	.nama-sponsor{
		font-family: $poppins-bold;
		font-size: 18px;
		color: #fff;
		text-align: center;
		margin-top: 24px;
	}

	.media-partner{
		background: #F9F8F8;
		padding: 32px 0px;
	}

	.media-partner-t2-t3{
		background: #ffff;
		padding: 32px 0px;
	}

	.all-media-partner {
		width: 90%;
		height: auto;
		display: block;
		margin: 0px auto 50px;
	}

	.title-media{
		font-family: $poppins-bold;
		font-size: 38px;
		color: $color-caption;
		text-align: center;
		margin-bottom: 80px;
	}

	.header-detail-apps{
		background-color: $color-primary;
		padding: 60px 0px;
		border-radius: 0px 0px 50px 0px;
	}

	.back-home{
		width: 100%;
		display: block;

		a{
			font-family: $poppins-semi;
			font-size: 16px;
			color: #fff;

			&:hover, &:focus{
				color: #fff;
			}

			i{
				margin-right: 5px;;
			}
		}
	}

	.warp-kategori-detail-apps{
		margin-top: 36px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}

	.winner-title{
		width: 100%;
		font-family: $poppins-semi;
		font-size: 20px;
		color: #fff;
		margin-bottom: 8px;
	}

	.title-kategori-detail-apps{
		width: 60%;
		font-family: $poppins-semi;
		font-size: 50px;
		color: #fff;
	}

	.img-kategori-detail-apps{
		width: 40%;

		img{
			width: 330px;
			height: auto;
			position: absolute;
			right: 0px;
			bottom: -150px;
		}
	}

	.detail-apps{
		background-color: #fff;
		padding: 120px 0px;
	}

	.logo-detail-apps{
		width: 25%;

		img{
			width: 140px;
			height: 140px;
		}
	}

	.warp-desc-detail-apps{
		width: 75%;
	}

	.title-detail-apps{
		font-family: $poppins-semi;
		font-size: 40px;
	}

	.desc-detail-apps{
		font-family: $poppins-semi;
		font-size: 20px;
		margin-top: 16px;
	}

	.desc-full-detail-apps{
		font-family: $poppins-regular;
		font-size: 16px;
		margin-top: 16px;
	}

	.warp-download-detail-apps{
		margin-top: 36px;

		img{
			width: 166px;
			height: auto;
		}
	}

	.warp-link-detail-apps{
		width: 100%;
		margin-top: 36px;
		display: flex;

		img{
			width: 40px;
			height: 40px;		}

		a{
			font-family: $poppins-semi;
			font-size: 16px;
			color: $color-caption;
			transition: $trans-hover;
			width: 85%;
			padding-left: 10px;
			white-space: pre-wrap; /* CSS3 */    
		    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
		    white-space: -pre-wrap; /* Opera 4-6 */    
		    white-space: -o-pre-wrap; /* Opera 7 */    
		    word-wrap: break-word; /* Internet Explorer 5.5+ */

			&:hover, &focus{
				color: $color-secondary;
			}
		}
	}

	.swiper-slide{
		width: 45% !important;
	}


	.img-preview-apps{
		padding: 36px 16px;
		width: 100%;
		height: 535px;
		background-color: #2f2f2f;
		display: flex;
		vertical-align: middle;

		img{
			width: 257px;
			max-height: 460px;
			margin: auto;
			display: block;
		}

		iframe{
			width: 100%;
			height: 280px;
			margin: auto;
		}
	}

	.img-preview-web{
		padding: 16px 16px;
		width: 100%;
		height: 600px;
		background-color: #2f2f2f;
		display: flex;
		vertical-align: middle;

		img{
			width: 100%;
			margin: auto;
			display: block;
		}

		iframe{
			width: 100%;
			height: 280px;
			margin: auto;
		}
	}

	.vote-apps{
		padding: 60px 0px 90px;
	}

	.title-vote-apps{
		font-family: $poppins-semi;
		font-size: 40px;
		text-align: center;
	}

	.btn-vote{
		text-align: center;
		margin-top: 60px;

		button{
			font-family: $poppins-semi;
			font-size: 30px;
			padding: 8px 30px;
			background-color: $color-secondary;
			border: 2px solid $color-secondary;
			color: #fff;
			transition: $trans-hover;
			border-radius: 10px;
			cursor: pointer;

			&:hover, &:focus{
				background-color: #fff;
				border: 2px solid $color-secondary;
				color: $color-secondary;
				border-radius: 0px;
			}
		}
	}

	.share-apps{
		text-align: center;
		margin-top: 96px;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li{
			display: inline-block;
			margin-right: 20px;

			&:last-child{
				margin-right: 0px;
			}

			img{
				width: 50px;
				height: 50px;
				transition: $trans-hover;

				&:hover{
					width: 40px;
					height: 40px;
					margin: 0px 5px;
				}
			}

			a{
				font-family: $poppins-regular;
				font-size: 18px;
				color: $color-caption;

				&:hover{
					color: $color-caption;
				}
			}
		}
	}

	.nominator-lain{
		padding: 0px 0px 120px;
	}

	.title-nominator-lain{
		font-family: $poppins-regular;
		font-size: 18px;
		font-weight: bold;
		color: $color-caption;
	}
}