@import 'global';

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	.warp-desc-juri{
		width: 30%;
		margin: auto;
		padding-right: 35px;
	}

	.title-section-juri{
		font-family: $poppins-semi;
		font-size: 30px;
		color: $color-caption;
	}
}