@import 'global';

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399px) {
	.container{
	    width: 1024px  !important;
	    max-width: 1024px  !important;
	    padding: 0px !important;
	    margin: auto;
	}

	.warp-desc-juri{
		width: 30%;
		margin: auto;
		padding-right: 35px;
	}

	.title-section-juri{
		font-family: $poppins-semi;
		font-size: 30px;
		color: $color-caption;
	}
}