footer{
	background-color: $color-blue;
	padding: 60px 0px 20px;
	border-top: 4px solid $color-red;

	.wrap-footer{
		display: flex;
		flex-wrap: wrap;
	}

	.title-footer{
		font-family: $nunito-bold;
		font-size: 24px;
		margin-bottom: 18px;
		color: #ffffff;
		text-align: center;
	}

	.wrap-content{
		font-family: $nunito-regular;
		font-size: 16px;
		color: #ffffff;
		line-height: 180%;

		a{
			color: #fff ;
			transition: $trans-hover;

			&:hover{
				color: $color-yellow;
			}
		}
	}

	.logo-footer{
		width: 33.33%;

		img{
			width: 150px;
			height: auto;
			display: block;
			border-radius: 50px;
		}
	}

	.contact{
		width: 33.33%;

		.title-footer{
			text-align: left;
		}

		.wrap-content{
			text-align: left;
		}
	}

	.working{
		width: 33.33%;

		.wrap-content{
			text-align: center;
		}

		.wrap-social{
			display: flex;
			flex-wrap: wrap;
			margin-top: 20px;
			justify-content: center;

			a{
				width: 30px;
				height: 30px;
				margin-right: 12px;
				background-color: #fff;
				border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: $trans-hover;

				&:hover{
					background-color: $color-red;

					i{
						color: #fff;
					}
				}

				&:last-child{
					margin-right: 0px;
				}

				i{
					font-size: 18px;
					color: $color-blue;
				}
			}
		}
	}

	.copy{
		font-family: $nunito-regular;
		font-size: 12px;
		color: #ffffff;
		text-align: center;
		margin: 30px 0px 10px;
	}
}

