$color-red: #f60202;
$color-yellow: #f8c900;
$color-blue: #035392;
$color-black: #151515;
$color-grey: #949393;

$trans-hover: ease all 0.4s;
$trans-scale: scale(1.2);

@font-face {
    font-family: nunito-regular;
    src: url('../fonts/nunito/static/Nunito-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: nunito-medium;
    src: url('../fonts/nunito/static/Nunito-Medium.ttf');
    font-display: swap;
}

@font-face {
    font-family: nunito-bold;
    src: url('../fonts/nunito/static/Nunito-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: nunito-extrabold;
    src: url('../fonts/nunito/static/Nunito-ExtraBold.ttf');
    font-display: swap;
}



$nunito-regular: "nunito-regular", "arial", "sans-serif";
$nunito-medium: "nunito-medium", "arial", "sans-serif";
$nunito-bold: "nunito-bold", "arial", "sans-serif";
$nunito-extrabold: "nunito-extrabold", "arial", "sans-serif";

html, body{
    position: relative;
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
}

body{
    font-family: $nunito-regular;
    font-weight: 400;
    line-height: 160%;
    scroll-behavior: smooth;
    background-color: #fff;
    background-image: none;
}

.content{
    position: relative;
    width: 1024px;
    display: block;
    margin: auto;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}

.text-white{
    color: #fff !important;
}

a{
    text-decoration: none;

    &:hover, &:focus{
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5{
    margin: 0px;
}

*:focus {
    outline: 0 !important;
}

*, ::before, ::after{
    box-sizing: border-box;
}

*{
    -webkit-tap-highlight-color: transparent;
}

/* Margin */
.m-auto{
    margin: auto;
}

.mt4{
    margin-top: 4px;
}
.mt8{
    margin-top: 8px;
}
.mt16{
    margin-top: 16px;
}
.mt32{
    margin-top: 32px;
}
.mb4{
    margin-bottom: 4px;
}
.mb8{
    margin-bottom: 8px;
}
.mb16{
    margin-bottom: 16px;
}
.mb20{
    margin-bottom: 20px;
}
.mb50{
    margin-bottom: 50px;
}
.ml4{
    margin-left: 4px;
}
.ml8{
    margin-left: 8px;
}
.ml16{
    margin-left: 16px;
}
.ml32{
    margin-left: 32px;
}
.mr4{
    margin-right: 4px;
}
.mr8{
    margin-right: 8px;
}
.mr16{
    margin-right: 16px;
}
.mr32{
    margin-right: 32px;
}

/* Padding */
.pt4{
    padding-top: 4px;
}
.pt8{
    padding-top: 8px;
}
.pt16{
    padding-top: 16px;
}
.pt32{
    padding-top: 32px;
}
.pb4{
    padding-bottom: 4px;
}
.pb8{
    padding-bottom: 8px;
}
.pb16{
    padding-bottom: 16px;
}
.pb32{
    padding-bottom: 32px;
}