.wrap-navigasi{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 99;
	background-color: #fff;
	border-top: 4px solid $color-red;
  	box-shadow: 1px 5px 10px rgba(49, 49, 49, 0.21);
  	transition: ease all 0.2s;

  	.navigasi{
  		width: 100%;
  		display: flex;
		flex-wrap: wrap;

		.logo{
			width: 60px;
			height: 60px;

			img{
				width: 60px;
				height: 60px;
				display: block;
			}
		}

		.nav{
			width: calc(100% - 60px);
			text-align: right;

			ul{
				margin: 0;
				padding: 0;
				list-style-type: none;
				display: inline-flex;

				li{
					position: relative;
					display: flex;

					a{
						display: flex;
						height: 60px;
						align-items: center;
						padding: 0px 24px;

						font-family: $nunito-bold;
						font-size: 16px;
						line-height: 25px;
						background-color: #fff;
						color: $color-black;
						transition: $trans-hover;

						&:hover{
							background-color: $color-yellow;
							color: #fff;
						}
					}

					.active{
						position: relative;

						&:after{
							content:"";
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 4px;
							background-color: $color-yellow;
						}
					}

					.dropdown{
						display: flex;
						height: 60px;
						align-items: center;
						padding: 0px 24px;

						font-family: $nunito-bold;
						font-size: 16px;
						line-height: 25px;
						background-color: #fff;
						color: $color-black;
						transition: $trans-hover;
						cursor: pointer;

						&:hover{
							background-color: $color-yellow;
							color: #fff;
						}

						i{
							margin-left: 6px;
							font-size: 10px;
						}
					}

					.dd-menu{
						position: absolute;
						z-index: 10;
						top: 55px;
						left: 0px;
						visibility: hidden;
						opacity: 0;
						transition: $trans-hover;
						box-shadow: 1px -1px 10px 4px rgba(49, 49, 49, 0.21);
						
						.dd-item{
							display: flex;
							align-items: center;
							height: 45px;
							width: 270px;
							padding: 0px 12px;

							font-family: $nunito-bold;
							font-size: 16px;
							line-height: 25px;
							background-color: $color-blue;
							color: #fff;
							transition: $trans-hover;

							&:hover{
								background-color: $color-yellow;
							}
						}
					}

					.dd-show{
						top: 60px;
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}
  	}
}

.nav-mobile{
	display: none;
}

.side-nav{
	display: none;
}