.btn{
	display: block;
	width: max-content;
	color: #fff;
	background-color: $color-red;
	font-size: 16px;
	padding: 10px 30px;
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
	border-radius: 20px;
  	text-transform: uppercase;
  	transition: ease all 0.2s;

  	&:hover{
  		background-color: $color-blue;
  		transform: scale(1.1);
  		box-shadow: 1px 9px 10px rgba(53, 52, 52, 0.45);
  	}
}

.title-section{
	font-family: $nunito-bold;
	font-size: 62px;
	font-weight: 700;
	line-height: 140%;
	color: $color-black;
	text-align: center;
	margin-bottom: 4px;
}

.sub-title-section{
	font-family: $nunito-bold;
	font-size: 18px;
	color: #949393;
	text-align: center;
	margin-bottom: 80px;
	text-transform: uppercase;
}

.title-page{
	font-family: $nunito-bold;
	font-size: 38px;
	font-weight: 700;
	line-height: 140%;
	color: $color-black;
}

.desc-page{
	font-family: $nunito-regular;
	font-size: 17px;
	font-weight: 400;
	color: $color-black;
}

.list{
	margin: 0px;
	padding: 0px;
	list-style-type: none;

	li{
		padding: 2px 0px;

		&:first-child{
			margin-top: 20px;
		}

		i{
			font-size: 16px;
			margin-right: 8px;
			color: $color-red;
		}
	}
}

.pagination{
	width: 100%;
	display: flex;
	justify-content: center;

	a{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 4px;
		background-color: $color-red;
		color: #fff;
		margin: 0px 8px;

		font-family: $nunito-regular;
		font-size: 18px;
		line-height: 140%;
	}

	.active{
		background-color: $color-yellow;
	}

	.prev, .next{
		i{
			font-size: 12px;
		}
	}
}

/* Home */
.wrap-banner-home{
	position: relative;
	width: 100%;
	margin-top: 64px;
	height: 600px;

 	.slider-home{
 		position: absolute;
 		top: 0;
 		width: 100%;
 		height: 600px;

 		img{
 			width: 100%;
 			height: 600px;
 			object-fit: cover;
 			object-position: center;
 			display: block;
 		}

 		.swiper-button-prev, .swiper-button-next{
			position: absolute;
			width: 60px;
			height: 60px;
			border-radius: 50px;
			background-color: $color-yellow;
			transition: ease all 0.2s;
		}

		.swiper-button-prev{
			top: 40%;
  			left: 50px;
		}

		.swiper-button-next{
			top: 40%;
  			right: 50px;
		}

		.swiper-button-prev:hover, .swiper-button-next:hover{
			background-color: $color-blue;
		}

		.swiper-button-next::after, .swiper-button-prev::after{
			position: relative;
			font-size: 20px;
			color: #fff;
		}

		.swiper-button-prev::after{
  			left: -2px;
		}

		.swiper-button-next::after{
  			right: -2px;
		}
 	}

	.card-banner-home{
		position: relative;
		top: 50px;
		z-index: 2;
		width: 400px;
		padding: 30px 20px;
		background: rgba(50, 50, 50, 0.5);
		border-radius: 8px;

		font-family: $nunito-medium;
		letter-spacing: 0.5px;
		color: #fff;
		text-align: center;
		
		h1{
			margin-bottom: 18px;
			line-height: 130%;
			font-size: 44px;
			font-family: $nunito-bold;
		}

		p{
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 15px;
		}
	}

	.poster-floating{
		position: absolute;
		z-index: 2;
		top: 30px;
		right: 30px;

		img{
			width: 240px;
			height: auto;
			display: block;
			-webkit-box-shadow: 0px 0px 10px 3px rgba(166,166,166,1);
			-moz-box-shadow: 0px 0px 10px 3px rgba(166,166,166,1);
			box-shadow: 0px 0px 10px 3px rgba(166,166,166,1);
		}
	}

	#divider{
		position: absolute;
		bottom: -50px;
		z-index: 2;
	}

	#divider path {
		fill: #ffffff;
	}
}

.home-profile{
	position: relative;
  	height: 295px;

	.wrap-card-profile{
		position: absolute;
		z-index: 3;
		bottom: -290px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: 0px -16px;

		.wrap-card-child, .wrap-card-quality, .wrap-card-staff{
			width: 33.33%;
			height: 400px;
			padding: 0px 8px;
		}

		.card-child, .card-quality, .card-staff{
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			border-radius: 15px;
			padding: 30px 0px;
			transition: ease all 0.2s;

			&:hover{
				transform: scale(0.95);
			}
		}

		.card-child{
			background-color: $color-blue;
		}

		.card-quality{
			background-color: $color-red;
		}

		.card-staff{
			background-color: $color-yellow;
		}

		.card-title{
			font-family: $nunito-bold;
			font-size: 24px;
			line-height: 160%;
			color: #fff;
			margin-bottom: 8px;
			padding: 0px 35px;
		}

		.card-image{
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 187px;

			img{
				width: 100%;
				height: 100%;
	  			border-radius: 30% 70% 15px 15px;
	  			object-fit: cover;
	  			object-position: top;
			}
		}
	}
}

.home-about{
	margin: 40px 0px;

	.wrap-mission{
		display: flex;
		flex-wrap: wrap;

		.wrap-left{
			width: 65%;
			padding-right: 40px;

			.desc-page{
				text-align: justify;
			}
		}

		.wrap-right{
			width: 35%;

			.img-mission{
				position: relative;
				width: 100%;

				img{
					width: 100%;
					height: auto;
					display: block;
					object-fit: cover;
					object-position: top;
				}

	  			&:before{
	  				content:"";
	  				background: url('../images/pelangi.png');
	  				background-repeat: no-repeat;
	  				position: absolute;
					bottom: -40px;
					right: 8px;
					z-index: 1;
					height: 113px;
					width: 250px;
	  			}
			}
		}
	}
}

.home-testimoni{
	margin: 40px 0px;

	.slider-testimoni{
		position: relative;

		.swiperTestimoni{
			border-radius: 8px;

			.swiper-slide{
				width: 329px;

				.wrap-testimoni{
					position: relative;
					width: 100%;
					min-height: 400px;
					background-color: #fffbac;
					padding: 20px 30px;
					border-radius: 8px;

					.isi-testimoni{
						color: $color-black;
						font-size: 16px;
						margin-bottom: 16px;
					}

					.bottom-testimoni{
						position: absolute;
						bottom: 30px;
						left: 0;
						width: 100%;;
						padding: 0px 20px;

						.img-testimoni{
							width: 100px;
							overflow: hidden;
							margin: 0 auto;
							border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
							margin-bottom: 16px;

				  			img{
								width: 100px;
								height: 100px;
								object-fit: cover;
								object-position: top;
				  			}
						}

						.nama{
							font-size: 16px;
							font-weight: 700;
							margin-bottom: 8px;
							color: #414242;
							text-align: center;
						}

						.pekerjaan{
							font-size: 16px;
							font-weight: 700;
							color: #414242;
							text-align: center;
						}
					}
				}
			}
		}

		.swiper-button-prev, .swiper-button-next{
			position: absolute;
			width: 50px;
			height: 50px;
			background-color: $color-yellow;
			border-radius: 50px;
			transition: ease all 0.2s;
			border: 5px solid #fff;
		}

		.swiper-button-prev{
  			left: -24px;
		}

		.swiper-button-next{
  			right: -24px;
		}

		.swiper-button-prev:hover, .swiper-button-next:hover{
			background-color: $color-blue;
		}

		.swiper-button-next::after, .swiper-button-prev::after{
			position: relative;
			font-size: 16px;
			color: #fff;
		}

		.swiper-button-prev::after{
  			left: -2px;
		}

		.swiper-button-next::after{
  			right: -2px;
		}
	}
}

.home-features{
	position: relative;
	margin: 150px 0px 40px;
	background-color: $color-blue;
	padding: 60px 0px 90px;

	#waveHorizontal1, #waveHorizontal2, #waveHorizontal3 {
  		background: url("data:image/svg+xml,%3Csvg version='1.1' id='waveHorizontal1' class='wave1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='350px' height='20px' viewBox='0 0 350 20' enable-background='new 0 0 350 20' xml:space='preserve'%3E%3Cpath fill=' %23035392' d='M0,17.1C29.9,17.1,57.8,0,87.5,0c30.2,0,58.1,17.1,87.1,17.1c29.9,0,57.8-17.1,87.7-17.1 s57.8,17.1,87.7,17.1V20H0V17.1z'/%3E%3C/svg%3E%0A");
	  	-webkit-animation-delay: -4s;
	}

	/* Whale in the sea animation */
	.floating-whale {
		position: absolute;
		top: -70px;
		left: 165px;
		z-index: -1;
		-webkit-animation: float 6s ease-in-out infinite;
		animation: float 6s ease-in-out infinite;
	}

	/* Waves animation */
	.waveHorizontals {
		width: 100%;
		height: 20px;
		position: relative;
		bottom: 80px;
		z-index: 9;
	}

	.waveHorizontal {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		background-repeat: repeat-x;
		-webkit-animation: move 12s linear infinite;
		animation: move 12s linear infinite;
	}

	@keyframes float {
		0% {
			-webkit-transform: translatey(0px);
			transform: translatey(0px);
		}
		50% {
			-webkit-transform: translatey(-10px);
			transform: translatey(-10px);
		}
		100% {
			-webkit-transform: translatey(0px);
			transform: translatey(0px);
		}
	}

	#waveHorizontal1 {
		background-size: 100px 100px;
		opacity: 0.3;
	}

	#waveHorizontal2 {
		-webkit-animation-delay: -2s;
		animation-delay: -2s;
		-webkit-animation-duration: 12s;
		animation-duration: 12s;
		opacity: 0.5;
	}

	#waveHorizontal3 {
		-webkit-animation-delay: -4s;
		animation-delay: -4s;
		-webkit-animation-duration: 8s;
		animation-duration: 8s;
	}

	@keyframes move {
		0% {
			background-position: left 0px bottom 0;
		}
		100% {
			background-position: left 350px bottom 0;
		}
	}

	.wrap-features{
		display: flex;
		flex-wrap: wrap;
		margin: 0px -16px;

		.list-features{
			width: 25%;
			text-align: center;
			padding: 0px 16px;

			img{
				width: 100px;
				height: 100px;
				display: block;
				margin: auto;
				border-radius: 73% 34% 44% 35% / 43% 42% 41% 39%;
				object-fit: cover;
				object-position: top;
				margin-bottom: 16px;
			}

			.title-feature{
				font-family: $nunito-bold;
				font-size: 20px;
				color: #fff;
				margin-bottom: 12px;
			}

			.desc-feature{
				font-family: $nunito-regular;
				font-size: 16px;
				color: #fff;
			}
		}
	}
}

.home-services{
	margin: 40px 0px 80px;

	.wrap-tab-services{
		display: flex;
		flex-wrap: wrap;

		.wrap-tablink{
			width: 320px;
			height: 470px;

			.list-tablink{
				display: block;
				width: 100%;
				padding: 20px 40px;
				border-radius: 20px 0px 0px 20px;
				font-family: $nunito-bold;
				font-size: 20px;
				color: #fff;
				background-color: $color-yellow;
				margin-bottom: 18px;
				cursor: pointer;
				transition: ease all 0.2s;

				&:first-child{
					margin-top: 30px;
				}

				&:hover{
					background-color: $color-blue;
				}
			}

			.active{
				background-color: $color-blue;
			}
		}

		.wrap-tabcontent{
			width: calc(100% - 320px);

			.image-services{
				width: 100%;
				height: 645px;
				border-radius: 0px 20px 20px 0px;
				background-color: #f5f5f5 !important;
				border: 0px;
  				box-shadow: 1px 2px 20px rgba(105, 105, 105, 0.21);

				img{
					width: 100%;
					height: 100%;
					border-radius: 0px 20px 20px 0px;
					object-fit: cover;
					object-position: top;
				}
			}
		}
	}
}

.home-team{
	margin: 40px 0px;

	.wrap-desc-team{
		display: flex;
		flex-wrap: wrap;

		.wrap-left{
			width: 65%;
			padding-right: 40px;
		}

		.wrap-right{
			width: 35%;

			.img-team{
				width: 100%;

				img{
					width: 100%;
					border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
				}
			}
		}
	}

	.slider-team{
		position: relative;
		margin-top: 40px;

		.swiperTeam, .swiperGuru, .swiperGuruIn{
			border-radius: 8px;

			.swiper-slide{
				width: 329px;

				.wrap-team, .wrap-guru{
					position: relative;
					width: 100%;
					height: 440px;
					background: #fbfbfb;
					background-image: repeating-linear-gradient(to bottom, transparent 0, transparent 30px, rgba(173, 216, 230, 0.31) 30px, rgba(173, 216, 230, 0.31) 32px), linear-gradient(to right, transparent 0, transparent 2rem, rgba(255, 182, 193, 0.48) 0rem, rgba(255, 182, 193, 0.48) 0rem, transparent 0rem);
					padding: 20px 30px;
					border-radius: 8px;
					text-align: center;

					.img-team{
						width: 100%;
						margin-bottom: 22px;

			  			img{
							width: 120px;
							height: 120px;
							display: block;
							margin: auto;
							border-radius: 8px;
							object-fit: cover;
							object-position: top;
			  			}
					}

					.wrap-social{
						width: 100%;
						display: flex;
						justify-content: center;
						flex-wrap: wrap;
						margin-bottom: 40px;

						a{
							width: 25px;
							height: 25px;
							margin: 0px 8px;

							i{
								font-size: 25px;
								color: $color-blue;
							}
						}
					}

					.nama-team{
						width: 100%;
						color: $color-black;
						font-family: $nunito-bold;
						font-size: 22px;
						line-height: 140%;
						margin-bottom: 4px;
					}

					.pekerjaan-team{
						width: 100%;
						color: $color-black;
						font-family: $nunito-bold;
						font-size: 16px;
						margin-bottom: 6px;
						line-height: 180%;
					}

					.quotes-team{
						width: 100%;
						color: $color-black;
						font-family: $nunito-regular;
						font-size: 16px;
						margin-bottom: 16px;
						line-height: 185%;
					}
				}
			}
		}

		.swiperGuruIn, .swiperGuru{
			.swiper-slide{
				width: 244px;

				.wrap-guru{
					height: 260px;

					.nama-team{
						width: 100%;
						font-size: 16px;
						line-height: 160%;
					}

					.pekerjaan-team{
						font-size: 12px;
					}
				}
			}
		}

		.swiperGuru{
			.swiper-slide{
				.wrap-guru{
					height: 230px;
				}
			}
		}

		.swiper-button-prev, .swiper-button-next{
			position: absolute;
			width: 50px;
			height: 50px;
			background-color: $color-yellow;
			border-radius: 50px;
			transition: ease all 0.2s;
			border: 5px solid #fff;
		}

		.swiper-button-prev{
  			left: -24px;
		}

		.swiper-button-next{
  			right: -24px;
		}

		.swiper-button-prev:hover, .swiper-button-next:hover{
			background-color: $color-blue;
		}

		.swiper-button-next::after, .swiper-button-prev::after{
			position: relative;
			font-size: 16px;
			color: #fff;
		}

		.swiper-button-prev::after{
  			left: -2px;
		}

		.swiper-button-next::after{
  			right: -2px;
		}
	}
}

.home-gallery{
	margin: 40px 0px;
	padding: 40px 0px;
	background: 
		url('../images/numbers1.png'),
		url('../images/numbers2.png'),
		$color-yellow;
	background-size: 250px, 200px, 100% 100%;
	background-position: 0px 100px, 100% 200px;
	background-repeat: no-repeat;
	background-attachment: fixed;

	.category-gallery{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 30px;

		.list-category-gallery{
			padding: 8px 16px;
			background-color: $color-red;
			color: #fff;
			border-radius: 8px;
			font-family: $nunito-regular;
			font-size: 16px;
			margin-right: 16px;
			cursor: pointer;
		}
	}

	.wrap-gallery{
		display: flex;
		flex-wrap: wrap;

		.list-gallery{
			width: 25%;
			padding: 8px 8px;

			.img-gallery{
				display: block;
				overflow: hidden;
				border: 5px solid #fff;
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
				cursor: pointer;

				&:hover img{
					transform: scale(1.2);
				}

				img{
					width: 100%;
					height: 200px;
					object-fit: cover;
					object-position: top;
					display: block;
					transition: ease all 0.5s;
				}
			}
		}

		.show-gallery{
			display: block;
			-webkit-animation: fadeEffect 1s;
			animation: fadeEffect 1s;
		}

		.hide-gallery{
			display: none;
			-webkit-animation: fadeEffect 1s;
			animation: fadeEffect 1s;
		}

		/* Fade in tabs */
		@-webkit-keyframes fadeEffect {
			from {opacity: 0;}
			to {opacity: 1;}
		}

		@keyframes fadeEffect {
			from {opacity: 0;}
			to {opacity: 1;}
		}
	}
}

.home-blog{
	margin: 40px 0px 0px;
	padding-bottom: 40px;
	background: 
		url('../images/doodlesbg.png');
	background-size: 100%;
	background-position: 0px 100%;
	background-repeat: no-repeat;

	.wrap-blog{
		display: flex;
		flex-wrap: wrap;
		margin: 0px -8px;

		.list-blog{
			width: 25%;
			padding: 0px 8px;

			.img-article{
				width: 100%;
				height: 200px;
				display: block;

				img{
					width: 100%;
					height: 100%;
					display: block;
					object-fit: cover;
					object-position: top;
					border-radius: 8px 8px 0px 0px;
				}
			}

			.wrap-title{
				background-color: $color-blue;
				padding: 12px;
				border-radius: 0px 0px 8px 8px;
			}

			.title-article{
				color: #ffffff;
				font-family: $nunito-bold;
				font-size: 18px;
				margin-bottom: 8px;
				display: block;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			.wrap-author{
				display: flex;
				flex-wrap: wrap;

				.author{
					color: #ffffff;
					font-family: $nunito-bold;
					font-size: 14px;
				}

				.date{
					color: #ffffff;
					font-family: $nunito-regular;
					font-size: 12px;

					&:before{
						content: "\2022";
						margin: 0px 5px;
					}
				}
			}
		}
	}
}

/* Pages */
.header-page{
	padding-top: 64px;
	position: relative;
	width: 100%;

	.img-header{
		width: 100%;
		height: 250px;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}
	}

	.wrap-title-page{
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 20px;
		margin: auto;
		background-color: $color-blue;
		width: max-content;
		height: max-content;
		padding: 20px 40px;
		text-align: center;
		border-radius: 10px;
		color: #fff;

		h1{
			font-family: $nunito-bold;
			margin-bottom: 8px;
			line-height: 130%;
		}

		.breadcrumb{
			display: flex;
			justify-content: center;

			a{
				font-family: $nunito-regular;
				font-size: 16px;
				color: #fff;

				&:after{
					font-family: "Font Awesome 5 Free";
					content: "\f054";
					font-size: 7px;
					font-weight: 900;
					color: #fff;
					margin: 0px 8px;
					position: relative;
  					top: -2px;
				}

				&:last-child{
					&:after{
						display: none;
					}
				}
			}

			.active{
				color: #b1b5b9;
				cursor: auto;
			}
		}
	}
}

.wrap-page{
	padding: 100px 0px;

	.title-page{
		font-family: $nunito-bold;
		font-size: 40px;
		line-height: 140%;
		color: #151515;
		text-align: center;
		margin-bottom: 4px;
	}

	.sub-title-page{
		font-family: $nunito-medium;
		font-size: 18px;
		color: #949393;
		text-align: center;
		margin-bottom: 40px;
	}
}

/* Services */
.wrap-services{
	display: flex;
	flex-wrap: wrap;

	.left{
		width: 35%;
		padding-right: 40px;

		.title-services{
			font-family: $nunito-extrabold;
			font-size: 45px;
			line-height: 120%;
			color: $color-black;
			margin-bottom: 16px;
		}

		.subtitle-services{
			font-family: $nunito-bold;
			font-size: 16px;
			color: $color-grey;
			text-transform: uppercase;
		}
	}

	.right{
		width: 65%;

		.desc-services{
			font-family: $nunito-regular;
			font-size: 16px;
			color: $color-black;
		}
	}
}

/* About */
.wrap-about{
	display: flex;
	flex-wrap: wrap;

	.left{
		width: 65%;
		padding-right: 40px;

		.desc-about{
			font-family: $nunito-regular;
			font-size: 16px;
			color: $color-black;
		}
	}

	.right{
		width: 35%;

		img{
			width: 90%;
			height: auto;
			object-fit: cover;
			object-position: top;
			display: block;
			margin: auto;
			border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
		}
	}
}

/* Our Team */
.wrap-our-team{
	.slider-team{
		position: relative;
		margin-top: 40px;

		.swiperTeam, .swiperGuru, .swiperGuruIn{
			border-radius: 8px;

			.swiper-slide{
				width: 329px;

				.wrap-team, .wrap-guru{
					position: relative;
					width: 100%;
					height: 440px;
					background: #fbfbfb;
					background-image: repeating-linear-gradient(to bottom, transparent 0, transparent 30px, rgba(173, 216, 230, 0.31) 30px, rgba(173, 216, 230, 0.31) 32px), linear-gradient(to right, transparent 0, transparent 2rem, rgba(255, 182, 193, 0.48) 0rem, rgba(255, 182, 193, 0.48) 0rem, transparent 0rem);
					padding: 20px 30px;
					border-radius: 8px;
					text-align: center;

					.img-team{
						width: 100%;
						margin-bottom: 22px;

			  			img{
							width: 120px;
							height: 120px;
							display: block;
							margin: auto;
							border-radius: 8px;
							object-fit: cover;
							object-position: top;
			  			}
					}

					.wrap-social{
						width: 100%;
						display: flex;
						justify-content: center;
						flex-wrap: wrap;
						margin-bottom: 40px;

						a{
							width: 25px;
							height: 25px;
							margin: 0px 8px;

							i{
								font-size: 25px;
								color: $color-blue;
							}
						}
					}

					.nama-team{
						width: 100%;
						color: $color-black;
						font-family: $nunito-bold;
						font-size: 22px;
						line-height: 140%;
						margin-bottom: 4px;
					}

					.pekerjaan-team{
						width: 100%;
						color: $color-black;
						font-family: $nunito-bold;
						font-size: 16px;
						margin-bottom: 6px;
						line-height: 180%;
					}

					.quotes-team{
						width: 100%;
						color: $color-black;
						font-family: $nunito-regular;
						font-size: 16px;
						margin-bottom: 16px;
						line-height: 185%;
					}
				}
			}
		}

		.swiperGuruIn, .swiperGuru{
			.swiper-slide{
				width: 244px;

				.wrap-guru{
					height: 260px;

					.nama-team{
						width: 100%;
						font-size: 16px;
						line-height: 160%;
					}

					.pekerjaan-team{
						font-size: 12px;
					}
				}
			}
		}

		.swiperGuru{
			.swiper-slide{
				.wrap-guru{
					height: 230px;
				}
			}
		}

		.swiper-button-prev, .swiper-button-next{
			position: absolute;
			width: 50px;
			height: 50px;
			background-color: $color-yellow;
			border-radius: 50px;
			transition: ease all 0.2s;
			border: 5px solid #fff;
		}

		.swiper-button-prev{
  			left: -24px;
		}

		.swiper-button-next{
  			right: -24px;
		}

		.swiper-button-prev:hover, .swiper-button-next:hover{
			background-color: $color-blue;
		}

		.swiper-button-next::after, .swiper-button-prev::after{
			position: relative;
			font-size: 16px;
			color: #fff;
		}

		.swiper-button-prev::after{
  			left: -2px;
		}

		.swiper-button-next::after{
  			right: -2px;
		}
	}
}

/* Story */
.wrap-story{
	display: flex;
	flex-wrap: wrap;

	.left{
		width: 35%;

		img{
			width: 90%;
			height: auto;
			object-fit: cover;
			object-position: top;
			display: block;
			margin: auto;
			border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
		}
	}

	.right{
		width: 65%;
		padding-left: 40px;

		.desc-story{
			font-family: $nunito-regular;
			font-size: 16px;
			color: $color-black;
		}
	}
}

/* Gallery */
.category-gallery{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;

	.list-category-gallery{
		padding: 8px 16px;
		background-color: $color-red;
		color: #fff;
		border-radius: 8px;
		font-family: $nunito-regular;
		font-size: 16px;
		margin-right: 16px;
		cursor: pointer;
	}
}

.wrap-gallery{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -8px;

	.list-gallery{
		width: 25%;
		padding: 8px 8px;

		.img-gallery{
			display: block;
			overflow: hidden;
			cursor: pointer;

			&:hover img{
				transform: scale(1.2);
			}

			img{
				width: 100%;
				height: 200px;
				object-fit: cover;
				object-position: top;
				display: block;
				transition: ease all 0.5s;
			}
		}
	}

	.show-gallery{
		display: block;
		-webkit-animation: fadeEffect 1s;
		animation: fadeEffect 1s;
	}

	.hide-gallery{
		display: none;
		-webkit-animation: fadeEffect 1s;
		animation: fadeEffect 1s;
	}

	/* Fade in tabs */
	@-webkit-keyframes fadeEffect {
		from {opacity: 0;}
		to {opacity: 1;}
	}

	@keyframes fadeEffect {
		from {opacity: 0;}
		to {opacity: 1;}
	}
}

/* Promo */
.wrap-promo{
	.desc-promo{
		font-family: $nunito-regular;
		font-size: 16px;
		color: $color-black;
		margin-bottom: 50px;
	}

	.wrap-list-promo{
		display: flex;
		flex-wrap: wrap;
		margin: 0px -8px;

		.img-promo{
			width: 33.33%;
			padding: 0px 8px;

			img{
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}
}

/* Carrier */
.wrap-carrier{
	.desc-carrier{
		font-family: $nunito-regular;
		font-size: 16px;
		color: $color-black;
		margin-bottom: 50px;
	}

	.wrap-list-carrier{
		display: flex;
		flex-wrap: wrap;
		margin: 0px -8px;

		.img-carrier{
			width: 33.33%;
			padding: 0px 8px;

			img{
				width: 100%;
				height: auto;
				display: block;
			}
		}
	}
}

/* Contact */
.wrap-contact{
	display: flex;
	flex-wrap: wrap;
	padding: 60px;
	background: #f6f6f6;
	box-shadow: 0 1px 4px hsla(0, 0%, 0%, .25);
	position: relative;
	background-image: repeating-linear-gradient(to bottom, transparent 0, transparent 30px, rgba(173, 216, 230, 0.31) 30px, rgba(173, 216, 230, 0.31) 32px), linear-gradient(to right, transparent 0, transparent 2rem, rgba(255, 182, 193, 0.48) 2rem, rgba(255, 182, 193, 0.48) 2.2rem, transparent 2.2rem);
	
	.wrap-left{
		width: 40%;

		.telp, .email, .address{
			color: $color-blue;
			font-family: $nunito-regular;
			font-size: 16px;

			a{
				color: $color-blue;
			}
		}

		.telp{
			margin: 8px 0px 0px;
		}

		.email{
			margin: 5px 0px 0px;
		}

		.address{
			margin: 8px 0px 0px;
				line-height: 180%;
		}

		.wrap-social{
			display: flex;
			flex-wrap: wrap;

			.title{
				width: 100%;
				color: $color-blue;
				font-family: $nunito-regular;
				font-size: 16px;
				margin: 70px 0px 5px;
			}

			a{
				width: 25px;
				height: 25px;
				margin-right: 8px;

				i{
					font-size: 25px;
					color: $color-blue;
				}
			}
		}
	}

	.wrap-right{
		width: 60%;
	}
}

/* List Artikel */
.wrap-list-artkel{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -8px;

	.list-blog{
		width: 25%;
		padding: 0px 8px;
		margin-bottom: 30px;

		.img-article{
			width: 100%;
			height: 200px;
			display: block;

			img{
				width: 100%;
				height: 100%;
				display: block;
				object-fit: cover;
				object-position: top;
				border-radius: 8px 8px 0px 0px;
			}
		}

		.wrap-title{
			background-color: $color-blue;
			padding: 12px;
			border-radius: 0px 0px 8px 8px;
		}

		.title-article{
			color: #ffffff;
			font-family: $nunito-bold;
			font-size: 18px;
			margin-bottom: 8px;
			display: block;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		.wrap-author{
			display: flex;
			flex-wrap: wrap;

			.author{
				color: #ffffff;
				font-family: $nunito-bold;
				font-size: 14px;
			}

			.date{
				color: #ffffff;
				font-family: $nunito-regular;
				font-size: 12px;

				&:before{
					content: "\2022";
					margin: 0px 5px;
				}
			}
		}
	}
}

/* Detail Artikel */
.wrap-artikel{
	width: 100%;

	.thumb{
		width: 100%;
		position: relative;
		margin-bottom: 12px;

		img{
			width: 100%;
			height: 400px;
			border-radius: 20px;
			object-fit: cover;
			object-position: top;
		}
	}

	.wrap-author{
		display: flex;
		margin-bottom: 8px;

		.author{
			font-family: $nunito-bold;
			font-size: 16px;
			color: $color-black;

			&:after{
				content: "|";
				margin: 0px 10px;
				color: $color-red;
			}
		}

		.date{
			font-family: $nunito-regular;
			font-size: 16px;
			color: $color-grey;
		}
	}

	.title{
		font-family: $nunito-bold;
		font-size: 30px;
		line-height: 160%;
		color: $color-black;
		margin-bottom: 20px;
	}

	.desc-artikel{
		font-family: $nunito-regular;
		font-size: 16px;
		color: $color-black;
	}
}

/* 404 */
.not-found{
	height: 100%;
	padding: 100px 0px;
	background-color: #3ca9ff;

	.img-not-found{
		width: 100%;

		img{
			width: 500px;
			height: auto;
			margin: auto;
			display: block;
		}
	}

	.detail-not-found{
		width: 100%;
		height: max-content;
		color: #fff;
		font-family: $nunito-regular;
		font-size: 26px;
		font-weight: bold;
		text-align: center;
		margin-top: 30px;
	}

	.btn-not-found{
		height: max-content;
		margin: 30px auto 0px;
		display: block;
	}
}