// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	.content{
		width: 100%;
	}

	.wrap-top-header{
		display: none;
	}

	.wrap-navigasi{
		top: 0px;

	  	.navigasi{
	  		padding: 8px 16px;

			.logo{
				width: 50px;
				height: 50px;

				img{
					width: 50px;
					height: 50px;
				}
			}

			.nav{
				display: none;
			}

			.nav-mobile{
				display: flex;
			    width: calc(100% - 50px);
			    justify-content: right;
			    align-items: center;

				i{
					font-size: 25px;
					color: $color-red;
					cursor: pointer;
				}
			}
	  	}
	}

	.side-nav{
		position: fixed;
		right: -300px;
		top: 0;
		z-index: 100;
		display: block;
		height: 100%;
		width: 280px;
		padding-top: 66px;
		background-color: #fff;
		transition: $trans-hover;

		.btn-close{
			position: absolute;
			right: 16px;
			top: 21px;

			i{
				font-size: 25px;
				color: $color-red;
				cursor: pointer;
			}
		}

		ul{
			margin: 0;
			padding: 0;
			list-style-type: none;

			li{
				position: relative;
				display: block;

				a{
					display: flex;
					align-items: center;
					padding: 10px 24px;

					font-family: $nunito-bold;
					font-size: 16px;
					line-height: 25px;
					background-color: #fff;
					color: $color-black;
				}

				.active{
					position: relative;

					&:after{
						content:"";
						position: absolute;
						bottom: 0;
						right: 0;
						width: 4px;
						height: 100%;
						background-color: $color-yellow;
					}
				}

				.dropdown-m{
					display: flex;
					align-items: center;
					padding: 10px 24px;

					font-family: $nunito-bold;
					font-size: 16px;
					line-height: 25px;
					background-color: #fff;
					color: $color-black;
					cursor: pointer;

					i{
						margin-left: auto;
						font-size: 10px;
						transition: transform 0.3s;
					}
				}

				.dd-active{
					i{
						transform: rotate(180deg);
				  		transition: transform 0.3s;
					}
				}

				.dd-menu-m{
					display: none;
					
					.dd-item-m{
						width: 100%;
						padding: 10px 24px 10px 40px;

						font-family: $nunito-bold;
						font-size: 16px;
						line-height: 25px;
						background-color: $color-blue;
						color: #fff;
					}
				}
			}
		}
	}

	.side-nav-show{
		right: 0px;
		transition: $trans-hover;
	}

	.btn{
		font-size: 14px;
		padding: 8px 20px;
	}

	.title-section{
		font-size: 42px;
		line-height: 120%;
	}

	.sub-title-section{
		font-size: 16px;
		margin-bottom: 30px;
	}

	.title-page{
		font-size: 22px;
	}

	.desc-page{
		font-size: 16px;
	}

	.list{
		margin: 0px;
		padding: 0px;
		list-style-type: none;

		li{
			display: flex;

			i{
				position: relative;
  				top: 5px;
			}
		}
	}

	/* Home */
	.wrap-banner-home{
		margin-top: 66px;
		height: 600px;

		.card-banner-home{
			width: 85%;
		    padding: 16px;
		    left: 0;
		    right: 0;
		    margin: auto;

			h3, h1{
				margin-bottom: 18px;
				line-height: 130%;
			}

			h3{
				font-size: 24px;
			}

			h1{
				font-size: 30px;
			}

			p{
				font-size: 16px;
				margin-bottom: 15px;
			}
		}

		.poster-floating{
			display: none;
		}

		#divider{
			position: absolute;
			bottom: -50px;
		}

		#divider path {
			fill: #ffffff;
		}
	}

	.home-profile{
		position: relative;

		.wrap-card-profile{
			top: -235px;
		    margin: 0px;
		    bottom: 0;

			.wrap-card-child, .wrap-card-quality, .wrap-card-staff{
				width: 95%;
			    margin: 0px auto 8px;
			}
		}
	}

	.home-about{
		margin-top: 710px;

		.wrap-mission{
			padding: 0px 16px;

			.wrap-left{
				width: 100%;
				padding-right: 0px;
			}

			.wrap-right{
				width: 100%;

				.img-mission{

		  			&:before{
		  				bottom: -55px;
						right: 0px;
						background-size: 200px;
						width: 200px;
		  			}
				}
			}
		}
	}

	.home-testimoni{
		margin: 60px 0px 40px;

		.slider-testimoni{
			padding: 0px 16px;

			.swiperTestimoni{
				border-radius: 8px;

				.swiper-slide{
					width: 100%;
				}
			}

			.swiper-button-prev, .swiper-button-next{
				width: 45px;
				height: 45px;
				border: 3px solid #fff;
			}

			.swiper-button-prev{
	  			left: 3px;
			}

			.swiper-button-next{
	  			right: 3px;
			}
		}
	}

	.home-features{
		/* Whale in the sea animation */
		.floating-whale {
			left: 28%;
		}

		.wrap-features{
			margin: 0px;

			.list-features{
				width: 100%;
				padding: 0px 16px;
				margin: 16px 0px;
			}
		}
	}

	.home-services{
		.wrap-tab-services{
			padding: 0px 16px;

			.wrap-tablink{
				position: relative;
				width: 100%;
				display: flex;
				overflow-y: hidden;
				white-space: nowrap;
				-ms-overflow-style: none;
  				scrollbar-width: none;
				height: auto;

				.list-tablink{
					width: max-content;
					padding: 8px 16px;
					border-radius: 8px 8px 0px 0px;
					font-size: 16px;
					margin-bottom: 0px;

					&:first-child{
						margin-top: 0px;
					}
				}
			}

			.wrap-tabcontent{
				width: 100%;

				.list-tabcontent{
					height: auto;
				}

				.wrap-services{
					width: 100%;
					padding: 20px 10px;

					.title-services{
						font-size: 22px;
					}
				}

				.image-services{
					width: 100%;
					height: 300px;

					img{
						border-radius: 0px 0px 20px 20px;
					}
				}
			}
		}
	}

	.home-team{
		.wrap-desc-team{
			padding: 0px 16px;

			.wrap-left{
				width: 100%;
				padding-right: 0px;
			}

			.wrap-right{
				width: 100%;
				margin-top: 16px;

				.img-team{
					width: 100%;

					img{
						width: 250px;
						display: block;
						margin: auto;
						border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
					}
				}
			}
		}

		.slider-team{
			padding: 0px 16px;

			.swiperTeam{

				.swiper-slide{
					width: 100%;
				}
			}

			.swiper-button-prev, .swiper-button-next{
				width: 45px;
				height: 45px;
				border: 3px solid #fff;
			}

			.swiper-button-prev{
	  			left: 3px;
			}

			.swiper-button-next{
	  			right: 3px;
			}
		}
	}

	.home-gallery{
		background-size: 190px, 157px, 100% 100%;
		background-position: 0px 232px, 100% 429px;
		padding: 0px 16px;

		.category-gallery{
			justify-content: center;

			.list-category-gallery{
				margin: 0px 8px 8px;
			}
		}

		.wrap-gallery{
			padding: 0px 4px;

			.list-gallery{
				width: 50%;
				padding: 4px 4px;

				.img-gallery{
					border: 3px solid #fff;

					img{
						height: 150px;
					}
				}
			}
		}
	}

	.home-blog{
		.wrap-blog{
			margin: 0px;

			.list-blog{
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				margin-bottom: 8px;
				padding: 0px 16px;

				.img-article{
					width: 120px;
					height: 120px;

					img{
						border-radius: 8px 0px 0px 8px;
					}
				}

				.wrap-title{
					width: calc(100% - 120px);
					height: 120px;
					background-color: $color-blue;
					padding: 12px;
					border-radius: 0px 8px 8px 0px;
				}

				.title-article{
					font-size: 16px;
					-webkit-line-clamp: 4;
				}

				.wrap-author{
					display: none;
				}
			}
		}
	}

	.home-contact{
		margin: 40px 0px;

		.wrap-contact{
			padding: 30px 16px;
			background-image: repeating-linear-gradient(to bottom, transparent 0, transparent 30px, rgba(173, 216, 230, 0.31) 30px, rgba(173, 216, 230, 0.31) 32px), linear-gradient(to right, transparent 0, transparent 2rem, rgba(255, 182, 193, 0.48) 0rem, rgba(255, 182, 193, 0.48) 0rem, transparent 0rem);

			.wrap-left{
				width: 100%;

				.wrap-social{
					.title{
						margin: 35px 0px 5px;
					}
				}
			}

			.wrap-right{
				width: 100%;
				margin-top: 16px;
			}
		}
	}

	/* Pages */
	.header-page{
		padding-top: 66px;

		.img-header{
			height: 180px;
		}

		.wrap-title-page{
			padding: 8px 20px;

			h1{
				margin-bottom: 4px;
				font-size: 28px;
			}

			.breadcrumb{
				a{
					font-size: 14px;

					&:after{
						font-size: 6px;
					}
				}
			}
		}
	}

	.wrap-page{
		padding: 50px 0px;

		.title-page{
			font-size: 20px;
		}

		.sub-title-page{
			font-size: 16px;
			margin-bottom: 40px;
		}
	}

	/* Services */
	.wrap-services{
		padding: 0px 16px;

		.left{
			width: 100%;
			padding-right: 0px;

			.title-services{
				font-size: 36px;
			}

			.subtitle-services{
				font-size: 16px;
			}
		}

		.right{
			width: 100%;

			.desc-services{
				margin-top: 20px;
			}
		}
	}

	/* About */
	.wrap-about{
		padding: 0px 16px;

		.left{
			width: 100%;
			padding-right: 0px;
		}

		.right{
			width: 100%;
			margin-top: 20px;

			img{
				width: 250px;
			}
		}
	}

	/* Our Team */
	.wrap-our-team{
		.slider-team{
			padding: 0px 16px;

			.swiperTeam{

				.swiper-slide{
					width: 100%;
				}
			}

			.swiper-button-prev, .swiper-button-next{
				width: 45px;
				height: 45px;
				border: 3px solid #fff;
			}

			.swiper-button-prev{
	  			left: 3px;
			}

			.swiper-button-next{
	  			right: 3px;
			}
		}
	}

	/* Story */
	.wrap-story{
		padding: 0px 16px;

		.left{
			width: 100%;

			img{
				width: 250px;
			}
		}

		.right{
			width: 100%;
			padding-left: 0px;

			.desc-story{
				margin-top: 20px;
			}
		}
	}

	/* Gallery */
	.wrap-gallery{
		padding: 0px 4px;

		.list-gallery{
			width: 50%;
			padding: 4px 4px;

			.img-gallery{
				border: 3px solid #fff;

				img{
					height: 150px;
				}
			}
		}
	}

	/* Promo */
	.wrap-promo{
		padding: 0px 16px;

		.desc-promo{
			margin-bottom: 20px;
		}

		.wrap-list-promo{
			margin: 0px;
			justify-content: center;

			.img-promo{
				width: 90%;
				padding: 0px;
				margin-bottom: 16px;

				img{
					margin: auto;
				}
			}
		}
	}

	/* Contact */
	.wrap-contact{
		padding: 30px 16px;
		background-image: repeating-linear-gradient(to bottom, transparent 0, transparent 30px, rgba(173, 216, 230, 0.31) 30px, rgba(173, 216, 230, 0.31) 32px), linear-gradient(to right, transparent 0, transparent 2rem, rgba(255, 182, 193, 0.48) 0rem, rgba(255, 182, 193, 0.48) 0rem, transparent 0rem);

		.wrap-left{
			width: 100%;

			.wrap-social{
				.title{
					margin: 35px 0px 5px;
				}
			}
		}

		.wrap-right{
			width: 100%;
			margin-top: 16px;
		}
	}

	/* List Artikel */
	.wrap-list-artkel{
		margin: 0px;
		margin-bottom: 16px;

		.list-blog{
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			margin-bottom: 8px;
			padding: 0px 16px;

			.img-article{
				width: 120px;
				height: 120px;

				img{
					border-radius: 8px 0px 0px 8px;
				}
			}

			.wrap-title{
				width: calc(100% - 120px);
				height: 120px;
				background-color: $color-blue;
				padding: 12px;
				border-radius: 0px 8px 8px 0px;
			}

			.title-article{
				font-size: 16px;
				-webkit-line-clamp: 4;
			}

			.wrap-author{
				display: none;
			}
		}
	}

	/* Detail Artikel */
	.wrap-artikel{
		width: 100%;
		padding: 0px 16px;
	}

	footer{
		padding: 60px 16px 20px;

		.title-footer{
			margin: 12px 0px;
			font-size: 20px;
			text-align: left;
		}

		.logo-footer{
			width: 100%;

			img{
				width: 80px;
				height: auto;
				display: block;
				margin: auto;
				border-radius: 50px;
			}
		}

		.contact{
			margin-top: 22px;
			width: 100%;

			.title-footer{
				text-align: left;
			}

			.wrap-content{
				text-align: left;
			}
		}

		.working{
			width: 100%;
			margin-top: 22px;

			.wrap-content{
				text-align: left;
			}

			.wrap-social{
				margin-top: 40px;

				a{
					width: 35px;
					height: 35px;

					i{
						font-size: 20px;
					}
				}
			}
		}
	}

	/* 404 */
	.not-found{
		padding: 40vh 0px;

		.img-not-found{

			img{
				width: 90%;
			}
		}

		.detail-not-found{
			font-size: 16px;
		}

		.btn-not-found{
			height: max-content;
			margin: 30px auto 0px;
			display: block;
		}
	}
}