footer{
	width: 100%;
	background: linear-gradient(180deg, #0C2649 0%, #112F53 48.44%, #103B66 99.48%);
	border-top: 4px solid #D79F30; 
}

.content-footer{
	width: 1024px;
	padding: 53px 0px 46px 0px;
	margin: auto;
}

.warp-footer{
	display: flex;
	flex-wrap: wrap;
	margin: 24px 0px 0px;

	.f-left{
		width: 200px;
		margin: auto;
	}

	.f-right{
		padding-left: 60px;
		width: calc(100% - 200px);
	}

	.logo-footer{
		img{
			width: 200px;
			height: auto;
			display: block;
		}
	}

	.wrap-social{
		display: flex;
		flex-wrap: wrap;
		margin: 32px -8px 0px;
		justify-content: center;

		a{
			width: 20px;
			display: block;
			margin: 0px 8px;
		}

		i{
			width: 20px;
			font-size: 22px;
			color: #D79F30;
			transition: $trans-hover;

			&:hover{
				color: #FFFFFF;
			}
		}
	}

	.title-f-sec{
		color: #D79F30;
		font-family: $inter-bold;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px;
	}

	.wrap-f-sec{
		margin-top: 16px;

		ul{
			width: 100%;
			list-style-type: none;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
		}

		a{
			color: #FFF;
			font-family: $inter-regular;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px;
			transition: $trans-hover;

			&:hover{
				color: #D79F30;
			}

			&:after{
				content: "";
				width: 6px;
				height: 6px;
				background: #253C65;
				border-radius: 50px;
				margin: 0px 16px;
				display: inline-block;
				vertical-align: middle;
				transition: $trans-hover;
			}
		}

		li:last-child{
			a{
				&:after{
					display: none;
				}
			}
		}
	}
}

.copyright{
	width: 100%;
	background: rgba(255, 255, 255, 0.10);
	padding: 16px 32px;

	color: #F9F9F9;
	text-align: center;
	font-family: $inter-medium;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
}

.rendering{
	color: #F9F9F9;
	text-align: center;
	font-family: $inter-medium;
	font-size: 10px;
	font-style: normal;
	line-height: 18px;
}