$trans-hover: ease all 0.4s;
$trans-scale: scale(1.2);

@font-face {
    font-family: inter-regular;
    src: url('../fonts/inter/static/Inter-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: inter-medium;
    src: url('../fonts/inter/static/Inter-Medium.ttf');
    font-display: swap;
}

@font-face {
    font-family: inter-bold;
    src: url('../fonts/inter/static/Inter-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: inter-light;
    src: url('../fonts/inter/static/Inter-Light.ttf');
    font-display: swap;
}


$inter-regular: "inter-regular", "arial", "sans-serif";
$inter-medium: "inter-medium", "arial", "sans-serif";
$inter-bold: "inter-bold", "arial", "sans-serif";
$inter-light: "inter-light", "arial", "sans-serif";

html, body{
    position: relative;
    margin: 0;
}

body{
    font-family: $inter-regular;
    font-weight: 400;
    line-height: 140%;
    scroll-behavior: smooth;
    background-color: #fff;
    background-image: none;
}

.content{
    position: relative;
    width: 1024px;
    display: block;
    margin: auto;
}

a{
    text-decoration: none;

    &:hover, &:focus{
        text-decoration: none;
    }
}

.content-flex{
    display: flex;
    flex-wrap: wrap;
}

.content-clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content-left{
    float: left;
}

.content-right{
    float: right;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

*:focus {
    outline: 0 !important;
}

*, ::before, ::after{
    box-sizing: border-box;
}

*{
    -webkit-tap-highlight-color: transparent;
}

/* Ads */
.adsnone::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "Advertisement";
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ADC5DB;
  font-size: 12px;
  border: 1px solid #E7EEF4;
  background-color: #F5F8FB;
}

.leaderboard{
    position: relative;
    width: 728px !important;
    height: 90px !important;
    margin-left: auto;
    border-radius: 0px !important;
}

.billboard{
    position: relative;
    width: 970px !important;
    height: 250px !important;
    margin: 0px auto;
    border-radius: 0px !important;
}

.rectangle-ads-box{
    background: #FCFCFC;
    padding: 16px;
}

.rectangle-ads{
    position: relative;
    width: 300px !important;
    height: 250px !important;
    margin: 0px auto;
    border-radius: 0px !important;
}

/* Margin */
.mt4{
    margin-top: 4px;
}
.mt8{
    margin-top: 8px;
}
.mt16{
    margin-top: 16px;
}
.mt32{
    margin-top: 32px;
}
.mt40{
    margin-top: 40px;
}
.mb4{
    margin-bottom: 4px;
}
.mb8{
    margin-bottom: 8px;
}
.mb16{
    margin-bottom: 16px;
}
.mb20{
    margin-bottom: 20px;
}
.mb32{
    margin-bottom: 32px;
}
.ml4{
    margin-left: 4px;
}
.ml8{
    margin-left: 8px;
}
.ml16{
    margin-left: 16px;
}
.ml32{
    margin-left: 32px;
}
.mr4{
    margin-right: 4px;
}
.mr8{
    margin-right: 8px;
}
.mr16{
    margin-right: 16px;
}
.mr32{
    margin-right: 32px;
}

/* Padding */
.pt4{
    padding-top: 4px;
}
.pt8{
    padding-top: 8px;
}
.pt16{
    padding-top: 16px;
}
.pt32{
    padding-top: 32px;
}
.pb4{
    padding-bottom: 4px;
}
.pb8{
    padding-bottom: 8px;
}
.pb16{
    padding-bottom: 16px;
}
.pb32{
    padding-bottom: 32px;
}

/* Warna Kanal */
.kanal-jak-news{
    border-left: 4px solid #30CDD7;
}

.kanal-jak-ekbis{
    border-left: 4px solid #FDD815;
}

.kanal-jak-showbiz{
    border-left: 4px solid #F228AE;
}

.section-jak-news{
    &:before{
        background: #30CDD7;
    }
}

.section-jak-ekbis{
    &:before{
        background: #FDD815;
    }
}

.section-jak-showbiz{
    &:before{
        background: #F228AE;
    }
}

/* Popup */
.pop-search{
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    width: 504px;
    height: max-content;
    position: fixed;
    left: 0;
    right: 0;
    top: 180px;
    // bottom: 0;
    margin: auto;
    background: #F9F9F9;
    box-shadow: 0px 25px 60px -10px rgba(28, 39, 49, 0.12);
    padding: 24px;
    transition: $trans-hover;

    .title-input-search{
        color: #182E54;
        font-family: $inter-bold;
        font-size: 20px;
        font-style: normal;
        line-height: normal;
        margin-bottom: 16px;
        text-align: center;
    }

    .wrap-input-search{
        position: relative;

        input{
            width: 100%;
            background: #EFEFEF;
            padding: 12px 50px 12px 8px;
            border: none;

            color: #898989;
            font-family: $inter-regular;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
        }

        button{
            width: 44px;
            height: 44px;
            background: #D79F30;
            border: none;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;

            i{
                font-size: 18px;
                color: #fff;
            }
        }
    }
}

.pop-show{
    visibility: visible;
    opacity: 1;
    transition: $trans-hover;
}

body.modal-open{
    overflow: auto;
    margin: 0;
    max-height: 100vh;

    .content{
        -webkit-filter: blur(12.5px);
        -moz-filter: blur(12.5px);
        -o-filter: blur(12.5px);
        -ms-filter: blur(12.5px);
        filter: blur(12.5px);
        height: max-content;
        min-height: 100%;
        transition: ease all 0.4s;
    
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(123, 123, 123, 0.35);
            transition: ease all 0.4s;
        }
    }
}