.header{
	display: flex;
	padding: 16px 0px;
}

.logo-header{
	display: flex;
	align-items: center;

	img{
		width: 264px;
		height: auto;
		display: block;
	}
}

.leaderboard{
	margin-left: auto;

	img{
		width: 728px;
		height: 90px;
		display: block;
	}
}

.navbar{
	display: flex;
	background: #182E54;
	padding-left: 24px;

	nav{

		ul{
			display: flex;
			list-style-type: none;
			padding: 0;
			margin: 0 -4px;
		}

		li{
			display: inline-block;
			margin: 0px 4px;
		}

		a{
			display: block;
			height: 42px;
			padding: 8px 12px;
			border-bottom: 4px solid #182E54;
			font-family: $inter-bold;
			font-size: 16px;
			line-height: 26px;
			color: #F9F9F9;
			transition: $trans-hover;

			&:hover{
				border-bottom: 4px solid #D79F30;
			}
		}

		.active{
			border-bottom: 4px solid #D79F30;

			&:hover{
				// background: #CE0305;
			}
		}
	}

	.search-box{
		background: #D79F30;
		width: 42px;
		height: 42px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		cursor: pointer;

		i{
			font-size: 15px;
			color: #fff;
		}
	}
}

.nav-sticky{
	animation: sticky 0.3s ease-in-out;
	position: sticky;
	top: 0;
	z-index: 89;
	border: 0px solid #fcfcfc;
	box-shadow: 0px 25px 60px -10px rgba(28, 39, 49, 0.12);
}

@-webkit-keyframes sticky{
    0%{top: -60px;}
    100%{top: 0;}
}