.billboard{
	padding-top: 16px;

	img{
		width: 970px;
		height: 250px;
		display: block;
		margin: auto;
	}
}

.more{
	display: flex;
  	justify-content: center;

	a{	
		padding: 12px 32px;
		text-align: center;
		display: block;
		font-family: $inter-regular;
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		background: #182E54;
		color: #F9F9F9;
		margin-top: 44px;
		transition: $trans-hover;

		&:hover{
			background: #d79f30;
		}
	}
}

.pagination{
	margin: 32px -8px 0px;
	display: flex;
	justify-content: center;
	padding: 16px 0px;

	ul{
		list-style-type: none;
		margin: 0px auto;
		padding: 0;
	}

	li{
		display: inline-block;
		margin: 0px 8px;

		a{
			display: block;
			width: 48px;
			height: 48px;
			background: #fff;
			border: 1px solid #182E54;
			font-family: $inter-regular;
			font-weight: 600;
			font-size: 16px;
			line-height: 26px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #182E54;
			transition: $trans-hover;

			&:hover{
				background: #182E54;
				color: #fff;
			}

			i.fa-l{
				position: relative;
				left: 2px;
			}

			i.fa-r{
				position: relative;
				left: -2px;
			}
		}

		.active{
			background: #182E54;
			color: #fff;
		}

		.disable{
			color: #B9B9B9;
			border: 1px solid #B9B9B9;

			&:hover{
				color: #B9B9B9;
				border: 1px solid #B9B9B9;
				background: #fff;
			}
		}
	}
}

.wrap-btn-top{
	visibility: visible;
	opacity: 1;
	position: fixed;
	z-index: 5;
	right: 45px;
	bottom: 40px;
	background: #D79F30;
	width: 42px;
	height: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: $trans-hover;

	i{
		color: #F9F9F9;
		font-size: 25px;
	}
}

.wrap-btn-top-show{
	visibility: visible;
	opacity: 1;
}

.skin-ads-left, .skin-ads-right{
	position: fixed;
	top: 16px;

	img{
		width: 120px;
		height: 600px;
		display: block;
	}
}

.skin-ads-left{
	left: 50%;
	margin-left: -674px;
}

.skin-ads-right{
	right: 50%;
	margin-right: -674px;
}

/* Filter */
.warp-filter-kanal{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 32px;
}

.filter-kanal-left{
	justify-content: left;
}

/* Cmb Kanal */
.warp-input-kanal{
	position: relative;
	width: 200px;

	input[type="text"]{
		width: 100%;
		background: #FFFFFF;
		border: 1px solid #EFEFEF;
		font-family: $inter-regular;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		display: flex;
		color: #000;
		padding: 12px 45px 12px 10px;
	}

	i{
		position: absolute;
		top: 16px;
		right: 10px;
		width: 16px;
		height: 16px;
		font-size: 16px;
		color: #D79F30;
		cursor: pointer;
		transition: $trans-hover;
	}

	.cmb-list-kanal{
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 60px;
		z-index: 2;
		width: 200px;
		height: 302px;
		overflow-x: auto;
		background: #fff;
		border: 1px solid #EFEFEF;
		transition: $trans-hover;

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li{
			display: block;
			padding: 12px 16px;
			font-family: $inter-regular;
			font-weight: 600;
			font-size: 16px;
			line-height: 26px;
			color: #7B7B7B;
			background: #fff;
			transition: $trans-hover;
			cursor: pointer;

			&:hover{
				color: #fff;
				background: #D79F30;
			}

			.rb-kanal[type="radio"] {
	            -webkit-appearance: none;
	            -moz-appearance: none;
	            appearance: none;
	            margin: 0px;

	            &:before {
	                content: '';
	                width: 16px;
	                height: 16px;
	                background: #fff;
	                border-radius: 100%;
	                border: 1px solid #EFEFEF;
	                display: inline-block;
	                position: relative;
	                top: -1px;
	                vertical-align: top;
	                cursor: pointer;
	                text-align: center;
	                transition: all 250ms ease;
	                margin-right: 5px;
	            }

	            &:checked {
	                &:before {
	                  background-color: #D79F30;
	                  box-shadow: inset 0 0 0 2px #fff;
	                  border: 1px solid #D79F30;
	                }
	            }

	            &:focus {
	                &:before {
	                  outline: none;
	                  border-color: #D79F30;
	                }
	            }

	            &:disabled {
	                &:before {
	                  box-shadow: inset 0 0 0 2px #f4f4f4;
	                  border-color: darken(#f4f4f4, 25%);
	                  background: darken(#f4f4f4, 25%);
	                }
	            }
	        }
		}
	}
}

.open-cmb{
	i{
		transform: rotate(180deg);
	}

	.cmb-list-kanal{
		visibility: visible;
		opacity: 1;
	}
}

/* Datepicker */
.warp-input-date{
	position: relative;

	input[type="text"]{
		width: 100%;
		background: #FFFFFF;
		border: 1px solid #EFEFEF;
		font-family: $inter-regular;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		display: flex;
		color: #000;
		padding: 12px 45px 12px 10px;

        &:focus ~ i{
            transform: rotate(180deg);
        }
	}

	i{
		position: absolute;
		top: 16px;
		right: 10px;
		width: 16px;
		height: 16px;
		font-size: 16px;
		color: #D79F30;
		cursor: pointer;
		transition: $trans-hover;
	}
}

.datepicker-switch:hover, 
.datepicker .next:hover, 
.datepicker .prev:hover, 
.datepicker tfoot tr th:hover {
    background: #f0f0f0;
    border-radius: 5px;
}

.datepicker{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 3px 7px;
    font-family: $inter-regular;
    font-size: 14px;
    color: #3E3E3E;
    text-align: center;
    cursor: pointer;

    .day{
        width: 36px !important;
        height: 30px !important;

        &:hover{
            background: #f0f0f0;
            border-radius: 5px;
        }
    }

    .month{
        &:hover{
            background: #f0f0f0;
            border-radius: 5px;
        }
    }

    .year{
        &:hover{
            background: #f0f0f0;
            border-radius: 5px;
        }
    }

    .old{
        color: #f0f0f0;
    }

    .active{
        color: #fff;
        background: #D79F30;
        border-radius: 4px;

        &:hover{
            background: #D79F30;
            border-radius: 5px;
        }
    }

    table tr td span {
        display: block;
        width: 23%;
        height: 54px;
        line-height: 54px;
        float: left;
        margin: 1%;
        cursor: pointer;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }
}

.datepicker-dropdown {
    border-radius: 10px;
    top: 58px !important;
}

.table-condensed > tbody > tr > td, .table-condensed > thead > tr > th {
    padding: 7px;
}

/* Btn Filter */
.btn-filter-kanal{
	width: 46px;
	height: 46px;
	background: #182E54;
	font-family: $inter-bold;
	font-size: 16px;
	font-style: normal;
	line-height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
	margin-left: 24px;
	border: 1px solid #182E54;
	cursor: pointer;
}

/* Headline */
.headline{
	display: flex;
	flex-wrap: wrap;

	.hl-left{
		width: 677px;
	}

	.hl-right{
		width: calc(100% - 677px);
		padding-left: 16px;

		a:last-child{
			margin-top: 12px;
			display: block;
		}
	}

	.bg-hl{
		width: 677px;
		height: 452px;
	}

	.sm-hl{
		width: 331px;
		height: 220px;
	}

	.bg-hl, .sm-hl{
		position: relative;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}

		.desc-bg-hl, .desc-sm-hl{
			position: absolute;
			left: 0;
			bottom: 0;
			transition: background 0.7s;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.36) 28.65%, rgba(0, 0, 0, 0.4) 100%);
		}

		.desc-bg-hl{
			padding: 16px;
		}

		.desc-sm-hl{
			padding: 8px;
		}

		.kanal-hl{
			background: #182E54;
			padding: 4px 12px;
			font-family: $inter-bold;
			font-size: 12px;
			font-style: normal;
			line-height: 18px;
			color: #FFFFFF;
			width: max-content;
		}

		.title-bg-hl, .title-sm-hl{
			font-family: $inter-bold;
			color: #F9F9F9;
			transition: color 0.5s;
		}

		.title-bg-hl{
			font-weight: 700;
			font-size: 32px;
			line-height: normal;
			margin: 11px 0px 0px 0px;
		}

		.title-sm-hl{
			font-weight: 600;
			font-size: 20px;
			line-height: normal;
			margin: 3px 0px 0px 0px;
		}

		&:hover{
			.desc-bg-hl, .desc-sm-hl{
				background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 27.08%, rgba(0, 0, 0, 0.731776) 66.46%, rgba(0, 0, 0, 0.9) 100%);
			}

			.title-bg-hl, .title-sm-hl{
				color: #d79f30;
			}
		}
	}
}

/* Content Section */
.content-section{
	display: flex;
	flex-wrap: wrap;
	margin-top: 32px;
	margin-bottom: 60px;
}

.content-control{
	width: 100%;
}

.content-left{
	width: calc(100% - 331px);
	padding-right: 16px;
}

.content-right{
	width: 331px;
}

.wrap-title-section{
	position: relative;
	width: 100%;
	padding: 8px 10px 8px 0px;
	margin-bottom: 32px;
	background-color: #F9F9F9;

	&:before{
		content: '';
		width: 6px;
		height: 40px;
		background: #182E54;
		position: absolute;
		top: 0px;
		left: 6px;
	}

	.title-section{
		position: relative;
		width: 100%;
		font-family: $inter-bold;
		font-size: 20px;
		font-style: normal;
		line-height: normal;
		color: #182E54;
		padding-left: 24px;

		&:before{
			content: '';
			width: 6px;
			height: 40px;
			position: absolute;
			top: -8px;
			left: 0;
		}
	}

	.warp-navigation{
		position: absolute;
		right: 20px;
		top: 0;
		display: flex;
		align-items: center;
		height: 100%;

		i{
			width: 24px;
			height: 24px;
			text-align: center;
			font-size: 24px;
			margin-left: 16px;
			cursor: pointer;
			color: #FC3E40;
			transition: $trans-hover;
		}

		.swiper-button-disabled{
			color: #B9B9B9;;
		}
	}

	.warp-btn-more{
		position: absolute;
		right: 10px;
		top: 9px;

		a{
			font-family: $inter-bold;
			font-size: 14px;
			font-style: normal;
			line-height: normal;
			color: #F9F9F9;
			background-color: #182E54;
			padding: 4px 8px;
			transition: $trans-hover;

			&:hover{
				color: #fff;
				background-color: #D79F30;
			}
		}
	}
}

/* List News */
.warp-list-news{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -8px;
}

.list-news{
	width: 330px;
	margin: 0px 8px 24px 8px;
}

.img-news{
	position: relative;
	width: 330px;
	height: 217px;

	img{
		width: 330px;
		height: 217px;
		display: block;
		object-fit: cover;
		object-position: top;
	}

	i{
		position: absolute;
		left: 11px;
		bottom: 13px;
		font-size: 26px;
		color: #0B3355;
	}

	&:hover ~ .title-news{
		a{
			color: #d79f30;
		}
	}
}

.title-news{
	margin-top: 16px;

	a{
		font-family: $inter-bold;
		font-size: 18px;
		font-style: normal;
		line-height: 130%;
		color: #3E3E3E;
		transition: $trans-hover;

		&:hover{
			color: #d79f30;
		}
	}
}

.date-news{
	font-family: $inter-regular;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	color: #182E54;
	margin-top: 8px;
}

/* Right */
/* Terpopuler */
.wrap-terpopuler{
	position: relative;
	width: 100%;
	padding: 8px 10px 8px 0px;
	margin: 32px 0px 20px;
	background-color: #F9F9F9;

	&:before{
		content: '';
		width: 6px;
		height: 40px;
		background: #182E54;
		position: absolute;
		top: 0px;
		left: 6px;
	}

	.title-terpopuler{
		position: relative;
		width: 100%;
		font-family: $inter-bold;
		font-size: 20px;
		font-style: normal;
		line-height: normal;
		color: #182E54;
		padding-left: 24px;

		&:before{
			content: '';
			width: 6px;
			height: 40px;
			background: #D79F30;
			position: absolute;
			top: -8px;
			left: 0;
		}
	}
}

.lits-artikel-populer{
	margin-top: 20px;

	&:hover{
		.title-artikel-populer{
			color: #d79f30;
		}
	}

	a{
		display: flex;
	}

	.img-artikel-populer{
		position: relative;
		margin-right: 12px;

		.no-artikel-populer{
			background: #0B3355;
			border-left: 4px solid #D79F30;
			position: absolute;
			width: 36px;
			height: 36px;
			left: 0px;
			bottom: 0px;

			font-family: $inter-medium;
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #FFFFFF;
		}

		img{
			width: 142px;
			height: 94px;
			object-fit: cover;
			object-position: top;
			display: block;
		}
	}

	.title-artikel-populer{
		font-family: $inter-bold;
		font-size: 16px;
		font-style: normal;
		line-height: 20px;
		color: #373737	;
		transition: $trans-hover;
	}
}

/* Detail */
.title-detail{
	font-family: $inter-bold;
	font-size: 32px;
	line-height: normal;
	color: #3E3E3E;
	margin: 0px;
}

.wrap-auth-detail{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding-left: 16px;
	margin: 16px 0px;

	&:before {
		content: '';
		width: 4px;
		height: 16px;
		background: #D79F30;
		position: absolute;
		top: 2px;
		left: 0;
	}
}

.auth-detail{
	font-family: $inter-medium;
	font-size: 16px;
	line-height: 20px;
	color: #182E54;
	margin-right: 12px;
}

.date-detail{
	font-family: $inter-regular;
	font-size: 14px;
	line-height: 20px;
	color: #373737;
}

.img-detail{
	margin-bottom: 12px;

	img{
		width: 677px;
		height: 452px;
		object-fit: cover;
		object-position: top;
		display: block;
	}
}

.img-detail-foto{
	position: relative;
	width: 677px;

	.warp-navigation{
		position: absolute;
		left: 0px;
		top: 30%;
		z-index: 3;
		display: flex;
		align-items: center;
		width: 100%;

		i{
			width: 60px;
			height: 60px;
			text-align: center;
			font-size: 35px;
			cursor: pointer;
			color: #FFFFFF;
			transition: $trans-hover;
			background-color: rgba(206, 3, 5, 1);
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.nav-prev{
			margin-right: auto;
		}

		.nav-next{
			margin-left: auto;
		}

		.swiper-button-disabled{
			background-color: rgba(206, 3, 5, 0);
		}
	}

	.swiperFotoDetail{
		position: relative;

		.swiper-slide{
			width: 100% !important;
			height: max-content !important;

			.detail-img{
				width: 100%;
				height: 452px;
			    display: flex;
			    background-color: #000;
			    position: relative;

			    img{
					width: 677px;
					height: 452px;
					object-fit: cover;
					object-position: top;
				}

				.img-zoom{
					display: block;
					margin: auto;
				}

				.fullImage{
					position: absolute;
					right: 18px;
					top: 18px;
					z-index: 3;
					width: 48px;
					height: 48px;
					background: #1A0001;
					font-size: 28px;
					color: #FFFFFF;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;
					opacity: 0.5;
				}
			}

			.warp-detail-img-caption{
				display: flex;
				margin-top: 125px;
				padding-bottom: 8px;

				.number{
					width: 25px;
					font-family: $inter-regular;
					font-weight: 400;
					font-size: 16px;
					line-height: 15px;
					color: #3E3E3E;
				}

				.caption{
					width: calc(100% - 25px);
					padding-left: 8px;
					font-family: $inter-regular;
					font-weight: 400;
					font-size: 12px;
					line-height: 14px;
					color: #7B7B7B;
				}
			}
		}

		.swiper-button-next, .swiper-button-prev{
			color: #CCD2E3;
		}
	}

	.thumb-detail{
		width: 677px;
        margin: 8px 0px;
        padding: 0px;
        position: absolute;
		top: 443px;
    }

	.swiperFotoThumb{
		margin-top: 8px;

		.swiper-slide{
			width: 157px !important;
			height: 105px !important;
			position: relative;
			cursor: pointer;

			img{
				width: 157px;
				height: 105px;
				object-fit: cover;
				object-position: top;
				cursor: pointer;
				// border: 4px solid #fff;
			}

			&:after{
				content: "";
				width: 157px;
				height: 105px;
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
			}
		}

		.swiper-slide-thumb-active{
			img{
				object-fit: cover;
				object-position: top;
				border: 4px solid #FC3E40;
			}

			&:after{
				background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
			}
		}
	}
}

.warp-full{
	.btn-close-full{
		display: none;
	}
}

.fullscreen-section{
	display: flex;
	justify-content: center;
	align-items: center;

	.btn-close-full{
		display: block;
		font-size: 24px;
		color: #fff;
		position: absolute;
		top: 24px;
		right: 24px;
		cursor: pointer;
	}

	.fullImage{
		display: none !important;
	}

	.img-detail-foto{
		width: 994px;
	}

	.img-detail-foto .swiperFotoDetail .swiper-slide .detail-img{
		width: 850px;
		height: 567px;
		left: 0;
		right: 0;
		margin: auto;
	}

	.img-detail-foto .swiperFotoDetail .swiper-slide{
		margin-right: 0px;
	}

	.img-detail-foto .swiperFotoDetail .swiper-slide .detail-img img{
		width: 850px;
		height: 567px;
	}

	.img-detail-foto .thumb-detail{
		display: none;
	}

	.img-detail-foto .warp-navigation{
		top: 37%;
	}

	.img-detail-foto .swiperFotoDetail .swiper-slide .warp-detail-img-caption{
		width: 850px;
		position: relative;
		left: 0;
		right: 0;
		margin: 16px auto 0px;
	}

	.img-detail-foto .swiperFotoDetail .swiper-slide .warp-detail-img-caption .caption{
		color: #fff;
	}

	.img-detail-foto .swiperFotoDetail .swiper-slide .warp-detail-img-caption .number{
		color: #fff;
	}

	.img-detail-foto .warp-navigation .swiper-button-disabled{
		background-color: #3E3E3E;
	}
}

.img-detail-desc{
	font-family: $inter-regular;
	font-size: 14px;
	line-height: 140%;
	color: #898989;
	text-align: center;
	margin-bottom: 24px;
}

.warp-artikel-detail{
	display: flex;
	flex-wrap: wrap;
}

.artikel-d-left{
	width: 71px;

	.wrap-i-left{
		position: relative;
		text-align: center;

		.i-left{
			margin-bottom: 32px;
			cursor: pointer;

			&:hover{
				i{
					color: #D79F30;
				}

				.title-icon{
					color: #D79F30;
				}
			}

			i{
				width: 48px;
				height: 48px;
				font-size: 40px;
				color: #182E54;
				transition: $trans-hover;
			}

			.title-icon{
				font-family: $inter-regular;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				color: #182E54;
				margin-top: 4px;
				transition: $trans-hover;
			}
		}

		.social-share-v{
			visibility: hidden;
			opacity: 0;
			width: 100%;
			border-top: 1px solid #FC3E40;
			position: absolute;
			z-index: 2;
			top: 90px;
			left: 0;
			transition: $trans-hover;
			background-color: #fff;

			ul{
				list-style-type: none;
				padding: 0;
				margin: 0;
			}

			li{
				display: block;
				margin-top: 16px;

				a:hover{
					i{
						color: #D79F30;
					}
				}

				i{
					width: 28px !important;
					height: 28px !important;
					font-size: 28px !important;
					color: #B9B9B9;
					transition: $trans-hover;
				}
			}
		}

		.social-share-v-show{
			visibility: visible;
			opacity: 1;
		}
	}
}

.artikel-d-right{
	width: calc(100% - 71px);
	padding-left: 16px;
	font-family: $inter-regular;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #373737;

	a{
		font-family: $inter-bold;
		color: #182E54;
	}

	.artikel-video{
		width: 480px;
		height: 270px;
		margin: 32px auto;
		display: block;
	}

	.read-more{
		border-left: 4px solid #D79F30;
		padding: 12px 16px;
		margin: 16px 0px;
		background-color: #F9F9F9;
		font-family: $inter-regular;
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		color: #3E3E3E;

		a{
			display: block;
			color: #0F4471;
			font-weight: 700;
			margin-top: 12px;
		}
	}

	.reporter{
		margin-top: 32px;
	}
}

.share-artikel-d{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	margin: 16px 0px 24px 0px;

	.title-share{
		font-family: $inter-bold;
		font-size: 16px;
		line-height: 20px;
		color: #373737;
		margin-right: 16px;
	}

	.social-share{
		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li{
			display: inline-block;
			margin: 0px 8px;

			&:last-child{
				margin-right: 0px;
			}

			a:hover{
				i{
					color: #D79F30;
				}
			}

			i{
				width: 24px;
				height: 24px;
				font-size: 24px;
				color: #D79F30;
				transition: $trans-hover;
			}
		}
	}
}

.tag-artikel-d{
	margin: 24px 0px 40px;
	display: flex;
	flex-wrap: wrap;

	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li{
		display: inline-block;
		margin: 8px 16px 8px 0px;

		&:last-child{
			margin-right: 0px;
		}

		a{
			padding: 8px 12px;
			border: 1px solid #182E54;
			background: #FFFFFF;
			display: block;
			font-family: $inter-regular;
			font-weight: 600;
			font-size: 16px;
			line-height: 20px;
			color: #182E54;
			transition: $trans-hover;

			&:hover{
				background: #182E54;
				color: #FFFFFF;
			}
		}
	}	
}

.wrap-fb-comment{
	width: 100%;
	padding: 40px 42px;
	background: #FFFFFF;
	border: 1px solid rgba(45, 57, 76, 0.1);
	display: flex;
	justify-content: center;
}

/* Home Kanal */
.breadcrumb{
	margin: 24px 0px; 

	ul{
		display: flex;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li{
		display: inline-block;
		font-family: $inter-medium;
		font-size: 14px;
		line-height: 18px;

		a{
			color: #3E3E3E;
			transition: $trans-hover;

			&:hover{
				color: #3E3E3E;
			}
		}

		&:first-child{
			&:before{
				margin: 0px;
				width: 0px;
			}
		}

		&:before{
			content: "";
			width: 1px;
			height: 12px;
			background: #3E3E3E;
			margin: 0px 8px;
			display: inline-block;
			position: relative;
			top: 1px;
		}
	}

	.active{
		color: #D79F30;
	}
}

.kanal-headline{
	height: 452px;
	margin-bottom: 32px;

	&:hover{
		.title-kanal-headline{
			color: #CE0305;
		}
	}

	.img-kanal-headline{
		position: relative;
		width: 100%;
		height: 452px;

		img{
			width: 100%;
			height: 452px;
			object-fit: cover;
			object-position: top;
			display: block;
		}

		i{
			position: absolute;
			left: 12px;
			bottom: 14px;
			font-size: 40px;
			color: #0B3355;
		}
	}

	.wrap-desc-kanal-headline{
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 24px 16px 16px 16px; 
		background: rgba(0, 8, 22, 0.30);

		.title-kanal-headline{
			font-family: $inter-bold;
			font-size: 32px;
			font-style: normal;
			line-height: normal;
			color: #F9F9F9;
			transition: $trans-hover;
		}
	}
}

/* Not Found */
.wrap-woops{
	margin-top: 60px;
	text-align: center;

	img{
		width: 312px;
		height: auto;
		display: block;
		margin: auto;
	}

	.desc-not-found{
		font-family: $inter-regular;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
		color: #373737;
		margin-top: 32px;
	}
}

.wrap-404{
	margin-top: 24px;
	text-align: center;

	img{
		width: 378px;
		height: auto;
		display: block;
		margin: auto;
		margin-top: 24px;
	}

	.desc-not-found{
		font-family: $inter-bold;
		font-size: 24px;
		font-style: normal;
		line-height: 140%;
		color: #3E3E3E;
	}

	.btn-back-home{
		margin: 24px auto 0px;
		display: flex;
		justify-content: center;

		a{
			display: block;
			padding: 12px 32px;
			background: #182E54;
			text-align: center;
			font-family: $inter-bold;
			font-size: 16px;
			font-style: normal;
			line-height: 20px;
			color: #FFFFFF;
			max-width: max-content;
		}
	}
}

/* About */
.banner{
	width: 100%;
	margin: 32px 0px; 

	img{
		width: 1024px;
		height: 300px;
		display: block;
		margin: auto;
	}
}

.wrap-about{
	display: flex;
	flex-wrap: wrap;
}

.nav-about{
	width: 244px;

	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li{
		position: relative;
		display: block;
		margin-bottom: 8px;
		padding: 16px 32px;
		border-left: 4px solid #D79F30;
		background: #F9F9F9;
		font-family: $inter-bold;
		font-size: 16px;
		font-style: normal;
		line-height: 20px;
		color: #3E3E3E; 
		cursor: pointer;
		transition: $trans-hover;

		&:hover{
			background: #182E54;
			color: #fff; 
		}
	}

	.active{
		background: #182E54;
		color: #fff; 
	}
}

.content-about{
	display: none;
	width: calc(100% - 244px - 16px);
	padding-left: 32px;
	margin-left: 16px;
	border-left: 1px solid #D7D7D7;
}

.content-about-show{
	display: block;
}

.title-content-about{
	font-family: $inter-bold;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	margin-bottom: 24px;
}

.desc-content-about{
	font-family: $inter-regular;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	color: #373737;

	h2{
		font-size: 20px;
	}

	.title-redaksi{
		font-size: 16px;
		color: #7B7B7B;
		margin-bottom: 8px;
	}

	.name-redaksi{
		font-size: 20px;
		font-weight: 700;
		color: #3E3E3E;
		line-height: 26px;
	}

	.mapouter{
		margin: 32px 0px;
		width: 100%;

		.gmap_canvas{
			width: 100% !important;
		}
	}
}