@import "global";

footer{
	background-color: $color-primary;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 370px;
}

.img-bg-footer{
	position: absolute;
	bottom: 327px;
	width: 400px;
	right: 0px;
}

.warp-footer{	
	padding: 52px 137px 0px 137px;
}

.footer-col{
	padding: 0px 10px;
	width: 33.33%;
}

.logo-footer{
	margin-bottom: 10px;
	width: 200px;
}

.tag-footer{
	font-family: $roboto-reguler;
	font-size: 14px;
	color: #fff;
	margin-bottom: 35px;
}

.footer-follow{
	font-family: $roboto-reguler;
	font-size: 16px;
	color: #fff;
}

.title-follow{
	margin-bottom: 25px;
}

.col-follow{
	float: left;
	width: 50%;
	margin-bottom: 20px;

	a{
		color: #fff;

		&:hover, &:focus{
			color: #fff;
			text-decoration: none;
			padding-bottom: 3px;
			border-bottom: 1px dotted #fff;
		}
	}

	i{
		margin-right: 8px;
		background-color: #fff;
		border-radius: 50px;
		width: 25px;
	    height: 25px;
	    padding: 6px 5px;
	    font-size: 14px;
	}

	.fa-facebook{
		color: $color-fb;
	}

	.fa-twitter{
		color: $color-tw;
	}

	.fa-instagram{
		color: $color-ig;
	}

	.fa-youtube-play{
		color: $color-yt
	}
}

.copyright{
	background-color: #2742a8;
	font-size: 14px;
	padding: 16px 0px;
	color: #fff;
	text-align: center;
	margin-top: 50px;
}

.title-section-footer{
	position: relative;
	font-size: 20px;
	padding-bottom: 7px;
	border-bottom: 2px solid rgba(255,255,255,0.2);
	color: #fff;

	.bold{
		font-family: $roboto-bold;
	}

	&:after{
		position: absolute;
		content: "";
		border-bottom: 4px solid $color-secondary;
		right: 0;
		bottom: -4px;
		width: 60px;
	}
}

.col-section-footer{
	float: left;
	width: 50%;
	font-family: $roboto-medium;
	font-size: 13px;
	padding: 20px 0px 0px;

	i{
		margin-right: 5px;
		color: #fff;
	    font-size: 11px;
	}

	a{
		color: #fff;
		padding-bottom: 3px;
		transition: $link-trans;

		&:hover, &:focus{
			color: #fff;
			text-decoration: none;
			border-bottom: 1px dotted #fff;
		}
	}
}
