@import "global";

footer{
	padding: 0px 184px;
	background-color: #fff;
	margin-top: 100px;
}

.warp-footer{
	padding: 40px 14px;
	border-top: 1px solid $color-border;
}

.logo-footer{
	margin-bottom: 12px;

	img{
		width: 120px;
		height: auto;
	}
}

.copy{
	font-family: $jost-regular;
	font-size: 12px;
	color: $color-caption-black-2;
}
