$color-primary: #EACB71;
$color-caption-black: #1E1E1E;
$color-caption-black-2: #414141;
$color-border: #D9D9D9;
$trans-hover: ease all 0.4s;
$trans-scale: scale(1.2);

@font-face {
    font-family: Jost-Regular;
    src: url('../fonts/jost/Jost-Regular.ttf');
}

@font-face {
    font-family: Jost-Medium;
    src: url('../fonts/jost/Jost-Medium.ttf');
}

@font-face {
    font-family: Jost-Bold;
    src: url('../fonts/jost/Jost-Bold.ttf');
}

@font-face {
    font-family: Jost-Light;
    src: url('../fonts/jost/Jost-Light.ttf');
}


$jost-regular: "Jost-Regular",arial,sans-serif;
$jost-medium: "Jost-Medium",arial,sans-serif;
$jost-bold: "Jost-Bold",arial,sans-serif;
$jost-light: "Jost-Light",arial,sans-serif;

html, body{
    position: relative;
    margin: 0;
}

body{
    font-family: $jost-regular;
    line-height: 1.2;
    scroll-behavior: smooth;
    background-color: #fff;
    background-image: none;
}

.body-disable-sc{
    overflow: hidden;
}

a{
    text-decoration: none;

    &:hover, &:focus{
        text-decoration: none;
    }
}

.content-row{
    display: flex;
    flex-wrap: wrap;
}

.content-clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content-left{
    float: left;
}

.content-right{
    float: right;
}

.text-center{
    text-align: center;
}

.color-primary{
    color: $color-primary;
}

*:focus {
    outline: 0 !important;
}

*, ::before, ::after{
    box-sizing: border-box;
}

*{
    -webkit-tap-highlight-color: transparent;
}

.mt8{
    margin-top: 8px;
}
.mt16{
    margin-top: 16px;
}
.mt25{
    margin-top: 25px;
}
.mt28{
    margin-top: 28px;
}
.mt32{
    margin-top: 32px;
}
.mt40{
    margin-top: 40px;
}
.mt50{
    margin-top: 50px;
}
.mt60{
    margin-top: 60px;
}
.mb8{
    margin-bottom: 8px;
}
.mb16{
    margin-bottom: 16px;
}
.mb25{
    margin-bottom: 25px;
}
.mb28{
    margin-bottom: 28px;
}
.mb32{
    margin-bottom: 32px;
}
.mb40{
    margin-bottom: 40px;
}
.mb60{
    margin-bottom: 60px;
}