@import 'global';

.warp-header{
	width: 100%;
	padding: 0px 184px;

	.header-logo{
		padding: 12px 0px;
		border-bottom: 1px solid $color-border;

		img{
			width: 103px;
			height: auto;
			display: block;
			margin: auto;
		}
	}
}

.warp-nav{
	display: flex;
	padding: 16px 184px;

	.icon-burger{
		width: 48px;
		padding: 0px 12px;

		img{
			width: 24px;
			height: 24px;
		}
	}

	.header-nav{
		width: calc(100% - 48px);
		text-align: center;
		padding: 2px 0px;

		ul{
			padding: 0;
			margin: 0;
			list-style: none;
		}

		li{
			display: inline-block;
			padding: 0px 22px;
		}

		a{
			font-family: $jost-regular;
			font-size: 16px;
			color: $color-caption-black-2;
			transition: $trans-hover;

			&:hover{
				color: $color-primary;
			}
		}

		.active{
			color: $color-primary;
		}
	}
}

.warp-header-sm{
	width: 100%;
	padding: 12px 184px;
	display: flex;

	.header-logo{
		width: 102px;

		img{
			width: 102px;
			height: auto;
		}
	}

	.header-nav{
		width: calc(100% - 102px);
		padding: 15px 0px 15px 50px;

		ul{
			padding: 0;
			margin: 0;
			list-style: none;
		}

		li{
			display: inline-block;
			padding: 0px 22px;
		}

		a{
			font-family: $jost-regular;
			font-size: 16px;
			color: $color-caption-black-2;
			transition: $trans-hover;

			&:hover{
				color: $color-primary;
			}
		}
	}
}