@import 'global';

.arrow-small-right{
	position: relative;
	display: inline-block;

	&:after{
		content:"";
		background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23333333" viewBox="0 0 13 12"><!--! Font Awesome Pro 6.0.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M12 6.00293L12.3746 6.33413L12.6674 6.00293L12.3746 5.67173L12 6.00293ZM-1.96701e-07 6.50293L12 6.50293L12 5.50293L-2.40413e-07 5.50293L-1.96701e-07 6.50293ZM11.6254 5.67173L7.20437 10.6717L7.95352 11.3341L12.3746 6.33413L11.6254 5.67173ZM12.3746 5.67173L7.95352 0.671728L7.20437 1.33413L11.6254 6.33413L12.3746 5.67173Z"/></svg>') !important;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		width: 100%;
		height: 100%;
	}
}