@import 'global';

/* Utils */
.mobile{
	display: none;
}

.desktop{
	display: block;
}

.warp-title-section{
	display: block;
	text-align: center;

	.title-section{
		font-family: $jost-medium;
		font-size: 24px;
		color: $color-caption-black;
		margin-bottom: 8px;
	}

	.sub-title-section{
		font-family: $jost-regular;
		font-size: 16px;
		color: $color-caption-black;
	}
}

.warp-title-section-page{
	text-align: center;
	padding-bottom: 12px;

	.title-section-page{
		position: relative;
		font-family: $jost-regular;
		font-size: 32px;
		color: $color-caption-black-2;

		&::after{
			content: "";
			position: absolute;
			width: 52px;
			height: 8px;
			bottom: -25px;
			left: 0;
			right: 0;
			margin: auto;
			background-color: $color-primary;
		}
	}
}

.cover-page{
	position: relative;
	width: 100%;
	height: 262px;

	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.warp-desc-cover-page{
		position: absolute;
		width: 750px;
		left: 50%;
		top: 50%;
		text-align: center;
		transform: translate(-50%, -50%);
	}

	.title-cover-page-sm{
		font-family: $jost-medium;
		font-size: 14px;
		color: #fff;
		margin-bottom: 12px;
	}

	.title-cover-page{
		font-family: $jost-medium;
		font-size: 40px;
		color: #fff;
	}

	.desc-cover-page{
		font-family: $jost-medium;
		font-size: 14px;
		color: #fff;
		margin-top: 12px;
	}
}

.pagination{
	text-align: center;
	margin-top: 40px;

	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li{
		display: inline-block;
		margin: 0px 8px;

		a{
			font-family: $jost-medium;
			font-size: 18px;
			color: $color-caption-black-2;
			background-color: #fff;
			border-radius: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 32px;
			height: 32px;
			transition: $trans-hover;

			&:hover{
				background-color: #eaeaea;
			}
		}

		.active{
			background-color: $color-primary;
			color: #ffff;

			&:hover{
				background-color: $color-primary;
			}
		}

		.disabled{
			color: #CCD2E3;

			&:hover{
				background-color: #fff;
			}
		}
	}
}

.breadcrumb{
	ul{
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	li{
		display: inline-block;

		a{
			font-family: $jost-regular;
			font-size: 13px;
			color: #BBBBBB;
			transition: $trans-hover;

			&:hover{
				color: $color-primary;
			}
		}

		.active{
			font-family: $jost-bold;
			font-size: 13px;
			color: $color-caption-black;

			&:hover{
				color: $color-primary;
			}
		}

		&:after{
			content: "/";
			margin: 0px 8px;
			font-family: $jost-regular;
			font-size: 13px;
			color: #BBBBBB;
		}

		&:last-child:after{
			content: "";
		}
	}
}

/* Home */
.warp-slider-home{
	padding: 0px 44px;

	.swiper{
		height: 680px;
	
		.swiper-slide{

			.img-slide-home{
				position: relative;
				width: 100%;
				height: 100%;

				img{
					width: 100%;
					object-fit: contain;
					object-position: top
				}
			}

			.desc-slide{
				position: absolute;
				bottom: 152px;
				left: 0;
				right: 0;
				margin: auto;
				z-index: 2;
				width: 792px;
				text-align: center;
			}

			.slide-title-sm{
				font-family: $jost-light;
				font-size: 16px;
				color: #fff;
				margin-bottom: 12px;
			}

			.slide-title{
				font-family: $jost-bold;
				font-size: 48px;
				color: #fff;
				margin-bottom: 12px;
			}

			.slide-title-desc{
				font-family: $jost-regular;
				font-size: 20px;
				line-height: 160%;
				color: #fff;
				margin-bottom: 60px;
			}

			.btn-slide{
				a{
					background-color: $color-primary;
					font-family: $jost-regular;
					font-size: 16px;
					color: $color-caption-black;
					border: 1px solid $color-caption-black;
					padding: 12px 20px;
					transition: $trans-hover;

					&:hover{
						background-color: $color-caption-black;
						color: $color-primary;
						border: 1px solid $color-primary;
					}
				}
			}
		}

		.swiper-button-next, .swiper-rtl .swiper-button-prev{
			right: 0;
			left: auto;
			height: 80px;
			width: 80px;
		}

		.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
			font-size: 35px;
			color: #fff;
		}

		.swiper-button-prev, .swiper-rtl .swiper-button-next{
			left: 0;
			right: auto;
			height: 80px;
			width: 80px;
		}

		.swiper-button-next::after, .swiper-button-prev::after{
			font-size: 35px;
			color: #fff;
		}

		.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
			bottom: 40px;
		}

		.swiper-pagination-bullet{
			background: #fff;
		}

		.swiper-pagination-bullet-active{
			background: #fff;
		}
	}
}

.warp-slider-product{
	padding: 44px 44px 0px 44px;

	.swiper{
		padding-bottom: 90px;
		border-bottom: 1px solid $color-border;

		.swiper-slide{
			width: 230px !important;

			.img-product-slide{
				width: 230px;
				height: 250px;
				margin-bottom: 12px;

				img{
					object-fit: cover;
					object-position: top;
				}
			}

			.title-product-slide{
				font-family: $jost-medium;
				font-size: 16px;
				color: $color-caption-black-2;
			}
		}

		.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
			bottom: 40px;
		}

		.swiper-pagination-bullet{
			background: #D9D9D9;
		}

		.swiper-pagination-bullet-active{
			background: #1E1E1E;
		}
	}

	.warp-swiper-product{
		position: relative;
		padding: 0px 140px;

		.swiper-button-next, .swiper-button-prev{
			top: 30%;
		}

		.swiper-button-next, .swiper-rtl .swiper-button-prev{
			right: 0;
			left: auto;
			height: 80px;
			width: 80px;
		}

		.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
			font-size: 35px;
			color: #CCD2E3;
		}

		.swiper-button-prev, .swiper-rtl .swiper-button-next{
			left: 0;
			right: auto;
			height: 80px;
			width: 80px;
		}

		.swiper-button-next::after, .swiper-button-prev::after{
			font-size: 35px;
			color: #CCD2E3;
		}
	}
}

.warp-news{
	padding: 44px 184px 0px;
}

.warp-container-news{
	padding-bottom: 44px; 
	border-bottom: 1px solid $color-border;
}

.warp-list-news{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}

.list-news{
	width: 33.33%;
	padding: 0px 15px;
	text-align: center;
}

.img-news{
	width: 100%;
	height: 212px;
	margin-bottom: 24px;
	overflow: hidden;

	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
		transition: $trans-hover;
	}

	&:hover ~ .more-news{
		a{
			color: $color-primary;
		}
	}

	&:hover{
		img{
			transform: $trans-scale;
		}
	}
}

.category-news{
	font-family: $jost-bold;
	font-size: 14px;
	color: $color-primary;
	margin-bottom: 8px;
}

.title-news{
	font-family: $jost-bold;
	font-size: 20px;
	color: $color-caption-black-2;
	margin-bottom: 8px;
}

.desc-news{
	font-family: $jost-regular;
	font-size: 14px;
	color: $color-caption-black-2;
	margin-bottom: 32px;
}

.more-news{
	a{
		font-family: $jost-bold;
		font-size: 16px;
		color: $color-caption-black-2;
		transition: $trans-hover;

		&:hover{
			color: $color-primary;
		}
	}

	i{
		margin-left: 12px;
	}
}

.warp-social{
	display: flex;
	flex-wrap: wrap;
	padding: 80px 184px;
}

.warp-list-social{
	width: 33.33%;
	padding: 0px 15px;
}

.list-social{
	display: flex;
}

.img-social{
	width: 60px;
	height: 60px;

	img{
		width: 100%;
		height: auto;
	}
}

.desc-social{
	width: calc(100% - 60px);
	padding-left: 16px;
}

.title-social{
	font-family: $jost-medium;
	font-size: 16px;
	color: $color-caption-black-2;
	margin-bottom: 4px;
}

.name-social{
	a{
		font-family: $jost-medium;
		font-size: 24px;
		color: $color-caption-black-2;
	}
}

.name-social-shop{
	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li{
		margin-top: 8px;

		img{
			width: 20px;
			height: auto;
			position: relative;
			top: 3px;
		}

		a{
			font-family: $jost-medium;
			font-size: 18px;
			color: $color-caption-black-2;
		}
	}
}

.warp-contact{
	padding: 80px 184px;
	background-color: #FAF8F4;
}

.title-contact-sm{
	font-family: $jost-medium;
	font-size: 16px;
	color: $color-caption-black-2;
	margin-bottom: 12px;
}

.title-contact{
	font-family: $jost-medium;
	font-size: 24px;
	color: $color-caption-black;
}

.warp-desc-contact{
	display: flex;
	margin-top: 80px;
}

.img-contact{
	width: 60px;
	height: auto;

	img{
		width: 100%;
		height: auto;
	}
}

.warp-detail-contact{
	width: calc(100% - 60px);
	padding-left: 24px;
}

.desc-kategori-contact{
	font-family: $jost-medium;
	font-size: 14px;
	color: $color-caption-black-2;
	margin-bottom: 4px;
}

.desc-contact{
	font-family: $jost-medium;
	font-size: 20px;
	color: $color-caption-black;
	margin-bottom: 16px;
	line-height: 29px;
}

.btn-contact{
	a{
		font-family: $jost-medium;
		font-size: 16px;
		color: #fff;
		background-color: $color-primary;
		border: 1px solid #fff;
		padding: 4px 12px;
		border-radius: 4px;
		transition: $trans-hover;

		&:hover{
			color: $color-primary;
			background-color: #fff;
			border: 1px solid $color-primary;
		}
	}
}

/* About */
.content-about{
	padding: 32px 184px;
	font-family: $jost-regular;
	font-size: 20px;
	color: $color-caption-black-2;
	line-height: 160%;
}

.our-tim{
	padding: 32px 184px;
	background: #FAF8F4;
}

.warp-img-tim{
	display: flex;
	flex-wrap: wrap;
	margin: 42px -28px 32px;
}

.img-tim{
	width: 33.33%;
	padding: 0px 28px;

	img{
		width: 100%;
		height: 250px;
		object-fit: cover;
		object-position: top;
	}
}

.desc-img-tim{
	font-family: $jost-regular;
	font-size: 20px;
	color: $color-caption-black-2;
	line-height: 160%;
}

.vision, .mission{
	padding: 44px 184px 0px 184px;
}

.desc-vision, .desc-mission{
	font-family: $jost-regular;
	font-size: 20px;
	color: $color-caption-black-2;
	line-height: 160%;
	margin-top: 42px;
}

.desc-vision{
	text-align: center;
}

.desc-mission{
	text-align: left;
}

/* Product */
.product{
	margin: 40px 0px 100px;
	padding: 0px 184px;
}

.warp-product{
	border-top: 1px solid $color-border;
	padding: 44px 0px;
	display: flex;
	flex-wrap: wrap;
}

.warp-filter-product{
	width: 300px;
}

.filter-product{
	margin-bottom: 44px;
}

.title-filter{
	font-family: $jost-medium;
	font-size: 24px;
	color: $color-caption-black-2;
}

.list-filter{
	ul{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	li{
		margin: 16px 0px;
		font-family: $jost-regular;
		font-size: 18px;
		color: $color-caption-black-2;
	}
}

.warp-list-sec-product{
	width: calc(100% - 300px);
}

.warp-header-product{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.show-product-result{
	font-family: $jost-regular;
	font-size: 12px;
	color: $color-caption-black-2;
}

.short-filter{
	position: relative;
	top: -7px;
	margin-left: auto;

	select, option{
		font-family: $jost-regular;
		font-size: 13px;
		color: #000;
		padding: 4px;
		background: none;
		border: none;
	}
}

.warp-list-product{
	margin: 0px -18px;
	display: flex;
	flex-wrap: wrap;
}

.warp-filter-active{
	margin-bottom: 44px;

	ul{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	li{
		display: inline-block;
		margin-right: 16px;

		span{
			padding: 4px 8px;
			border-radius: 4px;
			background-color: #FFFAED;
			font-family: $jost-regular;
			font-size: 14px;
			color: $color-caption-black-2;
		}

		i{
			margin-right: 8px;
			color: $color-primary;
			cursor: pointer;
		}
	}
}

.list-product{
	width: 25%;
	padding: 0px 18px;
	margin-bottom: 44px;

	.img-product{
		width: 100%;
		height: 160px;
		margin-bottom: 12px;
		overflow: hidden;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
			transition: $trans-hover;
		}
	}

	.title-product{
		font-family: $jost-medium;
		font-size: 16px;
		color: $color-caption-black-2;
		line-height: 23px;
		transition: $trans-hover;
	}

	&:hover{
		.img-product{
			img{
				transform: $trans-scale;
			}
		}

		.title-product{
			color: $color-primary;
		}
	}
}

/* Detail Product */
.warp-detail-product{
	padding: 0px 184px;
}

.detail-product{
	border-top: 1px solid $color-border;
	padding: 17px 0px 0px;
}

.warp-sec-desc-detail{
	display: flex;
	flex-wrap: wrap;
	margin-top: 24px;
}

.img-detail{
	width: 464px;

	.swiperProductDetail{
		.swiper-slide{
			width: 464px !important;
			height: 528px !important;

			img{
				width: 464px;
				height: 528px;
			}
		}

		.swiper-button-next, .swiper-button-prev{
			color: #CCD2E3;
		}
	}

	.thumb-detail{
        margin: 0px -16px 28px;
        padding: 16px;
        // display: flex;
        position: relative;
        top: -1px;
    }

	.swiperProductThumb{
		margin-top: 8px;

		.swiper-slide{
			width: 70px !important;
			height: 70px !important;

			img{
				width: 70px;
				height: 70px;
				cursor: pointer;
				border: 2px solid #fff;
			}
		}

		.swiper-slide-thumb-active{
			img{
				border: 2px solid $color-primary;
			}
		}
	}
	
}

.desc-detail{
	padding-left: 28px;
	width: calc(100% - 464px);
}

.title-detail-product{
	font-family: $jost-bold;
	font-size: 32px;
	color: $color-caption-black;
	margin-bottom: 8px;
}

.stock-detail-product{
	font-family: $jost-bold;
	font-size: 16px;
	color: $color-caption-black;
	padding: 8px 12px;
	border-radius: 50px;
	width: fit-content;
}

.ready{
	background-color: #EEFFEF;
	
	&:before{
		content: "";
		display: inline-block;
		border-radius: 50px;
		width: 10px;
		height: 10px;
		background-color: #41DD48;
		margin-right: 8px;
	}	
}

.not-ready{
	background-color: #FEE;
	
	&:before{
		content: "";
		display: inline-block;
		border-radius: 50px;
		width: 10px;
		height: 10px;
		background-color: #DD4141;
		margin-right: 8px;
	}	
}

.desc-detail-product{
	font-family: $jost-regular;
	font-size: 16px;
	color: $color-caption-black;
	margin: 12px 0px;
	line-height: 23px;
}

.warp-list-olshop{
	border-top: 1px solid $color-border;
	border-bottom: 1px solid $color-border;
	padding: 12px 0px 30px;
}

.title-sec-olshop{
	font-family: $jost-regular;
	font-size: 16px;
	color: $color-caption-black;
	margin-bottom: 20px;
}

.list-olshop{
	display: flex;
	flex-wrap: wrap;
	align-items: end;

	img{
		width: 32px;
		height: auto;
	}

	a{
		margin-right: 32px;
	}
}

.wrap-kat-product{
	font-family: $jost-regular;
	font-size: 14px;
	color: #BBBBBB;
	line-height: 30px;
	margin-top: 12px;
}

.social-share{
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;

	img{
		width: 24px;
		height: 24px;
	}

	a{	
		margin-right: 8px;
	}
}

.desc-all-detail{
	margin-top: 44px;
	font-family: $jost-regular;
	font-size: 16px;
	color: $color-caption-black;
}

.title-sec-all-detail{
	font-family: $jost-bold;
	font-size: 20px;
	color: $color-caption-black;
	border-bottom: 1px solid $color-border;
	padding-bottom: 16px;
	margin-bottom: 20px;
}

/* Article */
.warp-article{
	display: flex;
	flex-wrap: wrap;
	padding: 0px 184px;
}

.warp-right-article{
	width: calc(100% - 300px);
	padding-right: 44px;
}

.keyword-result{
	font-family: $jost-medium;
	font-size: 28px;
	color: $color-caption-black;
	margin-bottom: 24px;
}

.alert-keyword{
	font-family: $jost-regular;
	font-size: 28px;
	color: $color-caption-black-2;
	margin-top: 8px;
}

.list-article{
	margin-bottom: 44px;
}

.img-article{
	img{
		width: 100%;
		height: 582px;
		margin-bottom: 24px;
		object-fit: cover;
		object-position: top;
	}

	&:hover ~ .title-article a{
		color: $color-primary;
	}

	&:hover ~ .btn-more-article a{
		background-color: $color-primary;
		color: #fff;
	}
}

.warp-date-article{
	display: flex;
	margin-bottom: 24px;

	.date{
		font-family: $jost-regular;
		font-size: 16px;
		color: $color-caption-black;
		margin-right: 24px;
	}

	.category{
		font-family: $jost-bold;
		font-size: 16px;
		color: $color-primary;
	}
}

.title-article{
	margin-bottom: 16px;

	a{
		font-family: $jost-bold;
		font-size: 36px;
		color: $color-caption-black;
		transition: $trans-hover;

		&:hover{
			color: $color-primary;
		}
	}
}

.desc-article{
	font-family: $jost-regular;
	font-size: 16px;
	color: $color-caption-black;
	margin-bottom: 32px;
}

.btn-more-article{
	a{
		font-family: $jost-regular;
		font-size: 16px;
		color: $color-primary;
		padding: 12px 20px;
		border: 1px solid $color-primary;
		transition: $trans-hover;

		&:hover{
			background-color: $color-primary;
			color: #fff;
		}
	}

	i{
		margin-left: 12px;
	}
}

.warp-side-article{
	width: 300px;
}

.warp-search-side{
	margin-bottom: 44px;
}

.title-section{
	font-family: $jost-regular;
	font-size: 14px;
	color: $color-caption-black;
	margin-bottom: 12px;
}

.warp-input-search{
	display: flex;

	input{
		width: 178px;
		padding: 8px 12px;
		font-family: $jost-regular;
		font-size: 14px;
		color: $color-caption-black;
		border: 1px solid #D9D9D9;
		background: #fff;
	}

	button{
		font-family: $jost-regular;
		font-size: 14px;
		color: $color-caption-black;
		width: calc(100% - 178px - 12px);
		margin-left: 12px;
		background: $color-primary;
		padding: 8px 12px;
		border: 1px solid $color-primary;
		cursor: pointer;
		transition: $trans-hover;

		&:hover{
			background-color: #D9AE31
		}
	}
}

.section-side{
	margin-bottom: 44px;
}

.title-section-detail{
	font-family: $jost-medium;
	font-size: 20px;
	color: $color-caption-black;
}

.warp-list-article-terbaru{
	margin-top: 12px;
}

.list-article-terbaru{
	margin-bottom: 17px;

	a{
		display: flex;
	}

	i{
		width: 24px;
		font-size: 16px;
		color: #D9D9D9;
		position: relative;
		top: 2px;
		left: 5px;
	}

	h2{
		font-family: $jost-regular;
		font-size: 16px;
		color: $color-caption-black-2;
		width: calc(100% - 24px);
		padding-left: 8px;
		line-height: 23px;
		margin: 0;
		transition: $trans-hover;
	}

	&:hover h2{
		color: $color-primary;
	}
}

.warp-list-category{
	display: flex;
	flex-wrap: wrap;
}

.list-category{
	margin-right: 16px;
	margin-top: 16px;

	a{
		display: block;
		font-family: $jost-regular;
		font-size: 16px;
		color: $color-primary;
		background: #fff;
		padding: 8px 32px;
		border: 1px solid $color-primary;
		cursor: pointer;
		transition: $trans-hover;

		&:hover{
			background-color: $color-primary;
			color: #fff;
		}
	}
}

.list-article-populer{
	margin-top: 16px;

	a{
		display: flex;
		flex-wrap: wrap;

		&:hover .title-article-populer{
			color: $color-primary;
		}
	}

	.img-article-populer{
		width: 80px;
		height: 80px;
		margin-right: 16px;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top;
		}
	}

	.detail-article-populer{
		width: auto;

		.date{
			font-family: $jost-regular;
			font-size: 14px;
			color: $color-caption-black-2;
			margin-bottom: 4px;
		}

		.title-article-populer{
			font-family: $jost-medium;
			font-size: 18px;
			color: $color-caption-black-2;
			transition: $trans-hover;
		}
	}
}

/* Article Detail */
.img-article-detail{
	width: 100%;
	height: 582px;
	margin-bottom: 12px;

	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
	}
}

.img-caption{
	font-family: $jost-regular;
	font-size: 14px;
	color: $color-caption-black;
	margin-bottom: 24px;
	text-align: center;
}

.header-article-detail{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 24px;
}

.date-article-detail{
	padding: 7px 0px;
}

.warp-social-article{
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;

	a{
		display: flex;
		width: 32px;
		height: 32px;
		background-color: $color-primary;
		color: #fff;
		border-radius: 50px;
		margin-left: 12px;
		justify-content: center;
		align-items: center;
		transition: $trans-hover;
		border: 1px solid $color-primary;

		&:hover{
			background-color: #fff;
			color:  $color-primary;
		}
	}
}

.title-article-detail{
	margin: 0;
	margin-bottom: 16px;
	font-family: $jost-bold;
	font-size: 36px;
	color: $color-caption-black;
}

.desc-article-detail{
	font-family: $jost-regular;
	line-height: 160%;
	color: $color-caption-black;

	img{
		width: 420px;
		height: auto;
		margin: auto;
		display: block;
	}

	blockquote{
		border-left: 8px solid $color-primary;
		padding-left: 16px;
		margin: 0px;
		font-weight: bold;
	}

	iframe{
		width: 420px;
		height: 300px;
		margin: auto;
		display: block;
	}
}

.share-social-detail{
	margin-top: 44px;
	width: 100%;
	padding: 24px 0px;
	border-top: 1px solid $color-border;
	border-bottom: 1px solid $color-border;
	display: flex;

	.title-share{
		font-family: $jost-regular;
		font-size: 20px;
		color: $color-caption-black;
		padding: 4px 0px;
	}
}

.article-terkait{
	margin-top: 44px;
}

.warp-article-terkait{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -30px;
}

.list-article-terkait{
	width: 33.33%;
	padding: 0px 30px;
	margin-top: 16px;

	img{
		width: 100%;
		height: 150px;
		object-fit: cover;
		object-position: top;
		margin-bottom: 16px;
	}

	.title-article-terkait{
		font-family: $jost-regular;
		font-size: 16px;
		color: $color-caption-black;
		transition: $trans-hover;
	}

	&:hover .title-article-terkait{
		color: $color-primary;
	}
}