@import 'global';

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	.mobile{
		display: block;
	}

	.desktop{
		display: none;
	}

	.cover-page{
		height: 200px;

		.warp-desc-cover-page{
			width: 90%;
		}

		.title-cover-page-sm{
			font-size: 14px;
		}

		.title-cover-page{
			font-size: 18px;
		}

		.desc-cover-page{
			font-size: 14px;
		}
	}

	/* Header */
	.warp-header{
		position: sticky;
		top: 0;
	 	left: 0;
	 	z-index: 99;
	 	background-color: #fff;
	 	width: 100%;
		display: flex;
		padding: 12px 16px;
		box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);

		.icon-burger{
			width: 30px;
			height: auto;
			padding: 0px 0px;
			display: flex;

			i{
  				font-size: 20px;
  				margin-left: auto;
				display: flex;
				align-items: center;
			}
		}

		.header-logo{
			width: calc(100% - 30px);
			padding: 0px 0px;
			border: none;

			img{
				width: 90px;
				margin: 0px;
			}
		}
	}

	.header-nav-slide{
		position: fixed;
		top: 0;
		right: -999px;
		z-index: 999;
		background-color: #fff;
		width: 90%;
		height: 100%;
		padding: 2px 0px;
		transition: $trans-hover;

		ul{
			padding: 0;
			margin: 0;
			list-style: none;
		}

		a{
			font-family: $jost-regular;
			font-size: 16px;
			color: $color-caption-black-2;
			transition: $trans-hover;
			display: block;
			padding: 10px 16px;
		}

		.active{
			color: $color-primary;
		}

		.warp-head-nav{
		 	background-color: #fff;
		 	width: 100%;
			display: flex;
			padding: 12px 16px;

			.icon-burger{
				width: 30px;
				height: auto;
				padding: 0px 0px;
				display: flex;

				i{
	  				font-size: 20px;
	  				margin-left: auto;
					display: flex;
					align-items: center;
				}
			}

			.header-logo{
				width: calc(100% - 30px);
				padding: 0px 0px;
				border: none;

				img{
					width: 90px;
					height: auto;
					margin: 0px;
				}
			}
		}
	}

	.header-nav-show{
		right: 0;
	}

	.site-mask{
		position: fixed;
		z-index: -1;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0);
		transition: $trans-hover;
	}

	.site-mask-show{
		z-index: 998;
		background-color: rgba(0,0,0,0.6);
	}

	.border-b{
		padding-bottom: 8px;
		margin-bottom: 16px;
		border-bottom: 1px solid $color-border;
	}

	/* Home */
	.warp-slider-home{
		padding: 0px 0px;

		.swiper{
			height: 100%;

			.swiper-button-next, .swiper-button-prev{
				display: none;
			}

			.swiper-slide{
				.img-slide-home{
					width: 100%;
					height: 300px;

					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				.desc-slide{
					bottom: 80px;
					width: 100%;
					padding: 0px 16px;
				}

				.slide-title-sm{
					display: none;
				}

				.slide-title{
					font-size: 22px;
					margin-bottom: 8px;
				}

				.slide-title-desc{
					display: none;
				}

				.btn-slide{
					margin-top: 25px;

					a{
						font-size: 14px;
						padding: 8px 12px;

						&:hover{
							background-color: unset;
							color: unset;
							border: unset;
						}
					}
				}
			}

			.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
				bottom: 20px;
			}
		}
	}

	.warp-slider-product{
		padding: 44px 16px 0px 16px;

		.swiper{
			padding-bottom: 65px;

			.swiper-slide{
				width: 33.33% !important;

				.img-product-slide{
					width: 100%;
					height: 120px;

					img{
						width: 100%;
						height: 100%;
					}
				}
			}

			.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
				bottom: 20px;
			}
		}

		.warp-swiper-product{
			padding: 0px 0px;

			.swiper-button-next, .swiper-button-prev{
				display: none;
			}
		}
	}

	.warp-news{
		padding: 44px 16px 0px;
	}

	.warp-container-news{
		padding-bottom: 14px; 
	}

	.list-news{
		width: 100%;
		margin-bottom: 30px;
	}

	.desc-news{
		margin-bottom: 18px;
	}

	.warp-social{
		padding: 40px 16px;
	}

	.warp-list-social{
		width: 100%;
		padding: 0px 0px;
	}

	.list-social{
		display: flex;
		flex-wrap: wrap;
		margin: 18px 0px;
	}

	.img-social{
		width: 40px;
		height: 40px;
	}

	.title-social{
		font-size: 14px;
	}

	.name-social{
		font-size: 20px;
	}

	.warp-contact{
		padding: 40px 16px;
	}

	.img-contact{
		width: 40px;
	}

	.warp-detail-contact{
		padding-left: 16px;

		span{
			display: block;
			width: 100%;
			margin-bottom: 20px;
		}
	}

	.title-contact-sm{
		font-size: 14px;
	}

	.title-contact{
		font-size: 20px;
	}

	.warp-desc-contact{
		margin-top: 40px;
	}

	.desc-contact{
		font-size: 16px;
	}

	/* About */
	.content-about{
		padding: 32px 16px;
		font-size: 16px;
	}

	.our-tim{
		padding: 32px 16px;
	}

	.warp-img-tim{
		margin: 42px 0px 32px;
	}

	.img-tim{
		width: 100%;
		padding: 0px 0px;
		margin-bottom: 8px
	}

	.desc-img-tim{
		font-size: 16px;
	}

	.vision, .mission{
		padding: 44px 16px 0px 16px;
	}

	.desc-vision, .desc-mission{
		font-size: 16px;
	}

	/* Product */
	.product{
		margin: 40px 0px 40px;
		padding: 0px 16px;
	}

	.cover-product{
		margin-top: 50px;
	}

	.warp-product{
		border-top: 1px solid $color-border;
		padding: 44px 0px;
	}

	.warp-filter-product{
		position: fixed;
		bottom: -999px;
		left: 0;
		z-index: 999;
		background-color: #fff;
		margin-left: auto;
		padding: 28px 16px 16px;
		width: 100%;
		height: 60%;
		overflow-y: auto;
		box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
		transition: $trans-hover;
	}

	.warp-filter-product-show{
		bottom: 0;
	}

	.o-filter{
		position: fixed;
		top : 65px;
		left: 0;
		z-index: 99;
		width: 100%;
		background-color: #f4f4f4;
		padding: 16px;
		font-size: 16px;
		font-family: $jost-medium;
		color: $color-caption-black;
	}

	.c-filter{
		display: block;
		text-align: right;
		font-size: 16px;
		font-family: $jost-medium;
		border-radius: 0px 50px;
		color: $color-caption-black;
		padding: 0px 16px 16px;
	}

	.title-filter{
		font-size: 18px;
	}

	.list-filter{
		li{
			font-size: 16px;
		}
	}

	.warp-list-sec-product{
		margin-right: auto;
		width: 100%;
	}

	.warp-header-product{
		margin-bottom: 30px;
	}

	.warp-list-product{
		margin: 0px -8px;
	}

	.warp-filter-active{
		margin-bottom: 20px;
	}

	.list-product{
		width: 50%;
		padding: 0px 8px;
		margin-bottom: 20px;

		.img-product{
			height: 200px;
		}

		&:hover{
			.img-product{
				img{
					transform: unset;
				}
			}
		}
	}

	/* Detail Product */
	.warp-detail-product{
		padding: 0px 16px;
	}

	.detail-product{
		border-top: none;
	}

	.img-detail{
		width: 100%;

		.swiperProductDetail{
			.swiper-slide{
				width: 100% !important;
				height: 300px !important;

				img{
					width: 100%;
					height: 300px;
				}
			}

			.swiper-button-next, .swiper-button-prev{
				display: none;
			}
		}

		.swiperProductThumb{
			.swiper-slide{
				width: 60px !important;
				height: 60px !important;

				img{
					width: 60px;
					height: 60px;
				}
			}
		}
		
	}

	.desc-detail{
		padding-left: 0px;
		width: 100%;
	}

	/* Article */
	.warp-article{
		padding: 0px 16px;
		margin-top: 40px;
	}

	.warp-right-article{
		width: 100%;
		padding-right: 0px;
	}

	.keyword-result{
		font-size: 18px;
	}

	.alert-keyword{
		font-size: 18px;
		margin-bottom: 40px;
	}

	.list-article{
		margin-bottom: 44px;
	}

	.img-article{
		img{
			width: 100%;
			height: 250px;
		}
	}

	.title-article{
		a{
			font-size: 28px;
		}
	}

	.warp-side-article{
		width: 100%;
	}

	.warp-input-search{
		display: flex;

		input{
			width: calc(100% - 100px - 12px);
		}

		button{
			width: 100px;
		}
	}

	/* Article Detail */
	.img-article-detail{
		height: 250px;
	}

	.img-caption{
		font-size: 12px;
	}

	.date-article-detail{
		width: 100%;
	}

	.warp-social-article{
		display: none;
	}

	.title-article-detail{
		font-size: 28px;
	}

	.desc-article-detail{
		img{
			width: 100%;
			height: 220px;
		}

		iframe{
			width: 100%;
			height: 220px;
		}
	}

	.share-social-detail{
		.title-share{
			font-size: 16px;
		}
	}

	.article-terkait{
		margin-top: 44px;
	}

	.warp-article-terkait{
		margin: 0px 0px;
	}

	.list-article-terkait{
		width: 100%;
		padding: 0px 0px;

		img{
			width: 100%;
			height: 220px;
		}
	}

	/* Footer */
	footer{
		padding: 0px 16px;
		margin-top: 40px;
	}

	.warp-footer{
		padding: 20px 0px;
	}

	.logo-footer{
		img{
			width: 80px;
		}
	}
}