@font-face {
  font-family: Heebo-Regular;
  src: url("../fonts/heebo/static/Heebo-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: Heebo-Medium;
  src: url("../fonts/heebo/static/Heebo-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: Heebo-Bold;
  src: url("../fonts/heebo/static/Heebo-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../fonts/roboto/Roboto-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../fonts/roboto/Roboto-Bold.ttf");
  font-display: swap;
}

/* Margin */
.mt8 {
  margin-top: 8px !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mt24 {
  margin-top: 24px !important;
}

.mb24 {
  margin-bottom: 24px !important;
}

.mt28 {
  margin-top: 28px !important;
}

.mb28 {
  margin-bottom: 28px !important;
}

.mt32 {
  margin-top: 32px !important;
}

.mb32 {
  margin-bottom: 32px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

/* Padding */
.pl16 {
  padding-left: 16px;
}

.pr16 {
  padding-right: 16px;
}

html, body {
  position: relative;
  height: 100%;
  margin: 0;
}

body {
  font-family: Heebo-Regular, arial, sans-serif;
  line-height: 1.8;
  scroll-behavior: smooth;
  background-color: #fff;
  background-image: none;
}

h1, h2, h3, h4, p {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.content {
  width: 1140px;
  margin: auto;
}

.content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1140px;
  margin: auto;
}

.title-section {
  font-family: Heebo-Medium, arial, sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
}

.text-center {
  text-align: center !important;
}

.c-form-group {
  margin-bottom: 16px;
}

.c-form-group label {
  display: block;
  width: 100%;
  font-family: Heebo-Medium, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
  color: #282828;
  margin-bottom: 6px;
}

.c-form-group .input-form {
  width: 100%;
  padding: 6px 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Heebo-Regular, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
  color: #282828;
}

.c-form-group .input-form {
  width: 100%;
  padding: 6px 16px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Heebo-Regular, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
  color: #282828;
}

.c-form-group .btn-form {
  border: 1px solid #1ba1f0;
  background-color: #1ba1f0;
  border-radius: 4px;
  padding: 6px 16px;
  cursor: pointer;
  font-family: Heebo-Regular, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
  color: #fff;
}

.c-form-group .btn-form:hover {
  color: #1ba1f0;
  background-color: #fff;
  -webkit-transition: ease all 0.4s;
  transition: ease all 0.4s;
}

nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
          box-shadow: 0 2px 3px rgba(96, 96, 96, 0.1);
}

nav .wrap-nav {
  width: 1140px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

nav .wrap-nav .logo {
  width: 200px;
}

nav .wrap-nav .logo img {
  width: 200px;
  height: auto;
  display: block;
}

nav .wrap-nav .navigasi {
  width: calc(100% - 200px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

nav .wrap-nav .navigasi a {
  display: block;
  font-family: Heebo-Medium, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
  color: #282828;
  padding: 8px 16px;
  margin: 0px 4px;
  border-radius: 4px;
}

nav .wrap-nav .navigasi a:last-child {
  margin: 0px 0px 0px 4px;
}

nav .wrap-nav .navigasi a:hover {
  color: #fff;
  background-color: #ffb605;
  -webkit-transition: ease all 0.4s;
  transition: ease all 0.4s;
}

nav .wrap-nav .navigasi .active {
  color: #fff;
  background-color: #ffb605;
}

nav .wrap-nav .m-navigasi {
  display: none;
}

footer {
  padding: 40px 0px;
  background-color: #1ba1f0;
}

footer .wrap-footer {
  width: 1140px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .wrap-footer .col-footer {
  padding: 0px 20px;
}

footer .wrap-footer .col-footer .title-footer {
  font-family: Heebo-Bold, arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 160%;
  color: #fff;
  margin-bottom: 8px;
}

footer .wrap-footer .col-footer .desc-footer {
  font-family: Heebo-Regular, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
  color: #fff;
}

footer .wrap-footer .col-footer .desc-footer .wrap-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -8px;
}

footer .wrap-footer .col-footer .desc-footer .wrap-social a {
  width: 35px;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #fff;
  margin: 0px 8px;
}

footer .wrap-footer .col-logo {
  width: 25%;
}

footer .wrap-footer .col-logo img {
  width: 250px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .wrap-footer .col-alamat {
  width: 45%;
}

footer .wrap-footer .col-sosial {
  display: none;
  width: 30%;
}

.copy {
  padding: 10px 0px;
  background-color: #1897e3;
  font-family: Heebo-Regular, arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 160%;
  color: #fff;
  text-align: center;
}

.beranda {
  position: relative;
  padding-top: 80px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/bg-1.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.beranda:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.beranda .text-beranda {
  position: relative;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  color: #fff;
}

.beranda .text-beranda h1 {
  font-size: 50px;
  font-family: Heebo-Medium, arial, sans-serif;
}

.beranda .text-beranda h3 {
  font-size: 25px;
  font-family: Heebo-Regular, arial, sans-serif;
}

.profil {
  padding: 60px 0px;
  background-color: #ffffff;
}

.profil .left {
  width: 40%;
}

.profil .left img {
  width: 90%;
  height: auto;
  display: block;
}

.profil .right {
  width: 60%;
  font-family: Heebo-Regular, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
  color: #282828;
}

.sistem {
  padding: 60px 0px;
  background-color: #f9f9f9;
}

.sistem .wrap-sistem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1000px;
  margin: auto;
}

.sistem .wrap-sistem .list-sistem {
  width: 33.33%;
  padding: 0px 8px;
}

.sistem .wrap-sistem .list-sistem .card {
  border-radius: 8px;
  padding: 35px 25px 25px;
}

.sistem .wrap-sistem .list-sistem .card .img-sistem {
  background-color: rgba(255, 255, 255, 0.2);
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 0px auto 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sistem .wrap-sistem .list-sistem .card .img-sistem img {
  width: 170px;
  height: 170px;
  display: block;
}

.sistem .wrap-sistem .list-sistem .card .nama-sistem {
  font-family: Heebo-Medium, arial, sans-serif;
  font-size: 30px;
  font-style: normal;
  line-height: 160%;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.sistem .wrap-sistem .list-sistem .card .desc {
  font-family: Heebo-Regular, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
}

.sistem .wrap-sistem .list-sistem .card a {
  display: block;
  font-family: Heebo-Regular, arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 160%;
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}

.sistem .wrap-sistem .list-sistem .balks {
  background-color: #1ba1f0;
}

.sistem .wrap-sistem .list-sistem .lsp {
  background-color: #ffb605;
}

.sistem .wrap-sistem .list-sistem .atensi {
  background-color: #8dd17e;
}

.data {
  padding: 60px 0px;
  background-color: #ffffff;
  border-bottom: 1px dashed #696969;
}

.kontak {
  padding: 60px 0px;
  background-color: #ffffff;
}

.kontak .left {
  width: 60%;
  padding-right: 100px;
}

.kontak .left .list-kontak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kontak .left .list-kontak .nama {
  width: 30%;
}

.kontak .left .list-kontak .no_hp {
  width: 70%;
}

.kontak .right {
  width: 40%;
}

.kontak .right .card-contact {
  width: 100%;
  padding: 40px 35px;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 0px #b1b1b1;
          box-shadow: 0px 0px 5px 0px #b1b1b1;
}

@media (max-width: 575.98px) {
  body.open-side-nav::after {
    content: "";
    position: fixed;
    z-index: 97;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .content {
    width: 100%;
    padding: 0px 16px;
  }
  .content-row {
    display: block;
    width: 100%;
    padding: 0px 16px;
  }
  .title-section {
    font-size: 25px;
    margin-bottom: 15px;
  }
  nav .wrap-nav {
    width: 100%;
    height: 60px;
    padding: 0px 16px;
  }
  nav .wrap-nav .logo {
    width: 150px;
  }
  nav .wrap-nav .logo img {
    width: 150px;
  }
  nav .wrap-nav .navigasi {
    display: none;
  }
  nav .wrap-nav .m-navigasi {
    width: 35px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 4px;
    background-color: #ffb605;
    margin-left: auto;
  }
  nav .wrap-nav .m-navigasi i {
    font-size: 16px;
    color: #fff;
  }
  .side-nav {
    position: fixed;
    top: 60px;
    right: -300px;
    visibility: hidden;
    z-index: 98;
    width: 300px;
    height: 100%;
    padding: 10px;
    background-color: #fff;
    -webkit-transition: ease all 0.2s;
    transition: ease all 0.2s;
  }
  .side-nav a {
    display: block;
    font-family: Heebo-Medium, arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 160%;
    color: #282828;
    padding: 8px 16px;
    margin: 4px 0px;
    border-radius: 4px;
  }
  .side-nav a:last-child {
    margin: 0px 0px 0px 4px;
  }
  .side-nav a:hover {
    color: #fff;
    background-color: #ffb605;
    -webkit-transition: ease all 0.4s;
    transition: ease all 0.4s;
  }
  .side-nav .active {
    color: #fff;
    background-color: #ffb605;
  }
  .side-nav-open {
    right: 0px;
    visibility: visible;
  }
  .beranda {
    padding-top: 60px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .beranda .text-beranda h1 {
    font-size: 30px;
  }
  .beranda .text-beranda h3 {
    font-size: 16px;
  }
  .profil {
    padding: 40px 0px;
  }
  .profil .left {
    width: 100%;
  }
  .profil .left img {
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
  }
  .profil .right {
    width: 100%;
  }
  .sistem {
    padding: 40px 0px;
  }
  .sistem .content {
    padding: 0;
  }
  .sistem .title-section {
    padding: 0px 16px;
  }
  .sistem .wrap-sistem {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-y: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    padding: 0px 16px;
  }
  .sistem .wrap-sistem .list-sistem {
    width: 300px;
    padding: 0;
    margin: 0px 8px;
  }
  .sistem .wrap-sistem .list-sistem .card {
    width: 300px;
  }
  .sistem .wrap-sistem .list-sistem .card .img-sistem {
    width: 150px;
    height: 150px;
  }
  .sistem .wrap-sistem .list-sistem .card .img-sistem img {
    width: 120px;
    height: 120px;
  }
  .sistem .wrap-sistem .list-sistem .card .nama-sistem {
    font-size: 18px;
    white-space: normal;
  }
  .sistem .wrap-sistem .list-sistem .card .desc {
    font-size: 16px;
    white-space: normal;
  }
  .sistem .wrap-sistem .list-sistem:first-child {
    margin: 0px 8px 0px 0px;
  }
  .sistem .wrap-sistem .list-sistem:last-child {
    margin: 0px 0px 0px 8px;
  }
  .data {
    padding: 40px 0px;
  }
  .kontak {
    padding: 40px 0px;
  }
  .kontak .left {
    width: 100%;
    padding-right: 0px;
  }
  .kontak .left .list-kontak .nama {
    width: 50%;
  }
  .kontak .left .list-kontak .no_hp {
    width: 50%;
  }
  .kontak .left .list-kontak:last-child {
    margin-bottom: 30px;
  }
  .kontak .right {
    width: 100%;
  }
  footer {
    padding: 40px 0px;
  }
  footer .wrap-footer {
    width: 100%;
  }
  footer .wrap-footer .col-footer {
    padding: 0px 20px;
  }
  footer .wrap-footer .col-footer .title-footer {
    font-family: Heebo-Bold, arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 160%;
    color: #fff;
    margin-bottom: 8px;
  }
  footer .wrap-footer .col-footer .desc-footer {
    font-family: Heebo-Regular, arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    line-height: 160%;
    color: #fff;
  }
  footer .wrap-footer .col-footer .desc-footer .wrap-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px -8px;
  }
  footer .wrap-footer .col-footer .desc-footer .wrap-social a {
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    color: #fff;
    margin: 0px 8px;
  }
  footer .wrap-footer .col-logo {
    width: 100%;
  }
  footer .wrap-footer .col-logo img {
    width: 250px;
    margin-bottom: 30px;
  }
  footer .wrap-footer .col-alamat {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .wrap-footer .col-sosial {
    width: 100%;
  }
  .copy {
    padding: 10px 0px;
  }
}
