footer{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 12px 35px 24px;
	background: #FCF6EE;

	.copy{
		font-family: $archivo-regular;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 13px;
		color: #040037;
	}

	.social{
		display: flex;
		flex-wrap: wrap;
		justify-content: end;
		align-items: center;
		margin-left: auto;

		a{
			margin: 0px 18px;
			display: flex;
		}

		i{
			font-size: 26px;
			color: #1A035D;
			transition: ease all 0.3s;

			&:hover{
				color: #BD3934;
			}
		}
	}
}