$color-primary: #ED1C24;
$color-caption-black: #212121;
$color-caption-grey: #989898;
$color-date: #989898;
$color-border: #D9D9D9;
$trans-hover: ease all 0.4s;

@font-face {
    font-family: Archivo-Regular;
    src: url('../fonts/archivo/static/Archivo-Regular.ttf');
}

@font-face {
    font-family: Archivo-Bold;
    src: url('../fonts/archivo/static/Archivo-Bold.ttf');
}

@font-face {
    font-family: Archivo-Medium;
    src: url('../fonts/archivo/static/Archivo-Medium.ttf');
}

@font-face {
    font-family: Archivo-Semi;
    src: url('../fonts/archivo/static/Archivo-SemiBold.ttf');
}

@font-face {
    font-family: Archivo-Light;
    src: url('../fonts/archivo/static/Archivo-Light.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../fonts/roboto/Roboto-Light.ttf');
}

$archivo-regular: "Archivo-Regular",arial,sans-serif;
$archivo-bold: "Archivo-Bold",arial,sans-serif;
$archivo-med: "Archivo-Medium",arial,sans-serif;
$archivo-semi: "Archivo-Semi",arial,sans-serif;
$archivo-light: "Archivo-Light",arial,sans-serif;

$roboto-regular: "Roboto-Regular",arial,sans-serif;
$roboto-bold: "Roboto-Bold",arial,sans-serif;
$roboto-med: "Roboto-Medium",arial,sans-serif;
$roboto-light: "Roboto-Light",arial,sans-serif;

html, body{
    position: relative;
    height: 100%;
    margin: 0;
}

body{
    line-height: 1.8;
    scroll-behavior: smooth;
    background-color: #fff;
    background-image: none;
}

a{
    text-decoration: none;

    &:hover, &:focus{
        text-decoration: none;
    }
}

.content-row{
    display: flex;
    flex-wrap: wrap;
}

.content-clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content-left{
    float: left;
}

.content-right{
    float: right;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-bold{
    font-weight: 700;
}

*, ::before, ::after{
    box-sizing: border-box;
}

*{
    -webkit-tap-highlight-color: transparent;
}