.content{
	padding: 0px 32px;
}

.wrap-nav{
	position: fixed;
	z-index: 99;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 32px 32px 29px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 1.09%, #040037 100%);

	.logo{
		width: 175px;
		height: 60px;

		img{
			width: auto;
			height: 60px;
		}
	}

	nav{
		width: calc(100% - 175px - 175px);
		font-family: $archivo-regular;
		font-style: normal;
		font-weight: 300;
		font-size: 20px;
		line-height: 140%;
		color: #FCFCFC;

		ul{
			padding: 0;
			margin: 0;
			list-style-type: none;
			text-align: center;

			li{
				margin-right: 48px;
				display: inline-block;

				&:last-child{
					margin-right: 0px;
				}

				a{
					color: #FCFCFC;
					padding: 16px 0px;
					display: block;
				}
			}
		}

		.active{
			border-bottom: 3px solid #BD3934;
			font-weight: 700;
		}
	}

	.ticket{
		width: 175px;
		height: 60px;
		display: flex;
		justify-content: end;

		img{
			width: auto;
			height: 60px;
			transition: transform 0.3s;

			&:hover {
				transform: scale(0.9);
			}
		}
	}
}

