.wrap-sticky-wa{
	position: fixed;
	bottom: 60px;
	right: -89px;
	z-index: 99;
	background: #FCF6EE;
	border-radius: 20px 0px 0px 20px;
	transition: ease all 0.3s;

	&:hover{
		right: 0px;
	}

	a{
		width: 100%;
		height: 100%;
		padding: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	img{
		width: 36px;
		height: 36px;
	}

	span{
		font-family: $archivo-regular;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #343434;
		margin-left: 7px;
	}
}

.wrap-content{
	height: 100%;
	width: 100%;
}

/* About */
.about{
	position: relative;
	width: 100%;
	height: 100% !important;
	background:
		radial-gradient(86.66% 86.66% at 50% 50%, rgba(26, 3, 93, 0) 0%, #1A035D 100%),
		url('../images/orang.png'),
		url('../images/rumput.png'),
		linear-gradient(180deg, rgba(200, 35, 37, 0) 0%, #C82325 100%),
		#040037;
	background-size: 100%, 20% auto, 100%, 100%;
	background-position: center, 90% 95%, 100% 100%, center;
	background-repeat: no-repeat;

	.warp-event-desc{
		position: absolute;
		bottom: 5%;
		left: 32px;
	}

	.title-event{
		font-family: $archivo-bold;
		font-style: normal;
		font-weight: 800;
		font-size: 67px;
		line-height: 120%;
		color: #FCFCFC;
	}

	.sm-title{
		font-family: $archivo-bold;
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 120%;
		color: #FCFCFC;
		margin-top: 4px;
	}

	.desc-event{
		width: 596px;
		font-family: $archivo-regular;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 140%;
		color: #FCFCFC;
		margin-top: 16px;
	}

	.warp-event-scedule{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		margin-top: 48px;

		.location, .date{
			display: flex;
			width: 300px;

			.icon{
				width: 20px;
				height: 24px;

				img{
					width: auto;
					height: 24px;
					display: block;
					margin: auto;
				}
			}

			.desc{
				font-family: $archivo-regular;
				font-style: normal;
				font-weight: 400;
				font-size: 18px;
				line-height: 140%;
				color: #FCFCFC;
				padding-left: 16px;
			}
		}

		.date{
			margin-left: 24px;
		}
	}
}

.title-section{
	font-family: $archivo-bold;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 150%;
	text-align: center;
	color: #D9D9D9;
	margin-top: 12px;
}

.title-section-blue{
	font-family: $archivo-bold;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 150%;
	text-align: center;
	color: #040037;
	margin-top: 12px;
}

.title-section-white{
	font-family: $archivo-bold;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 150%;
	text-align: center;
	color: #FCFCFC;
	margin-top: 12px;
}

.title-section-black{
	font-family: $archivo-bold;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 150%;
	text-align: center;
	color: #040037;
	margin-top: 12px;
}

.desc-title{
	font-family: $archivo-regular;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 150%;
	text-align: center;
	color: #FFFFFF;
	margin-top: 12px;
}

/* Tournament Format */
.tournament-format{
	padding: 124px 0px 0px;
	position: relative;
	width: 100%;
	background:
		radial-gradient(86.66% 86.66% at 50% 50%, rgba(26, 3, 93, 0) 0%, #1A035D 100%),
		#040037;
	background-size: 100%, 100%;
	background-position: center, center;
	background-repeat: no-repeat;

	.wrap-tournament{
		display: flex;
		flex-wrap: wrap;
		margin-top: 40px;

		.list-format{
			width: 33.33%;
			padding: 0px 16px 97px;
			background: rgba(4, 0, 55, 0.6);
			cursor: pointer;
			transition: ease all 0.3s;

			&:hover{
				background: linear-gradient(180.03deg, rgba(26, 3, 93, 0) 0.03%, #1A035D 27.87%, #1A035D 68.7%, rgba(26, 3, 93, 0) 99.97%);

				.img-tournament{
					&:after{
						background: rgba(4, 0, 55, 0);
						backdrop-filter: none;
					}

					.img-caption{
						color: #BD3934;
					}
				}
			}

			.img-tournament{
				position: relative;
				width: 100%;
				height: 222px;

				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				&:after{
					content: '';
					position: absolute;
					z-index: 2;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: rgba(4, 0, 55, 0.6);
					backdrop-filter: blur(2.5px);
					transition: ease all 0.3s;
				}

				.img-caption{
					position: absolute;
					z-index: 3;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					font-family: $archivo-regular;
					font-style: normal;
					font-weight: 700;
					font-size: 24px;
					line-height: 150%;
					color: #FFFFFF;
					transition: ease all 0.3s;
				}
			}

			.desc-tournament{
				font-family: $archivo-regular;
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				line-height: 150%;
				color: #FFFFFF;
				margin-top: 16px;

				ul{
					margin: 8px 0px 0px;

					li{
						font-weight: 400;
					}
				}
			}
		}
	}

	.wrap-info{
		display: flex;
		flex-wrap: wrap;
		background: #D9D9D9;
		padding: 16px 32px;

		.list-info{
			width: 20%;

			img{
				width: 48px;
				height: 48px;
				display: block;
				margin: auto;
			}

			.desc-info{
				font-family: $archivo-regular;
				font-style: normal;
				font-weight: 300;
				font-size: 20px;
				line-height: 150%;
				text-align: center;
				color: #040037;
				margin-top: 12px;
			}
		}
	}
}

/* Grand Prize */
.grand-prize{
	padding: 124px 0px 0px;
	position: relative;
	width: 100%;
	background:
		radial-gradient(86.66% 86.66% at 50% 50%, rgba(26, 3, 93, 0) 0%, #1A035D 100%),
		#040037;
	background-size: 100%, 100%;
	background-position: center, center;
	background-repeat: no-repeat;

	.wrap-list-grand-prize{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: 24px;
		margin-bottom: 335px;

		.list-grand-prize{
			padding: 8px 24px;
			font-family: $archivo-regular;
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 150%;
			text-align: center;
			color: #FFFFFF;
			border-right: 1px solid #D9D9D9;

			&:last-child{
				border-right: 0px;
			}
		}
	}

	.img-grandprize{
		position: absolute;
		bottom: 195px;
		left: 0;
  		right: 0;
		width: 1129px;
		height: auto;
		display: block;
		margin: 20px auto 0px;
	}

	.hole-in-one-prize{
		padding: 99px 0px 44px;
		background: linear-gradient(0deg, #1E1E1E 0%, rgba(30, 30, 30, 0.76) 100%);
	
		.img-hole-in-one{
			display: flex;
			justify-content: center;
			align-items: center;

			img{
				width: 48px;
				height: 48px;
				margin-right: 12px;
			}

			span{
				font-family: $archivo-bold;
				font-style: normal;
				font-weight: 700;
				font-size: 48px;
				line-height: 150%;
				color: #D29319;
			}
		}

		.wrap-list-grand-prize-hole-in-one{
			display: flex;
			flex-wrap: wrap;
			margin-top: 16px;
			justify-content: center;

			.list-grand-prize{
				font-family: $archivo-regular;
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				line-height: 150%;
				text-align: center;
				color: #FFFFFF;
				border-right: 1px solid #D9D9D9;
				padding: 8px 16px;

				&:last-child{
					border-right: 0px;
				}
			}
		}
	}
}

/* Previous Tournament */
.previous-tournament{
	padding: 124px 0px 0px;
	position: relative;
	width: 100%;
	background: #E9E3FD;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;

	.wrap-tablink{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.tablink{
			margin-top: 24px;
			padding: 8px 16px;
			border-right: 1px solid #040037;
			font-family: $archivo-regular;
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 150%;
			text-align: center;
			color: #040037;
			cursor: pointer;

			&:last-child{
				border-right: 0px;
			}
		}

		.active{
			background: #BD3934;
			color: #FFFFFF;
			border: 0px;
		}
	}

	#video{
		padding-bottom: 104px;
	}

	.tabcontent{
		margin-top: 32px;
		display: none;
		animation: fadeEffect 1s;

		.wrap-tab{
			display: flex;
			flex-wrap: wrap;
			padding: 24px;
			background: #FAFAFA;
		}

		/* Tab Foto */
		.fotoSwipper{
			margin: 0px -12px;

			.swiper-slide{
				width: 33.33% !important;
				padding: 0px 12px;

				img{
					width: 100%;
					height: auto;
					object-fit: cover;
					object-position: top;
				}
			}
		}

		.navigasi-foto{
			height: 104px;
			background: #E9E3FD;
			position: relative;

			.swiper-button-next, .swiper-button-prev{
				width: 40px;
				height: 40px;
				border: 2px solid #D82526;
				border-radius: 50px;
			}

			.swiper-button-next::after, .swiper-button-prev::after{
				color: #D82526;
				font-size: 17px;
				font-weight: 800;
			}

			.swiper-button-next, .swiper-rtl .swiper-button-prev{
				right: 45%;
			}

			.swiper-button-prev, .swiper-rtl .swiper-button-next{
				left: 45%;
			}
		}

		/* Tab Video */
		.video{
			width: 720px;

			iframe{
				width: 100%;
				height: 405px;
			}
		}

		.desc-video{
			width: calc(100% - 720px);
			padding-left: 40px;
			display: flex;
			align-items: center;
			font-family: $archivo-regular;
			font-style: normal;
			font-weight: 700;
			font-size: 20px;
			line-height: 150%;
			color: #040037;
		}

		/* Tab Article */
		.wrap-tab-article{
			display: flex;
			flex-wrap: wrap;
			padding: 0px 16px;
			background: #E9E3FD;
		}

		.list-article{
			width: 31.5%;
			padding: 16px;
			margin: 0px 12px;
			background: #FAFAFA;

			img{
				width: 100%;
				height: 232px;
				object-fit: cover;
				object-position: top;
			}

			.title-article{
				font-family: $archivo-regular;
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				line-height: 150%;
				color: #040037;
				margin: 24px 0px 16px;
			}
		}

		.btn-more{
			margin: 24px 0px 57px;
			width: 100%;
			display: flex;
			justify-content: center;

			a{
				font-family: $archivo-regular;
				font-style: normal;
				font-weight: 700;
				font-size: 20px;
				line-height: 150%;
				text-align: center;
				color: #BD3934;
				padding: 16px 32px;
				width: 182px;
				border: 1px solid #BD3934;
				border-radius: 8px;
				display: block;
				transition: ease all 0.3s;

				&:hover{
					border: 1px solid #fff;
					color: #fff;
					background: #BD3934;
				}
			}
		}
	}

	@keyframes fadeEffect {
		from {opacity: 0;}
		to {opacity: 1;}
	}
	
	.tab-show{
		display: block;
	}
}

/* Get Ticket */
.get-ticket{
	padding: 124px 0px 0px;
	position: relative;
	width: 100%;
	background:
		url('../images/bg-ticket.png');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;

	.btn-get-ticket{
		margin-top: 191px;
		display: flex;
		justify-content: center;

		a{
			font-family: $archivo-regular;
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			line-height: 150%;
			text-align: center;
			color: #FFFFFF;
			background: #BD3934;
			border: 1px solid #BD3934;
			border-radius: 8px;
			padding: 28px 48px;
			display: block;
			transition: ease all 0.3s;

			&:hover{
				color: #BD3934;
				background: #FFFFFF;
			}
		}
	}

	.more-info{
		margin-top: 178px;
		width: 100%;
		padding: 0px 48px;

		.title-more-info{
			font-family: $archivo-regular;
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			line-height: 150%;
			color: #D9D9D9;
		}

		.wrap-more-info{
			padding: 8px 0px 40px;
			display: flex;
			flex-wrap: wrap;

			.list-info{
				width: 477px;
				font-family: $archivo-regular;
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 150%;
				color: #D9D9D9;
			}

			.info-wa{
				margin-left: 24px;
			}

			a[x-apple-data-detectors] {
				color: inherit !important;
				text-decoration: none !important;
				font-size: inherit !important;
				font-family: inherit !important;
				font-weight: inherit !important;
				line-height: inherit !important;
			}
		}
	}
}

.sponsor{
	background: #FCF6EE;
	padding: 12px 32px 80px;

	.wrap-sponsor{
		margin: 80px -16px 0px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.list-sponsor{
			width: 124px;
			height: 124px;
			padding: 0px 16px;

			img{
				width: 100%;
				display: block;
				margin: auto;
			}
		}
	}
}