// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	.wrap-sticky-wa{
		bottom: 140px;
	}

	/* Navigasi */
	.wrap-nav{
		padding: 16px 20px;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0) 1.09%, #040037 100%);
		box-shadow: 0px 17px 33px -2px rgba(0, 0, 0, 0.23);

		.logo{
			width: 138px;
			height: 48px;

			img{
				width: auto;
				height: 48px;
			}
		}

		nav{
			display: none;
		}

		.ticket{
			width: calc(100% - 138px - 28px);
			height: auto;
			display: flex;
			padding-right: 38px;

			a{
				display: flex;
				align-items: center;
			}

			img{
				width: auto;
				height: 35px;
				transition: transform 0.3s;

				&:hover {
					transform: scale(0.9);
				}
			}
		}

		.btn-m-nav{
			width: 28px;
			margin-left: auto;
			display: flex;
			align-items: center;
			
			i{
				font-size: 32px;
				color: #D9D9D9;
			}
		}
	}

	/* Side Nav */
	.side-nav{
		position: fixed;
		top: 0;
		right: -270px;
		z-index: 99;
		width: 269px;
		height: 100%;
		background: #040037;
		border-radius: 50px 0px 0px 50px;
		padding: 25px 30px;
		transition: ease all 0.3s;

		.head-side-nav{
			display: flex;
			flex-wrap: wrap;

			font-family: $archivo-regular;
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			line-height: 26px;
			color: #FCF6EE;
			padding-bottom: 27px;
			border-bottom: 1px solid #EBEBEB;

			i{
				margin-left: auto;
				font-size: 24px;
				color: #FCF6EE;
			}
		}

		.wrap-m-nav{
			margin-top: 32px;

			ul{
				padding: 0;
				margin: 0;
				list-style-type: none;
				text-align: center;

				li{
					margin-bottom: 32px;

					a{
						font-family: $archivo-regular;
						font-style: normal;
						font-weight: 600;
						font-size: 16px;
						line-height: 17px;
						color: #FCF6EE;
						display: block;
						text-align: left;
					}

					.m-ticket{
						font-family: $archivo-regular;
						font-style: normal;
						font-weight: 700;
						font-size: 18px;
						line-height: 20px;
						text-align: center;
						color: #FCF6EE;
						background: #BD3934;
						border-radius: 5px;
						padding: 16px 24px;
						display: block;
					}
				}
			}

			.active{
				color: #BD3934;
			}
		}
	}

	.side-nav-show{
		right: 0;
	}

	.navside-open{
		.wrap-nav{
			-webkit-filter: blur(2px);
			-moz-filter: blur(2px);
			-o-filter: blur(2px);
			-ms-filter: blur(2px);
			filter: blur(2px);
			transition: ease all 0.4s;
		}

		.wrap-content{
			filter: blur(2px);
			transition: ease all 0.4s;
			position: relative;

			&:after{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.4);
				transition: ease all 0.4s;
			}

			.wrap-sticky-wa{
				display: none;
			}
		}
	}

	/* About */
	.about{
		position: relative;
		width: 100%;
		height: 100%;
		background:
			radial-gradient(86.66% 86.66% at 50% 50%, rgba(26, 3, 93, 0) 0%, #1A035D 100%),
			url('../images/orang.png'),
			url('../images/m-rumput.png'),
			linear-gradient(180deg, rgba(200, 35, 37, 0) 0%, #C82325 100%),
			#040037;
		background-size: 100%, 60% auto, 100%, 100%;
		background-position: center, 90% 95%, 100% 100%, center;
		background-repeat: no-repeat;

		.warp-event-desc{
			position: absolute;
			bottom: 42px;
			left: 0px;
			padding: 0px 16px;
		}

		.title-event{
			font-size: 67px;
		}

		.sm-title{
			font-size: 36px;
			margin-top: 4px;
		}

		.desc-event{
			width: 100%;
			font-size: 18px;
			margin-top: 16px;
		}

		.warp-event-scedule{
			margin-top: 18px;

			.location, .date{
				width: 100%;

				.icon{
					width: 20px;
					height: 24px;

					img{
						width: auto;
						height: 24px;
						display: block;
						margin: auto;
					}
				}

				.desc{
					font-family: $archivo-regular;
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 140%;
					color: #FCFCFC;
					padding-left: 16px;

					.text-bold{
						font-size: 18px;
						margin-bottom: 4px;
					}
				}
			}

			.date{
				margin-left: 0px;
				margin-top: 16px;
			}
		}
	}

	.title-section{
		font-size: 32px;
	}

	.title-section-blue{
		font-size: 32px;
	}

	.title-section-white{
		font-size: 32px;
	}

	.title-section-black{
		font-size: 32px;
	}

	.desc-title{
		font-size: 20px;
	}

	/* Tournament Format */
	.tournament-format{
		padding: 100px 16px 0px;

		.wrap-tournament{
			margin-right: -6px;
			margin-left: -6px;

			.list-format{
				width: 33.33%;
				padding: 0px 8px 30px;
				background: none;

				&:hover{
					background: linear-gradient(180.03deg, rgba(26, 3, 93, 0) 0.03%, #1A035D 27.87%, #1A035D 68.7%, rgba(26, 3, 93, 0) 99.97%);

					.img-tournament{
						&:after{
							background: rgba(4, 0, 55, 0);
							backdrop-filter: none;
						}

						.img-caption{
							color: #BD3934;
						}
					}
				}

				.img-tournament{
					height: 200px;

					.img-caption{
						font-size: 20px;
					}
				}

				.desc-tournament{
					font-size: 18px;
				}
			}
		}

		.wrap-info{
			padding: 16px 16px;
			margin: 0px -16px;
			justify-content: center;

			.list-info{
				width: 20%;
				margin: 8px 0px;

				img{
					width: 48px;
					height: 48px;
					display: block;
					margin: auto;
				}

				.desc-info{
					font-size: 16px;
				}
			}
		}
	}

	/* Grand Prize */
	.grand-prize{
		padding: 100px 16px 0px;

		.wrap-list-grand-prize{
			margin-top: 24px;
			margin-bottom: 20px;

			.list-grand-prize{
				font-size: 18px;
			}
		}

		.img-grandprize{
			bottom: 165px;
			width: 100%;
			margin: 20px auto 0px;
		}

		.hole-in-one-prize{
			padding: 99px 0px 44px;
			background: linear-gradient(0deg, #1E1E1E 0%, rgba(30, 30, 30, 0.76) 100%);
			margin-top: 200px;
			margin-left: -16px;
			margin-right: -16px;
		
			.img-hole-in-one{
				display: flex;
				justify-content: center;
				align-items: center;

				img{
					width: 48px;
					height: 48px;
					margin-right: 12px;
				}

				span{
					font-family: $archivo-bold;
					font-style: normal;
					font-weight: 700;
					font-size: 48px;
					line-height: 150%;
					color: #D29319;
				}
			}

			.wrap-list-grand-prize-hole-in-one{

				.list-grand-prize{
					font-size: 22px;
				}
			}
		}
	}

	/* Previous Tournament */
	.previous-tournament{
		padding: 100px 0px 0px;

		.wrap-tablink{

			.tablink{
				margin-top: 24px;
				padding: 8px 16px;
				border-right: 1px solid #040037;
				font-family: $archivo-regular;
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 150%;
				text-align: center;
				color: #040037;
				cursor: pointer;

				&:last-child{
					border-right: 0px;
				}
			}

			.active{
				background: #BD3934;
				color: #FFFFFF;
				border: 0px;
			}
		}

		#video{
			padding-bottom: 104px;
		}

		.tabcontent{
			margin-top: 32px;
			display: none;
			animation: fadeEffect 1s;

			.wrap-tab{
				padding: 16px;
			}

			/* Tab Foto */
			.fotoSwipper{
				margin: 0px -8px;

				.swiper-slide{
					width: 50% !important;
					padding: 0px 8px;
				}
			}

			.navigasi-foto{
				height: 70px;

				.swiper-button-next, .swiper-button-prev{
					width: 40px;
					height: 40px;
				}

				.swiper-button-next::after, .swiper-button-prev::after{
					font-size: 16px;
				}

				.swiper-button-next, .swiper-rtl .swiper-button-prev{
					right: 40%;
				}

				.swiper-button-prev, .swiper-rtl .swiper-button-next{
					left: 40%;
				}
			}

			/* Tab Video */
			.video{
				width: 400px;

				iframe{
					width: 100%;
					height: 230px;
				}
			}

			.desc-video{
				width: calc(100% - 400px);
				padding-left: 20px;
				margin-top: 8px;
				font-size: 16px;
			}

			/* Tab Article */
			.wrap-tab-article{
				display: flex;
				flex-wrap: wrap;
				padding: 0px;
				background: #E9E3FD;
			}

			.list-article{
				width: 33.33%;
				padding: 8px;
				margin: 0px;

				img{
					height: 200px;
				}

				.title-article{
					font-size: 16px;
					margin: 8px 0px 16px;
				}
			}

			.btn-more{
				margin: 24px 0px 57px;
				width: 100%;

				a{
					font-size: 16px;
					padding: 8px 16px;
					width: 80%;
				}
			}
		}

		.tab-show{
			display: block;
		}
	}

	/* Get Ticket */
	.get-ticket{
		padding: 100px 16px 0px;
		width: 100%;
		background-size: cover;

		.btn-get-ticket{
			margin-top: 50px;

			a{
				font-size: 20px;
				padding: 16px 0px;
				width: 60%;
			}
		}

		.more-info{
			margin-top: 50px;
			padding: 0px 16px;

			.title-more-info{
				font-size: 16px;
			}

			.wrap-more-info{
				display: flex;
				flex-wrap: wrap;
				padding: 8px 0px 40px;

				.list-info{
					width: 300px;
					font-size: 16px;
				}

				.info-wa{
					margin-left: 10px;
				}
			}
		}
	}

	/* Sponsor */
	.sponsor{
		background: #FCF6EE;
		padding: 20px 16px 20px;

		.wrap-sponsor{
			margin: 40px -16px 0px;
		}
	}

	/* Footer */
	footer{
		padding: 34px 16px 24px;
		position: relative;
		height: 135px;

		.copy{
			width: 100%;
			padding: 0px 16px;
			font-size: 14px;
			text-align: center;
			margin-bottom: 18px;
			line-height: 120%;
			position: absolute;
			left: 0;
			bottom: 10px;
		}

		.social{
			position: absolute;
			width: 100%;
			padding: 20px 16px 0px;
			left: 0;
			top: 11px;
			justify-content: center;

			a{
				margin: 0px;
				width: 20%;
				justify-content: center;
			}

			i{
				font-size: 26px;
				color: #1A035D;
				transition: ease all 0.3s;

				&:hover{
					color: #BD3934;
				}
			}
		}
	}
}