// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
   body.open-side-nav{
      &::after{
         content: "";
         position: fixed;
         z-index: 97;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.7);
      }
   }

   .content{
      width: 100%;
      padding: 0px 16px;
   }
   
   .content-row{
      display: block;
      width: 100%;
      padding: 0px 16px;
   }
   
   .title-section{
      font-size: 25px;
      margin-bottom: 15px;
   }

   nav{
      .wrap-nav{
         width: 100%;
         height: 60px;
         padding: 0px 16px;
   
         .logo{
            width: 150px;
      
            img{
               width: 150px;
            }
         }
      
         .navigasi{
            display: none;
         }

         .m-navigasi{
            width: 35px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            background-color: $color-third;
            margin-left: auto;

            i{
               font-size: 16px;
               color: #fff;
            }
         }
      }
   }

   .side-nav{
      position: fixed;
      top: 60px;
      right: -300px;
      visibility: hidden;
      z-index: 98;
      width: 300px;
      height: 100%;
      padding: 10px;
      background-color: #fff;
      transition: ease all 0.2s;

      a{
         display: block;
         font-family: $heebo-med;
         font-size: 16px;
         font-style: normal;
         line-height: 160%;
         color: $color-text;
         padding: 8px 16px;
         margin: 4px 0px;
         border-radius: 4px;

         &:last-child{
            margin: 0px 0px 0px 4px;
         }

         &:hover{
            color: #fff;
            background-color: $color-third;
            transition: $trans-hover;
         }
      }

      .active{
         color: #fff;
         background-color: $color-third;
      }
   }

   .side-nav-open{
      right: 0px;
      visibility: visible;
   }

   .beranda{
      padding-top: 60px;
      padding-left: 16px;
      padding-right: 16px;
   
      .text-beranda{
   
         h1{
            font-size: 30px;
         }
   
         h3{
            font-size: 16px;
         }
      }
   }

   .profil{
      padding: 40px 0px;
      
      .left{
         width: 100%;
   
         img{
            width: 100%;
            margin: auto;
            margin-bottom: 25px;
         }
      }
   
      .right{
         width: 100%;
      }
   }

   .sistem{
      padding: 40px 0px;

      .content{
         padding: 0;
      }

      .title-section{
         padding: 0px 16px;
      }
   
      .wrap-sistem{
         width: 100%;
         flex-wrap: nowrap;
         overflow-y: scroll;
         white-space: nowrap;
         scrollbar-width: none;
         padding: 0px 16px;
   
         .list-sistem{
            width: 300px;
            padding: 0;
            margin: 0px 8px;
   
            .card{
               width: 300px;
   
               .img-sistem{
                  width: 150px;
                  height: 150px;
   
                  img{
                     width: 120px;
                     height: 120px;
                  }
               }
   
               .nama-sistem{
                  font-size: 18px;
                  white-space: normal;
               }
   
               .desc{
                  font-size: 16px;
                  white-space: normal;
               }
            }

            &:first-child{
               margin: 0px 8px 0px 0px;
            }

            &:last-child{
               margin: 0px 0px 0px 8px;
            }
         }
      }
   }

   .data{
      padding: 40px 0px;
   }

   .kontak{
      padding: 40px 0px;
      
      .left{
         width: 100%;
         padding-right: 0px;

         .list-kontak{
            .nama{
               width: 50%;
            }
   
            .no_hp{
               width: 50%;
            }

            &:last-child{
               margin-bottom: 30px;
            }
         }
      }
   
      .right{
         width: 100%;
      }
   }

   footer{
      padding: 40px 0px;
   
      .wrap-footer{
         width: 100%;
   
         .col-footer{
            padding: 0px 20px;
   
            .title-footer{
               font-family: $heebo-bold;
               font-size: 18px;
               font-style: normal;
               line-height: 160%;
               color: #fff;
               margin-bottom: 8px;
            }
   
            .desc-footer{
               font-family: $heebo-regular;
               font-size: 16px;
               font-style: normal;
               line-height: 160%;
               color: #fff;
   
               .wrap-social{
                  display: flex;
                  margin: 0px -8px;
   
                  a{
                     width: 35px;
                     height: 35px;
                     background-color: rgba(255, 255, 255, 0.3);
                     border-radius: 100%;
                     display: flex;
                     justify-content: center;
                     align-items: center;
   
                     font-size: 16px;
                     color: #fff;
                     margin: 0px 8px;
                  }
               }
            }
         }
         
         .col-logo{
            width: 100%;
   
            img{
               width: 250px;
               margin-bottom: 30px;
            }
         }
   
         .col-alamat{
            width: 100%;
            margin-bottom: 20px;
         }
   
         .col-sosial{
            width: 100%;
         }
      }
   }
   
   .copy{
      padding: 10px 0px;
   }
}