$color-primary: #3c55b3;
$color-secondary: #198639;

$color-caption: #252525;
$color-border: #dedede;

$color-menu-hover: #004a90;
$color-menu: #808080;

$color-border: rgba(85, 85, 85, 0.25);

$trans-hover: ease all 0.4s;

@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-bold;
  src: url('../fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-medium;
  src: url('../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: Roboto-black;
  src: url('../fonts/roboto/Roboto-Black.ttf');
}


html, body{
    height: 100%;
    margin: 0;
}

body{
    font-family: "Roboto", Arial, Tahoma !important;
    line-height: 1.5;
    scroll-behavior: smooth;
    background-color: #fff !important;
    background-image: none !important;
}

h1{
    line-height: 1.5 !important;
}

a{
    text-decoration: none !important;
}

.content-row{
    display: flex;
    flex-wrap: wrap;
}

.content-clearfix::after {
    content: "";
    clear: both;
    display: table;
}