@import 'global';

.widget-olimpiade{
	width: 300px;
	margin: auto;
	padding-bottom: 20px;
	background-color: #fafafa;

		.bg-header{
			width: 300px;
			height: 100px;
		}

		.swiper-container{
			padding: 8px 8px 0px !important;
		}

		.swiper-slide{

			&:hover .title-artikel{
				text-decoration: none;
				color: $color-primary;
			}
		}

		.swiper-pagination{
			position: relative;
			margin-top: 10px;
		}

		.swiper-pagination-bullet{
			width: 12px;
			height: 12px;
			background: #198639;
		}

		.swiper-pagination-bullet-active{
			background: #198639;
		}

		.img-artikel{
			width: 100%;
			height: 190px;
			overflow: hidden;
			position: relative;
			border-radius: 10px;
			margin-bottom: 8px;

			img{
				width: 100%;
				height: 190px;
				object-fit: cover;
			}
		}

		.label-kanal-float{
			font-family: 'Roboto-bold','arial','tahoma';
			position: absolute;
			top: 12px;
			left: 12px;
			font-size: 10px;
			padding: 4px 6px;
			border-radius: 4px;
			 line-height: 1.6;
			color: #fff;
			width: max-content;
		}

		.global-news{ background-color: #fd3d39; }
		.wirausaha-syariah{ background-color: #fe9526; }
		.lifestyle{ background-color: #fd3259; }
		.wisata-halal{ background-color: #53d86a; }
		.home-garden{ background-color: #777777; }
		.community{ background-color: #595bd4; }
		.edukasi{ background-color: #3cabdb; }
		.sosok-muslim{ background-color: #6f4848; }
		.masjid{ background-color: #d5b401; }

		.title-artikel{
			font-family: 'Roboto-bold','arial','tahoma';
			font-size: 16px;
			font-weight: bold;
			color: #2d2d2b;
			margin-bottom: 12px;
			transition: $trans-hover;
		}

		// More Button
		.more-btn{
			width: 145px !important;

			a{
				font-family: "Roboto-bold",'tahoma','arial';
				font-size: 16px;
				color: $color-secondary;
				transition: $trans-hover;

				&:hover, &:focus{
					text-decoration: none;
					color: $color-primary;
				}
			}

			&:hover i, &:focus i{
				background-color: $color-primary;
			}

			&:hover .more, &:focus .more{
				border: 2px solid $color-primary;
			}
		}

		.more{
			text-align: center;
			margin: 0px auto;
			outline: none;
			border-radius: 0px 20px 20px 0px;
			border: 2px solid $color-secondary;
			padding: 52px 0px;
			display: block;

			i{
				font-size: 16px;
				background-color: $color-secondary;
				color: #fff;
				padding: 7px 10px;
				border-radius: 5px;
				margin-bottom: 5px;
			}
		}
}