@import "global";

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 190px;            /* Footer height */
  background-color: #fff;
  padding: 48px 0px 71px;
}

.warp-logo-mandiri{
	float: left;
	display: flex;
	flex-wrap: wrap;
}

.logo-mandiri{
	margin-right: 25px;

	img{
		width: auto;
		height: 120px;
	}
}

.logo-ojk{
	padding: 13px 0px;

	img{
		width: auto;
		height: 120px;
	}
}

.warp-logo-mnp{
	float: right;
	display: flex;
	flex-wrap: wrap;
	padding: 18px 0px;
}

.supported{
	font-family: $poppins-med;
	font-size: 19px;
	color: #a6a6a6;
}

.logo-mnp{
	img{
		width: auto;
		height: 100px;
		margin-left: 20px;
	}
}

.ft-copy{
	text-align: center; 
	color: #005591; 
	font-size: 18px;
	margin-top: 38px;
}