@import 'global';

nav{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 85, 145, 0);
	padding: 30px  0px;
	width: 100%;
	text-align: right;
	z-index: 99;

	ul{
		list-style-type: none;
		padding: 0px 200px 0px 0px;
		margin: 0px;
	}

	li{
		position: relative;
		display: inline-block;
		margin-right: 32px;
	}

	a{
		font-family: $poppins-semi;
		font-size: 22px;
		color: #ffbb3d;
		transition: $trans-hover;

		&:hover, &:focus{
			color: #fff;
		}
	}

	a.active{
		color: #fff;
	}

	a.menu-spesial{
		background-color: #ffbb3d;
		color: #e555c4;
		padding: 3px 15px;
		border-radius: 50px;

		&:hover, &:focus{
			color: #fff;
		}
	}
}

.nav-sticky{
	position: fixed;
	top: -100px;
	left: 0;
	background-color: #e555c4;
	padding: 10px  0px;
	width: 100%;
	z-index: 99;
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.25);
	transition: $trans-hover;

	ul{
		width: 70%;
		list-style-type: none;
		padding: 13px 0px;
		margin: 0px;
		text-align: center;
	}

	li{
		position: relative;
		display: inline-block;
		margin-right: 32px;

		&:last-child{
			margin-right: 0px;
		}
	}
	
	a{
		font-family: $poppins-semi;
		font-size: 22px;
		color: #ffbb3d;
		transition: $trans-hover;

		&:hover, &:focus{
			color: #fff;
		}
	}

	a.active{
		color: #fff;
	}

	a.menu-spesial{
		background-color: #ffbb3d;
		color: #e555c4;
		padding: 3px 15px;
		border-radius: 50px;

		&:hover, &:focus{
			color: #fff;
		}
	}

	.logo-wmm{
		width: 15%;

		img{
			width: 66px;
			height: auto;
		}
	}

	.logo-livin{
		width: 15%;
		padding: 6px 0px;

		img{
			width: 102px;
			height: auto;
			float: right;
		}
	}
}