@import 'global';

.desktop{
	display: block !important;
}

.mobile{
	display: none !important;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 190px;    /* Footer height */
}

// Popup
.popup-msg{
	display: none;
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	transition: all ease .2s;
}

.popup-msg-content{
	background: #fff;
	background-image: 
		url(../images/left-top.png),
		url(../images/right-bottom.png);
  	background-position: 
  		left top, right bottom;
  	background-size:
  		97px, 114px;
  	background-repeat: no-repeat;
	width: 752px;
	margin: 8% auto;
	padding: 40px 30px 30px;
	border-radius: 10px;
	color: #212121;
	text-align: center;

	.title-msg{
		font-family: $poppins-semi;
		font-size: 36px;
	}

	p{
		font-family: $poppins-med;
		font-size: 24px;
		margin: 64px 0px;
	}

	.popup-msg-btn{
		font-family: $poppins-semi;
		font-size: 28px;
		color: #ffffff;
		background-color: #61ba9e;
		padding: 8px 64px;
		text-align: center;
		cursor: pointer;
		width: max-content;
		border-radius: 8px;
		margin: auto;
	}
}

.container{
    width: 1210px !important;
    max-width: 1210px !important;
    padding: 0px !important;
    margin: auto;
    position: relative;
}

.title-section{
	font-family: $poppins-semi;
	font-size: 24px;
	color: #005591;
	width: 100%;
	position: relative;

	&:after{
		content: "";
		background-image: url('../images/ornaments/title-section.webp');
    	background-size: 53px 42px;
		display: inline-block;
		width: 53px;
		height: 42px;
		position: absolute;
		top: 46px;
		left: 0px;
	}
}

.home{
	background: #e555c4;
	background-image: 
		url(../images/logo-livin.png),
		url(../images/ornaments/home/n-left-top.webp),
		url(../images/ornaments/home/n-left-bottom.webp),
		url(../images/ornaments/home/n-right-bottom.webp),
		url(../images/ornaments/home/n-right-mid.webp);
  	background-position: 
  		88% 30px, 12% 0px, 12% 90%, 90% 80%, 88% 40%;
  	background-size:
  		197px, 395px, 190px, 129px, 62px;
  	background-repeat: no-repeat;
}

.title-home{
	padding: 200px 0px 34px;
	font-family: $poppins-semi;
	font-size: 36px;
	color: #ffffff;
	text-align: center;
}

.warp-btn-daftar{
	display: inline-block;
	text-align: center;
	width: 100%;
}

.btn-daftar {
  	border: none;
	font-family: $poppins-bold;
	font-size: 20px;
	color: #ffffff;
	padding: 10px 25px;
	border-radius: 10px;
	background-color: #61ba9e;
	transition: $trans-hover;
	margin: 0px 8px;
	cursor: pointer;

	&:hover, &:focus{
		background-color: #fdb622;
	}
}

.img-mid{
	position: absolute;
	right: -62px;
	top: -49px;
	width: 118px;
	z-index: 1;
}

.desc-home{
	padding: 100px 0px 122px;
	font-family: $poppins-regular;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
}

.desc__home{
	padding: 15px 0px 0px;
	font-family: $poppins-regular;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
}

.social__home{
	display: flex;
	flex-wrap: wrap;
	padding: 60px 150px 100px;
	text-align: right;
	margin-right: 94px;
}

.list__social{
	width: 33.33%;

	a{
		font-family: $poppins-regular;
		font-size: 20px;
		color: #ffffff;
	}

	i{
		font-size: 25px;
		padding: 8px 0px;
		border-radius: 50px;
		color: #e555c4;
		background-color: #fff;
		width: 40px;
		height: 40px;
		margin-right: 7px;
	}
}

.tag{
	padding: 30px 0px;
	font-family: $poppins-regular;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
}

.about{
	padding: 42px 0px 50px;
	background: #fff;
	position: relative;
}

.title-about{
	font-family: $poppins-semi;
	font-size: 38px;
	color: #c424a4;
	text-align: center;
	margin: 37px 0px 40px
}

.desc-about{
	width: 45%;
	font-family: $poppins-med;
	font-size: 20px;
	color: #005591;
}

.img-about{
	width: 55%;

	img{
		width: 100%;
		height: auto;
		display: block;
		margin: auto;
	}
}

.ivent-title{
	font-family: $poppins-regular;
	font-size: 14px;
	color: #005591;
	position: absolute;
	bottom: 225px;
	right: -55px;
	transform: rotate(-90deg);
}

.jurney{
	background: #59ccfc;
	padding: 25px 0px;
	background-image: 
		url(../images/ornaments/jurney/top-left.webp),
		url(../images/ornaments/jurney/bottom-right.webp);
  	background-position: 
  		0px -95px, bottom right;
  	background-size:
  		125px, 226px;
  	background-repeat: no-repeat;

	.top-right{
		position: absolute;
		top: -100px;
		right: 266px;
		width: 132px;
		height: auto;
	}
}

.title-jurney{
	position: absolute;
	top: -90px;
	left: 0px;
}

.img-infografis{
	margin-top: -15px;
	margin-left: -40px;
	margin-right: -40px;

	img{
		width: 100%;
		height: auto;
		display: block;
		margin: auto
	}
}

.testimoni{
	background: #ffffff;
	padding: 26px 0px 30px;
	position: relative;
	background-image: 
		url(../images/ornaments/testi/mid-top.webp);
  	background-position: 
  		46% 13%;
  	background-size:
  		70px;
  	background-repeat: no-repeat;
 	
 	.swiper-slide{
 		width: 427px !important;
 		margin-right: 55px;
 	}
 	
 	.testi-prev{
 		position: absolute;
 		left: 60px;
 		top: 500px;
 		z-index: 80;
 		cursor: pointer;
 		
 		img{
 			width: 85px;
 			opacity: 0.4;
 			transition: $trans-hover;
 		}

 		&:hover, &:focus{
 			img{
	 			width: 85px;
	 			opacity: 1;
	 		}
 		}
 	}

 	.testi-next{
 		position: absolute;
 		right: 60px;
 		top: 500px;
 		z-index: 80;
 		cursor: pointer;
 		
 		img{
 			width: 85px;
 			opacity: 0.4;
 			transition: $trans-hover;
 		}

 		&:hover, &:focus{
 			img{
	 			width: 85px;
	 			opacity: 1;
	 		}
 		}
 	}
}

.list-testimoni{
	margin-top: 100px;
	width: 427px !important;
	height: 862px !important;
	border-radius: 20px;
	padding: 46px 20px 26px;
	text-align: center;
	position: relative;
}

.img-alumni{
	margin-bottom: 16px;

	img{
		width: 139px;
		height: 139px;
		border-radius: 50%;
		margin: auto;
		display: block;
	}
}

.nama-alumni{
	font-family: $poppins-semi;
	font-size: 24px;
	color: #005591;
}

.tahun-alumni{
	font-family: $poppins-regular;
	font-size: 18px;
	color: #e5e5e5;
	margin-top: 5px;
}

.testi-alumni{
	font-family: $poppins-regular;
	font-size: 16px;
	color: #005591;
	margin-top: 16px;
}

.warp-logo{
	position: absolute;
	width: 100%;
	margin: auto;
	display: block;
	left: 0px;
	bottom: 26px;
}

.title-logo{
	font-family: $poppins-semi;
	font-size: 19px;
	color: #005591;
	margin-bottom: 21px;
}

.logo{
	img{
		width: 96px;
		height: 96px;
		margin: auto;
		display: block;
	}
}

.category{
	background: #ffffff;
	padding: 52px 0px 50px;
	position: relative;
	background-image: 
		url(../images/ornaments/registration/top-left.webp),
		url(../images/ornaments/registration/mid-top.webp),
		url(../images/ornaments/registration/bottom-left.webp),
		url(../images/ornaments/registration/mid-right.webp);
  	background-position: 
  		0% 0%, 67% 1%, 11% 99%, 92% 33%;
  	background-size:
  		156px, 80px, 52px, 49px;
  	background-repeat: no-repeat;

  	.bottom-right{
  		position: absolute;
		bottom: -174px;
		right: 0px;
		width: 253px;
		z-index: 80;
  	}
}

.title-category{
	font-family: $poppins-semi;
	font-size: 38px;
	color: #ff6a83;
	margin: 50px 0px 38px;
	text-align: center;
}

.warp-category{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.list-category{
	width: 455px;
	height: 570px;
	padding: 12px 22px;
	background-image: url('../images/ornaments/category/card-list.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin: 0px 50px;

	img{
		width: auto;
		height: 256px;
		margin: auto;
		display: block;
	}
}

.btn-category{
	border: none;
	font-family: $poppins-semi;
	font-size: 24px;
	color: #ffffff;
	padding: 10px 25px;
	border-radius: 10px;
	background-color: #61ba9e;
	transition: $trans-hover;
	display: block;
	width: max-content;
	margin: 0px 0px 24px;
	text-align: left !important;
	cursor: pointer;

	&:hover, &:focus{
		background-color: #fdb622;
	}
}

.desc-category{
	font-family: $poppins-med;
	font-size: 19px;
	color: #005591;
	margin-bottom: 30px;
}

.info-category{
	font-family: $poppins-bold;
	font-size: 19px;
	color: #004270;
	transition: $trans-hover;

	&:hover, &:focus{
		color: #fdb622;
	}
}

.step-form{
	padding-bottom: 35px;
	background: #fff;
	font-family: $poppins-semi;
	font-size: 40px;
	color: #59ccfc;
	text-align: center;
}

.form-close{
	background: #f9f8f2;
	padding: 38px 0px;
	font-family: $poppins-med;
	font-size: 19px;
	color: #c3cbd0;
	text-align: center;
	position: relative;
}

.btn-open-form{
	position: absolute;
	left: 0px;
	right: 0px;
	top: -35px;
	background: #ffffff;
	width: 60px;
	height: 60px;
	margin: auto;
	padding: 22px 0px;
	border-radius: 50px;
	cursor: pointer;
	transition: $trans-hover;

	img{
		width: 35px;
		height: auto;
		display: block;
		margin: auto;
	}

	&:hover{
		top: -25px;
	}
}

.form-open{
	background: #f9f8f2;
	padding: 112px 0px 108px;
	position: relative;
}

.btn-close-form{
	position: absolute;
	left: 0px;
	right: 0px;
	top: -35px;
	background: #ffffff;
	width: 60px;
	height: 60px;
	margin: auto;
	padding: 22px 0px;
	border-radius: 50px;
	cursor: pointer;
	transition: $trans-hover;

	img{
		width: 35px;
		height: auto;
		display: block;
		margin: auto;
	}

	&:hover{
		top: -45px;
	}
}

// Form

.frm-error{
	border: 3px solid #ff1144 !important;
}

.cmb-kategori{
	border-radius: 10px;
    border: 1px solid #61ba9e;
    padding: 12px 26px;
    font-size: 20px;
    width: 534px;
    color: #fff;
    background: url(../images/icon/chevron-down.svg) no-repeat right #61ba9e;
    background-position-x: right;
    background-origin: content-box;
    background-position-y: center;
    background-size: 23px;
    -webkit-appearance: none;
    cursor: pointer;
    margin-bottom: 36px;
    outline: none;
}

.note-form{
	width: 100%;
	font-family: $poppins-med-italic;
	font-size: 18px;
	color: #ff1144;
	margin-bottom: 8px;
}

.input-large{
	width: 99% !important;
}

.input-med{
	width: 214px !important;
}

.input-med-2{
	width: 33.5% !important;
}

.input-small{
	width: 110px !important;
}

.label-bulan, .label-tahun{
	font-family: $poppins-med;
	font-size: 20px;
	color: #005591;
	margin-left: 24px;
	margin-right: 54px;
}

.label-modal, .label-modal-bussiness{
	font-family: $poppins-med;
	font-size: 20px;
	color: #005591;
	margin-right: 4px;
	margin-left: 59px;
}

.label-modal-business{
	margin-left: 0px !important;
}

.label-keterangan{
	font-family: "Poppins-med",Arial,Tahoma;
	font-size: 20px;
	color: #005591;
	padding-left: 17px;
}

textarea{
	border: 1px solid #c6c6c6;
	border-radius: 10px;
	font-family: $poppins-regular;
	font-size: 15px;
	background-color: #f9f8f2;
	color: #000;
	padding: 5px 10px;
	transition: $trans-hover;

	&:hover, &:focus{
		border: 1px solid $color-primary;
	}

	&:focus{
		outline: none;
	}

	&:placeholder{
		color: #c6c6c6;
	}
}

// Single Line
.form-group{
	display: flex;
	flex-wrap: wrap;
	margin-top: 16px;
	width: 100%;

	.label{
		font-family: $poppins-med;
		font-size: 20px;
		color: #005591;
		padding-right: 2px;
		width: 23%;
	}

	.frm-input-group{
		display: flex;
		flex-wrap: wrap;
		width: 76%;
	}

	.sparate{
		font-family: $poppins-med;
		font-size: 20px;
		color: #005591;
		width: 10px;
	}

	.input{
		border: 1px solid #c6c6c6;
		border-radius: 8px;
		font-family: $poppins-regular;
		font-size: 15px;
		background-color: #f9f8f2;
		color: #000;
		padding: 5px 10px;
		transition: $trans-hover;
		width: 99%;
		height: 32px;

		&:hover, &:focus{
			border: 1px solid $color-primary;
		}

		&:focus{
			outline: none;
		}

		&:placeholder{
			color: #c6c6c6;
		}
	}

	.input-picker{
		border: 1px solid #c6c6c6;
		border-radius: 8px;
		font-family: $poppins-regular;
		font-size: 15px;
		background-color: #f9f8f2;
		color: #000;
		padding: 5px 10px;
		transition: $trans-hover;
		width: 214px;
		height: 32px;
		margin-left: 0px;
		background: url('../images/icon/calender.svg') no-repeat right #f9f8f2;
	    background-size: 15px;
	    background-position-x: 94%;

		&:hover, &:focus{
			border: 1px solid $color-primary;
		}

		&:focus{
			outline: none;
		}
	}

	.cmb-box{
		width: 285px !important;
	}
}

// Double Line
.form-group-double{
	display: flex;
	flex-wrap: wrap;
	margin-top: 16px;
	width: 50%;

	.label{
		font-family: $poppins-med;
		font-size: 20px;
		color: #005591;
		padding-right: 2px;
		width: 46%;
	}

	.label-nowidth{
		margin: 0px 3px 0px 10px;
		width: auto !important;
	}

	.frm-input-group{
		display: flex;
		flex-wrap: wrap;
		width: 52%;
	}

	.frm-input-group-tlp{
		display: flex;
		flex-wrap: wrap;
		width: 52%;
	}

	.frm-input-group-provinsi{
		width: 70% !important;
	}

	.frm-input-group-kota{
		width: 323px !important;

		.cmb-box-kota{
			width: 100% !important;
		}
	}

	.sparate{
		font-family: $poppins-med;
		font-size: 20px;
		color: #005591;
		width: 10px;
	}

	.input{
		border: 1px solid #c6c6c6;
		border-radius: 8px;
		font-family: $poppins-regular;
		font-size: 15px;
		background-color: #f9f8f2;
		color: #000;
		padding: 5px 10px;
		transition: $trans-hover;
		width: 97%;
		height: 32px;

		&:hover, &:focus{
			border-bottom: 1px solid $color-primary;
			border: 1px solid $color-primary;
		}

		&:focus{
			outline: none;
		}

		&:placeholder{
			color: #c6c6c6;
		}
	}

	.input-picker{
		border: 1px solid #c6c6c6;
		border-radius: 8px;
		font-family: $poppins-regular;
		font-size: 15px;
		background-color: #f9f8f2;
		color: #000;
		padding: 5px 10px;
		transition: $trans-hover;
		width: 214px;
		height: 32px;
		margin-left: 5px;
		background: url('../images/icon/calender.svg') no-repeat right #f9f8f2;
	    background-size: 15px;
	    background-position-x: 94%;

		&:hover, &:focus{
			border: 1px solid $color-primary;
		}

		&:focus{
			outline: none;
		}
	}
}


// Child Line
.frm-input-group-child{
	display: flex;
	flex-wrap: wrap;
	width: 99%;

	.sparate{
		font-family: $poppins-med;
		font-size: 20px;
		color: #005591;
		width: 10px;
	}

	.margin-auto{
		margin: auto !important;
	}

	.label-nowidth{
		margin: 0px 3px 0px 0px;
		width: auto !important;
	}

	.cmb-box{
		width: 95% !important;
	}

	.input{
		border: 1px solid #c6c6c6;
		border-radius: 8px;
		font-family: $poppins-regular;
		font-size: 15px;
		background-color: #f9f8f2;
		color: #000;
		padding: 5px 10px;
		transition: $trans-hover;
		width: 95%;
		height: 32px;

		&:hover, &:focus{
			border-bottom: 1px solid $color-primary;
			border: 1px solid $color-primary;
		}

		&:focus{
			outline: none;
		}

		&:placeholder{
			color: #c6c6c6;
		}
	}

	img{
		width: 32px;
		height: 32px;
	}
}

.txt-region{
	width: 400px !important;
}

.txt-notlp{
	width: 332px !important;
}

.txt-fb{
	width: 352px !important;
}

.txt-ig{
	width: 395px !important;
}


.form-double-nomargin{
	margin: 0px !important;
}

.input-border{
	border: 1px solid #c6c6c6;
	border-radius: 10px;
	font-family: $poppins-regular;
	font-size: 15px;
	background-color: #f9f8f2;
	color: #000;
	padding: 5px 10px;
	transition: $trans-hover;
	height: 32px;

	&:hover, &:focus{
		border: 1px solid $color-primary;
	}

	&:focus{
		outline: none;
	}

	&:placeholder{
		color: #c6c6c6;
	}
}

.cmb-box{
	border-radius: 10px;
	border: 1px solid #c6c6c6;
	padding: 5px 10px;
	font-family: $poppins-regular;
	font-size: 15px;
	width: 97%;
	height: 32px;
	color: #000;
	background: url("../images/icon/chevron-down-blue.svg") no-repeat right;
    background-position-x: 98%;
	background-origin: content-box;
	background-position-y: center;
	background-size: 15px;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

.btn-upload{
	font-family: $poppins-regular;
	font-size: 15px;
	background-color: #61ba9e;
	color: #fff;
	padding: 5px 27px;
	border-radius: 10px;
	cursor: pointer;
	margin-left: 5px;
}

.label-file{
	font-family: $poppins-med;
	font-size: 13px;
	color: #005591;
	margin-left: 5px;
	padding: 6px 0px;
}

.link-form{
	font-family: $poppins-regular;
	font-size: 15px;
	background-color: #61ba9e;
	color: #fff;
	padding: 5px 27px;
	border-radius: 10px;
	cursor: pointer;
	margin-left: 5px;
}

.form-data-pribadi{
	border-bottom: 2px dotted #c6c6c6;
	margin-bottom: 50px;
	padding-bottom: 50px;
}

#business-plan{
	display: none;
}

.warp-form{
	margin: 66px 0px 0px;
	display: flex;
	flex-wrap: wrap;
}

.link-search{
	font-family: $poppins-semi;
	font-size: 20px;
	font-style: italic;
	color: #c1c1bf;
	transition: $trans-hover;
	margin-left: 16px;

	&:hover{
		color: $color-primary
	}
}

.warp-produk{
	width: 306px;
}

// Radio
/* The container */
.radio-btn {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-right: 20px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #005591;
	font-family: $poppins-med;
	font-size: 20px;
}

/* Hide the browser's default radio button */
.radio-btn input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 2px;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #fff;
	border: 1px solid #c4c4c4;
	border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-btn:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-btn input:checked ~ .checkmark {
	background-color: #fff;
	border: 1px solid #c4c4c4;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-btn input:checked ~ .checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.radio-btn .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #005591;
}

// Check Box
.frm-checkbox{
	display: flex;
	flex-wrap: wrap;
}

.warp-checkbox {
  	position: relative;
  	margin-bottom: 15px;
  	width: 34px;
}

.warp-checkbox label {
	background-color: #fff;
	border: 1px solid #c4c4c4;
	cursor: pointer;
	height: 34px;
	width: 34px;
	left: 0;
	position: absolute;
	top: 0;
}

.warp-checkbox label:after {
	border: 2px solid #0e6ead;
	border-top: none;
	border-right: none;
	content: "";
	height: 10px;
	left: 6px;
	opacity: 0;
	position: absolute;
	top: 8px;
	transform: rotate(-45deg);
	width: 19px;
}

.label-checkbox{
	font-family: $poppins-med;
	font-size: 20px;
	color: #005591;
	margin-left: 10px;
	width: 255px;
}

.warp-checkbox input[type="checkbox"] {
  	visibility: hidden;
}

.warp-checkbox input[type="checkbox"]:checked + label {
	background-color: #fff;
	border-color: #c4c4c4;
}

.warp-checkbox input[type="checkbox"]:checked + label:after {
	opacity: 1;
}

.persetujuan{
	font-family: $poppins-med;
	font-size: 20px;
	color: #005591;
	margin: 87px 0px 47px;
}

.warp-captcha{
	display: flex;
	flex-wrap: wrap;
}

.captcha{
	margin-left: 10px;

	img{
		width: 234px;
	}
}

.syarat-ketentuan{
	font-family: $poppins-semi;
	font-size: 24px;
	color: #fff;
	background-color: #6761ba;
	padding: 13px 26px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.warp-submit{
	width: 100%;
	margin: 5px -20px 10px;

	.warp-checkbox {
	  	position: relative;
	  	margin: 13px 0px 13px 20px;
	  	width: 34px;
	}

	.warp-checkbox label {
		background-color: #fff;
		border: 1px solid #c4c4c4;
		cursor: pointer;
		height: 34px;
		width: 34px;
		left: 0;
		position: absolute;
		top: 0;
	}

	.warp-checkbox label:after {
		border: 2px solid #0e6ead;
		border-top: none;
		border-right: none;
		content: "";
		height: 10px;
		left: 6px;
		opacity: 0;
		position: absolute;
		top: 8px;
		transform: rotate(-45deg);
		width: 19px;
	}

	.label-checkbox{
		font-family: $poppins-med;
		font-size: 20px;
		color: #005591;
		margin: 14px 0px 14px 10px;
		width: 500px;
	}

	.warp-checkbox input[type="checkbox"] {
	  	visibility: hidden;
	}

	.warp-checkbox input[type="checkbox"]:checked + label {
		background-color: #fff;
		border-color: #c4c4c4;
	}

	.warp-checkbox input[type="checkbox"]:checked + label:after {
		opacity: 1;
	}
}

.btn-submit{
	border: none;
	font-family: $poppins-semi;
	font-size: 24px;
	color: #fff;
	background-color: #61ba9e;
	padding: 13px 26px;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
}


// Coming Soon
.comming-soon{
	width: 100%;
	height: 100%;
	position: relative;
	background: #005591;
	background-image: 
		url(../images/logo.png),
		url(../images/logo-livin.png),
		url(../images/ornaments/home/top.webp),
		url(../images/ornaments/home/left-mid-c.png),
		url(../images/ornaments/home/mid-left.webp),
		url(../images/ornaments/home/bottom-left.webp),
		url(../images/ornaments/home/mid-right.webp),
		url(../images/ornaments/home/bottom-right.webp);
  	background-position: 
  		14% 11%, 85% 13%, 12% 0px, 20% 60%, 8% 75%, 15% 100%, 90% 25%, 90% 100%;
  	background-size:
  		120px, 177px, 380px, 150px, 110px, 70px, 100px, 450px;
  	background-repeat: no-repeat;
  	text-align: center;

  	.logo-madiri{
  		position: absolute;
  		top: 10%;
  		left: 0px;
  		right: 0px;
  		margin: auto;

  		img{
  			width: 237px;
  			height: auto;
  		}
  	}

  	.title{
  		font-family: "BraveEight",'Poppins-med','arial';
  		font-size: 72px;
  		color: #fff;
  		position: absolute;
  		top: 40%;
  		left: 0px;
  		right: 0px;
  		margin: auto;
  	}

  	.copyright{
  		font-family: $poppins-regular;
  		font-size: 18px;
  		color: #fff;
  		position: absolute;
  		bottom: 20px;
  		left: 0px;
  		right: 0px;
  		margin: auto;
  	}
}


// Search
.filter-search{
	margin: 150px 0pc 70px;
	display: flex;
	flex-wrap: wrap;

	.label{
		font-family: $poppins-med;
		font-size: 20px;
		color: #005591;
		padding-right: 2px;
		width: 20%;
	}

	.form-group-double{
		width: 100% !important;
		margin-top: 0px !important;
		margin-bottom: 15px;

		.sparate{
			width: 3%;
		}

		.frm-input-group{
			width: 70% !important;

			input{
				width: 50% !important;
				margin: 0px !important;
			}
		}
	}

	.btn-search{
		border: none;
		font-family: $poppins-regular;
		font-size: 15px;
		background-color: #61ba9e;
		color: #fff;
		padding: 5px 27px;
		border-radius: 10px;
		cursor: pointer;
	}
}

.show-data{
	background-color: #f9f8f2;
	padding: 40px 0px 150px;

	.detail-data{
		margin-top: 80px;
	}

	.label{
		font-family: $poppins-bold;
		font-size: 20px;
		color: #005591;
		width: 20%;
	}

	.sparate{
		font-family: $poppins-med;
		font-size: 20px;
		color: #005591;
		width: 5%;
	}

	.label-data{
		font-family: $poppins-med;
		font-size: 20px;
		color: #005591;
		padding-right: 2px;
		width: 75%;

		img{
			width: 400px;
			height: auto;
		}
	}

	.btn-upload{
		width: max-content;
		margin: 0px;
	}
}

// Penutupan
.title-penutupan{
	font-family: "Gobold-Bold", Arial, Tahoma;
	font-size: 30px;
	margin-bottom: 15px;
	text-align: center;
}

.btn-list-pemenang{
	text-align: center;
	padding: 50px 0px 80px;

	a{
		font-family: "Gobold-Bold", Arial, Tahoma;
		font-size: 30px;
		text-align: center;
		background-color: #57fcd1;
		padding: 15px 20px;
		border-radius: 20px;
		color: #025fb2;

		&:hover{
			background-color: #0de4ac;
		}
	}
}

.warp-pemenang{
	padding: 30px 0px;
}

.kategori-pemenang, .kategori-pemenang-gold{
	font-family: "Gobold-Bold", Arial, Tahoma;
	font-size: 25px;
	// color: #e555c4;
	color: #246ca7;
	background-color: #57fcd1;
	padding: 10px 20px;
	border-radius: 50px;
	margin: auto;
	max-width: max-content;
	margin-bottom: 25px;
}

.kategori-pemenang-gold{
	background-color: #fdb622 !important;
	color: #fff !important;
}

.border-table-outline{
	width: 70%;
	margin: auto;
	border: 2px solid #fbaf2d;
	padding: 10px;
	border-radius: 20px;
}

table {
	width: 100%;
	// color: #e555c4;
	color: #246ca7;
	background: #fff;
	border-radius: 20px;
  	border-collapse: separate;
  	border-spacing: 0;

  	td{
		font-family: "Poppins-regular", Arial, Tahoma;
		font-size: 20px;
  		text-align: center;
	}

	th{
		font-family: "Gobold-Bold", Arial, Tahoma;
		font-size: 25px;
  		text-align: center;
	}
}
table tr th,
table tr td {
  border-right: 1px solid #e555c4;
  border-bottom: 1px solid #e555c4;
  padding: 10px;
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #e555c4;
}
table tr th {
  border-top: 1px solid #e555c4;
  border-bottom: 4px solid #e555c4;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 20px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 20px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}

.note-pemenang{
	font-size: 16px;
	color: #fff;
	text-align: center;
	padding-bottom: 30px;
}

.social-pemenang{
	padding: 30px 0px 0px;
	background-color: #d23fb0;

	.desc__home{
		padding: 15px 0px 0px;
		font-family: $poppins-regular;
		font-size: 20px;
		color: #ffffff;
		text-align: center;
	}

	.social__home{
		display: flex;
		flex-wrap: wrap;
		padding: 60px 150px 100px;
		text-align: right;
		margin-right: 94px;
	}

	.list__social{
		width: 33.33%;

		a{
			font-family: $poppins-regular;
			font-size: 20px;
			color: #ffffff;
		}

		i{
			font-size: 25px;
			padding: 8px 0px;
			border-radius: 50px;
			color: #e555c4;
			background-color: #fff;
			width: 40px;
			height: 40px;
			margin-right: 7px;
		}
	}
}

/* Video */
.title-header{
	font-family: "Gobold-Bold", Arial, Tahoma;
	font-size: 30px;
	margin-bottom: 15px;
	text-align: center;
}

.title-header{
	i{
		font-size: 40px;
	}
}

.box-slide-video{
	position: relative;
	width: 710px;
	margin: auto;
	padding: 30px 0px;

	.swiper-button-next::after, .swiper-button-prev::after{
		font-size: 20px;
		background-color: #fff;
		padding: 8px 13px;
		border-radius: 50%;
		font-weight: bolder;
		color: #0cbf95;
		top: 50%;
		transform: translateY(-50%);
	}

	.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
		bottom: 29px;
	}

	.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{
		width: 10px;
		height: 10px;
	}

	.swiper-pagination-bullet-active{
		background: #e555c4;
	}
}

.list-video{
	width: 100%;
	height: 315px;
}

.slide-video{
	width: 560px;
	margin: 30px auto;
}