@import 'global';

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	.container {
	  	width: 100% !important;
	  	max-width: 100% !important;
	}
	#nav-primary, #nav-sticky {
	    display: none!Important;
	}
	// Popup
	.popup-msg{
		display: none;
		position: fixed;
		z-index: 99;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.4);
		transition: all ease .2s;
	}

	.popup-msg-content{
		background: #fff;
		background-image: 
			url(../images/left-top.png),
			url(../images/right-bottom.png);
	  	background-position: 
	  		left top, right bottom;
	  	background-size:
	  		72px, 83px;
	  	background-repeat: no-repeat;
		width: 90%;
		margin: 25% auto;
		padding: 40px 30px 30px;
		border-radius: 8px;
		color: #212121;
		text-align: center;

		.title-msg{
			font-family: $poppins-semi;
			font-size: 20px;
		}

		p{
			font-family: $poppins-med;
			font-size: 16px;
			margin: 64px 0px;
		}

		.popup-msg-btn{
			font-family: $poppins-semi;
			font-size: 16px;
			color: #ffffff;
			background-color: #61ba9e;
			padding: 8px 45px;
			text-align: center;
			cursor: pointer;
			width: max-content;
			border-radius: 8px;
			margin: auto;
		}
	}
	.logo-mobile {
	    background-image: url(../images/logo.png);
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center;
	    width: 40px;
	    height: 100%;
	    margin-left: 16px;
	    position: relative;
	}
	.content-wrap section {
	  position: relative;
	}

	.logo-wmm{
		width: 50%;
		padding: 7px 15px;

		img{
			width: 40px;
			height: auto;
		}
	}

	.logo-livin{
		width: 50%;
		padding: 7px 2px;

		img{
			width: 75px;
			height: auto;
			float: right;
		}
	}

	.home {
	  	background: #e555c4;
		background-image: 
			url(../images/logo-livin.png),
			url(../images/ornaments/home/n-left-top.webp),
			url(../images/ornaments/home/n-left-bottom.webp),
			url(../images/ornaments/home/n-right-bottom.webp),
			url(../images/ornaments/home/n-right-mid.webp);
	  	background-position: 
	  		93% 30px, -20% -10%, 10% 80%, 120% 80%, 80% 52%;
	  	background-size:
	  		110px, 250px, 130px, 120px, 60px;
	  	background-repeat: no-repeat;
	}

	.home__ {
	  	background: #e555c4;
		background-image: 
			url(../images/logo-livin.png),
			url(../images/ornaments/home/n-left-top.webp),
			url(../images/ornaments/home/n-left-bottom.webp),
			url(../images/ornaments/home/n-right-bottom.webp),
			url(../images/ornaments/home/n-right-mid.webp);
	  	background-position: 
	  		93% 30px, -20% -9%, -7% 89%, 120% 91%, 111% 55%;
	  	background-size:
	  		110px, 250px, 130px, 120px, 60px;
	  	background-repeat: no-repeat;
	}

	.home___ {
	  	background: #e555c4;
		background-image: 
			url(../images/logo-livin.png),
			url(../images/ornaments/home/n-left-top.webp),
			url(../images/ornaments/home/n-left-bottom.webp),
			url(../images/ornaments/home/n-right-bottom.webp),
			url(../images/ornaments/home/n-right-mid.webp);
	  	background-position: 
	  		93% 30px, -27% -2%, -7% 89%, 120% 91%, 111% 55%;
	  	background-size:
	  		110px, 250px, 130px, 120px, 60px;
	  	background-repeat: no-repeat;
	}

	.title-home {
	  	font-size: 24px;
	  	padding: 140px 0px 79px;
	}

	.warp-btn-daftar{
		display: block;
		margin: auto;
		padding: 0px 15px;
	}

	.btn-daftar {
	  	font-size: 15px;
	  	padding: 10px;
	  	width: 100%;
	  	margin: 0px 0px 10px;
	}

	.img-mid{
		position: absolute;
		right: -32px;
		top: -19px;
		width: 60px;
		z-index: 1;
	}

	.desc-home {
	  font-size: 14px;
	  padding: 185px 0px 176px;
	}

	.title__home{
		padding: 140px 0px 20px !important;
	}

	.desc__home{
		padding: 15px 15px 0px;
		font-family: $poppins-regular;
		font-size: 16px;
		color: #ffffff;
		text-align: center;
	}

	.social__home{
		display: flex;
		flex-wrap: wrap;
		padding: 40px 110px 100px;
		text-align: left;
		margin-right: 0px;
	}

	.list__social{
		width: 33.33%;
		font-family: $poppins-regular;
		font-size: 16px;
		color: #ffffff;
		margin-bottom: 15px;
		text-align: center;

		i{
			font-size: 16px;
			padding: 8px 0px;
			border-radius: 50px;
			color: #e555c4;
			background-color: #fff;
			width: 32px;
			height: 32px;
			margin-right: 7px;
		}
	}

	.tag {
	  padding: 0px 0px 11px;
	  font-size: 14px;
	}

	.content-wrap a.triggerSidebar {
	  width: 36px;
	  height: 50px;
	  position: relative;
	  left: 16px;
	  top: 0;
	  display: inline-block;
	  background-image: url(../images/icon/menu.svg);
	  background-size: contain;
	  background-repeat: no-repeat;
	  background-position: center;
	}

	.overlay {
	  display: none;
	  background-color: rgba(0, 0, 0, 0.4);
	  width: 100%;
	  height: 100%;
	  position: fixed;
	  z-index: 3;
	  cursor: pointer;
	}

	.sidebar {
	  width: 300px;
	  background-color: #e555c4;
	  position: fixed;
	  left: -300px;
	  height: 100%;
	  transition: .3s;
	  z-index: 999;
	  top: 0;
	}

	.sidebar .title-menu-burger {
	  height: 50px;
	  margin: 0px;
	  position: relative;
	  color: #ddd;
	  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
	  background-color: #e555c4;
	}

	.sidebar .title-menu-burger .hideSidebar {
	  position: absolute;
	  right: 4px;
	  font-size: 18px;
	  background-image: url(../images/icon/x.svg);
	  background-size: contain;
	  background-repeat: no-repeat;
	  background-position: center;
	  width: 24px;
	  height: 100%;
	  top: 0;
	}

	.content {
	  height: 50px;
	  position: fixed;
	  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 25%);
	  background-color: #e555c4;
	  width: 100%;
	  z-index: 99;
	}

	.sidebar ul {
	  padding: 0 16px;
	}

	.sidebar ul li {
	  list-style-type: unset;
	  display: block;
	  padding-bottom: 17px;
	}

	.sidebar ul li a {
	  font-family: "Poppins-semi", Arial, Tahoma;
	  font-size: 19px;
	  font-weight: 600;
	  line-height: normal;
	  letter-spacing: -0.33px;
	  text-align: left;
	  color: #ffbb3d;

	  	a.active{
			color: #fff;
		}
	}
	.sidebar ul li a.active {
	   color: #fff;
	}
	.sidebar ul li a.menu-spesial {
	    width: 76px;
	    height: 36px;
	    padding: 0 13px 0 12px;
	    border-radius: 22.5px;
	    background-color: #ffbb3d;
	    color: #e555c4;
	}
	.about .title-section {
	  margin-bottom: 100%;
	}

	.title-section {
	  font-size: 18px;
	  padding: 0 16px;
	}

	.title-section:after {
	  background-size: 52px 35px;
	  width: 52px;
	  height: 35px;
	  top: 24px;
	  left: 16px;
	}

	.title-about {
	  font-size: 24px;
	}

	.content-row {
	  display: block;
	}

	.desc-about {
	  width: 100%;
	  padding: 0 16px;
	}

	.img-about {
	  width: 100%;
	  position: absolute;
	  top: 60px;
	  left: 0;
	  right: 0;
	}

	.img-about img {
	  width: 100%;
	  height: auto;
	  position: relative;
	}

	.ivent-title {
	  bottom: unset;
	  top: 228px;
	  font-size: 16px;
	  right: -65px;
	}

	.jurney .top-right {
	    top: -66px;
	    right: 0px;
	    width: 110px;
	    object-fit: cover;
	}
	.img-infografis {
	  display: none;
	}

	#jurney {
	  padding: 0 0 8px;
	  background-position: 0px -62px, 104% 104%;
	  background-size: 162px, 170px;
	  background-image: url(../images/ornaments/jurney/top-left.webp), url(../images/ornaments/jurney/bottom.webp);
	}

	.img-infografis-mobile {
	  margin-top: 8px;
	  position: relative;
	}

	.img-infografis-mobile:before {
	  content: '';
	  background-image: url(../images/ornaments/jurney/mandiri-white.webp);
	  width: 100%;
	  height: 58px;
	  position: absolute;
	  display: inline-block;
	  top: 12px;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: 200px;
	}

	.img-infografis-mobile img {
	  width: 100%;
	}

	.swip-testimoni {
	  margin: 48px 0 0;
	}

	.testimoni .swiper-slide {
	  width: 100% !Important;
	  margin-right: 0;
	}

	.testimoni {
	  background-position: 96% 5%;
	  background-size: 75px;
	}

	.list-testimoni {
	  width: calc(100% - 32px) !important;
	  margin: 0 16px;
	  height: 1126px !important;
	  padding: 46px 35px 26px;
	}

	.testimoni .testi-prev {
	  left: 0;
	}

	.testimoni .testi-next {
	  right: 0;
	}

	.testimoni .testi-prev img, .testimoni .testi-next img {
	  opacity: 1;
	}

	.testimoni .testi-prev img, .testimoni .testi-next img, .testimoni .testi-prev:hover img, .testimoni .testi-prev:focus img, .testimoni .testi-next:hover img, .testimoni .testi-next:focus img {
	  width: 44px;
	}

	.testimoni .testi-prev, .testimoni .testi-next {
	  top: 50%;
	  transform: translate(0, -50%);
	}

	#testimoni .swiper-button-disabled img {
	  opacity: .4;
	}

	.img-alumni img {
	  width: 122px;
	  height: 122px;
	}

	.nama-alumni {
	  font-size: 18px;
	}

	.tahun-alumni {
	  font-size: 16px;
	}

	.testi-alumni {
	  font-size: 18px;
	  margin-top: 59px;
	}

	.title-logo {
	  font-size: 18px;
	}

	.img-alumni {
	  margin-bottom: 12px;
	}

	.warp-logo {
	  bottom: 50px;
	}

	.category {
	    padding: 90px 0px 50px;
	    background-image: url(../images/ornaments/registration/ciprat.webp), url(../images/ornaments/registration/mid-top.webp), url(../images/ornaments/registration/bottom-left.webp), url(../images/ornaments/registration/mid-right.webp);
	    background-position: 0% -14%, 4% -2%, 1% 80%, 91% 8.7%;
	    background-size: 200px, 80px, 41px, 42px;
	}

	.warp-category {
	  display: block;
	  padding: 0 16px;
	}

	.title-category {
	  font-size: 24px;
	  margin: 12px 0px;
	}

	.list-category {
	  width: 100%;
	  padding: 18px;
	  margin: 0;
	  height: auto;
	}

	.list-category img {
	  width: 100%;
	  height: 254px;
	  object-fit: contain;
	  padding-top: 40px;
	}

	.btn-category {
	  font-size: 16px;
	  padding: 10px 15px;
	  margin: 0px auto 16px;
	  width: 100%;
	  text-align: center !important;
	}

	.desc-category {
	  font-size: 16px;
	  margin: 0px;
	}

	.info-category {
	  font-family: "Poppins-regular", Arial, Tahoma;
	  font-size: 16px;
	  padding-top: 20px;
	  display: block;
	}

	.list-category:first-of-type {
	  margin-bottom: 20px;
	}

	.list-category:last-of-type {
	  margin-bottom: 20px;
	}

	.category .bottom-right {
	  bottom: 55px;
	  width: 85px;
	}

	.info-category {
	  font-family: "Poppins-bold", Arial, Tahomaa;
	}

	.btn-open-form, .btn-close-form {
	  width: 48px;
	  height: 48px;
	}

	.btn-open-form img, .btn-close-form img {
	  width: 27px;
	}

	.step-form {
	  font-size: 36px;
	  padding-bottom: 20px;
	}

	.form-close {
	    font-size: 16px;
	    margin: 0 0 50px;
	    padding: 0;
	    text-indent: -9999px;
	    background: transparent;
	}

	.warp-form {
	  margin: 66px 16px 0px;
	  display: block;
	}

	.cmb-kategori {
	  font-size: 18px;
	  width: 100%;
	  background-position-x: 98%;
	}

	.note-form{
		width: 100%;
		font-family: $poppins-med-italic;
		font-size: 16px;
		color: #ff1144;
		margin-bottom: 8px;
	}

	.form-group .frm-input-group {
	  width: 100%;
	}

	.input-med-2{
		width: 100% !important;
	}

	.label-keterangan{
		font-family: "Poppins-med",Arial,Tahoma;
		font-size: 16px;
		color: #005591;
		padding-left: 0px;
	}

	.form-group .sparate, .form-group-double .sparate {
	  display: none;
	}
	.form-group .label {
	  font-size: 18px;
	  width: 100%;
	  padding-bottom: 12px;
	}

	.form-group .label:after, .form-group-double .label:after {
	  content: ':';
	  padding-left: 4px;
	}
	.form-group-double .label, .form-group-double .frm-input-group{
	  width: 100%;
	}
	.form-group-double{
	  display: block;
	  width: 100%;
	}
	.form-group-double .label {
	    padding-bottom: 12px;
	    font-size: 18px;
	}
	.form-group-double .input-picker {
	    width: 100%;
	    height: 45px;
	    margin-left: 0;
	}

	.form-group-double .frm-input-group-provinsi{
		width: 100% !important;
	}

	.form-group-double .label-nowidth {
	    margin: 0;
	    width: max-content!important;
	    float: left;
	}
	.btn-upload, .link-form{
	  margin-left: 0;
	    padding: 4px 12px;
	}
	.form-group-double .label-nowidth ~ .frm-input-group {
	    width: max-content;
	    float: left;
	}
	.form-group-double .label-nowidth.desktop ~ .frm-input-group {
	    width: 100%;
	}
	.form-group-double .label-nowidth:after {
	    content: '';
	    padding-left: 12px;
	}
	.form-group .input, .form-group-double .input {
	    height: 45px;
	    border-radius: 10px;
	    border: solid 1px #c4c4c4;
	    padding: 0px 12px;
	}
	.form-group {
	    padding-top: 16px;
	    margin-top: 0;
	}

	.cmb-box {
	    height: 45px;
	    width: 100%;
	}
	footer .warp-logo-mandiri {
	    float: unset;
	    display: block;
	    margin-bottom: 20px;
	}
	.logo-mandiri {
	    padding: 0 16px;
	    margin: 0 auto;
	    text-align: center;
	}
	.logo-ojk {
	    width: 100%;
	    text-align: center;
	}
	.logo-mandiri img {
	    width: 190px;
	    height: auto;
	}
	.logo-ojk img {
	    width: 163px;
	    height: auto;
	}
	.logo-mnp img {
	    width: 100%;
	    margin-left: 0;
	}
	.supported {
	    font-family: "Poppins-regular",Arial,Tahoma;
	    font-size: 12px;
	    color: #8c8c8c;
	    margin: 0 auto 4px;
	}
	.warp-logo-mnp {
	    display: block;
	    float: unset;
	    width: 200px;
	    margin: 0 auto;
	        padding-bottom: 20px;
	}
	.warp-submit .label-checkbox {
	    width: 100%;
	}
	#kategori {
	    display: none;
	}
	.title-kategori-m {
	    font-family: "Poppins-med",Arial,Tahoma;
	    font-size: 18px;
	    color: #005591;
	    margin-bottom: 12px;
	}
	#kategori1 {
	    background-size: 12px;
	    padding: 11px 10px;
	    width: 100%;
	    margin: 0 auto 12px;
	    display: block;
	}
	.mobile {
	    display: block!important;
	}
	.desktop {
	    display: none !important;
	}
	.link-search{
		font-family: $poppins-semi;
		font-size: 16px;
		font-style: italic;
		color: #c1c1bf;
		transition: $trans-hover;
		margin-left: 0px;

		&:hover{
			color: $color-primary
		}
	}
	.prov-mobile .label, .prov-mobile .frm-input-group {
	    width: 100%!Important;
	}
	.frm-input-group-child .cmb-box {
	    width: 100% !important;
	}
	.form-group .input-picker.datepicker {
	    width: 100%!important;
	    height: 45px;
	}
	.form-group .frm-input-group .input-small {
	    width: 173px!important;
	}
	.form-group .frm-input-group .input-small:last-of-type {
	    margin-top: 20px;
	}
	.frm-input-group .label-tahun {
	    margin-top: 20px;
	}
	textarea.input-large {
	    height: 175px;
	}
	.prov-mobile ~ .form-group-double {
	    margin-top: 20px!important;
	}
	.ig-m{
	    margin-top: 20px!important;
	}
	.txt-ig, .txt-fb {
	    width: 100%!important;
	}
	.input-med {
	    width: 100%!important;
	    height: 45px;
	}
	.jumlah-karyawan .radio-btn {
	    width: 125px;
	    margin-bottom: 24px;
	}
	.persetujuan {
	    font-size: 18px;
	    margin: 87px 16px 47px;
	}
	.captcha{
		margin: 10px auto;

		img{
			width: 150px;
		}
	}

	.warp-checkbox label {
	    background-color: transparent;
	}
	.syarat-ketentuan {
	    font-size: 16px;
	    text-align: center;
	    padding: 13px 30px;
	    margin: 0 auto 20px;
	    display: block;
	    width: 90%;
	}
	.btn-submit {
	    font-size: 16px;
	    text-align: center;
	    padding: 13px 30px;
	    margin: 0 auto 20px;
	    display: block;
	    width: 90%;
	}
	.warp-submit {
	    width: 100%;
	    margin: 5px 0px;
	    padding: 0px 20px;
	}
	.t-n-m {
	    width: 100%;
	    margin: 0;
	}
	.warp-submit .label-checkbox {
	    width: 87%;
	    font-size: 14px;
	    float: left;
	    padding: 0;
	    margin: 0;
	    line-height: 34px;
	}
	.warp-submit .warp-checkbox {
	    margin: 0 6px 0 0;
	    width: 34px;
	    height: 34px;
	}
	.warp-submit .warp-checkbox label{
	  width: 34px;
	  height: 34px;
	}
	.warp-checkbox {
	    height: 34px;
	}
	footer {
	    padding: 20px 0px 71px;
	}
	.hp-m .form-group-double .frm-input-group {
	    width: 100%;
	    margin-bottom: 20px;
	}
	.hp-m .form-group-double .label-nowidth {
	    width: 100%!important;
	}
	.content {
	    top: 0;
	}
	.content-wrap {
	    top: 50px;
	    position: relative;
	}
	.content-wrap___ {
	    top: 0px !important;
	}
	.form-group .frm-input-group select.cmb-box {
	    width: 100%!important;
	}
	.hp-m .form-group-double .input {
	    width: 100%!important;
	}
	.txt-region{
	  height: 45px;
	  width: 100%!important;
	}
	.input-border{
	  height: 45px;
	  padding: 0 12px;
	}
	.warp-submit .warp-checkbox label:after {
	    height: 11px;
	    left: 7px;
	    top: 9px;
	    width: 20px;
	}

	// Coming Soon
	.comming-soon{
		width: 100%;
		height: 100%;
		position: relative;
		background: #005591;
		background-image: 
			url(../images/logo.png),
			url(../images/logo-livin.png),
			url(../images/ornaments/home/top.webp),
			url(../images/ornaments/home/left-mid-c.png),
			url(../images/ornaments/home/mid-left.webp),
			url(../images/ornaments/home/bottom-left.webp),
			url(../images/ornaments/home/mid-right.webp),
			url(../images/ornaments/home/bottom-right.webp);
	  	background-position: 
	  		5% 5%, 95% 6%, -20px 0px, 10% 75%, -10% 85%, 15% 100%, 110% 10%, 180% 100%;
	  	background-size:
	  		60px, 90px, 200px, 60px, 60px, 20px, 60px, 250px;
	  	background-repeat: no-repeat;
	  	text-align: center;

	  	.logo-madiri{
	  		position: absolute;
	  		top: 6%;
	  		left: 0px;
	  		right: 0px;
	  		margin: auto;

	  		img{
	  			width: 99px;
	  			height: auto;
	  		}
	  	}

	  	.title{
	  		font-family: "BraveEight",'Poppins-med','arial';
	  		font-size: 36px;
	  		color: #fff;
	  		position: absolute;
	  		top: 40%;
	  		left: 0px;
	  		right: 0px;
	  		margin: auto;
	  	}

	  	.copyright{
	  		font-family: $poppins-regular;
	  		font-size: 10px;
	  		color: #fff;
	  		position: absolute;
	  		bottom: 20px;
	  		left: 0px;
	  		right: 0px;
	  		margin: auto;
	  	}
	}

	// Search
	.filter-search{
		margin: 20px 0pc 20px;
		padding: 0px 15px;
		display: flex;
		flex-wrap: wrap;

		.label{
			font-family: $poppins-med;
			font-size: 16px;
			color: #005591;
			padding-right: 2px;
			width: auto !important;
		}

		.form-group-double{
			width: 100% !important;
			margin-top: 0px !important;

			.frm-input-group{
				width: 100% !important;
				margin-bottom: 15px;

				input{
					width: 100% !important;
					margin: 0px !important;
				}
			}
		}

		.btn-search{
			border: none;
			font-family: $poppins-regular;
			font-size: 15px;
			background-color: #61ba9e;
			color: #fff;
			padding: 5px 27px;
			border-radius: 10px;
			cursor: pointer;
		}
	}

	.show-data{
		background-color: #f9f8f2;
		padding: 40px 15px 150px;

		.title-section {
		  font-size: 18px;
		  padding: 0;

		  &:after{
		  	left: 0px;
		  }
		}

		.detail-data{
			margin-top: 35px;
		}

		.label{
			font-family: $poppins-bold;
			font-size: 16px;
			color: #005591;
			width: 100%;
		}

		.sparate{
			font-family: $poppins-med;
			font-size: 16px;
			color: #005591;
			width: 5%;
		}

		.label-data{
			font-family: $poppins-med;
			font-size: 16px;
			color: #005591;
			padding-right: 2px;
			width: 100%;
			margin-bottom: 20px;

			img{
				width: 100%;
				height: auto;
			}
		}
	}

	// Penutupan
	.title-penutupan{
		font-family: "Gobold-Bold", Arial, Tahoma;
		font-size: 20px;
		margin-bottom: 15px;
		text-align: center;
	}

	.btn-list-pemenang{
		text-align: center;
		padding: 50px 0px 80px;

		a{
			font-family: "Gobold-Bold", Arial, Tahoma;
			font-size: 20px;
			text-align: center;
			background-color: #57fcd1;
			padding: 15px 20px;
			border-radius: 20px;
			color: #025fb2;

			&:hover{
				background-color: #0de4ac;
			}
		}
	}

	.warp-pemenang{
		padding: 30px 0px;
	}

	.kategori-pemenang, .kategori-pemenang-gold{
		font-family: "Gobold-Bold", Arial, Tahoma;
		font-size: 16px;
		color: #e555c4;
		background-color: #57fcd1;
		padding: 10px 20px;
		border-radius: 50px;
		margin: auto;
		max-width: max-content;
		margin-bottom: 25px;
	}

	.kategori-pemenang-gold{
		background-color: #fdb622 !important;
		color: #fff !important;
	}

	.border-table-outline{
		width: 100%;
		margin: auto;
		border: 2px solid #fbaf2d;
		padding: 10px;
		border-radius: 10px;
	}

	table {
		width: 100%;
		// color: #e555c4;
		color: #246ca7;
		background: #fff;
		border-radius: 10px;
	  	border-collapse: separate;
	  	border-spacing: 0;

	  	td{
			font-family: "Poppins-regular", Arial, Tahoma;
			font-size: 14px;
	  		text-align: center;
		}

		th{
			font-family: "Gobold-Bold", Arial, Tahoma;
			font-size: 16px;
	  		text-align: center;
		}
	}
	table tr th,
	table tr td {
	  border-right: 1px solid #e555c4;
	  border-bottom: 1px solid #e555c4;
	  padding: 10px;
	}
	table tr th:first-child,
	table tr td:first-child {
	  border-left: 1px solid #e555c4;
	}
	table tr th {
	  border-top: 1px solid #e555c4;
	  border-bottom: 4px solid #e555c4;
	}

	/* top-left border-radius */
	table tr:first-child th:first-child {
	  border-top-left-radius: 10px;
	}

	/* top-right border-radius */
	table tr:first-child th:last-child {
	  border-top-right-radius: 10px;
	}

	/* bottom-left border-radius */
	table tr:last-child td:first-child {
	  border-bottom-left-radius: 10px;
	}

	/* bottom-right border-radius */
	table tr:last-child td:last-child {
	  border-bottom-right-radius: 10px;
	}

	.note-pemenang{
		font-size: 16px;
		color: #fff;
		text-align: center;
		padding-bottom: 30px;
	}

	.social-pemenang{
			padding: 30px 0px 0px;
			background-color: #d23fb0;

		.desc__home{
			padding: 15px 15px 0px;
			font-family: $poppins-regular;
			font-size: 16px;
			color: #ffffff;
			text-align: center;
		}

		.social__home{
			display: flex;
			flex-wrap: wrap;
			padding: 40px 110px 100px;
			text-align: left;
			margin-right: 0px;
		}

		.list__social{
			width: 33.33%;
			font-family: $poppins-regular;
			font-size: 16px;
			color: #ffffff;
			margin-bottom: 15px;
			text-align: center;

			i{
				font-size: 16px;
				padding: 8px 0px;
				border-radius: 50px;
				color: #e555c4;
				background-color: #fff;
				width: 32px;
				height: 32px;
				margin-right: 7px;
			}
		}
	}

	/* Video */
	.title-header{
		font-family: "Gobold-Bold", Arial, Tahoma;
		font-size: 20px;
		margin-bottom: 15px;
		text-align: center;
	}

	.title-header{
		i{
			font-size: 30px;
		}
	}

	.box-slide-video{
		position: relative;
		width: 100%;
		margin: auto;
		padding: 30px 0px;

		.swiper-button-next::after, .swiper-button-prev::after{
			font-size: 20px;
			background-color: #fff;
			padding: 8px 13px;
			border-radius: 50%;
			font-weight: bolder;
			color: #0cbf95;
			top: 50%;
			transform: translateY(-50%);
		}

		.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
			bottom: 29px;
		}

		.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{
			width: 10px;
			height: 10px;
		}

		.swiper-pagination-bullet-active{
			background: #e555c4;
		}
	}

	.list-video{
		width: 100%;
		height: 300px;
	}

	.slide-video{
		width: 100%;
		margin: 30px auto;
	}
}
