@import 'global';

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px){
	.desktop{
		display: block !important;
	}

	.mobile{
		display: none !important;
	}

	.content-wrap {
	    padding-bottom: 115px;    /* Footer height */
	}

	.container{
	    width: 100% !important;
	    max-width: 100% !important;
	    padding: 0px 20px !important;
	    margin: 0px;
	    position: relative;
	}

	// Navigation
	nav{
		position: absolute;
		top: 0;
		left: 0;
		padding: 20px  0px;
		width: 100%;
		text-align: right;
		z-index: 99;
		box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.25);

		ul{
			list-style-type: none;
			padding: 0px 0px 0px 0px;
			margin: 0px;
			text-align: center
		}

		li{
			position: relative;
			display: inline-block;
			margin-right: 32px;

			&:last-child{
				margin-right: 0px;
			}
		}

		a{
			font-family: $poppins-semi;
			font-size: 18px;
			transition: $trans-hover;

			&:hover, &:focus{
				color: #fff;
			}
		}

		a.active{
			color: #fff;
		}

		a.menu-spesial{
			padding: 3px 15px;
			border-radius: 50px;

			&:hover, &:focus{
				color: #fff;
			}
		}
	}

	.nav-sticky{
		position: fixed;
		top: -100px;
		left: 0;
		padding: 8px  10px;
		width: 100%;
		z-index: 99;
		box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.25);
		transition: $trans-hover;

		ul{
			width: 80%;
			list-style-type: none;
			padding: 13px 0px;
			margin: 0px;
			text-align: center;
		}

		li{
			position: relative;
			display: inline-block;
			margin-right: 32px;
		}

		a{
			font-family: $poppins-semi;
			font-size: 17px;
			transition: $trans-hover;

			&:hover, &:focus{
				color: #fff;
			}
		}

		a.active{
			color: #fff;
		}

		a.menu-spesial{
			padding: 3px 15px;
			border-radius: 50px;

			&:hover, &:focus{
				color: #fff;
			}
		}

		.logo-wmm{
			width: 10%;

			img{
				width: 50px;
				height: auto;
			}
		}

		.logo-livin{
			width: 10%;
			padding: 6px 0px;

			img{
				width: 80px;
				height: auto;
				float: right;
			}
		}
	}

	.title-section{
		font-family: $poppins-semi;
		font-size: 24px;
		color: #005591;
		width: 100%;
		position: relative;

		&:after{
			content: "";
			background-image: url('../images/ornaments/title-section.webp');
	    	background-size: 53px 42px;
			display: inline-block;
			width: 53px;
			height: 42px;
			position: absolute;
			top: 46px;
			left: 0px;
		}
	}

	.home{
		background: #e555c4;
		background-image: 
			url(../images/logo-livin.png),
			url(../images/ornaments/home/n-left-top.webp),
			url(../images/ornaments/home/n-left-bottom.webp),
			url(../images/ornaments/home/n-right-bottom.webp),
			url(../images/ornaments/home/n-right-mid.webp);
	  	background-position: 
	  		93% 90px, 4% 33px, 12% 90%, 90% 80%, 88% 40%;
	  	background-size:
	  		150px, 280px, 160px, 110px, 50px;
	  	background-repeat: no-repeat;
	}

	.title-home{
		padding: 200px 0px 34px;
		font-family: $poppins-semi;
		font-size: 36px;
		color: #ffffff;
		text-align: center;
	}

	.img-mid{
		position: absolute;
		right: -62px;
		top: -49px;
		width: 118px;
		z-index: 1;
	}

	.btn-daftar {
		font-size: 18px;
	}

	.img-mid{
		position: absolute;
		right: -62px;
		top: -49px;
		width: 118px;
		z-index: 1;
	}

	.desc-home{
		padding: 100px 0px 122px;
		font-family: $poppins-regular;
		font-size: 18px;
		color: #ffffff;
		text-align: center;
	}

	.desc__home{
		padding: 15px 0px 0px;
		font-family: $poppins-regular;
		font-size: 20px;
		color: #ffffff;
		text-align: center;
	}

	.social__home{
		display: flex;
		flex-wrap: wrap;
		padding: 60px 55px 100px 35%;
		text-align: left;
		margin-right: 0px;
	}

	.list__social{
		width: 100%;
		font-family: $poppins-regular;
		font-size: 20px;
		color: #ffffff;
		margin-bottom: 15px;

		i{
			font-size: 25px;
			padding: 8px 0px;
			border-radius: 50px;
			color: #e555c4;
			background-color: #fff;
			width: 40px;
			height: 40px;
			margin-right: 7px;
		}
	}

	.tag{
		padding: 30px 0px;
		font-family: $poppins-regular;
		font-size: 14px;
		color: #ffffff;
		text-align: center;
	}

	.about{
		padding: 42px 0px 50px;
		background: #fff;
		position: relative;
	}

	.title-about{
		font-family: $poppins-semi;
		font-size: 28px;
		color: #c424a4;
		text-align: center;
		margin: 37px 0px 40px
	}

	.desc-about{
		width: 50%;
		font-family: $poppins-med;
		font-size: 16px;
		color: #005591;
	}

	.img-about{
		width: 50%;

		img{
			width: 100%;
			height: auto;
			display: block;
			margin: auto;
		}
	}

	.ivent-title{
		font-family: $poppins-regular;
		font-size: 14px;
		color: #005591;
		position: absolute;
		bottom: 167px;
		right: -40px;
		transform: rotate(-90deg);
	}

	.jurney{
		background: #59ccfc;
		padding: 25px 0px;
		background-image: 
			url(../images/ornaments/jurney/top-left.webp),
			url(../images/ornaments/jurney/bottom-right.webp);
	  	background-position: 
	  		-39px 19px, bottom right;
	  	background-size:
	  		186px, 226px;
	  	background-repeat: no-repeat;

		.top-right{
			position: absolute;
			top: -100px;
			right: 266px;
			width: 115px;
			height: auto;
		}
	}

	.title-jurney{
		position: absolute;
		top: -90px;
		left: 0px;
	}

	.img-infografis{
		margin-top: -15px;
		margin-left: -10px;
		margin-right: -10px;

		img{
			width: 100%;
			height: auto;
			display: block;
			margin: auto
		}
	}

	.testimoni{
		background: #ffffff;
		padding: 26px 0px 0px;
		position: relative;
		background-image: 
			url(../images/ornaments/testi/mid-top.webp);
	  	background-position: 
	  		46% 13%;
	  	background-size:
	  		70px;
	  	background-repeat: no-repeat;
	 	
	 	.swiper-slide{
	 		width: 40% !important;
	 		margin-right: 25px;
	 	}
	 	
	 	.testi-prev{
	 		position: absolute;
	 		left: 60px;
	 		top: 500px;
	 		z-index: 80;
	 		cursor: pointer;
	 		
	 		img{
	 			width: 60px;
	 			opacity: 0.4;
	 			transition: $trans-hover;
	 		}

	 		&:hover, &:focus{
	 			img{
		 			width: 60px;
		 			opacity: 1;
		 		}
	 		}
	 	}

	 	.testi-next{
	 		position: absolute;
	 		right: 60px;
	 		top: 500px;
	 		z-index: 80;
	 		cursor: pointer;
	 		
	 		img{
	 			width: 60px;
	 			opacity: 0.4;
	 			transition: $trans-hover;
	 		}

	 		&:hover, &:focus{
	 			img{
		 			width: 60px;
		 			opacity: 1;
		 		}
	 		}
	 	}
	}

	.list-testimoni{
		margin-top: 100px;
		width: 100% !important;
		height: 877px !important;
		border-radius: 20px;
		padding: 46px 20px 26px;
		text-align: center;
		position: relative;
	}

	.img-alumni{
		margin-bottom: 16px;

		img{
			width: 139px;
			height: 139px;
			border-radius: 50%;
			margin: auto;
			display: block;
		}
	}

	.nama-alumni{
		font-family: $poppins-semi;
		font-size: 22px;
		color: #005591;
	}

	.tahun-alumni{
		font-family: $poppins-regular;
		font-size: 16px;
		margin-top: 5px;
	}

	.testi-alumni{
		font-family: $poppins-regular;
		font-size: 14px;
		color: #005591;
		margin-top: 16px;
	}

	.warp-logo{
		position: absolute;
		width: 100%;
		margin: auto;
		display: block;
		left: 0px;
		bottom: 26px;
	}

	.title-logo{
		font-family: $poppins-semi;
		font-size: 19px;
		color: #005591;
		margin-bottom: 21px;
	}

	.logo{
		img{
			width: 96px;
			height: 96px;
			margin: auto;
			display: block;
		}
	}

	.category{
		background: #ffffff;
		padding: 52px 0px 50px;
		position: relative;
		background-image: 
			url(../images/ornaments/registration/top-left.webp),
			url(../images/ornaments/registration/mid-top.webp),
			url(../images/ornaments/registration/bottom-left.webp),
			url(../images/ornaments/registration/mid-right.webp);
	  	background-position: 
	  		0% 0%, 64% 1%, 9% 100%, 92% 23%;
	  	background-size:
	  		68px, 59px, 40px, 42px;
	  	background-repeat: no-repeat;

	  	.bottom-right{
	  		position: absolute;
			bottom: -174px;
			right: 0px;
			width: 153px;
			z-index: 80;
	  	}
	}

	.title-category{
		font-family: $poppins-semi;
		font-size: 28px;
		color: #ff6a83;
		margin: 50px 0px 38px;
		text-align: center;
	}

	.warp-category{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.list-category{
		width: 344px;
		height: 505px;
		padding: 12px 22px;
		background-image: url('../images/ornaments/category/card-list.svg');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		margin: 0px 10px;

		img{
			width: auto;
			height: 200px;
			margin: auto;
			display: block;
		}
	}

	.btn-category{
		border: none;
		font-family: $poppins-semi;
		font-size: 18px;
		color: #ffffff;
		padding: 10px 20px;
		border-radius: 10px;
		background-color: #61ba9e;
		transition: $trans-hover;
		display: block;
		width: max-content;
		margin: 0px 0px 24px;
		text-align: left !important;
		cursor: pointer;

		&:hover, &:focus{
			background-color: #fdb622;
		}
	}

	.desc-category{
		font-family: $poppins-med;
		font-size: 16px;
		color: #005591;
		margin-bottom: 30px;
	}

	.info-category{
		font-family: $poppins-bold;
		font-size: 18px;
		color: #004270;
		transition: $trans-hover;

		&:hover, &:focus{
			color: #fdb622;
		}
	}

	.step-form{
		padding-bottom: 30px;
		background: #fff;
		font-family: $poppins-semi;
		font-size: 30px;
		color: #59ccfc;
		text-align: center;
	}

	.form-close{
		background: #f9f8f2;
		padding: 40px 0px;
		font-family: $poppins-med;
		font-size: 16px;
		color: #c3cbd0;
		text-align: center;
		position: relative;
	}

	.btn-open-form{
		position: absolute;
		left: 0px;
		right: 0px;
		top: -27px;
		background: #ffffff;
		width: 56px;
		height: 56px;
		margin: auto;
		padding: 21px 0px;
		border-radius: 50px;
		cursor: pointer;
		transition: $trans-hover;

		img{
			width: 30px;
			height: auto;
			display: block;
			margin: auto;
		}

		&:hover{
			top: -25px;
		}
	}

	.form-open{
		background: #f9f8f2;
		padding: 50px 0px 50px;
		position: relative;
	}

	.btn-close-form{
		position: absolute;
		left: 0px;
		right: 0px;
		top: -35px;
		background: #ffffff;
		width: 56px;
		height: 56px;
		margin: auto;
		padding: 21px 0px;
		border-radius: 50px;
		cursor: pointer;
		transition: $trans-hover;

		img{
			width: 30px;
			height: auto;
			display: block;
			margin: auto;
		}

		&:hover{
			top: -45px;
		}
	}

	// Form
	.cmb-kategori{
		border-radius: 10px;
	    border: 1px solid #61ba9e;
	    padding: 12px 26px;
	    font-size: 16px;
	    width: 458px;
	    color: #fff;
	    background: url(../images/icon/chevron-down.svg) no-repeat right #61ba9e;
	    background-position-x: right;
	    background-origin: content-box;
	    background-position-y: center;
	    background-size: 23px;
	    -webkit-appearance: none;
	    cursor: pointer;
	    margin-bottom: 36px;
	    outline: none;
	}

	.input-large{
		width: 99% !important;
	}

	.input-med{
		width: 199px !important;
	}

	.input-med-2{
		width: 49% !important;
	}

	.input-small{
		width: 110px !important;
	}

	.label-bulan, .label-tahun{
		font-family: $poppins-med;
		font-size: 16px;
		color: #005591;
		margin-left: 24px;
		margin-right: 54px;
	}

	.label-modal, .label-modal-bussiness{
		font-family: $poppins-med;
		font-size: 16px;
		color: #005591;
		margin-right: 6px;
		margin-left: 0px;
	}

	.label-modal-bussiness{
		margin-left: 0px !important;
	}

	.label-keterangan{
		font-family: "Poppins-med",Arial,Tahoma;
		font-size: 16px;
		color: #005591;
		padding-left: 12px;
	}

	textarea{
		border: 1px solid #c6c6c6;
		border-radius: 10px;
		font-family: $poppins-regular;
		font-size: 16px;
		background-color: #f9f8f2;
		color: #000;
		padding: 5px 10px;
		transition: $trans-hover;

		&:hover, &:focus{
			border: 1px solid $color-primary;
		}

		&:focus{
			outline: none;
		}

		&:placeholder{
			color: #c6c6c6;
		}
	}

	// Single Line
	.form-group{
		display: flex;
		flex-wrap: wrap;
		margin-top: 16px;
		width: 100%;
		padding: 0px 5px;

		.label{
			font-family: $poppins-med;
			font-size: 16px;
			color: #005591;
			padding-right: 2px;
			width: auto;
		}

		.frm-input-group{
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			margin-top: 5px;
		}

		.sparate{
			font-family: $poppins-med;
			font-size: 16px;
			color: #005591;
			width: auto;
		}

		.input{
			font-family: $poppins-regular;
			font-size: 14px;
			background-color: #f9f8f2;
			color: #000;
			transition: $trans-hover;
			width: 99%;
			height: 32px;

			&:hover, &:focus{
				border-bottom: 1px solid $color-primary;
			}

			&:focus{
				outline: none;
			}

			&:placeholder{
				color: #c6c6c6;
			}
		}

		.input-picker{
			border: 1px solid #c6c6c6;
			border-radius: 8px;
			font-family: $poppins-regular;
			font-size: 14px;
			background-color: #f9f8f2;
			color: #000;
			padding: 5px 10px;
			transition: $trans-hover;
			width: 100%;
			height: 32px;
			margin-left: 0px;
			background: url('../images/icon/calender.svg') no-repeat right #f9f8f2;
		    background-size: 15px;
		    background-position-x: 94%;

			&:hover, &:focus{
				border: 1px solid $color-primary;
			}

			&:focus{
				outline: none;
			}
		}

		.cmb-box{
			width: 285px !important;
		}
	}

	// Double Line
	.form-group-double{
		display: flex;
		flex-wrap: wrap;
		margin-top: 16px;
		width: 50%;
		padding: 0px 5px;

		.label{
			font-family: $poppins-med;
			font-size: 16px;
			color: #005591;
			padding-right: 2px;
			width: auto;
			margin: auto 3px auto 0px !important;
		}

		.label-nowidth{
			margin: 0px 3px 0px 10px;
			width: auto !important;
		}

		.frm-input-group{
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			margin-top: 5px;
		}

		.frm-input-group-provinsi{
			width: 68% !important;
		}

		.frm-input-group-kota{
			width: 252px !important;

			.cmb-box-kota{
				width: 100% !important;
			}
		}

		.sparate{
			font-family: $poppins-med;
			font-size: 16px;
			color: #005591;
			width: auto;
		}

		.input{
			font-family: $poppins-regular;
			font-size: 14px;
			background-color: #f9f8f2;
			color: #000;
			transition: $trans-hover;
			width: 99%;
			height: 32px;

			&:hover, &:focus{
				border-bottom: 1px solid $color-primary;
			}

			&:focus{
				outline: none;
			}

			&:placeholder{
				color: #c6c6c6;
			}
		}

		.input-picker{
			border: 1px solid #c6c6c6;
			border-radius: 8px;
			font-family: $poppins-regular;
			font-size: 14px;
			background-color: #f9f8f2;
			color: #000;
			padding: 5px 10px;
			transition: $trans-hover;
			width: 98%;
			height: 32px;
			margin-left: 0px;
			background: url('../images/icon/calender.svg') no-repeat right #f9f8f2;
		    background-size: 15px;
		    background-position-x: 94%;

			&:hover, &:focus{
				border: 1px solid $color-primary;
			}

			&:focus{
				outline: none;
			}
		}
	}


	// Child Line
	.frm-input-group-child{
		display: flex;
		flex-wrap: wrap;
		width: 99%;

		.sparate{
			font-family: $poppins-med;
			font-size: 16px;
			color: #005591;
			width: 5px;
			margin: auto 0px !important;
		}

		.label-nowidth{
			margin: 0px 3px 0px 0px;
			width: auto !important;
		}

		.cmb-box{
			width: 95% !important;
		}

		.input{
			font-family: $poppins-regular;
			font-size: 15px;
			background-color: #f9f8f2;
			color: #000;
			transition: $trans-hover;
			width: 95%;
			height: 32px;

			&:hover, &:focus{
				border-bottom: 1px solid $color-primary;
			}

			&:focus{
				outline: none;
			}

			&:placeholder{
				color: #c6c6c6;
			}
		}

		img{
			width: 30px;
			height: 30px;
		}
	}

	.txt-region{
		width: 48% !important;
	}

	.txt-notlp{
		width: 100% !important;
	}

	.txt-fb{
		width: 85% !important;
	}

	.txt-ig{
		width: 88% !important;
	}


	.form-double-nomargin{
		margin: 0px !important;
		padding: 0px !important;
	}

	.input-border{
		border: 1px solid #c6c6c6;
		border-radius: 10px;
		font-family: $poppins-regular;
		font-size: 14px;
		background-color: #f9f8f2;
		color: #000;
		padding: 5px 10px;
		transition: $trans-hover;
		height: 32px;

		&:hover, &:focus{
			border: 1px solid $color-primary;
		}

		&:focus{
			outline: none;
		}

		&:placeholder{
			color: #c6c6c6;
		}
	}

	.cmb-box{
		border-radius: 10px;
		border: 1px solid #c6c6c6;
		padding: 5px 10px;
		font-family: $poppins-regular;
		font-size: 14px;
		width: 97%;
		height: 32px;
		color: #000;
		background: url("../images/icon/chevron-down-blue.svg") no-repeat right;
	    background-position-x: 98%;
		background-origin: content-box;
		background-position-y: center;
		background-size: 15px;
		-webkit-appearance: none;
		outline: none;
		cursor: pointer;
	}

	.btn-upload{
		font-family: $poppins-regular;
		font-size: 14px;
		background-color: #61ba9e;
		color: #fff;
		padding: 5px 27px;
		border-radius: 10px;
		cursor: pointer;
		margin-left: 5px;
	}

	.label-file{
		font-family: $poppins-med;
		font-size: 13px;
		color: #005591;
		margin-left: 5px;
		padding: 6px 0px;
	}

	.link-form{
		font-family: $poppins-regular;
		font-size: 14px;
		background-color: #61ba9e;
		color: #fff;
		padding: 5px 27px;
		border-radius: 10px;
		cursor: pointer;
		margin-left: 5px;
	}

	.form-data-pribadi{
		border-bottom: 2px dotted #c6c6c6;
		margin-bottom: 50px;
		padding-bottom: 50px;
	}

	#business-plan{
		display: none;
	}

	.warp-form{
		margin: 66px 0px 0px;
		display: flex;
		flex-wrap: wrap;
	}

	.link-search{
		font-family: $poppins-semi;
		font-size: 16px;
		font-style: italic;
		color: #c1c1bf;
		transition: $trans-hover;
		margin-left: 16px;

		&:hover{
			color: $color-primary
		}
	}

	.warp-produk{
		width: 260px;
	}

	// Radio
	/* The container */
	.radio-btn {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-right: 20px;
		cursor: pointer;
		font-size: 16px !important;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		color: #005591;
		font-family: $poppins-med;
		font-size: 20px;
	}

	/* Hide the browser's default radio button */
	.radio-btn input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}

	/* Create a custom radio button */
	.checkmark {
		position: absolute;
		top: 0px;
		left: 0;
		height: 23px;
		width: 23px;
		background-color: #fff;
		border: 1px solid #c4c4c4;
		border-radius: 50%;
	}

	/* On mouse-over, add a grey background color */
	.radio-btn:hover input ~ .checkmark {
		background-color: #ccc;
	}

	/* When the radio button is checked, add a blue background */
	.radio-btn input:checked ~ .checkmark {
		background-color: #fff;
		border: 1px solid #c4c4c4;
	}

	/* Create the indicator (the dot/circle - hidden when not checked) */
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	/* Show the indicator (dot/circle) when checked */
	.radio-btn input:checked ~ .checkmark:after {
		display: block;
	}

	/* Style the indicator (dot/circle) */
	.radio-btn .checkmark:after {
	 	top: 2px;
		left: 2px;
		width: 17px;
		height: 17px;
		border-radius: 50%;
		background: #005591;
	}

	// Check Box
	.frm-checkbox{
		display: flex;
		flex-wrap: wrap;
	}

	.warp-checkbox {
	  	position: relative;
	  	margin-bottom: 15px;
	  	width: 25px;
	}

	.warp-checkbox label {
		background-color: #fff;
		border: 1px solid #c4c4c4;
		cursor: pointer;
		height: 26px;
		width: 26px;
		left: 0;
		position: absolute;
		top: 0;
	}

	.warp-checkbox label:after {
		border: 2px solid #0e6ead;
		border-top: none;
		border-right: none;
		content: "";
		height: 8px;
		left: 4px;
		opacity: 0;
		position: absolute;
		top: 5px;
		transform: rotate(-45deg);
		width: 17px;
	}

	.label-checkbox{
		font-family: $poppins-med;
		font-size: 16px;
		color: #005591;
		margin-left: 10px;
		width: 222px;
	}

	.warp-checkbox input[type="checkbox"] {
	  	visibility: hidden;
	}

	.warp-checkbox input[type="checkbox"]:checked + label {
		background-color: #fff;
		border-color: #c4c4c4;
	}

	.warp-checkbox input[type="checkbox"]:checked + label:after {
		opacity: 1;
	}

	.persetujuan{
		font-family: $poppins-med;
		font-size: 16px;
		color: #005591;
		margin: 57px 0px 47px;
	}

	.syarat-ketentuan{
		font-family: $poppins-semi;
		font-size: 16px;
		color: #fff;
		background-color: #6761ba;
		padding: 13px 26px;
		border-radius: 10px;
		margin-bottom: 20px;
	}

	.warp-submit{
		display: flex;
		flex-wrap: wrap;
		margin-top: 30px;

		.warp-checkbox {
		  	position: relative;
		  	margin: 11px 0px 13px 20px;
		  	width: 34px;
		}

		.warp-checkbox label {
			background-color: #fff;
			border: 1px solid #c4c4c4;
			cursor: pointer;
			height: 34px;
			width: 34px;
			left: 0;
			position: absolute;
			top: 0;
		}

		.warp-checkbox label:after {
			border: 2px solid #0e6ead;
			border-top: none;
			border-right: none;
			content: "";
			height: 10px;
			left: 6px;
			opacity: 0;
			position: absolute;
			top: 8px;
			transform: rotate(-45deg);
			width: 19px;
		}

		.label-checkbox{
			font-family: $poppins-med;
			font-size: 16px;
			color: #005591;
			margin: 12px 0px 14px 10px;
			width: 400px;
		}

		.warp-checkbox input[type="checkbox"] {
		  	visibility: hidden;
		}

		.warp-checkbox input[type="checkbox"]:checked + label {
			background-color: #fff;
			border-color: #c4c4c4;
		}

		.warp-checkbox input[type="checkbox"]:checked + label:after {
			opacity: 1;
		}
	}

	.btn-submit{
		border: none;
		font-family: $poppins-semi;
		font-size: 16px;
		color: #fff;
		background-color: #61ba9e;
		padding: 13px 26px;
		border-radius: 10px;
		cursor: pointer;
		outline: none;
	}

	footer {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  height: 115px;            /* Footer height */
	  background-color: #fff;
	  padding: 35px 0px 24px;
	}

	.warp-logo-mandiri{
		float: left;
		display: flex;
		flex-wrap: wrap;
	}

	.logo-mandiri{
		margin-right: 25px;

		img{
			width: 170px;
			height: auto;
		}
	}

	.logo-ojk{
		padding: 13px 0px;

		img{
			width: 150px;
			height: auto;
		}
	}

	.warp-logo-mnp{
		float: right;
		display: flex;
		flex-wrap: wrap;
		padding: 18px 0px;
	}

	.supported{
		font-family: $poppins-med;
		font-size: 16px;
		color: #a6a6a6;
	}

	.logo-mnp{
		img{
			width: 138px;
			height: auto;
			margin-left: 20px;
		}
	}

	// Coming Soon
	.comming-soon{
		width: 100%;
		height: 100%;
		position: relative;
		background: #005591;
		background-image: 
			url(../images/logo.png),
			url(../images/logo-livin.png),
			url(../images/ornaments/home/top.webp),
			url(../images/ornaments/home/left-mid-c.png),
			url(../images/ornaments/home/mid-left.webp),
			url(../images/ornaments/home/bottom-left.webp),
			url(../images/ornaments/home/mid-right.webp),
			url(../images/ornaments/home/bottom-right.webp);
	  	background-position: 
	  		5% 5%, 95% 6%, -20px 0px, 10% 75%, -10% 85%, 15% 100%, 110% 10%, 180% 100%;
	  	background-size:
	  		60px, 90px, 200px, 60px, 60px, 20px, 60px, 250px;
	  	background-repeat: no-repeat;
	  	text-align: center;

	  	.logo-madiri{
	  		position: absolute;
	  		top: 6%;
	  		left: 0px;
	  		right: 0px;
	  		margin: auto;

	  		img{
	  			width: 99px;
	  			height: auto;
	  		}
	  	}

	  	.title{
	  		font-family: "BraveEight",'Poppins-med','arial';
	  		font-size: 36px;
	  		color: #fff;
	  		position: absolute;
	  		top: 40%;
	  		left: 0px;
	  		right: 0px;
	  		margin: auto;
	  	}

	  	.copyright{
	  		font-family: $poppins-regular;
	  		font-size: 10px;
	  		color: #fff;
	  		position: absolute;
	  		bottom: 20px;
	  		left: 0px;
	  		right: 0px;
	  		margin: auto;
	  	}
	}


	// Search
	.filter-search{
		margin: 150px 0pc 70px;
		display: flex;
		flex-wrap: wrap;

		.label{
			font-family: $poppins-med;
			font-size: 16px;
			color: #005591;
			padding-right: 2px;
			width: 20%;
		}

		.form-group-double{
			width: 100% !important;
			margin-top: 0px !important;
			margin-bottom: 15px;

			.sparate{
				width: 3%;
			}

			.frm-input-group{
				width: 70% !important;

				input{
					width: 50% !important;
					margin: 0px !important;
				}
			}
		}

		.btn-search{
			border: none;
			font-family: $poppins-regular;
			font-size: 15px;
			background-color: #61ba9e;
			color: #fff;
			padding: 5px 27px;
			border-radius: 10px;
			cursor: pointer;
		}
	}

	.show-data{
		background-color: #f9f8f2;
		padding: 40px 0px 150px;

		.detail-data{
			margin-top: 80px;
		}

		.label{
			font-family: $poppins-bold;
			font-size: 16px;
			color: #005591;
			width: 20%;
		}

		.sparate{
			font-family: $poppins-med;
			font-size: 16px;
			color: #005591;
			width: 5%;
		}

		.label-data{
			font-family: $poppins-med;
			font-size: 20px;
			color: #005591;
			padding-right: 2px;
			width: 75%;

			img{
				width: 400px;
				height: auto;
			}
		}
	}

	.social-pemenang{
		padding: 30px 0px 0px;
		background-color: #d23fb0;

		.social__home{
			display: flex;
			flex-wrap: wrap;
			padding: 60px 55px 100px 35%;
			text-align: left;
			margin-right: 0px;
		}

		.list__social{
			width: 100%;
			font-family: $poppins-regular;
			font-size: 20px;
			color: #ffffff;
			margin-bottom: 15px;

			i{
				font-size: 25px;
				padding: 8px 0px;
				border-radius: 50px;
				color: #e555c4;
				background-color: #fff;
				width: 40px;
				height: 40px;
				margin-right: 7px;
			}
		}
	}
}