footer{
   padding: 40px 0px;
   background-color: $color-primary;

   .wrap-footer{
      width: 1140px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;

      .col-footer{
         padding: 0px 20px;

         .title-footer{
            font-family: $heebo-bold;
            font-size: 18px;
            font-style: normal;
            line-height: 160%;
            color: #fff;
            margin-bottom: 8px;
         }

         .desc-footer{
            font-family: $heebo-regular;
            font-size: 16px;
            font-style: normal;
            line-height: 160%;
            color: #fff;

            .wrap-social{
               display: flex;
               margin: 0px -8px;

               a{
                  width: 35px;
                  height: 35px;
                  background-color: rgba(255, 255, 255, 0.3);
                  border-radius: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  font-size: 16px;
                  color: #fff;
                  margin: 0px 8px;
               }
            }
         }
      }
      
      .col-logo{
         width: 25%;

         img{
            width: 250px;
            height: auto;
            display: flex;
         }
      }

      .col-alamat{
         width: 45%;
      }

      .col-sosial{
         display: none;
         width: 30%;
      }
   }
}

.copy{
   padding: 10px 0px;
   background-color: #1897e3;

   font-family: $heebo-regular;
   font-size: 14px;
   font-style: normal;
   line-height: 160%;
   color: #fff;
   text-align: center;
}