.c-form-group{
   margin-bottom: 16px;

   label{
      display: block;
      width: 100%;
      font-family: $heebo-med;
      font-size: 16px;
      font-style: normal;
      line-height: 160%;
      color: $color-text;
      margin-bottom: 6px;
   }

   .input-form{
      width: 100%;
      padding: 6px 16px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;

      font-family: $heebo-regular;
      font-size: 16px;
      font-style: normal;
      line-height: 160%;
      color: $color-text;
   }

   .input-form{
      width: 100%;
      padding: 6px 16px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;

      font-family: $heebo-regular;
      font-size: 16px;
      font-style: normal;
      line-height: 160%;
      color: $color-text;
   }

   .btn-form{
      border: 1px solid $color-primary;
      background-color: $color-primary;
      border-radius: 4px;
      padding: 6px 16px;
      cursor: pointer;

      font-family: $heebo-regular;
      font-size: 16px;
      font-style: normal;
      line-height: 160%;
      color: #fff;

      &:hover{
         color: $color-primary;
         background-color: #fff;
         transition: $trans-hover;
      }
   }
}