nav{
   position: fixed;
   z-index: 99;
   width: 100%;
   background-color: #fff;
   box-shadow: 0 2px 3px rgba(96, 96, 96, .1);

   .wrap-nav{
      width: 1140px;
      height: 80px;
      display: flex;
      align-items: center;
      margin: auto;

      .logo{
         width: 200px;
   
         img{
            width: 200px;
            height: auto;
            display: block;
         }
      }
   
      .navigasi{
         width: calc(100% - 200px);
         display: flex;
         justify-content: end;
   
         a{
            display: block;
            font-family: $heebo-med;
            font-size: 16px;
            font-style: normal;
            line-height: 160%;
            color: $color-text;
            padding: 8px 16px;
            margin: 0px 4px;
            border-radius: 4px;

            &:last-child{
               margin: 0px 0px 0px 4px;
            }

            &:hover{
               color: #fff;
               background-color: $color-third;
               transition: $trans-hover;
            }
         }

         .active{
            color: #fff;
            background-color: $color-third;
         }
      }

      .m-navigasi{
         display: none;
      }
   }
}