.beranda{
   position: relative;
   padding-top: 80px;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   
   background-image: url('../images/bg-1.jpg');
   background-position: top;
   background-size: cover;
   background-attachment: fixed;

   &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
   }

   .text-beranda{
      position: relative;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      color: #fff;

      h1{
         font-size: 50px;
         font-family: $heebo-med;
      }

      h3{
         font-size: 25px;
         font-family: $heebo-regular;
      }
   }
}

.profil{
   padding: 60px 0px;
   background-color: #ffffff;
   
   .left{
      width: 40%;

      img{
         width: 90%;
         height: auto;
         display: block;
      }
   }

   .right{
      width: 60%;

      font-family: $heebo-regular;
      font-size: 16px;
      font-style: normal;
      line-height: 160%;
      color: $color-text;
   }
}

.sistem{
   padding: 60px 0px;
   background-color: #f9f9f9;

   .wrap-sistem{
      display: flex;
      flex-wrap: wrap;
      width: 1000px;
      margin: auto;

      .list-sistem{
         width: 33.33%;
         padding: 0px 8px;

         .card{
            border-radius: 8px;
            padding: 35px 25px 25px;

            .img-sistem{
               background-color: rgba(255, 255, 255, 0.2);
               width: 200px;
               height: 200px;
               border-radius: 100%;
               margin: 0px auto 20px;
               display: flex;
               justify-content: center;
               align-items: center;

               img{
                  width: 170px;
                  height: 170px;
                  display: block;
               }
            }

            .nama-sistem{
               font-family: $heebo-med;
               font-size: 30px;
               font-style: normal;
               line-height: 160%;
               color: #fff;
               margin-bottom: 20px;
               text-align: center;
            }

            .desc{
               font-family: $heebo-regular;
               font-size: 16px;
               font-style: normal;
               line-height: 160%;
               color: #fff;
               margin-bottom: 50px;
               text-align: center;
            }

            a{
               display: block;
               font-family: $heebo-regular;
               font-size: 16px;
               font-style: normal;
               line-height: 160%;
               color: #fff;
               padding: 8px;
               border-radius: 8px;
               background-color: rgba(255, 255, 255, 0.2);
               text-align: center;
            }
         }

         .balks{
            background-color: #1ba1f0;
         }

         .lsp{
            background-color: #ffb605;
         }

         .atensi{
            background-color: #8dd17e;
         }
      }
   }
}

.data{
   padding: 60px 0px;
   background-color: #ffffff;
   border-bottom: 1px dashed #696969;
}

.kontak{
   padding: 60px 0px;
   background-color: #ffffff;
   
   .left{
      width: 60%;
      padding-right: 100px;

      .list-kontak{
         display: flex;

         .nama{
            width: 30%;
         }

         .no_hp{
            width: 70%;
         }
      }
   }

   .right{
      width: 40%;

      .card-contact{
         width: 100%;
         padding: 40px 35px;
         border-radius: 8px;
         background-color: #ffffff;

         box-shadow: 0px 0px 5px 0px rgb(177, 177, 177);
      }
   }
}