html, body{
   position: relative;
   height: 100%;
   margin: 0;
}

body{
   font-family: $heebo-regular;
   line-height: 1.8;
   scroll-behavior: smooth;
   background-color: #fff;
   background-image: none;
}

h1, h2, h3, h4, p{
   margin: 0;
   font-weight: normal;
}

a{
   text-decoration: none;

   &:hover, &:focus{
       text-decoration: none;
   }
}

*, ::before, ::after{
   box-sizing: border-box;
}

*{
   -webkit-tap-highlight-color: transparent;
}

.content{
   width: 1140px;
   margin: auto;
}

.content-row{
   display: flex;
   width: 1140px;
   margin: auto;
}

.title-section{
   font-family: $heebo-med;
   font-size: 40px;
   margin-bottom: 30px;
}

.text-center{
   text-align: center !important;
}