footer{
	position: relative;
	width: 100%;
	padding: 85px 100px;
	background-color: #161A2D;

	.wrap-get-in-touch{
		border-radius: 50px;
		background: #080C1E;
		padding: 105px 30px 85px;
	}

	.msg{
		display: block;
		width: 109px;
		height: 109px;
		background: url("../../assets/images/msg.png");
		background-size: 100%;
		margin: 0px auto 112px;

		&:hover{
			width: 150px;
			height: 109px;
			background: url("../../assets/images/msg-hover.png");
  			background-size: 100%;
  			animation: shake 0.5s; 
		}

		&:active{
			width: 150px;
			height: 109px;
			background: url("../../assets/images/msg-active.png");
  			background-size: 100%;
		}

		@keyframes shake {
			0% { transform: translate(1px, 1px)}
			10% { transform: translate(-1px, 1px)}
			20% { transform: translate(-3px, 1px)}
			30% { transform: translate(3px, 1px)}
			40% { transform: translate(1px, 1px)}
			50% { transform: translate(-1px, 1px)}
			60% { transform: translate(-3px, 1px)}
			70% { transform: translate(3px, 1px)}
			80% { transform: translate(-1px, 1px)}
			90% { transform: translate(1px, 1px)}
			100% { transform: translate(1px, 1px)}
		}
	}

	.wrap-social{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		a{
			margin: 0px 7px;
		}

		img{
			width: 48px;
			height: 48px;
		}
	}
}