$color-primary: #080C1E;
$color-green: #7EFA46;
$color-green-dark: #6BCD3F;
$color-blue: #6B8EFF;
$color-blue-dark: #4570F3;
$trans-hover: ease all 0.4s;

@font-face {
    font-family: Encode-Sans-Regular;
    src: url('../fonts/Encode_Sans/static/EncodeSans-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: Encode-Sans-Bold;
    src: url('../fonts/Encode_Sans/static/EncodeSans-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: Encode-Sans-Medium;
    src: url('../fonts/Encode_Sans/static/EncodeSans-Medium.ttf');
    font-display: swap;
}

@font-face {
    font-family: Sarabun-Regular;
    src: url('../fonts/Sarabun/Sarabun-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: Sarabun-Bold;
    src: url('../fonts/Sarabun/Sarabun-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: Sarabun-Medium;
    src: url('../fonts/Sarabun/Sarabun-Medium.ttf');
    font-display: swap;
}

@font-face {
    font-family: Sarabun-Light;
    src: url('../fonts/Sarabun/Sarabun-Light.ttf');
    font-display: swap;
}

$encode-regular: "Encode-Sans-Regular", arial, sans-serif;
$encode-bold: "Encode-Sans-Bold", arial, sans-serif;
$encode-med: "Encode-Sans-Medium", arial, sans-serif;
$sarabun-regular: "Sarabun-Regular", arial, sans-serif;
$sarabun-bold: "Sarabun-Bold", arial, sans-serif;
$sarabun-med: "Sarabun-Medium", arial, sans-serif;
$sarabun-light: "Sarabun-Light", arial, sans-serif;

html, body{
    position: relative;
    height: 100%;
    margin: 0;
}

body{
    line-height: 1.8;
    scroll-behavior: smooth;
    background-color: #fff;
    background-image: none;
}

a{
    text-decoration: none;

    &:hover, &:focus{
        text-decoration: none;
    }
}

.content-row{
    display: flex;
    flex-wrap: wrap;
}

.content-clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.content-left{
    float: left;
}

.content-right{
    float: right;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-bold{
    font-weight: 700;
}

*, ::before, ::after{
    box-sizing: border-box;
}

*{
    -webkit-tap-highlight-color: transparent;
}

.mb4{
    margin-bottom: 4px !important;
}

.mb18{
    margin-bottom: 18px !important;
}