.wrap-nav{
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 20px 100px;
	background-color: $color-primary;
}

.title-name{
	font-family: $encode-regular;
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	line-height: 40px;
	color: #fff;
}

nav{
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;

	a{
		position: relative;
		font-family: $encode-regular;
		font-size: 18px;
		font-style: normal;
		font-weight: 300;
		line-height: 40px;
		color: #fff;
		display: block;
		margin-right: 82px;

		&:last-child{
			margin-right: 0px;
		}

		&:after{
			content: "";
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 0%;
			border-bottom: 2px solid $color-green;
			transition: $trans-hover;
		}

		&:hover{
			color: $color-green;

			&:after{
				width: 100%;
			}
		}

		&:active{
			color: $color-green-dark;

			&:after{
				border-bottom: 2px solid $color-green-dark;
			}
		}
	}
}

.nav-slide{
	display: none;
}

.btn-nav{
	display: none;
}

.btn-close{
	display: none;
}