.mobile{
	display: none;
}

.desktop{
	display: block;
}

.title-page{
	font-family: $encode-bold;
	font-size: 48px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	color: #fff;
	text-align: center;
	margin-bottom: 60px;
}

.title-page-sm{
	color: #FFF;
	text-align: center;
	font-family: $encode-bold;
	font-size: 28px;
	font-style: normal;
	line-height: 150%;
	margin-bottom: 52px;
}

/* Home */
.home{
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 0px 100px;
	background-color: $color-primary;

	.title-home{
		position: absolute;
		left: 0;
		top: 20vh;
		z-index: 2;
		width: 100%;
		text-align: center;
		font-family: $encode-regular;
		font-size: 48px;
		font-style: normal;
		font-weight: 300;
		line-height: 150%;
		color: #fff;
		text-align: center;

		.green{
			color: $color-green;
		}
	}

	.title-home-b{
		font-family: $encode-bold;
	}

	.wrap-header-line{
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;

		.header-line{
			width: 100%;
			height: auto;
		}

		a{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 35px;
			z-index: 2;
			margin: auto;
			width: max-content;
			text-align: center;
			color: #fff;

			.btn-scroll{
				position: relative;
				font-family: $encode-regular;
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;

				.wrap-arr{
					position: absolute;
					top: 37px;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
				}

				i{
					display: block;
					font-size: 12px;
					animation: changeColor 1.5s infinite;
				}

				.i-top{
					margin-top: 4px;
					margin-bottom: -2px;
				}

				&:hover{
					color: $color-blue;
				}

				img{
					width: 105px;
					height: 105px;
					-webkit-animation: rotateInfinite 2s linear infinite;
					-moz-animation: rotateInfinite 2s linear infinite;
					-ms-animation: rotateInfinite 2s linear infinite;
					-o-animation: rotateInfinite 2s linear infinite;
					animation: rotateInfinite 2s linear infinite;
				}
			}

			@keyframes changeColor{
				0% {
				    color: $color-blue;
			  	}
			  	25% {
				    color: #fff;
			  	}
			  	50% {
				    color: $color-blue;
			  	}
			  	75% {
				    color: #fff;
			  	}
			  	100% {
				    color: $color-blue;
			  	}
			}

			@keyframes rotateInfinite {
			 	from {
				    -ms-transform: rotate(0deg);
				    -moz-transform: rotate(0deg);
				    -webkit-transform: rotate(0deg);
				    -o-transform: rotate(0deg);
				    transform: rotate(0deg);
				}
				to {
				    -ms-transform: rotate(360deg);
				    -moz-transform: rotate(360deg);
				    -webkit-transform: rotate(360deg);
				    -o-transform: rotate(360deg);
				    transform: rotate(360deg);
				}
			}
		}
	}
}

/* About */
.about{
	position: relative;
	width: 100%;
	padding: 80px 100px;
	background-color: $color-primary;

	.wrap-about{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.img-about{
			width: 100%;
			position: relative;

			img{
				width: 100%;
				height: auto;
			}

			.name-img{
				color: #FFF;
				font-family: $encode-bold;
				font-size: 100px;
				font-style: normal;
				line-height: normal;
				position: absolute;
				right: 56px;
				bottom: -41px;
			}
		}

		.desc-about{
			width: 100%;
			font-family: $encode-regular;
			font-size: 28px;
			font-style: normal;
			font-weight: 300;
			line-height: 150%;
			color: #fff;
			text-align: center;
			margin-top: 52px;
		}
	}
}

/* Skills */
.skills{
	padding: 64px 100px 80px;
	background-color: $color-primary;

	.wrap-skills{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		img{
			width: 161px;
			height: 161px;
			margin: 0px 50px;
		}
	}
}

/* Projects */
.project{
	position: relative;
	width: 100%;
	padding: 80px 100px;
	background-color: $color-primary;

	.wrap-project{
		display: flex;
		flex-wrap: wrap;
		margin: 0px -24px;

		.wrap-card-project{
			padding: 0px 24px;
			margin-bottom: 48px;
		}

		.sm-project{
			width: 485px;
		}

		.lg-project{
			width: calc(100% - 485px);
		}

		.card-project{
			padding: 42px 52px;
			border-radius: 40px;
			background: #161A2D;
			display: block;
			transition: $trans-hover;

			&:hover{
				-webkit-box-shadow: 0px 0px 16px 0px #000;
				-moz-box-shadow: 0px 0px 16px 0px #000;
				box-shadow: 0px 0px 16px 0px #000;

				.img-project{
					img{
						transform: scale(1.1);
					}
				}

				.wrap-header-project{
					i{
						border: 1px solid $color-blue;
						color: $color-blue;
					}
				}
			}

			&:active{
				.wrap-header-project{
					i{
						border: 1px solid $color-blue-dark;
						color: $color-blue-dark;
					}
				}
			}
		}

		.wrap-header-project{
			display: flex;
			flex-wrap: wrap;

			.wrap-title-project{
				width: calc(100% - 48px);
				padding-right: 16px;

				.title-job{
					font-family: $encode-regular;
					font-size: 22px;
					font-style: normal;
					font-weight: 250;
					line-height: normal;
					color: #fff;
					margin-bottom: 10px;
				}

				.title-project{
					font-family: $encode-regular;
					font-size: 29px;
					font-style: normal;
					font-weight: 800;
					line-height: normal;
					color: $color-green;
				}
			}

			i{
				display: flex;
				justify-content: center;
				align-items: center;
				width: 48px;
				height: 48px;
				border: 1px solid #fff;
				border-radius: 50px;
				font-size: 24px;
				color: #fff;
				transition: $trans-hover;
			}
		}

		.img-project{
			width: 100%;
			height: 297px;
			margin-top: 37px;
			border-radius: 30px;
			overflow: hidden;

			img{
				width: 100%;
				height: 100%;
				transition: $trans-hover;
			}
		}
	}
}