// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
	.mobile{
		display: block;
	}

	.desktop{
		display: none;
	}

	.title-page{
		font-size: 32px;
		margin-bottom: 40px;
	}

	/* Header */
	.wrap-nav{
		position: fixed;
		padding: 16px 16px;
	}

	.title-name{
		font-size: 20px;
		font-style: normal;
		font-weight: 800;
		line-height: 150%;
	}

	nav{
		display: none;
	}

	.nav-slide{
		display: block;
		position: fixed;
		top: 0;
		right: -320px;
		z-index: 99;
		width: 300px;
		height: 100%;
		background-color: #191A1E;
		border-radius: 30px 0px 0px 30px;
		-webkit-box-shadow: -11px 0px 9px -8px rgba(0,0,0,0.75);
		-moz-box-shadow: -11px 0px 9px -8px rgba(0,0,0,0.75);
		box-shadow: -11px 0px 9px -8px rgba(0,0,0,0.75);
		transition: $trans-hover;

		a{
			position: relative;
			font-family: $encode-regular;
			font-size: 18px;
			font-style: normal;
			font-weight: 300;
			line-height: 25px;
			color: #fff;
			display: block;
			padding: 16px;

			&:hover{
				color: $color-green;
			}

			&:active{
				color: $color-green-dark;
			}
		}
	}

	.nav-slide-show{
		right: 0;
	}

	.btn-nav{
		display: block;
		width: 24px;
		color: #fff;
		margin-left: auto;
		display: flex;
	    justify-content: end;
	    align-items: center;

		i{
			font-size: 22px;
		}
	}

	.btn-close{
		width: max-content;
		color: #fff;
		margin-left: auto;
		display: flex;
	    justify-content: end;
	    align-items: center;
	    padding: 16px;

		i{
			font-size: 22px;
		}
	}

	/* Home */
	.home{
		height: 100%;

		.title-home{
			top: 25%;
			font-size: 24px;
			width: 258px;
			right: 0;
			margin: auto;
		}

		.wrap-header-line{
			overflow: hidden;
			height: 300px;

			.header-line{
				width: 900px;
				height: auto;
			    position: relative;
			    left: -50%;
			}

			a{
				bottom: 20%;

				.btn-scroll{
					.wrap-arr{
						top: 21px;
					}

					i{
						font-size: 8px;
					}

					img{
						width: 64px;
						height: 64px;
					}
				}
			}
		}
	}

	/* About */
	.about{
		padding: 80px 0px 0px;

		.wrap-about{
			position: relative;

			.img-about{
				.name-img{
					position: relative;
					right: 0px;
					bottom: 0px;
					font-size: 40px;
					position: relative;
					margin-top: 12px;
					text-align: center;
				}
			}

			.desc-about{
				width: 100%;
				font-size: 26px;
				margin-top: 40px;
				padding: 0px 20px;
			}
		}
	}

	/* Skills */
	.skills{
		padding: 60px 0px 72px;

		.wrap-skills{
			img{
				width: 82px;
				height: 82px;
				margin: 0px 20px;
			}
		}
	}

	/* Projects */
	.project{
		padding: 80px 16px;

		.wrap-project{
			display: flex;
			flex-wrap: wrap;
			margin: 0px;

			.wrap-card-project{
				padding: 0px;
				margin-bottom: 32px;
			}

			.sm-project{
				width: 100%;
			}

			.lg-project{
				width: 100%;
			}

			.card-project{
				padding: 20px 32px;
				border-radius: 30px;
			}

			.wrap-header-project{
				.wrap-title-project{
					width: calc(100% - 32px);
					padding-right: 16px;

					.title-job{
						font-size: 16px;
						margin-bottom: 7px;
					}

					.title-project{
						font-size: 22px;
					}
				}

				i{
					width: 32px;
					height: 32px;
					font-size: 16px;
				}
			}

			.img-project{
				width: 100%;
				height: 380px;
				margin-top: 26px;
			}
		}
	}

	footer{
		padding: 40px 16px;
	}
}