// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	.title-page{
		font-size: 36px;
		margin-bottom: 40px;
	}

	/* Home */
	.home{
		padding: 0px 30px;

		.title-home{
			font-size: 42px;
		}
	}

	/* About */
	.about{
		padding: 40px 30px;

		.wrap-about{

			.desc-about{
				width: 330px;
				font-size: 27px;
			}

			.img-about{
				margin-left: 52px;

				img{
					width: auto;
					height: 415px;
				}
			}
		}
	}

	/* Projects */
	.project{
		padding: 40px 30px;

		.wrap-project{
			display: flex;
			flex-wrap: wrap;
			margin: 0px -10px;

			.wrap-card-project{
				padding: 0px 10px;
				margin-bottom: 20px;
			}

			.sm-project{
				width: 380px;
			}

			.lg-project{
				width: calc(100% - 380px);
			}

			.card-project{
				padding: 22px 32px;
			}

			.wrap-header-project{
				.wrap-title-project{

					.title-job{
						font-size: 20px;
					}

					.title-project{
						font-size: 26px;
					}
				}
			}

			.img-project{
				height: 255px;
			}
		}
	}

	footer{
		padding: 40px 16px;

		.desc-footer{
			font-size: 20px;
		}
	}
}