@font-face {
   font-family: Heebo-Regular;
   src: url('../fonts/heebo/static/Heebo-Regular.ttf');
   font-display: swap;
}

@font-face {
   font-family: Heebo-Medium;
   src: url('../fonts/heebo/static/Heebo-Medium.ttf');
   font-display: swap;
}

@font-face {
   font-family: Heebo-Bold;
   src: url('../fonts/heebo/static/Heebo-Bold.ttf');
   font-display: swap;
}

@font-face {
   font-family: Roboto-Regular;
   src: url('../fonts/roboto/Roboto-Regular.ttf');
   font-display: swap;
}

@font-face {
   font-family: Roboto-Bold;
   src: url('../fonts/roboto/Roboto-Bold.ttf');
   font-display: swap;
}

$heebo-regular: Heebo-Regular, arial, sans-serif;
$heebo-bold: Heebo-Bold, arial, sans-serif;
$heebo-med: Heebo-Medium, arial, sans-serif;

$roboto-regular: Roboto-Regular, arial, sans-serif;
$roboto-bold: Roboto-Bold, arial, sans-serif;