$trans-hover: ease all 0.4s;

/* Margin */
.mt8{
    margin-top: 8px !important;
}
.mb8{
    margin-bottom: 8px !important;
}

.mt16{
    margin-top: 16px !important;
}
.mb16{
    margin-bottom: 16px !important;
}

.mt24{
    margin-top: 24px !important;
}
.mb24{
    margin-bottom: 24px !important;
}

.mt28{
    margin-top: 28px !important;
}
.mb28{
    margin-bottom: 28px !important;
}

.mt32{
    margin-top: 32px !important;
}
.mb32{
    margin-bottom: 32px !important;
}

.mt40{
    margin-top: 40px !important;
}
.mb40{
    margin-bottom: 40px !important;
}

.mt60{
    margin-top: 60px !important;
}
.mb60{
    margin-bottom: 60px !important;
}

/* Padding */
.pl16{
    padding-left: 16px;
}
.pr16{
    padding-right: 16px;
}